[2022-04-22 12:07] Dora1483 commented on #1052
@yghstill 嗨， 老师， 首先感谢您回复我的问题。
1. 我现在遇到的这些问题都是基于MobileNet碰到的， 因为刚开始做的时候我是先用的自己的模型， 后来发现我卡在一个问题上就先搁置了。  所以现在的提问都是基于MobileNet做的， 即参考的https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/quant/quant_post 这个， 想把流程先跑通。
2. 我的模型已经打包了。
[4_50m.zip](https://github.com/PaddlePaddle/PaddleSlim/files/8540771/4_50m.zip)

感谢老师百忙之中的指导， 感恩~~~

[2022-04-22 12:11] Dora1483 commented on #1052
老师，我已经在git上回复您啦～您看一下呢

发自我的iPhone

------------------ Original ------------------
From: Guanghua Yu ***@***.***&gt;
Date: Fri,Apr 22,2022 8:00 PM
To: PaddlePaddle/PaddleSlim ***@***.***&gt;
Cc: Dora1483 ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [PaddlePaddle/PaddleSlim] TypeError: quant_post_static() got an unexpected keyword argument 'data_loader' (Issue #1052)

@Dora1483 转到paddle的模型可

[2022-04-22 12:13] Dora1483 commented on #1052
嗨， 老师：
&nbsp;&nbsp;&nbsp;&nbsp; 我又把模型打包发给您了。&nbsp; 见附件哦~~
&nbsp;&nbsp;&nbsp; 感谢您的宝贵时间。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSlim"                                                                                    ***@***.***&gt;;
发送时间:&nbs

[2022-04-23 01:16] yghstill commented on #1052
@Dora1483 好的，收到

[2022-04-23 09:26] Dora1483 commented on #1052
@yghstill 老師， 您好。 我在复现静态离线量化时碰到的问题解决了。 主要原因是我的paddleslim的工程是4月3日左右的， 后面一直没有关注线上github的更新， 刚刚更新了一下工程， demo没有什么问题。 谢谢您~~

[2022-04-23 10:21] Dora1483 commented on #1052
@yghstill  嗨， 老师， 我感觉这个地方好像不太对，您看一下呢~
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/auto-compression/configs/PaddleDet

![71](https://user-images.githubusercontent.com/42514584/164890540-2488155e-7562-4c98-af52-b8574ab87be9.png)

[2022-04-24 02:22] yghstill commented on #1052
@Dora1483 嗯嗯，文档我们修改下

[2022-04-24 02:47] yghstill commented on #1052
@Dora1483 有几个问题想咨询你
（1）上面的模型是coco上训好的模型，还是其他数据集模型？能否提供一个官方的coco上的模型，量化后方便验证。
（2）因为该模型未包含nms操作，yolofastest导出到paddle的模型后处理和评估AP等指标的代码有吗？想验证下量化后模型的精度损失~

[2022-04-24 03:07] Dora1483 commented on #1052
没有哎，只有模型～

发自我的iPhone

------------------ Original ------------------
From: Guanghua Yu ***@***.***&gt;
Date: Sun,Apr 24,2022 10:48 AM
To: PaddlePaddle/PaddleSlim ***@***.***&gt;
Cc: Dora1483 ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [PaddlePaddle/PaddleSlim] TypeError: quant_post_static() got an unexpected keyword argument 'data_loader' (Issue #1052)

@Dora1483 yolofastest导出到paddle的模型

[2022-04-24 06:34] Dora1483 commented on #1052
@yghstill  老师，
（1）上面的模型是其他数据集的， 没有基于coco的模型；
（2）没有yolofastest导出到paddle模型的后处理和mp指标代码。
啊， 真是抱歉~~~

[2022-04-24 07:26] #1050 closed, assigned to yghstill

[2022-04-24 07:53] yghstill commented on #1052
@Dora1483 已添加yolofastest 量化加蒸馏的自动压缩代码，拉取上面的PR，或者https://github.com/yghstill/PaddleSlim/tree/add_yolofastest_auto_compress
启动方式：
[code]
另外，方便提供yolofastest官方coco的paddle模型吗？我测试完成后yolofastest的自动压缩demo就可以正式合入并发布了~

[2022-04-24 07:56] Dora1483 commented on #1052
@yghstill 嗨， 老师， 我这边没有coco的paddle官方模型， 好尴尬。
我这个数据不是基于coco 数据集做的。 数据格式是每一张图片对应一个txt 进行的训练。

[2022-04-24 07:57] yghstill commented on #1052
@Dora1483 嗯嗯，好的，我有空再看下，你先使用上面代码验证下效果哈~

[2022-04-24 07:59] Dora1483 commented on #1052
@yghstill 好的， 老师。 谢谢您呀~~~有问题再向您请教交流~~~~感恩

[2022-04-25 01:27] 2050airobert commented on #1034
hello，
1 如果使用lite里面的opt 也是可以进行tinypose全量化的，而且tinypose也可以正确检测到人的姿态，对吗？
2 opt量化的方式跟lite之前模型一样，支持一条命令搞定，然后你们也确认过了，可以这样理解吗？
   还是说目前只支持PaddleSlim训练量化，而训练后离线量化精度会很差？具体是？
BR

[2022-04-25 08:40] yghstill commented on #1034
@2050airobert
1. 如果使用opt的量化是只能量化weight存储的，模型仍能正常预测，但是预测时还是将int8 weight >> fp32 weight，然后在fp32下计算，没有加速效果
2. tinypose模型比较复杂，离线量化精度损失非常大，一般进行量化训练，然后转到paddle lite上进行部署

[2022-04-25 12:15] 2050airobert commented on #1034
Hi，yghstill
1、第一条实际上可以在lite上做一定的改动，支持定点的反量化，不知道这是不是一个解决思路呢？
2、tinypose int8量化确实损失会大，但有尝试过离线的int16量化吗？ 会不会精度损失跟量化训练差距很小了呢？毕竟离线量化会更节省时间，在有些情况下非常方便。
3、目前支持int16量化模型跑通的板子，lite这边统计过主要有哪些厂商或板子支持吗？
4、是不是可以这么说凡是支持int8量化的板子几乎都支持int16？ 除了一些特殊的板子会支持fp16例外的那些？比如海思。。等？
BR

[2022-04-26 05:29] 2050airobert commented on #1034
hi，
按照文档指示，
python tools/train.py -c configs/picodet/picodet_s_416_coco_lcnet.yml  --slim_config configs/slim/quant/picodet_s_416_lcnet_quant.yml
wode我的环境如下，我用了cpu版本 set cfg.usegpu = False
![image](https://user-images.githubusercontent.com/8407513/165227905-cda6af99-74e7-4961-b811-dd3c1c876497.png)

综上，有两个问题
1 win10下cpu跑可以吗，必须在gpu环境跑吗？
2 即使picoDet qat量化正常，可tinypose的qat量化，数据集也跟picoDet的coco所有不同吧？或者说

[2022-04-26 07:26] marsbzp commented on #1027
这个模型在推理的时候conv和bn会进行合并

[2022-04-27 02:38] yghstill commented on #1034
@2050airobert  1. CPU可以跑，但是训练速度可能会很慢。2. tinypose的量化配置文件还未发布，但是验证过量化训练，你可以参考：
[code]

[2022-04-28 02:45] 2050airobert commented on #1034
@yghstill
第一个问题，我这边按照文档跑picodet量化训练的时候遇到个奇怪的问题，不管我怎么修改batchsize总是说gpu内存不够，我是双卡，而且可用内存明显都是10GB以上，每个卡都是，而且跑其他的任务都很正常。我还更改 leos.environ[‘FLAGS_eager_delete_tensor_gb’] = “0.9” 都没什么用。具体log如下：
SystemError: (Fatal) Operator elementwise_add raises an paddle::memory::allocation::BadAlloc exception.
The exception content is
:ResourceExhaustedError:

Out of memory error on GPU 0. Cannot allocate 126.562744M

[2022-04-28 13:19] HydrogenSulfate opened #1073 "离线量化报错 ImportError: cannot import name 'quant_post_static' from 'paddleslim.quant'"
想做一下模型的离线量化，但是发现develop版的paddlepaddle无法兼容paddleslim，使用quant_post_static这个API就会报错
[code]
然后怀疑是paddle版本号有问题，换到2.2.2居然就好了…………
难道使用slim之前还得把paddle卸载一遍安装上稳定版的才行？

[2022-04-30 10:18] malcolm-wang opened #1074 "用Paddle对SSD模型剪枝的问题"
![image](https://user-images.githubusercontent.com/104298741/166101578-9dd102a7-2bfb-46de-b841-90874148fdbd.png)
为什么这个的pruned ratio 只有0.045左右啊，yolov3的这个都可以达到30%几。这个配置文件该怎么改呢？ @wanghaoshuang

[2022-04-30 11:33] WeizXy opened #1075 "模型导出以及Paddlelite部署"
### PaddleSlim开发者你好，请问如何将经过PRUNE-QAT的模型进行保存并通过Paddlelite进行部署？
因为PRUNE是动态图转为静态图(dygraphy to static)再进行保存，而QAT是直接从动态图(dygraphy)保存，因此请问经过PRUNE-QAT后的模型如何保存以及通过Paddlelite部署？
五一快乐~。~
谢谢！

[2022-05-01 07:30] malcolm-wang commented on #1074
@yghstill @wanghaoshuang 按照yolo的数据，最后的pruned ratio只有0.005，而改变参数和层数最多只有0.045，请问如何更改此配置文件使得在训练ssd时的pruned ratio达到0.1以上？

[2022-05-07 09:12] yghstill commented on #1075
@WeizXy 首先需要模型动转静，然后可以使用paddle_lite_opt工具将模型转换成nb格式即可使用paddlelite部署。

[2022-05-08 09:07] WeizXy commented on #1075
@yghstill 你好！
经过尝试，将经过PRUNE-QAT的模型转为静态后使用paddle_lite_opt工具转换成nb格式时会报错：
`This model is not supported, because 1 ops are not supported on 'arm',These unsupported ops are: 'moving_average_abs_max_scale'.`
对比发现，使用QAT的save_quantized_model函数导出模型后没有上面这个op，可以正常生成nb文件，但是动转静后这个op将会保留导致无法生成nb文件。
**问题在于：**
经过PRUNE-QAT的模型需要转为静态保存通道数，而转为静态后又无法使用QAT的save_quantized_model函数去掉上述op@.@。。。
请问这种问题如何解决?谢谢！

[2022-05-08 12:17] LLiuzui commented on #1002
请问这个问题解决了吗，我安装2.1.1也有这个问题

[2022-05-08 12:52] personqianduixue opened #1084 "如何自定义量化方法"
如何自定义量化方法，例如dorefa 8bit量化，有没有这方面的案例参考?

我看[\dygraph\quant\qat.py](https://github.com/PaddlePaddle/paddleslim/blob/develop/paddleslim/dygraph/quant/qat.py#L158)里面的QAT对象留了自定义量化方法的接口，有没有实际例子？

[code]

[2022-05-09 04:58] LLiuzui opened #1086 "离线静态量化报错 paddleslim2.1.1 paddlepaddle2.1.1"
.\..\imagenet_reader.py:119: DeprecationWarning: FLIP_LEFT_RIGHT is deprecated and will be removed in Pillow 10 (2023-07-01). Use Transpose.FLIP_LEFT_RIGHT instead.
  img = img.transpose(Image.FLIP_LEFT_RIGHT)
Traceback (most recent call last):
  File "quant_post.py", line 67, in <module>
    main()
C:\Users\1\anaconda3\envs\PaddleSlim-2.1.1\lib\site-packages\paddle\fluid\reader.py:1294: Deprecati

[2022-05-09 05:04] LLiuzui commented on #1086
我用的是ImageNet val数据集 ，这是val_list.txt
[train_list.txt](https://github.com/PaddlePaddle/PaddleSlim/files/8648870/train_list.txt)

[2022-05-09 05:44] yghstill commented on #1086
@LLiuzui 根据报错，ValueError: Reshape error. What is defined in data layer is (-1, 3, 300, 300), but receive (32,)
应该是数据输入的shape没有对上，请更新PaddleSlim到最新release 2.3再试下：https://github.com/PaddlePaddle/PaddleSlim/tree/release/2.3

[2022-05-09 05:47] yghstill commented on #1084
@personqianduixue 例如自定义量化方法为PACT：https://github.com/PaddlePaddle/PaddleSlim/blob/release/2.3/paddleslim/dygraph/quant/qat.py#L188-L191
定义位置：https://github.com/PaddlePaddle/PaddleSlim/blob/release/2.3/paddleslim/dygraph/quant/qat.py#L124

[2022-05-09 06:14] #1086 closed, assigned to nobody

[2022-05-10 01:20] LLiuzui opened #1088 "量化时的数据集"
请问我可以用VOC的验证集吗，格式是什么样的呢

[2022-05-10 05:26] yghstill commented on #1075
@WeizXy QAT动转静就使用save_quantized_model接口即可直接在paddle Lite上部署，不能使用paddle.jit.save。

[2022-05-10 07:08] sun222 opened #1091 "用途是在Paddle-Inference上使用，是否可以使用在线量化训练来压缩模型大小？"
如同很多教程所说，在线量化训练导出的模型不会降低模型大小，使用paddle-lite opt后才能降低模型大小。
我的用途是在Paddle-Inference上使用的压缩模型，是不是不能使用在线量化策略来完成？

[2022-05-10 08:58] WeizXy commented on #1075
@yghstill 原来如此，是我想多了hahh。谢谢！

[2022-05-10 08:58] #1075 closed, assigned to nobody

[2022-05-10 09:41] yghstill commented on #1091
@sun222 目前默认量化后的Inference model存储的weight是float32类型的int8数值，所以存储空间不变，Paddle Inference上模型大小不变，但是可以验证下量化后模型加速效果。

[2022-05-10 11:32] fash120 opened #1093 "PaddleSlim能对SSD_Mobilenet_v1进行静态图量化训练吗"
我看到官方给出的model都是图像分类。不知道能否对图像识别进行量化训练

[2022-05-10 14:01] LLiuzui opened #1094 "paddleslim在线量化demo train.py中引用的from utility import add_arguments, print_arguments报错"
Traceback (most recent call last):
  File "train_ssd.py", line 24, in <module>
    from utility import add_arguments, print_arguments
ImportError: cannot import name 'add_arguments' from 'utility' (unknown location)

请问这个utility包是什么，我直接pip安装了还是报错，且site-packages中只出现了utility-1.0.dist-info文件夹

[2022-05-11 01:54] yghstill commented on #1093
@fash120 可以的

[2022-05-11 01:56] yghstill commented on #1094
你是将demo拿出了吗？请把这个文件拷贝至你的目录下：https://github.com/PaddlePaddle/PaddleSlim/blob/develop/demo/utility.py

[2022-05-11 04:40] LLiuzui commented on #1094
好的，谢谢谢谢

[2022-05-11 04:40] #1094 closed, assigned to nobody

[2022-05-11 04:43] LLiuzui opened #1095 "已安装paddleslim ，运行 python tools/train.py -c configs/ssd/ssd_mobilenet_v1_300_120e_voc.yml --slim_config configs/ssd/ssd_mobilenet_v1_qat.yml 报错"
C:\Users\1\anaconda3\envs\paddle_env\lib\site-packages\paddle\tensor\creation.py:125: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warni
ng, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  if data

[2022-05-11 06:18] yghstill commented on #1095
@LLiuzui 看报错还是没有安装paddleslim成功，确认下import paddleslim是否成功

[2022-05-11 15:50] Jiashuhao518 commented on #900
请问在paddleslim2.1.0中有没有解决

[2022-05-11 17:04] Jiashuhao518 opened #1100 "剪枝后评估报错 InvalidArgumentError PaddleDetection2.1 PaddleSlim2.1.0"
(paddle) jiash21@asic-u1:~/Desktop/PaddleDetection-release-2.1/static$ python slim/prune/eval.py -c configs/ssd/ssd_mobilenet_v1_voc.yml --pruned_params "conv7_4_extra2_weights,conv7_1_extra2_weights,conv1_weights,conv5_5_sep_weights,conv2_1_sep_weights,conv7_2_extra1_weights,conv6_sep_weights,conv7_4_extra1_weights,conv7_3_extra1_weights,conv7_1_extra1_weights,conv7_2_extra2_weights,conv7_3_extra

[2022-05-13 11:38] sun222 commented on #1091
感谢解答

[2022-05-13 11:38] #1091 closed, assigned to nobody

[2022-05-16 03:13] wanghaoshuang commented on #1100
请问，您使用的PaddleSlim版本是？

[2022-05-16 03:15] Jiashuhao518 commented on #1100
PaddleSlim2.1.0

[2022-05-19 02:07] susan-812 opened #1118 "paddleslim目前最新的版本是2.2.2吗"
在说明文档里面看到有自动压缩的示例，但是要求的paddleslim版本是2.3.0，产品动态里面写的5.23发布2.3.0，想确认一下是不是这样的

[2022-05-19 03:06] simon-sxx opened #1119 "没有相应模块"
使用如下命令进行自动压缩时出现错误：

[code]

报错为：

[code]

[2022-05-20 02:43] wjddd opened #1126 "自动压缩可用于压缩经过微调的ERNIE 1.0模型吗？"
[https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/auto_compression/nlp#%E8%87%AA%E7%84%B6%E8%AF%AD%E8%A8%80%E5%A4%84%E7%90%86%E6%A8%A1%E5%9E%8B%E8%87%AA%E5%8A%A8%E5%8E%8B%E7%BC%A9%E7%A4%BA%E4%BE%8B](自然语言处理模型自动压缩示例)里面的例子是PP-MiniLM模型，可以套用在ERNIE 1.0模型上吗？

[2022-05-20 03:13] ceci3 commented on #1126
可以的，只要是部署模型都可以~

[2022-05-20 06:29] qingqing01 commented on #1119
您需要使用develop版本安装~

[2022-05-20 06:35] yghstill commented on #1118
@susan-812 使用PaddleSlim develop版本即可，2.3版本即将发布。
安装方式：
[code]

[2022-05-20 06:47] #765 closed, assigned to wanghaoshuang, yghstill

[2022-05-20 06:47] #776 closed, assigned to nobody

[2022-05-20 07:25] simon-sxx opened #1130 "自动压缩评估时报错, 最后map很低"
使用下列命令评估时报错，评估出来map很低：

[code]

报错为：Exception in thread Thread-1:

[code]

[2022-05-20 10:13] yghstill commented on #1130
@Sxx12 请问你的模型是怎么导出到预测模型的？没有复现你的这个问题，试过官方文档表格中的模型吗：https://bj.bcebos.com/v1/paddle-slim-models/detection/ppyoloe_crn_l_300e_coco.tar

[2022-05-21 09:51] guoxuntao opened #1131 "模型蒸馏报错"
报错信息：
[05-21 17:39:33 MainThread @logger.py:242] Argv: PaddleSeg-develop/slim/distill/distill_train.py --teather_config PaddleSeg-develop/configs/quick_start/deeplabv3p_resnet50_os8_optic_disc_512x512_1k_teacher.yml --student_config PaddleSeg-develop/configs/quick_start/deeplabv3p_resnet18_os8_optic_disc_512x512_1k_student.yml --do_eval --use_vdl --save_interval 250 --num_workers 3 --seed 0 --save

[2022-05-21 10:07] renmada opened #1132 "自动压缩后，用paddlelite 导出报错"
测试自动压缩[demo](https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/auto_compression)后，用paddlelite导出后报错

[F  5/21 18: 1: 6.617 ...optimizer/mir/static_kernel_pick_pass.cc:71 Apply] Check failed: !instruct.kernels().empty(): No kernels found for fake_quantize_abs_max

[2022-05-21 14:45] yghstill commented on #1132
@renmada 请问是哪个模型？我们排查下问题~

[2022-05-22 15:08] renmada commented on #1132
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/auto_compression
就readme的demo

[2022-05-23 01:38] ljl86092297 opened #1133 "cannot import name 'AbsmaxQuantizer' from 'paddle.fluid.contrib.slim.quantization'"
![image](https://user-images.githubusercontent.com/59467994/169727333-27411560-e3e3-4307-b78d-8de5e11dd9dd.png)

只是使用了这个命令， paddlepaddle =2.0 paddleslim=2.2.2
![image](https://user-images.githubusercontent.com/59467994/169727412-6f621205-c6ee-47fc-bbae-bbc7a7c42b17.png)
请问怎么解决

[2022-05-23 02:33] 983913761 commented on #1118
安装develop版本报错，提示找不到paddleslim-opt-tool组件怎么处理

[2022-05-23 02:34] YiZhi-W813 commented on #1118
你好，请问安装develop版本报错，提示找不到paddleslim-opt-tool组件怎么处理

[2022-05-23 02:56] ceci3 commented on #1131
这个demo看起来是比较早期的一个demo了~ 可能现在跑会有点问题。。

[2022-05-23 02:57] ceci3 commented on #1133
可以安装paddlepaddle2.3试下

[2022-05-23 04:51] 2050airobert opened #1135 "tinypose and lite hrne QAT 训练失败！"
Hi，
1 参考https://github.com/PaddlePaddle/Paddle/issues/42341 这个picodet的在线训练量化，完全搭建不出来一套tinypose或者litehrnet的qat在线训练版本啊，什么时候可以发布一套类似picodet的 tinypose的正式在线量化版本，多谢！
可以看到下面例子完全不能作为tinypos或者litehrnet的参考，必须paddle自己来做，这样失去了相当大的paddleslim这个框架研发的初衷
![image](https://user-images.githubusercontent.com/8407513/169745437-ba1f2c11-b3c2-49c4-937c-0f3af74649fc.png)

2 举个例子，pretrain_weights: https://paddledet.bj.bceb

[2022-05-23 07:38] simon-sxx commented on #1130
@yghstill使用以下命令导出
%cd /home/aistudio/work/PaddleDetection
!python tools/export_model.py -c configs/ppyoloe/ppyoloe_crn_l_300e_coco.yml -o weights=output/ppyoloe_crn_l_300e_coco/best_model_270.pdparams TestReader.fuse_normalize=true

使用的自己的数据集：
metric: COCO
num_classes: 7
TrainDataset:
  !COCODataSet
    image_dir: train
    anno_path: annotations/train.json
    dataset_dir: /home/aistudio/work/Pad

[2022-05-23 08:36] BergerQAQ opened #1137 "请问模型库里有剪裁后的SSD-MobilenetV1的模型吗？"

[2022-05-24 01:38] liyuyuan6969 opened #1140 "AssertionError: feed_list should be set when return_list=False"
# 场景描述
我正在量化paddle里面的关键点检测模型，我参考的[量化文档](https://paddleslim.readthedocs.io/zh_CN/latest/api_cn/static/quant/quantization_api.html#quant-post-dynamic)，但是我还是不是很懂sample_generator这个参数要怎么传？然后我看代码里面的加载数据集的方式是先调用`self.dataset = cfg['{}Dataset'.format(self.mode.capitalize())]`来构造一个对象，然后使用`self.loader = create('{}Reader'.format(self.mode.capitalize()))(
                self.dataset, cfg.worker_num)`来构造一个loa

[2022-05-24 05:10] 2050airobert commented on #1135
hello，anyone here？

[2022-05-24 06:33] yghstill commented on #1135
在 https://github.com/PaddlePaddle/PaddleDetection/issues/6037 统一回复

[2022-05-24 06:33] #1135 closed, assigned to nobody

[2022-05-25 02:26] susan-812 opened #1141 "fairmot里的模型可以用paddleslim进行自动压缩吗"
paddleslim自动压缩给出的demo是关于目标检测的，想请问一下fairmot里的模型可不可以用paddleslim进行自动压缩，如果可以的话有没有demo可以参考的

[2022-05-25 02:49] ceci3 commented on #1140
https://github.com/PaddlePaddle/PaddleSlim/blob/develop/demo/quant/quant_post/quant_post.py#L75
如果有已经写好的dataloader的话，可以直接传入dataloader，不用写 sample_generator 了

[2022-05-25 02:53] ceci3 commented on #1141
应该是可以的~ 直接参考目标检测的就可以了~

[2022-05-25 06:22] liyuyuan6969 commented on #1140
好的，谢谢哈！我试试

[2022-05-25 07:46] Eric-Zhang1990 commented on #948
@yghstill  请问有检测模型的离线量化demo吗？给出的demo是分类的，检测模型的量化的数据怎么加载呢？谢谢

[2022-05-25 07:50] Eric-Zhang1990 commented on #966
@Water2style  你是量化的检测模型吗？有检测模型的量化代码给参考一下吗？谢谢

[2022-05-25 07:56] liyuyuan6969 commented on #1140
1. 我调用这个API接口出现了这个错误，是版本不对吗？我得paddleSlim是2.1.1的
![image](https://user-images.githubusercontent.com/53716679/170210107-7379dd12-80ed-48cc-853c-53ee941d48a8.png)

2. 请问这个支持动态图量化吗？静态图量化需要给data_loader传一个feed_list进去，我直接传了image进去，不知道要不要传label，这个feed_list该怎么传是需要看哪里呢？
![image](https://user-images.githubusercontent.com/53716679/170210903-88bb0254-6646-4087-95bb-01cc9b934a14.png)

[2022-05-25 13:53] wanghaoshuang commented on #1137
模型库里没有剪裁后的SSD-MobilenetV1模型

[2022-05-26 01:51] liyuyuan6969 commented on #1140
我将paddleslim的版本更新为了2.2.2后，可以使用dataloader的选项，但是现在报错feed_list的数量不匹配
错误信息：ValueError: (InvalidArgument) The sample number of reader's input data and the input number of feed list are not equal.
![image](https://user-images.githubusercontent.com/53716679/170398802-22629798-ade4-4108-a82d-910bf67e4920.png)

[2022-05-26 09:45] #1131 closed, assigned to nobody

[2022-05-27 01:32] susan-812 opened #1144 "可不可以出一个fairmot里的模型的自动化压缩demo"
跟着目标检测的demo试了一下fairmot里的fairmot_hrnetv2_w18_dlafpn_30e_576x320模型的自动化压缩，没弄出来，官方大大能不能出一个呀

[2022-05-27 05:11] ceci3 commented on #1140
应该是dataloader返回的输入的数量和模型里面的输入的数量不匹配，可以用netron可视化模型看下输入叫什么，然后在dataloader里相应的改一下就可以了~

[2022-05-27 05:11] ceci3 commented on #1144
是遇到什么问题了嘛？可以把您的代码提出来我们一起看下~

[2022-05-28 02:25] Jiashuhao518 commented on #1075
你好，我也是prune后QAT 但是无法导出模型 报错是str object has no attribute save quantized model
请问是什么样的原因呢

[2022-05-30 11:51] kismit opened #1148 "可不可以出一个动态图的bert量化例子"

[2022-05-31 00:33] liyuyuan6969 commented on #1140
好的，我检查一下，前几天请假了！回的有点慢，谢谢哈

[2022-06-02 03:12] yghstill commented on #1148
@kismit 目前没有动态图量化训练的demo。可以模型动转静后直接量化训练和离线量化：
自动化压缩（量化训练）：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/auto_compression/nlp
离线量化：https://github.com/PaddlePaddle/PaddleNLP/tree/develop/examples/model_compression/pp-minilm/quantization

[2022-06-02 06:46] kismit commented on #1148
pp-minilm这里面提供的是离线量化的方式吧？nlp动态图没有qat的方式？

[2022-06-02 07:28] xaclincoln commented on #380
我也遇到类似的问题，公司要求使用Openvino框架进行推理，但模型的训练和量化都是在Paddle内完成的，不知道如何能将量化后的模型转成onnx.  查找了文档，有将模型转化为paddle inference cpu和tensorrt的文档，但是仍然在paddle自身的生态圈内，是否能够提供一些文档说明如何将量化后的模型转成ONNX？
onnx 10+版本提供了常用的量化操作符，可不可以将Paddle产生的量化操作符转化为等价的onnx操作符?

[2022-06-06 10:34] ljl86092297 opened #1152 "模型量化以后 精度直接没了"
谷歌关键点模型经过离线量化后
![image](https://user-images.githubusercontent.com/59467994/172144562-400c2852-3c6e-414a-9f77-ac0ed7c77665.png)
经过上图函数量化以后精度直接消失了
![image](https://user-images.githubusercontent.com/59467994/172144710-99fd231d-78a8-4f59-b80a-2951615aa07c.png)
上图是未量化前的模型效果
![image](https://user-images.githubusercontent.com/59467994/172144789-05c252d1-8558-44b3-939d-053efdcfe2bd.png)
这是量化后的效果，-1代表骨骼点未检

[2022-06-07 07:59] StrugglingForBetter opened #1154 "paddle slim可以对leakyRelu做量化处理吗？"
请问下paddle slim可以对leakyRelu做量化处理吗？我看有些框架没法对leakyRelu量化，导致即使量化了，还是相当于跑float一样，不知道paddle在这方面做得怎么样？如果好的话，可以考虑入坑

[2022-06-07 11:07] eepeter opened #1156 "PaddleSlim 可以对BasicVSR++ 压缩吗？"
请问一下PaddleSlim 可以对BasicVSR++ 压缩吗？有相关经验可以分享吗？

[2022-06-07 12:30] ceci3 commented on #1154
这个应该是得看具体的硬件推理实现，slim产出的量化模型是支持对leakyRelu量化的

[2022-06-08 10:19] yghstill commented on #1156
@eepeter BasicVSR++的模型暂时没有现成的压缩方案，
动态图可以根据 demo：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/dygraph
静态图：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/quant 、https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/prune 等案例

[2022-06-10 10:40] 2050airobert opened #1164 "tinypose slim 量化训练版本缺失！"

[2022-06-11 11:22] 2050airobert commented on #1164
anyone here？

[2022-06-13 08:56] 2050airobert opened #1168 "tinypose量化训练版本效果很差！"
请问下tinypose的量化训练版本 有发布吗？

[2022-06-14 07:35] yghstill commented on #1168
@2050airobert 正在调试自动化压缩精度中，会高优跟进~

[2022-06-14 09:06] fanxiaochen456 opened #1171 "paddleslim运行报错没有AdaptorBase"
求助，运行paddleslim提供的蒸馏训练时出现

错误，paddlepaddle-gpu版本2.2.1，paddleslim版本2.2.0
![image](https://user-images.githubusercontent.com/101849755/173539158-dcbf9357-a3f2-4574-8dbc-50b550f24bd1.png)

[2022-06-14 10:55] 2050airobert opened #1172 "How quant is called!"

[2022-06-16 02:22] #1126 closed, assigned to nobody

[2022-06-17 03:36] 2050airobert commented on #1034
hello anyone here？

[2022-06-17 03:39] 2050airobert opened #1177 "PicoDet 量化训练模型发布问题！"
hi，
    1 请问下，picoDet 目前的量化训练精度调优ok了吗？ 下周是否有发布计划，多谢~
    2 关于量化压缩，以下两个链接 有啥区别，还是完全可以合并为一个？
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/auto_compression/detection

BR

[2022-06-19 10:16] 2050airobert commented on #1177
hello，anyone here？

[2022-06-24 10:09] liyuyuan6969 commented on #1140
终于量化成功了
参考文档见：https://aistudio.baidu.com/aistudio/projectdetail/3924444
关键点检测模型量化代码如下：
[code]

[2022-06-24 12:09] wanghaoshuang commented on #1177
很抱歉，这么久才回复您。

暂时效果还不符合预期

https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim
这个链接是用有监督数据（带label的数据），使用单个压缩策略。

https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/auto_compression/detection
这个链接是用无监督数据（无label），借助蒸馏策略，直接对推理模型（无训练逻辑）进行压缩。

目前发现，使用无监督数据，在图像目标检测任务上的效果很难达到预期。我们正在尝试解决该问题。

多谢您的关注。

[2022-06-24 12:11] wanghaoshuang commented on #1172
这里是静态图量化教程：https://paddleslim.readthedocs.io/zh_CN/latest/tutorials/quant/static/index.html
这里是动态图量化教程：https://paddleslim.readthedocs.io/zh_CN/latest/tutorials/quant/dygraph/index.html

[2022-06-24 12:21] wanghaoshuang commented on #1171
PaddleSlim动态图的蒸馏是一个非正式的功能，不建议直接使用。
可以参考这里对推理模型直接蒸馏压缩：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/auto_compression/semantic_segmentation

[2022-06-24 12:24] wanghaoshuang commented on #1152
这里有一个tinypose的PR：https://github.com/PaddlePaddle/PaddleSlim/pull/1179
还在review中。
之前我们对tinypose做全量化，精度损失较大，但可视化效果还可以接受。

[2022-06-25 04:45] fanxiaochen456 opened #1195 "PaddleSlim量化训练"
您好，我使用PaddleSlim对PaddleSeg的模型进行量化训练
![image](https://user-images.githubusercontent.com/101849755/175762682-fad57ff1-48e5-4555-80ab-a5a1f040c699.png)
这是我的量化模型，我使用测试脚本测试效果很好，请问一下，我怎样可以输出量化之后模型的参数量Params和量化模型进行一次模型推理所需要的计算量Flops呢?

[2022-06-27 02:06] 2050airobert opened #1197 "Missing Paddle slim tinypose 量化训练 quant8！"
Hi，
请问下，
paddle slim tinypose 量化训练版本何时能够release啊？
或者已经在主干了吗？多谢
BR

[2022-06-29 14:31] wanghaoshuang commented on #1197
@RachelXu7 你之前实现的tinypose 量化训练是不是可以先提交一版？

[2022-06-29 14:43] wanghaoshuang commented on #1195
## 计算FLOPs的方法
第一步：使用load_inference_model加载推理模型为program, 参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/load_inference_model_cn.html#load-inference-model

第二步：使用paddle.flops接口计算FLOPs: https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/flops_cn.html#flops

## 关于量化模型的说明
1. PaddleSlim产出的量化模型文件，还是以float32的数值类型存储的权重，所以模型大小不会改遍。在用Paddle-Lite和Paddle Inference推理时，会

[2022-06-29 14:47] wanghaoshuang opened #1209 "paddleslim=2.2.2无法兼容paddlepaddle=2.3"
以下为 @levinzhangyd 提出的问题，辛苦 @yghstill 帮忙看下？

https://github.com/PaddlePaddle/PaddleSlim/pull/338#issuecomment-1169773627
---------------------------------------------------
最新的2.2版本的paddleslim，写代码都能自动关联到函数，结果运行找不到，这是有什么机关吗？
Traceback (most recent call last):
  File "E:\pythonProject\testLaneDetect\pytotch_2_pp_module.py", line 94, in <module>
    quant.quant_post_dynamic(
AttributeError: module 'pa

[2022-06-29 15:01] levinzhangyd commented on #1209
感谢回复，把paddle从最新的2.3降低到2.2就好了，可以正常用了。应该又是兼容的问题，非常感谢你们的及时关注

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年06月29日 22:48 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | [PaddlePaddle/PaddleSlim] paddleslim=2.2.2无法兼容paddlepaddle=2.3 (Issue #1209) |

以下为 @levinzhangyd 提出的问题，辛苦 @yghstill 帮忙看下？
#338 (comment)

最新的2.2版本的paddleslim，写代码都能自动关联到函数，结果运行找不到，这是有什么机关吗？
Traceback (most rece

[2022-06-29 15:14] wanghaoshuang commented on #1209
感谢反馈，我们下周会发布PaddleSlim2.3.0版本, 与PaddlePaddle2.3.0对应。
PaddleSlim2.3.0会发布自动压缩功能：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/auto_compression

当前持续测试优化中，感谢并期待您的继续关注。

[2022-06-29 15:15] #1209 closed, assigned to yghstill

[2022-06-30 08:12] 2050airobert commented on #1197
@RachelXu7 最新的调优效果有更新吗？ 这两天能否先提交一版目前最优效果版本呢？

[2022-06-30 08:16] 2050airobert commented on #1172
so cool tks

[2022-06-30 08:18] ZRS0326 opened #1213 "目标检测模型的敏感度分析报错"
报错信息：
ValueError: (InvalidArgument) Currently, Tensor.__indices__() only allows indexing by Integers, Slices, Ellipsis, None, tuples of these types and list of Bool and Integers, but received str in 1th slice item (at ..\paddle\fluid\pybind\imperative.cc:645)
代码：
    pruner = L2NormFilterPruner(trainer.model,[1,3,300,300])
    pruner.sensitive(eval_func=eval_fn,sen_file="./sen.pickle")
改代码的模型到底应该传

[2022-06-30 08:33] ZRS0326 commented on #1213
这个报错感觉就是模型读取的问题，官方又没有任何相关的信息，关于对目标检测模型的动态图敏感度分析

[2022-06-30 09:31] Macxy2018 opened #1215 "ernie+crf模型自动压缩问题"
环境:AIStudio GPU
模型结构：使用PaddleNLP/examples/information_extraction/waybill_ie模型，模型结构是ernie+crf。
当前使用AutoCompression。
问题：目前模型为静态图，最后一层为crf层，模型预测时走维特比算法，无法输入标签，无法计算loss，请问这个需要怎么处理呢？

[2022-07-01 02:56] 2050airobert commented on #1197
hello，anyone could help？

[2022-07-01 10:37] Dora1483 commented on #1052
### Exception: 'feed_targets' does not have x variable.
在运行python auto-compression/demo_yolofastest.py 报错。
@yghstill

[2022-07-05 10:11] wayneck opened #1255 "I need paddleslim-opt-tools for arm64"
I work on arm64  centos， use paddle suit develop. I install or build PaddleSlim  but cannt find a paddleslim-opt-tools for arm64?
Where or how to do it?

[2022-07-06 04:07] wanghaoshuang opened #1258 "swig failed when installing paddleslim on macOS or Windows with python>=3.9"
## Solution

### macOS
Please install swig with cmd as below:

[code]

### Windows

Please install swig from https://www.swig.org/download.html

## Error log
[code]

[2022-07-06 04:10] #1258 closed, assigned to nobody

[2022-07-06 07:17] tianv commented on #1119
建议不要采用官网这样的安装方式：
python install setup.py

采用这种安装方式:
pip install git+https://github.com/PaddlePaddle/PaddleSlim.git

[2022-07-06 10:22] tianv opened #1263 "FirstRunCrashedException,这个什么啥原因，已经如何破解啊"
FirstRunCrashedException: First run crashed, abort. Please check your setup -- we assume that your default configuration does not crashes. (To deactivate this exception, use the SMAC scenario option 'abort_on_first_run_crash'). Additional run info: {}

[2022-07-06 12:20] ceci3 commented on #1263
你好，可以截图多点报错信息嘛？这些看不出来具体的报错原因是什么

[2022-07-06 12:24] ceci3 commented on #1215
AutoCompression中的量化训练为量化训练+蒸馏，不用传入标签，可以参考 https://github.com/PaddlePaddle/PaddleSlim/blob/develop/example/auto_compression/detection/configs/ppyoloe_l_qat_dis.yaml 这个配置文件中的量化配置，或者使用离线量化超参搜索的功能，也不需要配置标签信息，只需要传入  config={'Quantization': {}, "HyperParameterOptimization": {}}, 即可

[2022-07-06 12:28] ceci3 commented on #1255
最新的paddleslim不需要依赖 paddleslim-opt-tools 工具了，可以重新安装最新的试下，没有paddleslim-opt-tools这个工具会影响硬件延时表的使用，和自动压缩工具里设置了 deploy_hardware 参数之后的自动化策略选择，可以通过设置压缩策略来直接进行压缩~

[2022-07-07 07:06] Dora1483 opened #1269 "Exception: 'feed_targets' does not have x variable"
在运行demo_yolofastest.py时， 将eval参数中的False改为True, 报上述错误。

[2022-07-07 07:56] wanghaoshuang opened #1270 "Auto tuning the dynamic input shapes for PaddleTensorRT engine"
https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/python/gpu/tuned_dynamic_shape/infer_tune.py

[2022-07-07 07:57] #1270 closed, assigned to nobody

[2022-07-07 08:21] wayneck commented on #1255
ok

[2022-07-07 08:21] #1255 closed, assigned to ceci3

[2022-07-08 06:46] levinzhangyd opened #1279 "paddleslim动态量化结果不如预期"
hi,
  初学深度学习，从github上拿了一个pytorch模型文件（大概170M），转换成paddle模型后，大小差不多。
使用动态图量化后，权重文件减小并不明显,减小到137M。模型使用resnet-18,和文档介绍的1/4相差较多。

目前来看，没有达到预期的优化结果，我是想把模型往移动端进行移植，但是目前的大小无法进行移动端的开发
1.想咨询下是我优化方法不对，还是本身的动态图离线量化就只能做到这种程度？
2.看到释放了最新的paddleslim,但是还是无法安装成功（2.2安装ok）

[2022-07-08 08:33] yghstill commented on #1279
@levinzhangyd
- 量化训练完保存的weight是int8范围内的fp32格式，所以模型大小看不出多少变化，使用paddlelite部署的话，转成nb文件后可以看到模型体积会减少2-4倍之间。
- 是安装paddleslim 2.3.1失败吗？

[2022-07-08 09:08] levinzhangyd commented on #1279
1.有转成nb文件，转换后nb文件还是137M.和paddle模型的大小一致
2.安装paddleslim 2.3.0 和2.3.1都不行

[2022-07-08 09:14] Dora1483 commented on #1052
哈喽， 老师， coco的模型可以参考这个——https://github.com/dog-qiuqiu/Yolo-Fastest

[2022-07-08 09:59] yghstill commented on #1279
@levinzhangyd 安装失败的报错麻烦发一下

[2022-07-08 11:10] wanghaoshuang commented on #1269
@Dora1483 请问“demo_yolofastest.py”所在路径是？

[2022-07-08 13:10] Dora1483 commented on #1269
https://github.com/yghstill/PaddleSlim/tree/add_yolofastest_auto_compress

[2022-07-09 10:48] D-DanielYang opened #1282 "Do not reply, just some pics"
![image](https://user-images.githubusercontent.com/23690325/178102488-9f09e991-bfd6-4827-8641-849d9c3fa83c.png)

[2022-07-09 10:52] D-DanielYang commented on #1282
![image](https://user-images.githubusercontent.com/23690325/178102623-6de25af1-eec8-4825-bb15-4dad5bee7c9c.png)

[2022-07-11 02:11] #1282 closed, assigned to nobody

[2022-07-11 02:40] levinzhangyd commented on #1279
- 安装失败不是关键问题，重点还是想请教下量化后压缩没有达到预期的问题
- 安装报错信息：

Building wheels for collected packages: pyrfr
  Building wheel for pyrfr (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\uidq5147\.conda\envs\paddle_new\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\uidq5147\\AppData\\Local\\Temp\\pip-install-iwv7990f\\pyrfr_f6dd4

[2022-07-11 03:04] leiqing1 commented on #1282
![github-slim全自动压缩](https://user-images.githubusercontent.com/54695910/178181077-57a3a631-f495-4821-878d-ef5e74981718.jpg)

[2022-07-11 08:10] yghstill commented on #1279
@levinzhangyd 量化后的模型用netron可视化看下conv和fc前面是不是都有fake_quant_xxx的节点，有的话说明都量化了，这样的话转nb模型至少压缩2-4倍。

[2022-07-11 10:33] 2050airobert opened #1288 "TinyPose qat全量化版本bug！"
Hi，
1 请问下 TinyPose模型的自动化压缩代码无bug版本的整理好了吗？
2 是否有文档，确保过程无误？
3 coco数据集qat全量化后掉点多少，业务最终掉点多少呢？
多谢

[2022-07-11 11:24] Memoriaaa opened #1289 "paddleslim量化int8模型，paddle-inference部署推理报错"
按照离线动态量化教程https://paddle-inference.readthedocs.io/en/latest/guides/x86_cpu_infer/paddle_x86_cpu_int8.html#id1 ，用quant_post_static保存量化模型，再用脚本转成int8模型。教程里的paddle.models.mobilenetv1没有问题，量化、部署都ok，但是换UNet就会在inference推理时报错（转int8始终没有问题），看起来是和concat有关。

[code]

通过反复实验最后抽取出下面这个有问题的小模型，不理解的是只要去掉relu或interpolate就没问题，不知道原因
[code]

我用的版本是paddle2.2.1+paddleslim2.2.2+paddle-inference2.1.1，在cpu上推理

[2022-07-12 04:44] Memoriaaa commented on #1289
补充一下paddleseg的量化教程里用的BiSeNetV2，我部署了也没问题，只有UNet、U2Net由于将ReLU和interpolate的输出concat到一起，推理时才报这个错

[2022-07-12 06:03] yeliang2258 commented on #1289
使用上面的FooNet可以复现问题的是吧？我先复现问题看看，具体是什么原因

[2022-07-12 06:09] 2050airobert commented on #1288
hello，anyone could help？

[2022-07-12 07:08] yeliang2258 commented on #1289
你好，你升级一下paddleinference为2.3.1版本来运行吧，这个问题在新版本里面已经解决了，我这边可以正常运行。
升级2.3.1之后不需要再另外使用脚本转换量化模型，直接使用如下脚本便可
运行示例如下：
[code]

[2022-07-12 08:43] 1190202328 commented on #1095
您好，我也遇到这个问题了，我已经安装好了paddleslim，但是还是说没有安装上，import也没有问题，但是PaddleDetection运行报错如下：
[code]
各个包版本如下：
<img width="362" alt="image" src="https://user-images.githubusercontent.com/81356892/178449210-f9615f0d-3b14-48ef-b078-61fa8c9896ed.png">

[2022-07-12 08:50] 1190202328 commented on #1095
已经解决，安装好之后需要重启电脑才可以。

[2022-07-12 09:57] Memoriaaa commented on #1289
谢谢，版本升级后可以了，不过好像只要升级paddleslim就行，inference2.1还能用。
新版inference不需要转换是指不用转int8吗，quant_post_static还是需要的吧

[2022-07-12 09:59] yeliang2258 commented on #1289
quant_post_static是量化模型，是需要的，但是不需要再使用save_quant_model.py这个脚本来再转一次模型了

[2022-07-13 02:46] yangguangda-hub opened #1292 "经过静态量化后性能却由150ms变为250m"
使用Android nnapi方式，硬件为mtk设备。经过将自己的yolov3模型，经过x2paddle转换后，在经过静态离线量化，最后经过动态量化后，性能对比不经过静态量化有150ms变为了250ms。具体见文件：
[apu_question.zip](https://github.com/PaddlePaddle/PaddleSlim/files/9098525/apu_question.zip)
![2022-07-13 10-45-21 的屏幕截图](https://user-images.githubusercontent.com/82625719/178639877-9a563e7e-45c7-495e-acd2-4b2d0626c91c.png)

[2022-07-13 06:30] Dora1483 commented on #1269
@wanghaoshuang  https://github.com/yghstill/PaddleSlim/tree/add_yolofastest_auto_compress

[2022-07-13 08:19] yghstill commented on #1288
@2050airobert
1. TinyPose自动化压缩会在后面再优化，目前精度不达标，暂不开源。
2. QAT全量化功能后续会支持，之后就可直接使用动态图QAT产出全量化模型。
3. 目前只针对开源数据集，无业务。

[2022-07-13 08:33] 2050airobert commented on #1288
非常感谢，大佬
理解您的严格要求。不过能否把目前精度还可的版本打包发下？ 或者有个稍微正式点的文档发下？尤其是一些细节的参数option 写清楚，多谢

[2022-07-13 08:39] wanghaoshuang commented on #1292
收到，我们安排相关同学看下这个问题。

[2022-07-13 08:48] 2050airobert commented on #1288
hi,
请问下大佬
python3 tools/export_model.py -c configs/keypoint/tiny_pose/tinypose_128x96.yml         -o weights=https://bj.bcebos.com/v1/paddledet/models/keypoint/tinypose_128x96.pdparams \TestReader.fuse_normalize=False
这个命令对吗？ 应该改为什么呢？
大佬可以在这里issue里面把步骤 完整说一遍吗？以及版本问题，我follow 大佬一遍应该就ok了，可以吗？
第二，
![image](https://user-images.githubusercontent.com/8407513/178696224-7477b442-017d-4d3c-86d3-9848ece4b85b

[2022-07-13 08:49] yghstill commented on #1052
正在跟进中~

[2022-07-13 10:41] 2050airobert commented on #1288
hi，
    按照您的指示，
![image](https://user-images.githubusercontent.com/8407513/178715274-6f4b1292-eab7-4a2d-8246-3da25c5bd4c3.png)
评估的map指标越来越低，最后到了0附近了，不知道您怎么看？
您说的掉10个点的版本是在哪呢？ 多谢
BR

[2022-07-13 11:13] yingshengBD commented on #1292
请提供 paddlepaddle和paddleslim的版本。
如果是较早版本，离线量化并不是全部算子都会量化，导致数据类型和计算IP来回切换从而性能下降

[2022-07-14 01:00] yangguangda-hub commented on #1292
paddlepaddle       2.2.0
paddleslim         2.0.0

[2022-07-14 03:28] yghstill commented on #1288
[tinypose_act.tar.gz](https://github.com/PaddlePaddle/PaddleSlim/files/9108189/tinypose_act.tar.gz)
在COCO上的config、weight及log已打包，可以验证下正确性。

[2022-07-14 03:34] 2050airobert commented on #1288
好的，收到

[2022-07-14 03:44] 2050airobert commented on #1288
1 唯一的改动就是我的coco 目录改了一下 ，纯粹为了能找到image 和 json
![image](https://user-images.githubusercontent.com/8407513/178893493-32e4e198-a2fc-40ad-bbed-015fcef4f06b.png)
你看下这样改有问题吗？
2 我的slim版本是2.3 git pull下来前天最新的。 detection2.4/release 也是前几天git pull下来最新的。
都是采用python setup.py install安装 还有哪里可能不匹配呢？   如果都匹配，那么log应该跟您给我的差不多 对吧？

[2022-07-14 04:32] 2050airobert commented on #1288
1 最新进展 训练过程中的中间结果看起来ok的，
![image](https://user-images.githubusercontent.com/8407513/178898981-84143156-9416-4d1d-9cde-8effb4138879.png)

2 我怀疑就是你的这个tinypose的原始 model pdiparam 跟我的不一样，请问下如何导出你的这个模型，pdet的配置文件以及导出说明可以打包发下嘛？ 多谢
备注：下面是我用的yml和权重文件，不知道哪里有问题呢？
 python3 tools/export_model.py -c
https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.4/configs/keypoint/tiny_pose/tinypose_128x96.yml \

[2022-07-14 04:39] yghstill commented on #1288
python3.7 tools/export_model.py -c configs/keypoint/tiny_pose/tinypose_128x96.yml -o weights=https://bj.bcebos.com/v1/paddledet/models/keypoint/tinypose_128x96.pdparams

[2022-07-14 05:06] 2050airobert commented on #1288
sorry 发错了，我用的确实是这个
1 python3 tools/export_model.py -c configs/keypoint/tiny_pose/tinypose_128x96.yml   \
-o weights= https://bj.bcebos.com/v1/paddledet/models/keypoint/tinypose_128x96.pdparams --output_dir=output_inference_tinypose0714-ok
就是后面加了个保存路径，那我再export 试下哈
2 唯一的区别是 我运行qat 训练时，加了个保存目录
python3 run.py --config_path=./configs/tinypose_qat_dis.yaml  --save_dir='./output0714/'
备注： 这是我转出来的tinypos

[2022-07-14 06:48] mrshaoyang commented on #937
您好，你提到在动态图下量化训练时，对于模拟量化OP，前后分别插入fake_quant_op和fake_dequant_op，等价于前面插入fake_quant_dequant_op。我想请问能否不将quant与dequant合并，需要做什么修改吗？

[2022-07-14 06:54] 2050airobert commented on #1288
@yghstill
    我现在很肯定问题在哪了，其实问题在于我用的最新的ppdetection 2.4/release版本，python3 tools/export_model.py -c configs/keypoint/tiny_pose/tinypose_128x96.yml
-o weights= https://bj.bcebos.com/v1/paddledet/models/keypoint/tinypose_128x96.pdparams --output_dir=output_inference_tinypose0714-ok  导出之后的网络模型跟你给我的模型不一样，这个问题怎么解决，有什么建议吗？
BR

[2022-07-14 06:59] leiqing1 commented on #1288
麻烦把两个模型上传，或者可以看下tinypose里面导出模型部分的介绍。

[2022-07-14 07:01] 2050airobert commented on #1288
我的转换命令跟你们给出的几乎没区别，请看我的回复，多谢啦
我转换出来的模型在这里，你发我的模型在广华最开始的链接，你看下 大佬

建议： 您完全可以把您使用的pp detection打包给我下，不一定非要合入tag，您看行吗？

[2022-07-14 08:41] hyaihjq opened #1297 "example/auto_compression/semantic_segmentation运行错误"
Traceback (most recent call last):
  File "run.py", line 167, in <module>
    main(args)
  File "run.py", line 149, in main
    ac = AutoCompression(
  File "/home/hongyang/codebase/paddle_code/PaddleSlim/paddleslim/auto_compression/compressor.py", line 153, in __init__
    self.train_dataloader = wrap_dataloader(train_dataloader,
  File "/home/hongyang/codebase/paddle_code/PaddleSlim/paddleslim/a

[2022-07-14 09:41] leiqing1 commented on #1288
tinypose_128x96-yml-lcl.zip 这个压缩包里面只有yaml文件，没有模型文件。

[2022-07-14 09:46] 2050airobert commented on #1288
1 建议您仔细看下
 [tinypose_128x96-lcl.zip](https://github.com/PaddlePaddle/PaddleSlim/files/9108898/tinypose_128x96-lcl.zip)
[tinypose_128x96-yml-lcl.zip](https://github.com/PaddlePaddle/PaddleSlim/files/9108922/tinypose_128x96-yml-lcl.zip)
这是两个包，你要的都在，对吗？

2 这是guanghua 大佬提供的包
[tinypose_act.tar.gz](https://github.com/PaddlePaddle/PaddleSlim/files/9108189/tinypose_act.tar.gz)
在COCO上的config、weight及log已打包，

[2022-07-14 11:23] levinzhangyd commented on #1279
@[yghstill](https://github.com/yghstill)
找到一个其他模型，量化后可以减小到1/3左右（Bit_8），但是使用netron可视化之后，发现量化后也没有fake_quant的标记。
转换代码如下：
`
    def quantize_pp_module(self, module_dir, out_module_dir, weight_bite=8):
        paddle.enable_static()
        print("***************************************************")
        print("start quant optimize, weight_bite", weight_bite)
        print("start quant optimize, ou

[2022-07-15 03:27] ceci3 commented on #1279
方便发一下两个模型我们看下吗？

[2022-07-15 03:27] ceci3 commented on #1279
方便发一下两个模型我们看下吗？

[2022-07-15 03:30] ceci3 commented on #1269
可以用netron可视化看下模型的输入是不是叫 `x` ，不是的话需要修改下这里的key：https://github.com/yghstill/PaddleSlim/blob/add_yolofastest_auto_compress/demo/auto-compression/demo_yolofastest.py#L38

[2022-07-15 03:30] zzjjay commented on #1297
It's a problem of the dataset. 'data[0]' is to take out the image data in it, please check whether the type of 'data' in the reader_wrapper is 'list'.
Or try to reinstall paddleseg (Only paddleseg2.5 is suitable)
`pip uninstall paddleseg`
`pip install paddleseg==2.5.0`

[2022-07-15 06:26] levinzhangyd commented on #1279
@[yghstill](https://github.com/yghstill)
非常感谢您的帮助，原始资源如下：
链接：https://pan.baidu.com/s/1b0XaOS0fxcMxUxD6IEF1CQ
提取码：iqqs

model.7z上传了最近的两个模型：
origin为原始模型，使用paddle测试代码亲测可以run起来（测试脚本见链接）
optimize为原始模型使用paddleslim转化生成的模型
有两个问题：
1.optimize目录下的模型大小，和之前的预期不符合（缩小到接近1/4）
2.optimize优化后，貌似确实有轻微体积优化，但是运行的时候跑不起来。提示paddle不支持转换后的算子输入
出错提示如下：
RuntimeError: (NotFound) Operator (conv2d) does not have kernel for data_

[2022-07-18 13:11] 2050airobert opened #1304 "qat failed！"
TinyPose qat全量化版本bug！ #1288
问题和log描述非常详细，请帮忙检查下为啥 无法export出paddledet提供的模型呢？(具体在1288这个issue最开始的帖子里)
建议您仔细看下
[tinypose_128x96-lcl.zip](https://github.com/PaddlePaddle/PaddleSlim/files/9108898/tinypose_128x96-lcl.zip)
[tinypose_128x96-yml-lcl.zip](https://github.com/PaddlePaddle/PaddleSlim/files/9108922/tinypose_128x96-yml-lcl.zip)
这是两个包，你要的都在，对吗？
BR

[2022-07-18 20:13] SunYF-0729 commented on #1018
在做静态图的敏感度分析时，用的static中的config吗 @TANSHOUTAO ，我做的有问题麻烦您看下https://github.com/PaddlePaddle/PaddleDetection/issues/6453#issue-1306564809

[2022-07-18 20:50] SunYF-0729 opened #1305 "paddleslim对ssd_mobilenet_v1进行剪裁出现的推理速度等相关问题"
版本：
![image](https://user-images.githubusercontent.com/109390344/179612740-420eba0b-4375-4faf-b733-887f6d0455ea.png)
问题：
剪裁0.3%后，flops减少，在验证集上预测速度变快，但量化后部署到arm和intel fpga上推理速度反而变慢
剪裁前：
![R_WVA%XZC3NDRTVXQ4P9H D](https://user-images.githubusercontent.com/109390344/179614192-e3bd9e85-4bb6-40a7-b8b6-b07773c5b9ba.png)
![7YY8_C (KVDCBFS DWECHWG](https://user-images.githubusercontent.com/109390344/17961

[2022-07-18 20:52] SunYF-0729 commented on #1292
@wanghaoshuang @yingshengBD 你好，我这里有个问题跟他差不多，可以麻烦帮我解答下吗，谢谢！！！
https://github.com/PaddlePaddle/PaddleSlim/issues/1305#issue-1308604097

[2022-07-19 02:03] yghstill commented on #1305
@SunYF-0729 剪裁完部署到arm和intel fpga上速度变慢的问题我们找相关同学看下，你使用paddle Inference在GPU上部署预测速度怎么样？

[2022-07-19 02:06] SunYF-0729 commented on #1305
还没有在gpu上试过，我搜查文献，在硬件上推理变慢是因为对权重的非结构化剪裁会产生一定的编码问题，所以部署到硬件反而会让速度变慢，但是我看我的这个应该是直接对卷积核进行剪裁去除，应该没这个问题，所以很费解

[2022-07-19 02:10] SunYF-0729 commented on #1305
我这个网络结构的pruned-params也是根据prune_config的print_params来设置的，这个是我调用不了static/slim/sensitive/sensitive.py对我自己模型的config进行敏感度检测才采用的无奈之举。

[2022-07-19 02:11] 2050airobert commented on #1288
Hi
大佬 我确实使用的都是guanghua 推荐的版本啊，但是 在pddet 2.4 版本目录下/app_lcl/PaddleDetection_2.4/PaddleDetection，运行
python3 tools/export_model.py -c configs/keypoint/tiny_pose/tinypose_128x96.yml -o weights=https://bj.bcebos.com/v1/paddledet/models/keypoint/tinypose_128x96.pdparams --output_dir=output_inference_tinypose0718-3
结果还是跟他生成并发给我的 模型大小不一样，而且之后用它的qat量化程序跑，结果也差距很大！！！

具体  export出来的四个文件，除了yml一样，其他三个大小都比他给我的要大一

[2022-07-19 02:13] SunYF-0729 commented on #1305
我这个网络结构的pruned-params也是根据prune_config的print_params来设置的，这个是我调用不了static/slim/sensitive/sensitive.py对我自己模型的结构进行print_params才采用的无奈之举。全设为0.3也是因为调用不了sensitive.py没办法进行敏感度分析。

[2022-07-19 02:17] SunYF-0729 commented on #1305
https://github.com/PaddlePaddle/PaddleDetection/issues/6453#issue-1306564809 @yghstill 前辈，还有这个问题我也很困扰，麻烦您找人看下，万分感谢您的回复，期待您指导！

[2022-07-19 02:18] zzjjay commented on #1305
麻烦提供下剪枝后的模型文件（*.pdmodel） @SunYF-0729

[2022-07-19 02:21] SunYF-0729 commented on #1305
这里怎么提供

[2022-07-19 02:23] SunYF-0729 commented on #1305
这里不支持传输文件，请您给个其他方式吧

[2022-07-19 02:23] zzjjay commented on #1305
直接将文件拽入输入框即可～

[2022-07-19 02:24] SunYF-0729 commented on #1305
![image](https://user-images.githubusercontent.com/109390344/179650582-942919c7-17e7-4d64-ba68-9986f3f994dd.png)

[2022-07-19 02:25] zzjjay commented on #1305
那发我邮箱吧，zhouzhaojing@baidu.com

[2022-07-19 07:07] Dora1483 opened #1306 "AssertionError: (h, w) of target size should be greater than (im_h, im_w)"
[https://s3.bmp.ovh/imgs/2022/07/19/18967221eeac0752.png](url)
就是在数据dataset.yml中， target_size的尺寸一定要比原始的图片大吗？

[2022-07-19 07:11] yu0802chao commented on #1305
请问你们现在能做到多少ms，这个裁剪率已经很高了

[2022-07-19 07:14] SunYF-0729 commented on #1305
只有量化的能到350，裁剪加量化没做出来呢

[2022-07-19 07:16] yu0802chao commented on #1305
纯量化就能到300多，是模型导出时把卷积连续映射到加速器了吗？

[2022-07-19 07:29] SunYF-0729 commented on #1305
没有，我只做了量化。其他的硬件部分我不清楚，你也在做这个模型的剪裁吗

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSlim"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年7月19日(星期二) 下午3:16
***@***.***&gt;;
***@***.**

[2022-07-19 07:43] yu0802chao commented on #1305
是的，可能是你直接用静态图做的，如果方便的话可以看一下模型吗

[2022-07-19 07:46] SunYF-0729 commented on #1305
我用的动态图做的量化，边训练边模拟量化然后用paddlelite部署，因为静态图有一系列的问题我不清楚，也做不出来，就没做了，这里不能发模型，方便的话邮件交流吧

[2022-07-19 07:53] yu0802chao commented on #1305
好的，我的邮箱是65091929@qq.com

[2022-07-19 12:25] RachelXu7 commented on #1306
已解决

[2022-07-19 12:25] #1306 closed, assigned to RachelXu7

[2022-07-19 14:01] wangplin commented on #1305
只做量化能达到350ms吗，有用了dorefa吗？

[2022-07-19 15:01] SunYF-0729 commented on #1305
没有用，我这个裁剪搞不定，兄弟能指导一下不

[2022-07-19 15:03] wangplin commented on #1305
加下微信吧，NSwpl255598

[2022-07-20 06:05] 2050airobert commented on #1304
hello, anyone here, could anyone help me with this problem of  slim or ppdet?

[2022-07-21 09:07] leiqing1 commented on #1304
两个压缩包都提供完整的模型结构，包括model.pdiparams和model.pdmodel。

[2022-07-22 05:06] DrRyanHuang opened #1310 "run `example/auto_compression/semantic_segmentation` get NaN"
Hi, I run [`run.py`](https://github.com/PaddlePaddle/PaddleSlim/blob/develop/example/auto_compression/semantic_segmentation/run.py) as follow in `PaddleSlim/example/auto_compression/semantic_segmentation`:

[code]

but I got:
[code]

`configs/pp_liteseg/pp_liteseg_mine.yaml`:
[code]

`config_paddleslim.yml`:
[code]

Could you please tell me the possible reason? Thanks!!

[2022-07-26 06:12] zzjjay commented on #1310
Please try to set the distillation node explicitly, or replace the distillation loss and try again. For details on how to set up the distillation node, please refer to this document. https://github.com/PaddlePaddle/PaddleSlim/blob/develop/example/auto_compression/hyperparameter_tutorial.md#1%E8%87%AA%E5%8A%A8%E8%92%B8%E9%A6%8F%E6%95%88%E6%9E%9C%E4%B8%8D%E7%90%86%E6%83%B3%E6%80%8E%E4%B9%88%E8%87%AA

[2022-07-26 13:26] fpjnice opened #1314 "动态qat量化后用netron查看模型的 pdparams参数含义不明晰"

[2022-07-27 02:17] yghstill commented on #1314
@fpjnice
1. netron可视化动转静导出后的pdmodel文件，才能查看网络拓扑图。
2. 这个scale就是量化尺度因子，根据量化计算公式来进行量化与反量化。这些可以交给预测库处理，模型训练侧可以不用处理这些参数。

[2022-07-27 02:24] fpjnice commented on #1314
hh

[2022-07-29 03:36] yghstill commented on #1314
@fpjnice 可以，xxx.scale就是对应层的out scale属性

[2022-07-29 10:37] #1314 closed, assigned to yghstill

[2022-08-01 07:50] moonlightian opened #1318 "使用Inference模型恢复训练"
在paddleslim中的recover_inference_program貌似提供了推理模型转训练模型的功能，但是没有找到具体的应用实例，可以给一个简单的demo演示一下该功能如何使用并进行训练吗？

[2022-08-02 07:25] colorjam opened #1323 "Please check the py_verion variable"
https://github.com/PaddlePaddle/PaddleSlim/blob/8b156124638caf851e728f49cf46afb9ebf7ed4e/paddleslim/analysis/latency_predictor.py#L98

[2022-08-02 08:36] zzjjay commented on #1323
Thanks! We have submitted pr(https://github.com/PaddlePaddle/PaddleSlim/pull/1324) to fix the issue

[2022-08-04 03:21] ceci3 commented on #1318
https://github.com/PaddlePaddle/PaddleSlim/blob/cfec7b341f290762a5d1bf4589ad88128ac9c72a/paddleslim/auto_compression/create_compressed_program.py#L217
直接调用 recover_inference_program ，传入inference program就可以了

[2022-08-04 08:28] xingyueye opened #1325 "量化模型转TensorRT"
请问如何把链接中yolov6的量化模型转成对应的TensorRT模型
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression/pytorch_yolov6

[2022-08-04 09:47] xingyueye commented on #1325
我想用paddle2onnx先转onnx再转TRT，但是paddle2onnx无法识别量化算子：
[code]

[2022-08-04 11:11] yghstill commented on #1325
@xingyueye 马上支持，文档和demo正在补充中，下周就可以使用了。

[2022-08-08 02:20] yghstill commented on #1325
@xingyueye Already supported in #1327.

[2022-08-08 07:19] xingyueye commented on #1325
👍非常感谢
“pip install paddle2onnx==1.0.0rc3”，不过我现在pip安装的时候还检索不到 1.0.0rc3 的版本。可以提供下 wheel包吗

[2022-08-09 03:54] yghstill commented on #1325
@xingyueye 更新下pip呢？python -m pip install --upgrade pip

[2022-08-09 06:08] xingyueye commented on #1325
更新了paddle2onnx之后还是报算子支持问题，如下
<img width="1335" alt="image" src="https://user-images.githubusercontent.com/40205112/183576413-df863617-1d33-4b2d-b17f-637df8e562e6.png">
是不是链接中的 `model.pdmodel`和`model.pdiparams` 也需要更新一下？

[2022-08-10 01:56] yghstill commented on #1325
@xingyueye 嗯嗯，需要更新，链接中的模型权重我更新下

[2022-08-10 03:05] #1325 closed, assigned to nobody

[2022-08-10 03:06] yghstill commented on #1325
@xingyueye 已更新文档。

[2022-08-10 03:14] eshoyuan opened #1330 "为什么ACT的目标检测示例均为量化蒸馏?"
是不是剪枝等方法加速效果不好

[2022-08-10 05:38] yghstill commented on #1330
@eshoyuan 剪枝后模型精度掉点严重，加速比例也少，仍在探索实验中。

[2022-08-10 05:44] eshoyuan commented on #1330
谢谢回复!

[2022-08-10 05:44] #1330 closed, assigned to nobody

[2022-08-10 06:41] xingyueye commented on #1325
感谢👍模型已经跑通了

[2022-08-10 07:39] jo-dean opened #1331 "新出的自动压缩支持PPYOLO系列吗？比如PPYOLO-mbv3_small"
请问新出的自动压缩支持PPYOLO系列吗？比如PPYOLO-mbv3_small模型。

[2022-08-10 09:31] yghstill commented on #1331
支持，可以根据PPYOLOE-l的配置文件改写下，就可以跑，将reader中的resize shape对齐PPYOLO-mbv3_small。

我们计划会增加更多检测模型，PPYOLO系列模型后续会逐渐加入到benchmark中，有问题欢迎讨论。

[2022-08-11 02:11] jo-dean commented on #1331
您好，这是我的配置文件。
**
Global:
  reader_config: configs/ppyolo_reader.yml
  input_list: ['image', 'im_shape', 'scale_factor']
  arch: YOLO
  Evaluation: True
  model_dir: ./ppyolo_mbv3_small_coco
  model_filename: model.pdmodel
  params_filename: model.pdiparams

Distillation:
  alpha: 1.0
  loss: soft_label

Quantization:
  use_pact: true
  activation_quantize_type: 'moving_average_abs_max'
  quantize_o

[2022-08-11 08:30] yghstill commented on #1331
@jo-dean 保持你的这样设置跑下看看精度怎么样

[2022-08-11 08:53] maximli opened #1333 "模型静态离线量化报错"
模型静态离线量化时，收到一个报错，请帮忙看下，谢谢！

模型为det模型，使用的inference为PaddleOCR/tools中export_model.py导出，该模型转为onnx是可以正常推理的，目前想将该模型量化后再转为onnx，但量化时报错如下：

使用MobileNetV1_infer.tar中的模型则没有这个问题。

/usr/local/lib/python3.8/dist-packages/paddle/fluid/executor.py:990: UserWarning: The variable inputs is not found in program. It is not declared or is pruned.
Traceback (most recent call last):
  File "quant_post.py", line 97, in <

[2022-08-11 09:58] maximli commented on #1333
上边的问题已经解决了，使用paddle2onnx时报错，有算子不支持：

There's 2 ops are not supported yet
=========== dequantize_linear ===========
=========== quantize_linear ===========

各个版本：
onnx                             1.12.0
paddle2onnx               0.9.8
paddlepaddle-gpu     2.3.0
paddleslim                  2.3.0

[2022-08-12 01:40] yghstill commented on #1333
@maximli paddle2onnx升级至1.0.0.rc3版本再试下吧

[2022-08-12 03:47] maximli commented on #1333
感谢回复，升级paddle2onnx版本，这个问题解决了。新的问题是，转换后的onnx大小与非量化的onnx大小差不多，还要大了一点点，请问是什么原因呢？理论上量化后的onnx是不是会变得更小，目前看量化后的参数文件和模型文件比非量化的文件要小很多。

[2022-08-12 06:38] ly0303521 opened #1337 "提个建议"
我相信你们的技术很强，但是你们的文档实在是太差了，对于初学者根本无法下手。
举个例子，你们的自动压缩ACT，在readme 里面只有量化的选项，我照搬这个例子去运行，可以正常运行，但是如果我需要剪枝呢，该怎么设置，没有例子，没有文档说明，我去看源代码，看到了相关设置，结果还是报错，按照报错提示修改了还是没用。后来发现你们有个文档网站https://paddleslim.readthedocs.io/zh_CN/develop/cv/detection/static/paddledetection_slim_pruing_tutorial.html， 结果根本就没有详细说明和例子，跳来跳去又跳到github上。微软的nni做的很好，跟着例子就能照猫画虎，你们的这个，我摸索了半天了，还是不行

[2022-08-12 08:03] ly0303521 commented on #1337
我现在想跑通 “example/auto_compression/image_classification” 这里的例子都失败，明明在前一个目录又数据集下载的地址，在这里又指到ImageNet，ImageNet又没有提供清楚的下载地址，而且国内不好登录这个网站。

wget https://paddle-imagenet-models-name.bj.bcebos.com/dygraph/inference/MobileNetV1_infer.tar
tar -xf MobileNetV1_infer.tar
下载ImageNet小型数据集
wget https://sys-p0.bj.bcebos.com/slim_ci/ILSVRC2012_data_demo.tar.gz
tar -xf ILSVRC2012_data_demo.tar.gz

但依然还是失败，为什么跑一个现成的例子

[2022-08-12 08:36] yghstill commented on #1333
onnx存储的是int8范围内的fp32模型，并且多保存了一些量化scale信息，所以看着不降反升。你model.pdiparams文件是存储的int8格式，应该比原模型小很多的。

[2022-08-12 09:13] ly0303521 commented on #1337
放弃了，你们说明示例没有几个能一次性跑通的吗，'demo/prune/train.py' ，真实要晕死，太累了用你们这个

[2022-08-12 09:15] ceci3 commented on #1337
请问下这是用的哪个示例

[2022-08-12 09:17] ceci3 commented on #1337
具体想换成剪枝的话 可以参考这个文档得到各个参数的含义：
https://github.com/PaddlePaddle/PaddleSlim/blob/develop/example/auto_compression/hyperparameter_tutorial.md#113-%E7%BB%93%E6%9E%84%E5%8C%96%E7%A8%80%E7%96%8Fsparsity
具体使用示例参考：
https://github.com/PaddlePaddle/PaddleSlim/blob/develop/example/auto_compression/image_classification/configs/EfficientNetB0/prune_dis.yaml

[2022-08-12 09:18] ceci3 commented on #1337
这个报错看起来是您的paddle安装的不是适合您环境的paddle版本，可以检查下自己的环境

[2022-08-12 09:25] ly0303521 commented on #1337
这个是自动压缩的例子：example/auto_compression/image_classification/configs/MobileNetV1/qat_dis.yaml，貌似是下载的权重不对，刚开始验证的时候，准确率0，报错退出了，后来我手动修改配置文件参数的origin_metric: 0.0，没有这个错误之后又报

  [Hint: 'cudaErrorNoKernelImageForDevice'. This indicates that there is no kernel image available that is suitable for the device. This can occur when a use│
r specifiescode generation options for a particular CUDA source file that d

[2022-08-12 09:38] ly0303521 commented on #1337
版本是一致的还是报错

paddleslim                    2.3.1

[2022-08-15 02:26] ceci3 commented on #1337
[code]
可以运行以上代码看下paddle版本是否正确安装

[2022-08-16 07:41] hurun opened #1345 "Error compressing picodet_xs model using nas"
1、env
-----------------------------------------------------------------------
system：Ubuntu 20
paddle version：paddlepaddle-gpu 2.3.1.post116
paddleslim  version：2.3.2
Python verison: 3.7.13

2、run code
--------------------------------------------------------------------------
cd PaddleSlim-develop/example/auto_compression/detection

python run.py --config_path=./configs/picodet_s_qat_dis.yaml  --s

[2022-08-16 07:44] hurun commented on #1345
Here is  setting file, picodet_s_qat_dis  and  picodet_reader.

picodet_s_qat_dis.yaml
-----------------------------
Global:
  reader_config: ./configs/picodet_reader.yml
  input_list: ['image', 'scale_factor']
  Evaluation: True
  model_dir: ./picodet_s_288_coco_lcnet/
  model_filename: model.pdmodel
  params_filename: model.pdiparams

Distillation:
  alpha: 1.0
  loss: l2

Quantization:
  use_pa

[2022-08-16 09:05] gg22mm opened #1346 "不支持windows https://pypi.org/simple/paddleslim-opt-tools/"
不支持windows ，也找不到windows的包：

Adding paddleslim 2.3.0 to easy-install.pth file

Installed c:\programdata\anaconda3\envs\paddlegpu\lib\site-packages\paddleslim-2.3.0-py3.7.egg
Processing dependencies for paddleslim==2.3.0
Searching for paddleslim-opt-tools
Reading https://pypi.org/simple/paddleslim-opt-tools/
No local packages or working download links found for paddleslim-opt-tools
error: Could not

[2022-08-16 11:29] yghstill commented on #1345
@hurun 你的picodet模型不包含后处理？不包含后处理的话，scale_factor输入不需要，那将
[code]
改为
[code]
再试下

[2022-08-16 11:38] yghstill commented on #1346
@gg22mm 这个包在Windows下不支持，直接安装paddleslim==2.3.2试下吧

[2022-08-17 01:39] Linaom1214 opened #1350 "离线KL量化 使用 Paddle2ONNX转换模型"
[Paddle2ONNX] Oops, there are some operators not supported yet, including linspace

[2022-08-17 01:55] yghstill commented on #1350
@Linaom1214 是哪个模型？更详细报错信息可以发下吗？

[2022-08-17 01:58] Linaom1214 commented on #1350
自己搭建的模型， 就这一个报错无法转换， 我正在尝试去掉模型中的inplane操作

[2022-08-17 02:11] Linaom1214 commented on #1350
自己搭建的模型

[code]

[2022-08-17 02:40] hurun commented on #1345
@yghstill  已按照提示修改scale_factor，修改后依次出现如下问题，尝试处理但没解决根源问题，还请指点

1、 已将Global改为
Global:
  input_list: ['image']

程序能正常运行并计算损失（batchsize=1），
2022-08-17 10:21:19,109-INFO: Total iter: 980, epoch: 0, batch: 980, loss: [9.578232]
2022-08-17 10:21:20,041-INFO: Total iter: 990, epoch: 0, batch: 990, loss: [14.332893]

2、后续程序出现其他报错，报错详情如下
Traceback (most recent call last):
  File "run.py", line 188, in <modu

[2022-08-17 03:21] yghstill commented on #1350
@Linaom1214 paddle2onnx是1.0.0.rc3吗？

[2022-08-17 03:27] Linaom1214 commented on #1350
是的，已经和Paddle2ONNX确认过了，目前不支持linspace 这个OP

[2022-08-17 03:30] gg22mm commented on #1346
这个不行，Windows只能用 paddleslim==1.1.1

[2022-08-17 03:40] yghstill commented on #1350
@Linaom1214 嗯嗯，可以等paddle2onnx支持后再进行尝试

[2022-08-17 03:42] gg22mm opened #1351 "图片分割例子不能运行"
cd PaddleSlim/example/auto_compression/semantic_segmentation/
python run.py

run.py 如下：
`

def parse_args():
    parser = argparse.ArgumentParser(description='Model training')
    parser.add_argument(
        '--model_dir',
        type=str,
        default='./models/ppseg_lite_portrait_398x224_with_softmax',  #模型目录
        help="inference model directory.")
    parser.add_argument(
        '--mod

[2022-08-17 03:42] yghstill commented on #1346
@gg22mm 是什么原因只能用paddleslim 1.1.1？

[2022-08-17 03:46] gg22mm commented on #1346
就因为是windos 吧

[2022-08-17 03:47] yghstill commented on #1346
windows支持安装paddleslim 2.3.2的

[2022-08-17 03:52] gg22mm commented on #1346
嗯嗯，谢谢~~  我看了，是安装上去了，但是过程有报错，不知道会不会影响.

![微信图片_20220817114513](https://user-images.githubusercontent.com/6648329/185031076-b5917cc4-f9c7-4499-b9d4-96543bd6aa3b.png)
![微信图片_20220817114443](https://user-images.githubusercontent.com/6648329/185031084-6a6feeec-74cd-4663-b33e-a4abd8221b09.png)
![微信图片_20220817114546](https://user-images.githubusercontent.com/6648329/185031089-18e58c59-e51d-4a01-9ebd-7edc

[2022-08-17 03:52] #1346 closed, assigned to nobody

[2022-08-17 03:54] jo-dean opened #1352 "ImportError: cannot import name 'load_config' from 'paddleslim.common'"
![image](https://user-images.githubusercontent.com/38728358/185031220-32e068ec-68fa-4fd7-a4e7-58567236a384.png)

import 失败
安装了paddleslim 以及paddlepaddle 推理版本
![image](https://user-images.githubusercontent.com/38728358/185031315-b405cb25-d599-4e7f-8c68-a9a5b76e424f.png)

[2022-08-17 04:27] yghstill commented on #1352
这个报错是由于没有安装最新版paddleslim，本周paddleslim会发布2.3.3版本，所以你暂时可以用两种方式的任何一种，即可import 最新版paddslim版本：
1. 编译安装：
[code]
2. 直接在环境变量中指定python路径：export PYTHONPATH=/你的路径/PaddleSlim/:$PYTHONPATH

[2022-08-17 07:09] lixiangMindSpore opened #1355 "请问支持YOLOX么？"

[2022-08-17 07:22] jo-dean commented on #1352
第一种方法可以了，但是进行自动压缩训练时出现了问题
AttributeError: 'numpy.ndarray' object has no attribute 'numpy'
![image](https://user-images.githubusercontent.com/38728358/185058725-3fdb0930-d543-42e5-98df-066c1143b2b9.png)
这个update函数里的.numpy()都有问题。
我上周安装了就没有问题，可以直接训练，也没有出现:cannot import name 'load_config' from 'paddleslim.common'这个问题。

[2022-08-17 07:23] zzjjay commented on #1351
@gg22mm  你是修改了run.py吗？贴出的代码中没有config path参数，所以指令执行错误，请拉取最新代码试试。

[2022-08-17 07:26] jo-dean commented on #1345
我把出现这个错误的地方都这样判断了，可以训练，但一轮训练完后出现了
**2022-08-17 15:23:27,860-INFO: ==> The ACT compression has been completed and the final model is saved in `./output/`
double free or corruption (fasttop)

--------------------------------------
C++ Traceback (most recent call last):
--------------------------------------
No stack trace in paddle, may be caused by external reasons.

----------------------
Error Me

[2022-08-17 07:37] gg22mm commented on #1351
哦哦。我之前用的是正试版：v2.3.0 测试的。 我现在用：develop 版报的是另一个错：

ImportError: cannot import name 'load_config' from 'paddleslim.common'

[2022-08-17 07:39] zzjjay commented on #1351
@gg22mm  这个错误应该是slim安装版本的问题，之前更新过一些文件路径，麻烦重装下paddleslim~
在develop版代码里执行：python setup.py install

[2022-08-17 08:45] gg22mm commented on #1351
嗯嗯，paddleslim 这个对windows实在不友好.. 我现在放到 aistudio 上也报错上面的错：
![微信图片_20220817163829](https://user-images.githubusercontent.com/6648329/185075747-d3a24ee0-cf48-494d-b2e9-d7483c129eba.jpg)

[2022-08-17 08:50] zzjjay commented on #1351
我没多久还测试过这个demo是能跑通的，我在你的代码上检查下 @gg22mm

[2022-08-17 09:08] lixiangMindSpore opened #1357 "YOLOV7-tiny单卡和多卡训练，都按照默认的学习率么？"
![image](https://user-images.githubusercontent.com/78945582/185080532-936ccea2-8207-43f0-ac32-f6355dad583f.png)
YOLOV7-tiny单卡和多卡训练，都按照默认的学习率么？

[2022-08-17 09:14] gg22mm commented on #1351
那是您没有使用这这个模型，我刚刚又测试了一遍，在aistudio上：

代码够新的了：
![77777](https://user-images.githubusercontent.com/6648329/185082194-f183204a-9855-43f1-8fbf-3ad349a0e10b.png)

cd example/auto_compression/semantic_segmentation/
wget https://bj.bcebos.com/v1/paddlemodels/PaddleSlim/analysis/ppseg_lite_portrait_398x224_with_softmax.tar.gz
tar -xzf ppseg_lite_portrait_398x224_with_softmax.tar.gz
python ./data/download_da

[2022-08-17 09:21] zzjjay commented on #1351
@gg22mm  要不你公开下你aistudio上的代码环境，我在你的环境里复现下这个问题，我在本机测试正常。

[2022-08-17 09:24] gg22mm commented on #1351
好的，谢谢：
https://aistudio.baidu.com/aistudio/projectdetail/4439311?channelType=0&channel=0
GPU 方式运行
python setup.py install
pip install paddleseg  -i https://pypi.tuna.tsinghua.edu.cn/simple

[2022-08-17 09:34] zzjjay commented on #1351
@gg22mm 问题出在paddleseg版本上，这是不同seg版本的dataloader返回数据格式有差异导致的。
请使用 pip install paddleseg==2.5.0 安装paddleseg2.5
pip install paddleseg -i https://pypi.tuna.tsinghua.edu.cn/simple 会安装v2.6
![image](https://user-images.githubusercontent.com/41366441/185086111-245ce790-9a92-4a84-a378-e1d27b56126f.png)
麻烦先卸载paddleseg，再重装下paddleseg2.5吧～

[2022-08-17 09:51] gg22mm commented on #1351
哦哦，您是对的，非常谢谢~~。。 终于出坑了~~。

[2022-08-17 09:51] #1351 closed, assigned to zzjjay

[2022-08-17 10:01] yghstill commented on #1357
@lixiangMindSpore 是的，就按照这个设置即可。

[2022-08-17 10:04] yghstill commented on #1355
@lixiangMindSpore 后续会支持，你也可以先用YOLOv5的配置加载YOLOX模型试下效果

[2022-08-17 10:06] yghstill commented on #1352
@jo-dean 你是什么模型？.numpy()的这个问题在PaddleDetection已经修复过了，可以更新下develop的PaddleDetection试下

[2022-08-17 11:59] personqianduixue commented on #1305
@SunYF-0729 请问你这个模型的mAP怎么到77%的，你是用VOC训练的吗？我最高73.6%

[2022-08-18 01:31] jo-dean commented on #1352
ppyolo_mbv3_samll
这是我的paddledet版本
![image](https://user-images.githubusercontent.com/38728358/185272761-ba745752-a006-481c-bb19-31eca781728a.png)

![image](https://user-images.githubusercontent.com/38728358/185272422-08eda696-e5f6-4e16-a71f-8a86d0f438bf.png)

[2022-08-18 03:20] yghstill commented on #1352
@jo-dean 你是voc数据集吗？或者你的ppyolo_mbv3_samll模型是不是不包含nms后处理？

[2022-08-18 03:22] yghstill commented on #1345
@jo-dean 因为你的PicoDet模型不带后处理，所以无法直接进行eval，所以将AutoCompression中的eval_callback设为False就行，不评估精度。

[2022-08-18 06:39] gg22mm opened #1360 "做分割模型图像抠图压缩遇到的问题"
图片抠图用的是： https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.6/Matting    生成的模型25MB， 但是有点慢大概4秒时间，想通过压缩加速好提升速度，于似呼开始爬坑......

1、看了语义分割模型自动压缩示例没找到关于“Matting ”的
	https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression/semantic_segmentation
    打算自己添加一个：
          cd PaddleSlim/example/auto_compression/semantic_segmentation

![8888](https://user-images.githubusercontent.c

[2022-08-18 06:53] zzjjay commented on #1360
@gg22mm 这个看起来是在dataloader部分读取数据集出了问题，参考paddleseg关于matting数据集的设置再看下吧~https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/Matting/README_CN.md
PaddleSeg也整理了可用于MODNet训练的PPM-100数据集：https://paddleseg.bj.bcebos.com/matting/datasets/PPM-100.zip

[2022-08-18 07:50] gg22mm commented on #1360
这个看了一下，还是dataset问题， 对我来说可能有点难了。 先看一下有没有其它方式

[2022-08-18 07:52] #1360 closed, assigned to zzjjay

[2022-08-18 09:22] gg22mm opened #1363 "./configs/pp_liteseg/pp_liteseg_auto.yaml 模型配置没有运行成功"
测试了下：有没模型配置没有运行成功

#这个可以成功
python run.py --config_path='./configs/pp_humanseg/pp_humanseg_auto.yaml' --save_dir='./save_compressed_model'

#这个没有成功 - NameError: name 'post_quant_hpo' is not defined
python run.py --config_path='./configs/pp_liteseg/pp_liteseg_auto.yaml' --save_dir='./save_compressed_model'

![11111](https://user-images.githubusercontent.com/6648329/185360098-bd0bbfdf-6e3c-414c-8837-

[2022-08-18 12:57] gg22mm opened #1366 "关于直接修改源码获得train_loader 并自动压缩问题"
1、通过文档：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression 我们知道 只要传入相应该的train_loader 即可"运行自动化压缩" 如图：
![1](https://user-images.githubusercontent.com/6648329/185398649-66a6cadd-5087-49b6-8c82-fc23736fd339.png)

2、实战：
     下载：https://github.com/PaddlePaddle/PaddleSeg/tree/release/2.6/Matting
      修改：  PaddleSeg/Matting/core/train.py  ， 可以直接下载：[PaddleSeg/Matting/core/tari

[2022-08-18 13:21] yuwoyizhan opened #1367 "在windows上安装PaddleSlim失败，报swig error"
Attempting uninstall: tornado
    Found existing installation: tornado 6.2
    Uninstalling tornado-6.2:
      Successfully uninstalled tornado-6.2
  Running setup.py install for pyrfr ... error
  error: subprocess-exited-with-error

  × Running setup.py install for pyrfr did not run successfully.
  │ exit code: 1
  ╰─> [9 lines of output]
      [<setuptools.extension.Extension('pyrfr._regression'

[2022-08-19 01:31] jo-dean commented on #1352
自己的数据集，和VOC是一样格式的。
对的，没有nms

[2022-08-19 02:09] jo-dean commented on #1345
设置为None可以了，谢谢。

[2022-08-19 02:11] jo-dean commented on #1352
现在可以训练了，不过还是要在改了.numpy格式的情况下

[2022-08-19 02:46] wanghaoshuang commented on #1363
请问，您的环境是linux操作系统么？
配置文件“pp_liteseg_auto.yaml”触发了超参搜索功能，但是非linux操作系统不支持超参搜索功能。

后续的修复：
1. 在首页文档给出功能支持情况对照表
2. 捕获当前error，在log中给出解释 https://github.com/PaddlePaddle/PaddleSlim/commit/1bea8e18a549dc00f7704d42db506defee9ec6f6

[2022-08-19 02:55] wanghaoshuang commented on #1366
你好，这个报错和dataloader无关。
应该是模型结构的问题。在插入模拟量化节点时，某个op找不到输出。
可以分享一下model.pdmodel文件么？我需要根据这个文件排查下。

[2022-08-19 02:57] wanghaoshuang commented on #1367
可以参考这个教程单独安装下swig， https://github.com/PaddlePaddle/PaddleSlim/issues/1258

[2022-08-19 03:01] gg22mm commented on #1366
您好，可以的，这就是模型的下载地址：[点击这里模型测试下载](#)
非常感谢！

附模型是这样训练出来的：
cd PaddleSeg/Matting
python train.py --config configs/modnet/modnet-mobilenetv2.yml --do_eval --use_vdl --save_interval 30 --num_workers 0 --save_dir output

[2022-08-19 03:17] gg22mm commented on #1363
是linux , 用的是aistudioi

[2022-08-19 03:31] yuwoyizhan commented on #1367
@wanghaoshuang
1.我刚才使用pip install swig,安装完swig后,使用pip install PaddleSlim,安装就不会报错了.我也按照#1258提示,打开swig的网站,里面的英文介绍很清楚,windows系统需要安装swigwin.但我没有安装swigwin.目前安装PaddleSlim没有报错了.
你可以考虑改成先使用pip install swig安装完再安装PaddleSlim,或许就好了.
2.有没有代码让我测试PaddleSlim是否成功安装了呢?安装paddlepaddle和paddledet后,他们的安装教程都有告诉我如何测试,是否安装成功,安装PaddleSlim好像没有测试是否安装成功这个步骤,建议添加,谢谢.

[2022-08-19 04:15] wanghaoshuang commented on #1367
非常感谢您的建议，我们后续会完善这两点。

[2022-08-19 04:18] wanghaoshuang commented on #1367
已解决

[2022-08-19 04:21] wanghaoshuang commented on #1363
好的，我再排查下这个问题

[2022-08-19 04:43] wanghaoshuang commented on #1366
## 解决办法
临时解决办法如下：
在Paddle安装目录下，找到文件“paddle/fluid/contrib/slim/quantization/utils.py”。
修改[代码](https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/slim/quantization/utils.py#L195)，将`Out`替换为`Y`.

后续会在PaddlePaddle2.3.3正式解决该问题。

## 原因
与DataLoader无关，是量化功能没有正确处理instance_norm。详情如下：
在量化模块，定义了每个OP的输入和输出名称。
其中，instance_norm的输出被定义为了“out”，详见[代码](https://github.com/PaddlePaddle/Paddl

[2022-08-19 05:28] gg22mm commented on #1366
非常感谢 ！~~
    我直接 vi /opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/contrib/slim/quantization/utils.py 进行修改了成了： "instance_norm": [["X"], ["Y"]],   然后utils的问题解决了，但是还报其它的错如下：

![444444](https://user-images.githubusercontent.com/6648329/185549173-f28e9e2e-aa72-4f7f-92f9-639a7a22d835.png)

------------------------------------------------

# 打印train_loader
print( list( l

[2022-08-19 06:36] wanghaoshuang commented on #1366
关于”image_name“的问题，模型输入的Tensor的名称和DataLoader给的名称不一致。

- 模型输入Tensor名称为img，如下图所示：（使用netron可视化model.pdmodel文件）
<img width="1011" alt="image" src="https://user-images.githubusercontent.com/7534971/185558072-5178b309-e556-4b68-b637-cecc14b17a51.png">

- DataLoader给的名称是“image_name”

综上，需要您修改`train_dataset`，将“image_name”修改为“img”。根据你以上提供的信息，无法看到train_dataset的定义，所以暂时无法判断应该具体在哪里修改。

[2022-08-19 07:04] gg22mm commented on #1366
我改了image_name 为 img 只解决了这个字段key

但是又报其它字段key： ValueError: var alpha not in this block
![22](https://user-images.githubusercontent.com/6648329/185562049-fe46fc00-4392-4b02-8573-e3f28743ed04.png)

要改的文件（里面还有很多，不知道怎么替换其它的）：
![111](https://user-images.githubusercontent.com/6648329/185561508-02b6bf0a-a1fd-4cf8-90e6-ffc2d4fbd563.png)

  我看了一下里面有很多data[key]，都要改吗，不知道要改成什么？

[2022-08-19 07:17] wanghaoshuang commented on #1366
从你的推理模型的可视化结果来看，输入只有一个“img”，所以dataset中不能有其它keys.
你可以在[这一行](https://github.com/PaddlePaddle/PaddleSeg/blob/release/2.6/Matting/ppmatting/datasets/matting_dataset.py#L190)前添加一行：
[code]

[2022-08-19 08:02] yghstill commented on #1352
@jo-dean 嗯嗯，更新到PaddleDetection develop版本也可以，这个问题一个月前修复了，但ppdet还没发新版。

[2022-08-19 08:17] gg22mm commented on #1366
直接添加 ：  data = {"img": data['img']}  #这个是模型压缩时添加的，平时都要禁用，之前的 image_name 为 img 不用修改。

完美，没有问题了，  非常感谢大佬。  跪拜啊..   模型压缩这个搞了我好久终于出坑了~~   太激动了。
非常nice ,  看到这个页面应该没有什么问题了。感谢~~
![1](https://user-images.githubusercontent.com/6648329/185575547-4753d42d-3f66-49ad-b3c9-9625406a1fcc.png)

[2022-08-19 08:18] #1366 closed, assigned to wanghaoshuang

[2022-08-19 08:47] gg22mm commented on #1363
我以后还是用这个方式： https://github.com/PaddlePaddle/PaddleSlim/issues/1366

[2022-08-19 08:47] #1363 closed, assigned to wanghaoshuang

[2022-08-21 10:07] gutao0315 commented on #1357
请问 yolov7的配置文件在哪儿  PaddleDetection里只有yolo3的 你是在哪儿训练的

[2022-08-22 01:25] jo-dean commented on #1352
好的，谢谢

[2022-08-22 01:25] #1352 closed, assigned to nobody

[2022-08-22 08:29] #1350 closed, assigned to nobody

[2022-08-22 09:44] JackYang825 opened #1382 "使用 paddledetection train出来的yolox auto_compression 发现有问题"
<img width="989" alt="截屏2022-08-22 17 44 11" src="https://user-images.githubusercontent.com/15171817/185891820-4a9fcc99-d31f-4074-b13b-d2c48b26d8f7.png">
命令: usr/bin/python -u /PaddleSlim/example/auto_compression/pytorch_yolo_series/run.py --config_path=./configs/yolov5s_qat_dis.yaml --save_dir='./output/'
<img width="774" alt="截屏2022-08-22 17 45 39" src="https://user-images.githubusercontent.com/

[2022-08-22 12:25] leiqing1 opened #1385 "8月22日-YOLO系列模型-自动压缩及部署 直播活动交流问题"
YOLOv5、YOLOv6、YOLOv7、PP-YOLOE的自动压缩及部署
1.直播视频回放链接：https://www.bilibili.com/video/BV11Y4y1F751?spm_id_from=333.337.search-card.all.click
2.自动压缩工具：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression
3.量化分析工具：https://github.com/PaddlePaddle/PaddleSlim/blob/develop/example/post_training_quantization/analysis.md
4.直播过程YOLOv7手把手教程：https://aistudio.baidu.com/aistudio/projectde

[2022-08-22 12:39] yghstill commented on #1382
@AlfredTheBest 如果是PaddleDetection产出的模型，可以使用https://github.com/PaddlePaddle/PaddleDetection/tree/develop/deploy/auto_compression 的demo进行测试

[2022-08-22 12:43] lyuwenyu commented on #1382
https://github.com/PaddlePaddle/PaddleDetection/blob/113ff463291e4df0c0ac3358a87ff1c399081892/deploy/auto_compression/configs/yolox_s_qat_dis.yaml 参考这个试一下

[2022-08-22 13:35] Genlk opened #1386 "如何用自己训练的模型进行量化。"
我用的是芯原的产品，在学习PaddleSlim-quant-demo.tar.gz  这个demo 时，model里的模型跟paddledection 里训练好的模型(如pdmodel 和pdiparams) 格式似乎不一样，去运行自己训练好的模型作量化时就报错了，运行demo里的mobilenet_v1 和 resnet50时是正确的，用自己的训练 好的模型做静态量化时还需要注意什么？  谢谢

[2022-08-22 13:36] Genlk commented on #1386
与一个网友遇到同样的问题，就把他的问题copy过来，在此提问了

[2022-08-23 01:55] yghstill commented on #1386
@Genlk 请问你是什么模型，模型格式是什么样的？

[2022-08-23 02:21] Genlk commented on #1386
自己定义的一个简单的模型，

------------------------
1.模型文件如下
import torch
from torch import nn
from x2paddle.convert import pytorch2paddle,onnx2paddle

class Net1(torch.nn.Module):
    def __init__(self):
        super(Net1, self).__init__()
        self.conv1 = nn.Conv2d(in_channels=3,out_channels=16,stride=4,kernel_size=3,device="cuda")
        self.pool1 = nn.MaxPool2d(kernel_size=2,stride=2)
        self.

[2022-08-23 05:41] Genlk commented on #1386
@yghstill  FYI

[2022-08-23 06:21] iamWHTWD commented on #1346
1）可以通过安装swig 解决，安装方式可参考： https://blog.csdn.net/qq_40088639/article/details/116980025
2）paddleslim截至到8.22最新版本为V2.3.3，升级：pip install -U paddleslim

[2022-08-23 09:57] yghstill commented on #1386
@Genlk 你想要做离线量化吗？你的PaddleSlim-quant-demo.tar.gz 的代码可能有些老了？你可以直接参考这个离线量化的demo进行离线量化：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/quant/quant_post

[2022-08-23 09:58] yghstill commented on #1386
是由于模型文件没有加载进去，最新的paddle预测模型文件是model.pdmodel这样命名的，__model__的命名格式是旧的形式，可以：
mv model.pdmodel __model__

但是还是建议你使用比较新的demo进行实验

[2022-08-24 02:48] Genlk commented on #1386
问题已经解决了，新的版本当中使用quant_post_static 替代了 quant_post

__model__ 是 non combine 格式的模型，使用combine格式的模型文件如下
![image](https://user-images.githubusercontent.com/24912927/186308933-2980492d-cffb-488c-9d79-861c5346cb7d.png)

在quant_post_static当中有参数，设置模型文件和参数文件，设置之后就可以进行量化了
![image](https://user-images.githubusercontent.com/24912927/186309297-6c456bd1-0380-463e-96f6-a6506027fbbc.png)

[2022-08-24 02:48] #1386 closed, assigned to yghstill

[2022-08-25 11:24] yghstill commented on #1357
@gutao0315 可以到https://github.com/nemonameless/PaddleDetection_YOLOSeries 找到yolov7的配置文件

[2022-08-26 01:24] AIikai opened #1395 "Does paddleslim support generating task models?"
Does paddleslim support generating task models?  Prepare to compress the translation model trained by fairseq, such as distillation and pruning. Can you give me some advice?
Thank U.

[2022-08-26 02:38] wanghaoshuang commented on #1395
Yes. `distillation`, `QAT` and `PTQ` can be used in generation task.
And structure pruning just support convolution operator.

[2022-08-30 06:11] qiuming-93 opened #1401 "如何量化LSTM层"
https://github.com/PaddlePaddle/PaddleSlim/issues/937
在这个issue中说到静态模型的静态量化支持LSTM层
但是在静态模型中LSTM被转换成了如下图所示的rnn等op操作，量化时并没有lstm这个op，导致最终lstm层并没有量化
而rnn这个op又不支持量化，如果想要量化lstm的话该如何量化呢
![image](https://user-images.githubusercontent.com/75289802/187362533-955e7fe9-e983-471c-b37a-b63a7ff547ff.png)

[2022-08-31 02:05] yghstill commented on #1401
@qiuming-93 你的模型是动转静得到的吗？

[2022-08-31 02:07] qiuming-93 commented on #1401
是的，是文本识别模型，训练之后export得到的

[2022-08-31 03:37] yghstill commented on #1401
@qiuming-93 目前rnn的算子还不支持，主要是Paddle Inference预测库不支持量化预测，这个算子可不量化

[2022-08-31 07:41] wanghaoshuang opened #1402 "paddle.static.Executor执行channel-wise量化模型速度异常"
## 问题

### [paddle.static.Executor](https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/Executor_cn.html#executor)执行量化模型，在channel-wise模式下，速度异常慢。

解决方法：优化fake dequant kernel

### 复现方式
根据自动化压缩示例: https://github.com/PaddlePaddle/PaddleSlim/tree/v2.3.4/example/auto_compression/nlp
将配置文件./configs/pp-minilm/auto/afqmc.yaml修改为如下，只执行量化训练，产出量化 模型：
[code]
执行eval, 发现速度很慢：
[code]

## 分析
基于

[2022-09-01 05:00] wanghaoshuang commented on #1402
优化前：139.40ms
优化后：5.55 ms

profiling如下：
![image](https://user-images.githubusercontent.com/7534971/187834918-878ae75e-987c-4a5c-81f9-714f4e6e5c6e.png)

[2022-09-01 05:59] dlkht opened #1403 "机器翻译模型压缩优化问题"
你好！
我用paddlenlp/examples/machine_translator/transformer的train.py程序训练了一个翻译模型，想压缩优化下，请问
paddleslim哪种工具可以有效优化transformer模型（压缩，提速等）？

[2022-09-02 02:42] shituo123456 opened #1405 "auto_compression/pytorch_yolo_serie环境配置不成功，一直run不成功"
/PaddleSlim/example/auto_compression/pytorch_yolo_series

2022-09-02 10:39:31,795-INFO: Now translating model from onnx to paddle.
2022-09-02 10:39:31,795-WARNING: __init__() missing 1 required positional argument: 'enable_onnx_checker'
2022-09-02 10:39:31,795-ERROR: x2paddle threw an exception, you can ask for help at: https://github.com/PaddlePaddle/X2Paddle/issues

您好  使用slim中的自动压缩模块做yolo蒸馏，第一次

[2022-09-02 02:43] #1405 closed, assigned to nobody

[2022-09-02 02:46] shituo123456 opened #1406 "auto_compression/pytorch_yolo_series 无法run成功"
按照官方教程配置好环境后，报如下错：

Now, onnx2paddle support convert onnx model opset_verison [9],opset_verison of your onnx model is 12, automatically treated as op_set: 9.
Total nodes: 248
Nodes converting ...
Converting node 327 ...     2022-09-02 10:36:26,643-WARNING: convert failed node:onnx__Concat_271, op_type is Resize
2022-09-02 10:36:26,643-ERROR: x2paddle threw an exception, you can ask for help

按照 ht

[2022-09-02 03:00] shituo123456 commented on #1337
朋友  我跑auto_compression/pytorch_yolo_series，也是第一次使用paddle，但是按照官方  环境一直不对，2022-09-02 11:00:05,809-INFO: Now translating model from onnx to paddle.
2022-09-02 11:00:05,809-WARNING: __init__() missing 1 required positional argument: 'enable_onnx_checker'
2022-09-02 11:00:05,809-ERROR: x2paddle threw an exception, you can ask for help
能麻烦说下你环境怎么搞的吗，谢谢  如果可以的话 提供个能跑rep的镜像也行

[2022-09-06 05:40] #1402 closed, assigned to wanghaoshuang, yghstill, ceci3

[2022-09-06 05:53] leiqing1 commented on #1337
@ly0303521 @shituo123456  抱歉，文档没写好，给你不好的体验了。 可以加一下微信（18813190139），我们拉群专项支持您这边使用，同步我们优化产品文档。

[2022-09-06 05:58] yghstill commented on #1337
@shituo123456 可以打印看下你的x2paddle是1.3.6以上版本吗？
[code]

[2022-09-06 07:20] leiqing1 commented on #1406
看log信息是X2Paddle问题造成的，我们复现下这个问题@yghstill～

[2022-09-06 08:35] yghstill commented on #1406
@shituo123456 可以确认下x2paddle版本，需要x2paddle >=1.3.6，如果还有问题，我们检查下example
[code]

[2022-09-08 01:14] shituo123456 commented on #1406
![image](https://user-images.githubusercontent.com/64970397/189011890-15ba7358-cb26-44e7-97ab-1e4d48016662.png)
版本满足要求的。但是还是run不起来

[2022-09-11 05:55] wchuan163 opened #1418 "paddlelite 支持int8预测吗？"
paddlelite 支持int8预测吗？

[2022-09-13 04:55] yghstill commented on #1418
支持的

[2022-09-14 11:27] wchuan163 commented on #1418
就是支持arm cpu int8预测？

[2022-09-15 02:07] yghstill commented on #1418
支持arm cpu，npu的int8预测

[2022-09-17 02:19] hf62580 opened #1422 "solov2自动压缩失败"
环境:
PaddleDetection 2.5
PaddleSlim 2.3.4
ubuntu 20.04
cuda 11.1
用PaddleDetection训练solov2，之后导出模型，导出命令如下
python tools/export_model.py -c configs/solov2/solov2_r50_enhance_symhua_coco.yml --output_dir=./inference_model
 -o weights=resume/best_model
然后根据部署的auto_compression的文档说明，配置了相关的文件，之后执行
python run.py --config_path=./configs/solov2_qat_dis.yaml --save_dir='./output/'
报错
(PPSolov2) root@hof-System-

[2022-09-19 07:03] ceci3 commented on #1422
你好，导出的模型里是不是有nms？在导出模型的时候可以去掉nms，参考：https://github.com/PaddlePaddle/PaddleDetection/blob/ede22043927a944bb4cbea0e9455dd9c91b295f0/deploy/third_engine/demo_openvino/python/README.md#%E7%9C%9F%E5%AE%9E%E5%9B%BE%E7%89%87%E6%B5%8B%E8%AF%95%E7%BD%91%E7%BB%9C%E5%8C%85%E5%90%AB%E5%90%8E%E5%A4%84%E7%90%86%E4%BD%86%E4%B8%8D%E5%8C%85%E5%90%ABnms

[2022-09-19 07:49] hf62580 commented on #1422
重新导了一下，使用 export.nms=False,还是报同样的错
-----------  Running Arguments -----------
 Distillation:
	 alpha: 1.0
	 loss: soft_label
 Global:
	 Evaluation: True
	 input_list: ['image', 'scale_factor']
	 model_dir: ./solov2_r50_enhance_symhua_coco
	 model_filename: model.pdmodel
	 params_filename: model.pdiparams
	 reader_config: configs/solov2_reader.yml
 Quantization:
	 activation_quantize_type: moving_a

[2022-09-19 07:51] ceci3 commented on #1422
可以把.pdmodel模型发一下，我看下模型结构~

[2022-09-19 08:21] hf62580 commented on #1422
好的，以下是下载链接
链接：https://pan.baidu.com/s/19Me_oadFXnArQYhBT0EWKA
提取码：ei3y

[2022-09-19 09:44] ceci3 commented on #1422
我问了下相关同学，solov2不能去掉后处理，那可以先手动设置下蒸馏的 node为所有conv2d的输出，我们后续优化下这个模型的自动压缩功能~

[2022-09-19 09:48] hf62580 commented on #1422
如何手工设置蒸馏的 node为所有conv2d的输出？有参考吗？对这一块不熟悉，抱歉！

[2022-09-21 11:05] qiu-pinggaizi opened #1429 "自动化压缩处理完之后 可以部署到tf serving中使用吗"

[2022-09-23 01:27] wanghaoshuang opened #1431 "cannot import quant_post function"
以上问题的一个原因是：

PaddleSlim >= 2.3.0版本，需要依赖 PaddlePaddle >= 2.3.0。相关代码在这里：[code](https://github.com/PaddlePaddle/PaddleSlim/blob/v2.3.4/paddleslim/quant/__init__.py#L25)
PaddlePaddle 2.3.0rc0不符合以上依赖要求。
建议升级PaddlePaddle  [安装教程](https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/install/pip/linux-pip.html)

[2022-09-23 08:50] ginalee828 commented on #1406
Hi @shituo123456
 I've encountered the same issue with x2paddle==1.3.9
 Did you solve the problem?

[2022-09-27 02:08] Hyperpepe opened #1434 "PaddleX训练的模型使用paddleslim量化报错"
我在使用paddlex训练完成我自己的mobilenetv1模型后，参考https://paddle-lite.readthedocs.io/zh/develop/demo_guides/verisilicon_timvx.html
这个文档进行模型量化，是基于npu的模型量化，遇到了如下问题
![image](https://user-images.githubusercontent.com/74920047/192414646-d0886a52-78a9-48d9-81b6-d67e90ab6115.png)
看了原先其他人的讲法是paddleslim的版本过旧，那基于这个paddlelite npusoc的paddleslim量化方式建议同步改进，或者能否告诉我如何使用现有的模型进行转化

[2022-09-28 09:11] yghstill commented on #1434
根据报错，是由于model路径找不到，检查下输入的模型路径是否正确吧，还有model_filename是否指定的正确。

[2022-09-29 04:04] leiqing1 commented on #1429
@qiu-pinggaizi 转成onnx模型，只要tf serving支持onnx量化模型格式就行。

[2022-09-29 04:08] leiqing1 commented on #1418
@wchuan163 你好，如果使用lite部署全量化模型有问题，也欢迎部署群详细交流。（微信号：18813190139）

[2022-09-29 04:09] yghstill commented on #1422
目前solov2不支持量化蒸馏训练，原因是模型中含有控制流，merge蒸馏program和增加backward节点有问题，可以先在自动压缩中尝试离线量化超参搜索策略。

[2022-09-29 05:44] leiqing1 commented on #1401
@qiuming-93 hi 自动压缩工具正在打磨PP-OCRv3模型的压缩量化，欢迎关注，预计Q4会发布。

[2022-09-29 06:59] tomtcy opened #1442 "采用paddleslim静态离线量化api ，quant_post_static(), 量化之后，送入paddlelite进行推理，出现op_info->Hasinputscale（） check failed"
具体问题如图所示

<img width="796" alt="截屏2022-09-28 下午9 33 15" src="https://user-images.githubusercontent.com/55530624/192961586-71f615aa-6470-41ab-ae5d-ca59ea3bf75c.png">

[2022-09-29 07:00] wanghaoshuang commented on #1442
https://paddle-lite.readthedocs.io/zh/develop/user_guides/quant/quant_post_static.html
有参考这个教程么？
需要用opt工具转换slim产出的模型到nb格式：

3.1 模型转换
参考[模型转换](https://paddle-lite.readthedocs.io/zh/develop/user_guides/model_optimize_tool.html)准备模型转换工具，建议从 Release 页面下载。

参考[模型转换](https://paddle-lite.readthedocs.io/zh/develop/user_guides/model_optimize_tool.html)使用模型转换工具，参数按照实际情况设置。比如在安卓手机 ARM 端进行预测，模型转换的命令为：

./OPT

[2022-09-29 07:26] tomtcy commented on #1442
嗯嗯，我的模型有两个输入，我参考了这个网页下面的demo文档，将相应的静态离线量化脚本进行了修改，进行了量化。因为是在x86 寒武纪平台进行适配，因此没有采用opt 工具将其转化为 naive_buffer 类型。

[2022-09-29 08:10] wanghaoshuang commented on #1442
@tomtcy 给我发了量化模型结构文件，为旧格式，使用PaddleLite推理，出现以下错误：
<img width="936" alt="d4b588f7288116d16340d1515a4bbcd5" src="https://user-images.githubusercontent.com/7534971/192978157-4f793d79-e790-448e-a288-8836f5f9e841.png">

量化模型结构中，并没有对fill_any_like op做量化。
有两个问题：
1. Paddle Lite有对x86寒武纪平台适配过量化推理么？
2. Paddle Slim当前量化新格式，已经或能适配x86寒武纪平台么？ @jiangjiajun

更新：

PaddleInference通过onednn支持Slim量化新格式的模型在X86平台推理部署，但是咱不确定

[2022-09-29 08:22] jiangjiajun commented on #1442
@yeliang2258

[2022-09-29 08:25] wanghaoshuang commented on #1442
模型结构文件：
[__model__.zip](https://github.com/PaddlePaddle/PaddleSlim/files/9672640/__model__.zip)

[2022-09-29 08:34] yeliang2258 commented on #1442
用户你好，支持avx的机器上可以使用inference mkldnn部署量化模型，你可以先看看你的机器是否支持avx2或者avx512等指令，如果支持的话，可以用inference mkldnn来部署。

[2022-09-29 08:49] hong19860320 commented on #1442
@tomtcy PaddleLite+MLU370 是支持 int8 + fp32/fp16 混合精度的，从模型上看是内部业务，建议在内部群讨论。

[2022-09-30 02:51] wanghaoshuang opened #1444 "tensor is not found error in plot_activation_distribution of AnalysisQuant"
## 问题

如上图所示，在调用`plot_activation_distribution`方式，在scope未找到变量。

<img width="1191" alt="image" src="https://user-images.githubusercontent.com/7534971/193178392-89bc7421-0eb5-4213-b1d0-42a7351d502c.png">

## 原因

初步猜测，原因是在AnalysisQuant的初始化方法中注释掉了eval_function的调用逻辑，导致模型没有被执行，某些变量没有在scope中构造。注释掉eval_function的代码如下：
[code]

## 解决办法

给AnalysisQuant传递eval_function.

## 本质问题

当前AnalysisQuant的实现有问题：
- 没有对eval

[2022-09-30 03:04] wanghaoshuang opened #1445 "AnalysisQuant设计问题"
https://github.com/PaddlePaddle/PaddleSlim/blob/fe33833a6009ad1f2414a310039406c5366b80da/paddleslim/quant/analysis.py

这个功能能再简化一下么？

1. 初始化方法里调用离线量化+eval_function，合适么？
2. plot_activation_distribution、calculate_histogram等方法是不是可以拆到common package? 这和量化也不是强相关吧？

总之，AnalysisQuant定位不太清晰，主要是做Analysis，还是Quant?

[2022-10-08 06:50] wanghaoshuang opened #1446 "mul 剪枝过程中不支持的情况"
#  mul 稀疏化（剪枝）问题汇总

## Case 1
假设矩阵X的形状为[a, b, c], 矩阵 Y的shape为[d, e, f]
当矩阵X的num_col_dims=1时，意思是将X平铺为shape为[a, b*c]的矩阵X'
当矩阵X的num_col_dims=2时，意思是将Y平铺为shape为[d*e, f]]的矩阵Y'

当前对矩阵乘X' * Y'的Y’进行剪枝时：
- 在f维度上剪枝，即剪裁column，则X'不受影响
- 在d或e维度上剪枝，即剪裁rows，则需要调整X'的column。如上，X'的column为b*c。此时，不好判断如何调整b或c，故跳过该情况，不与支持。

检查以上逻辑的代码如下：
https://github.com/PaddlePaddle/PaddleSlim/blob/4d75cb9cecf5a02e789576b0c02ce7376615

[2022-10-09 02:41] xu-peng-7 opened #1448 "示例代码运行错误及修改"
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression
快速开始
* 3

CUDA_VISIBLE_DEVICES=0 python ./image_classification/eval.py
中使用了Global传参，但是eval.yaml中没有该参数，会直接报错。建议修改。

还有这里并没有git clone仓库 切换目录的过程，按照该流程无法直接运行得到eval结果。建议添加。

[2022-10-09 15:04] leiqing1 commented on #1448
感谢反馈问题。@ceci3 @yghstill  修正下这个产品易用性问题

[2022-10-10 04:00] wanghaoshuang opened #1453 "Compress ERNIE model from paddlepaddle1.8 with ACT"
![f68026f85972966f2acbb9d94d0aa5cb](https://user-images.githubusercontent.com/7534971/194797611-5d0e178e-27bd-4afe-9079-82899e8f62b7.png)

![3e26d3a6eec9a3a7e3aa36dec6ff66a9](https://user-images.githubusercontent.com/7534971/194797627-b9f6ff19-dc28-4c90-9f36-ec46303a6a10.png)

[2022-10-11 01:27] yearzhengcheng opened #1456 "Error when prune: __init__() missing 1 required positional argument: 'out_channels_list'"
[2022/10/11 09:10:12] ppocr INFO: Architecture :
[2022/10/11 09:10:12] ppocr INFO:     Backbone :
[2022/10/11 09:10:12] ppocr INFO:         last_conv_stride : [1, 2]
[2022/10/11 09:10:12] ppocr INFO:         last_pool_type : avg
[2022/10/11 09:10:12] ppocr INFO:         name : MobileNetV1Enhance
[2022/10/11 09:10:12] ppocr INFO:         scale : 0.5
[2022/10/11 09:10:12] ppocr INFO:     Head :
[202

[2022-10-11 03:10] qiu-pinggaizi commented on #1429
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression/pytorch_yolo_series#yolo%E7%B3%BB%E5%88%97%E6%A8%A1%E5%9E%8B%E8%87%AA%E5%8A%A8%E5%8E%8B%E7%BC%A9%E7%A4%BA%E4%BE%8B
![image](https://user-images.githubusercontent.com/52409244/194988142-115f556c-42ad-48ea-9ac6-c1c67b0befde.png)

图像中量化后的onnx格式模型能单独使用么，必须需要和.cache配合使用吗？可直接将onnx转换为saved_model？

[2022-10-11 08:22] Dora1483 commented on #1052
好的，我先看一下您的更新。谢谢您啦～

发自我的iPhone

------------------ Original ------------------
From: Guanghua Yu ***@***.***&gt;
Date: Sun,Apr 24,2022 3:57 PM
To: PaddlePaddle/PaddleSlim ***@***.***&gt;
Cc: Dora1483 ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [PaddlePaddle/PaddleSlim] TypeError: quant_post_static() got an unexpected keyword argument 'data_loader' (Issue #1052)

@Dora1483 嗯嗯，好的，我有空再看下，你先

[2022-10-11 08:34] Dora1483 commented on #1052
好的，我现在打包发您。

发自我的iPhone

------------------ Original ------------------
From: Guanghua Yu ***@***.***&gt;
Date: Fri,Apr 22,2022 8:00 PM
To: PaddlePaddle/PaddleSlim ***@***.***&gt;
Cc: Dora1483 ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [PaddlePaddle/PaddleSlim] TypeError: quant_post_static() got an unexpected keyword argument 'data_loader' (Issue #1052)

@Dora1483 转到paddle的模型可以打包发下，我这边也

[2022-10-11 09:25] Dora1483 commented on #1052
方便私发一个你们基于yolofastest的步骤或者教程么？

发自我的iPhone

------------------ Original ------------------
From: Guanghua Yu ***@***.***&gt;
Date: Sun,Apr 24,2022 10:48 AM
To: PaddlePaddle/PaddleSlim ***@***.***&gt;
Cc: Dora1483 ***@***.***&gt;, Mention ***@***.***&gt;
Subject: Re: [PaddlePaddle/PaddleSlim] TypeError: quant_post_static() got an unexpected keyword argument 'data_loader' (Issue #1052)

@Dora1483 yo

[2022-10-11 11:09] zzjjay commented on #1406
该问题是x2paddle和paddleslim版本不一致导致的；
如果使用的是paddleslim develop版，请安装x2paddle1.3.9；
如果使用的是paddleslim2.3版，则安装x2paddle1.3.8

[2022-10-12 09:54] zzjjay commented on #1456
看报错信息显示是构建网络结构的过程出错了，还没走到剪枝过程，请尝试检查下config文件设置是否正确，或者更新paddleocr再试试。

[2022-10-14 16:54] buhanyunfei opened #1465 "[question]RuntimeError: Can't load tokenizer for './afqmc'."
![b8c25b40fe9bade47aa736b38b5b3fc](https://user-images.githubusercontent.com/75259281/195900771-25ac2dda-11aa-4bae-a8f5-cf5ba709a13e.png)

[2022-10-14 16:56] buhanyunfei commented on #1465
我把路径删完了但还是会报一个错误
![image](https://user-images.githubusercontent.com/75259281/195901190-a1647c46-e4c9-4e95-92b8-db09977f3625.png)

[2022-10-16 12:09] livingbody opened #1467 "win11 报错“NameError: name 'platform' is not defined”"
## win11 报错“NameError: name 'platform' is not defined”

如题，跑 PaddleSlim-develop\example\auto_compression\semantic_segmentation 的 例子，报错
[code]

[2022-10-17 01:47] zzjjay commented on #1467
该分割模型的自动压缩示例（configs/pp_humanseg/pp_humanseg_auto.yaml）使用了延时预估器功能，延时预估器暂不支持在Windows系统使用，请尝试在Linux系统上测试该示例~

或使用非结构化稀疏、量化示例（configs/pp_humanseg/pp_humanseg_qat.yaml）进行自动压缩，这些示例不受系统环境影响~

[2022-10-17 02:39] ceci3 commented on #1465
看起来paddle安装的是有问题的，可以按照提示重新安装一下paddle试试

[2022-10-19 03:38] Yamabukiss opened #1471 "请问支持什么权重和激活函数的量化类型 and 什么类型的预处理方法"
我好像只在QAT源码中看到了有type 但是config中没有说明 还有请问在paddlelite上进行推理支持什么量化类型进行量化产生的量化模型呢

[2022-10-20 08:59] buhanyunfei opened #1475 "run.sh中没有dataset的字段"
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression/nlp
![image](https://user-images.githubusercontent.com/75259281/196904565-0afe1394-ad1d-469f-a8d5-15e567fc3feb.png)
![image](https://user-images.githubusercontent.com/75259281/196904626-da291ec0-43f6-422e-b6d5-c8f1b6ab6fa0.png)

[2022-10-20 09:00] buhanyunfei commented on #1475
应该是改yaml里的dataset字段

[2022-10-21 05:10] Hyperpepe commented on #1434
能够确定的是paddleslim的模型版本问题，主要是模型文件里面没有这个_model_这个文件，paddlex 1.0支持，但是目前还没有成功

[2022-10-25 05:09] yghstill commented on #1471
权重量化支持abs_max或者channel_wise_abs_max，激活支持abs_max。预处理方法目前支持PACT。PaddleLite上都支持

[2022-10-25 05:15] Yamabukiss commented on #1471
请问意思是paddlelite上支持您这句回答里的方法还是说paddlelite支持所有类型的量化方法？

[2022-10-25 10:10] yghstill commented on #1471
目前PaddleSlim中量化算法产出的模型，在paddlelite上基本都支持

[2022-10-31 09:19] Hyperpepe opened #1487 "PaddleSlim安装情况时的一些问题"
### 环境
system：win11+WSL2【Ubuntu20.04】
paddle：develop
PaddleSlim：git version
conda环境：python3.6
### 问题
在新建的conda环境中安装好paddle的develop版本后，在根据文档提示安装paddleslim时发生了报错
安装文件如下
![image](https://user-images.githubusercontent.com/74920047/198971112-f2949348-a525-4404-b191-7e0ca74ac962.png)
报错环节为最后一行命令
下面是报错
[code]
这是使用sudo su命令获取到权限后执行的setup命令结果，
[log.txt](https://github.com/PaddlePaddle/PaddleSlim/files/9899

[2022-10-31 11:28] 2050airobert commented on #1288
hello @yghstill
      Any thing of tinypose qat  updated？
      tinypose qat 和全量化分别有相应的进展和发布吗？ 或者年底有计划了吗
BR

[2022-11-01 02:27] 2050airobert opened #1488 "tinypose qat demo missing！"
hi，
      https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression/detection 请问下啥时候会有tinypose的qat全量化的demo呢？ 目前看来，用不起来，训练的时候loss都是nan，ru如下图所示:
![image](https://user-images.githubusercontent.com/8407513/199145264-04520186-34a1-40d4-8bc6-7ef7c72fe845.png)

BR

[2022-11-01 06:01] huyuanchao opened #1490 "num_workers 是怎么设置"
train_loader = paddle.io.DataLoader(dataset, batch_size=32, shuffle=True, drop_last=True, num_workers=4)

val_loader = paddle.io.DataLoader(dataset, batch_size=32, shuffle=False, drop_last=True, num_workers=4)

我用同服务器的8张卡训练和验证，是否需要指定num_workers，需要设置成多少？

[2022-11-01 07:59] iamWHTWD commented on #1487
建议更新到python>=3.7的环境试一试；

[2022-11-01 08:02] iamWHTWD commented on #1487
@pigpigfang 建议在python>=3.7环境试一试；

[2022-11-01 09:37] huyuanchao opened #1491 "技术交流微信群 二维码过期了，谁可以给一个新的群 或者交流渠道"
百度飞桨 如流群

[2022-11-01 10:46] hhxdestiny commented on #1406
[code]
以上环境仍然会复现该问题

[2022-11-01 11:11] 2050airobert opened #1492 "picodet 全量化版本bug！"
hi，
  按照下述的链接，复现后结果跟文档不符
https://github.com/PaddlePaddle/PaddleSlim/tree/v2.4rc/example/full_quantization/picodet
 具体如下图所示:
![image](https://user-images.githubusercontent.com/8407513/199220355-8c34bc31-c852-4cb4-80d8-fdf5673baa23.png)
也就是说量化训练过程是有bug的，我的版本完全按照该文档所示的都是最新release版本具体如下
![image](https://user-images.githubusercontent.com/8407513/199220499-e2d08ab1-727c-40c6-b589-9affa1e3ab83.png)
期待pp大

[2022-11-01 11:31] hhxdestiny opened #1493 "yolov5 v6.1自动压缩失败"
参考[`YOLO`系列模型自动压缩示例#自动压缩流程](https://github.com/PaddlePaddle/PaddleSlim/blob/develop/example/auto_compression/pytorch_yolo_series/README.md#自动压缩流程)
[code]
运行`run.py`报以下错误
[code]
参考[`Paddle issues 44571`](https://github.com/PaddlePaddle/Paddle/issues/44571#issuecomment-1268797171)
[code]
再运行`run.py`报以下错误
[code]
参考[`X2Paddle issues 901`](https://github.com/PaddlePaddle/X2Paddle/issues/901#issuecommen

[2022-11-02 02:00] leiqing1 commented on #1492
如果在自己数据上训练，需要适当调整超参数哈。譬如learning rate等参数。
可以按照Paddle Detection里面的来，先在自己数据上训练全精度的网络，随后在用全量化能力完成全量化操作。这个过程已经集成到PaddleDetection里面了：https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.5/configs/picodet/FULL_QUANTIZATION.md

[2022-11-02 03:27] 2050airobert commented on #1492
补充:
1 相关pp repo如下
![image](https://user-images.githubusercontent.com/8407513/199388463-5913e5e0-b419-4d56-8ff1-8857b265dc56.png)
2 如果采用之前你们专门为专题issue定制的验证模型tinypose_act.tar.gz
[tinypose_act.tar.gz](https://github.com/PaddlePaddle/PaddleSlim/files/9915740/tinypose_act.tar.gz)
 ，采用如下配置
![image](https://user-images.githubusercontent.com/8407513/199389657-3d09ff92-bf4c-42e5-8ddb-def24840ae49.png)
命令如下

[2022-11-02 07:19] Hyperpepe commented on #1487
这是我的一些安装情况，情况比较糟糕。
[code]

[code]
但是依旧报错
[code]

[2022-11-03 02:14] Hyperpepe commented on #1487
使用场景是工业环境，项目尚处于研发测试阶段，这个问题困扰很久了。

[2022-11-03 09:45] Dora1483 opened #1500 "ImportError: cannot import name '_legacy_C_ops' from 'paddle' (/home/ubuntu/anaconda3/envs/xl_paddleslim/lib/python3.8/site-packages/paddle/__init__.py)"
环境问题。 找不到对应的包。

[2022-11-04 01:17] wanghaoshuang commented on #1488
请问，是用的这个配置文件吗？
https://github.com/PaddlePaddle/PaddleSlim/blob/develop/example/auto_compression/detection/configs/tinypose_qat_dis.yaml

[2022-11-04 01:21] wanghaoshuang commented on #1500
请问您用的PaddlePaddle版本是？

[2022-11-04 01:26] wanghaoshuang commented on #1490
https://www.paddlepaddle.org.cn/documentation/docs/zh/2.4rc/api/paddle/io/DataLoader_cn.html#dataloader
num_workers用于加速数据读取，并不影响训练逻辑

[2022-11-04 01:28] wanghaoshuang commented on #1500
建议使用PaddleSlim2.4.0RC + PaddlePaddle2.4.0RC
或 PaddleSlim2.3.4 + PaddlePaddle2.3.2

[2022-11-07 15:09] weijingsu opened #1505 "IndexError: tuple index out of range"
/home/aistudio/work/PaddleSlim-release-2.4/example/auto_compression/detection
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/setuptools/depends.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
[11-07 22:19:51 MainThread @logger.py:242] Argv: run.py --config_path=./configs/ppyoloe_s_qa

[2022-11-07 15:46] weijingsu commented on #1505
请问一下百度的各位大神，这个问题在哪里呢？

[2022-11-08 01:25] Richard-mei commented on #1500
你好，我也遇到此问题，尝试过2.3.4+2.3.2和2.3.0+2.3.0，都是同样错误
[code]

[code]

[2022-11-08 05:53] Hap-Zhang commented on #1493
请问这个问题有人帮忙看下不，我使用Yolov5x也遇到同样的问题了

[2022-11-08 07:16] Hongyuan-Liu opened #1506 "RuntimeError: (NotFound) Attribute op_role is not found."
执行如下命令：
CUDA_VISIBLE_DEVICES=0,1,2,3 python -m paddle.distributed.launch --log_dir=log --gpus 0,1,2,3 run.py \
          --config_path=./configs/yolov7_tiny_qat_dis.yaml --save_dir='./output/'
报下面的错误：
2022-11-08 15:06:05,044-INFO: Total iter: 970, epoch: 0, batch: 970, loss: [9.762854]
2022-11-08 15:06:06,677-INFO: Total iter: 980, epoch: 0, batch: 980, loss: [9.984757]
2022-11-08 15:06:08,339-INF

[2022-11-08 07:57] Fordacre opened #1507 "AttributeError: 'MAOutputScaleLayer' object has no attribute 'gold_score'"
在使用QAT进行模型量化的过程中，训练报错，AttributeError: 'MAOutputScaleLayer' object has no attribute 'gold_score'。
![image](https://user-images.githubusercontent.com/12699033/200506533-3fdf3fdd-1ba9-4f69-962d-7ae284305b4d.png)
报错layer为自定义layer。可以麻烦帮忙看一下如何解决这个问题嘛。

[2022-11-09 02:35] yghstill commented on #1493
@Hap-Zhang @hhxdestiny 安装x2paddle==1.3.9，然后paddleslim安装2.4.rc0版本就可以了。
[code]

[2022-11-09 02:37] yghstill commented on #1507
@Fordacre 如果是自定义layer，你将该类不继承自nn.Layer再试下。（跳过该类的量化）

[2022-11-09 02:37] yghstill commented on #1506
@Hongyuan-Liu 你的Paddle版本是多少？更新到paddle 2.4.0rc版本试下呢？可以从这里下载：https://www.paddlepaddle.org.cn/whl/linux/mkl/avx/stable.html

[2022-11-09 02:39] yghstill commented on #1505
你的ppyoloe_plus_crn_s_80e_coco模型带nms吗？

[2022-11-09 02:40] yghstill commented on #1505
@weijingsu ppyoloe_plus的自动化压缩可直接使用ppdet中的demo运行：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.5/deploy/auto_compression

[2022-11-09 02:49] Richard-mei commented on #1500
我发现可能是因为我的脚本放在了PaddleSlim工程目录下，此目录下有paddleslim，所以导致import paddleslim出错？

[2022-11-09 03:54] weijingsu commented on #1505
@yghstill ppyoloe_plus_crn_s_80e_coco模型带nms的

[2022-11-09 05:02] Fordacre commented on #1507
尝试了一下，不继承的话很多nn.Layer的功能都用不了了，模型无法运行。这里有什么参数能够设置取消这一层不进行量化嘛。

[2022-11-09 06:32] Hap-Zhang commented on #1493
@yghstill 多谢回复，我刚刚试了下，按照您说的这样操作后，会有新的报错出现，感觉paddle是不是不支持yolov5模型中的Resize op?
![image](https://user-images.githubusercontent.com/32810063/200756351-b56b8d3a-accb-438c-86c0-684bf4d1cf07.png)

[2022-11-09 07:40] weijingsu commented on #1505
非常感谢，您给的这个方法可行！

[2022-11-10 03:18] lvchigo opened #1511 "请问有没有针对语音识别的模型压缩方案或规划？？"
- 如题；有没有针对语音识别的模型压缩方案、或规划？？
- 语音识别框架，例如wenet，kaldi等；

[2022-11-10 06:00] yghstill commented on #1507
@Fordacre
1. MAOutputScaleLayer这个只是收集每个op输出的量化scale信息，你可以gold_score这个属性通过self._layer.gold_score获取。
2.  也可以将还有gold_score属性的a设置a.skip_quant = True，然后修改Paddle安装路径下的 `python/paddle/fluid/contrib/slim/quantization/imperative/qat.py`的ImperativeQuantizeOutputs类里的446行：

[code]

[2022-11-10 08:07] ceci3 commented on #1511
有计划哈~ Q4会先针对PaddleSpeech的一两个模型去做压缩

[2022-11-11 02:07] Fordacre commented on #1507
问题已解决，感谢。
另外请问一下，在使用QAT的时候，一般训练的epoch和学习率是如何设置的呢，和基础训练保持一致嘛，还是需要小一些的epoch和学习率呢。

[2022-11-11 02:07] #1507 closed, assigned to nobody

[2022-11-11 02:36] wanghaoshuang opened #1515 "不同版本的yapf行为不一致"
1. 在PaddleSlim中，是从github安装的yapf，https://github.com/PaddlePaddle/PaddleSlim/blob/develop/.pre-commit-config.yaml#L11
版本为[yapf==0.13.2](https://github.com/PaddlePaddle/mirrors-yapf/blob/paddle_customize_version/setup.py#L7)，

2. CI server用的应该不是yapf==0.13.2，或者，配置文件.style.yapf没生效

## yapf==0.13.2 与 yapf==0.32.0  结果不一致
可以通过pip install yapf==0.13.2 安装

### yapf==0.13.2 结果

无diff

### yapf==0.32.0 结果

[c

[2022-11-11 03:19] lucy3589 opened #1516 "Can yolov7 be pruned?"
from yolov7.yaml，have no pruning.
Can yolov7 be pruned?

[2022-11-11 06:45] leiqing1 commented on #1511
@lvchigo 我们最近正在筹备Speech模型的压缩，如有需要可以加我微信详细沟通：18813190139

[2022-11-15 03:31] aiyodiulehuner commented on #1130
我也报同样的问题

[2022-11-15 07:27] yghstill commented on #1516
@lucy3589 yolov7 pruning accuracy loss is large, so it is not used.

[2022-11-16 06:59] moonlightian opened #1521 "调用autocompress的非结构化剪枝工具后模型参数文件大小不发生变化"
请问autocompress的非结构化剪枝是只对模型的参数做置零处理，其实并不改变模型结构吗？发现剪枝前后的模型参数文件model.pdiparams并未发生改变

[2022-11-17 02:23] lilianjie111111 opened #1522 "请问paddleslim支持对onnx的量化吗？"

[2022-11-18 01:46] futureflsl opened #1525 "pdiparams转换成动态batch"
pdiparams权重看了是1 3 640 640怎么转成动态batch-1 3 640 640

[2022-11-18 01:54] futureflsl opened #1526 "yolov5s自动压缩后的pdparems权重能保存成动态的batch吗"
我用ylov5s onnx自动压缩生成pdprarms文件，但是netron打开是1x3x640x640怎么保存成动态的batch -1x3x640x640

[2022-11-19 07:36] hhxdestiny commented on #1493
试了一下还是不行
[code]

[2022-11-19 07:52] hhxdestiny commented on #1493
试了一下还是不行
[code]

我看有人提过很详细的[issues910](https://github.com/PaddlePaddle/X2Paddle/issues/910)，应该是x2paddle的问题

[2022-11-19 07:54] hhxdestiny commented on #1493
@yghstill

试了一下还是不行
[code]

我看 @Hap-Zhang  提过很详细的[issues910](https://github.com/PaddlePaddle/X2Paddle/issues/910)，应该是x2paddle的问题

[2022-11-21 03:44] ceci3 commented on #1521
是的，模型结构没有改变，是参数里的部分参数置零，所以pdiparams大小不发生变化

[2022-11-21 03:44] ceci3 commented on #1522
支持的，可以参考：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression/pytorch_yolo_series

[2022-11-21 03:46] ceci3 commented on #1525
权重还是输入？权重大小是固定的，输入可以是动态batch，可以看下pdmodel里的输入shape

[2022-11-21 03:46] ceci3 commented on #1526
在 https://github.com/PaddlePaddle/PaddleSlim/issues/1525 进行回复

[2022-11-21 03:46] ceci3 commented on #1526
参考：https://github.com/PaddlePaddle/PaddleSlim/issues/1525

[2022-11-21 08:04] Hyperpepe opened #1529 "PaddleSlim 自动压缩压缩paddleX训练的picodet模型失败"
使用的是刚发布的fastdeploy的历程。
需要重训和全量化训练picodet或者其他模型，但是目前只有一种可用
于是使用了paddlex训练了一个基于自己训练集的picodet模型。
下面是参考链接。
[https://github.com/PaddlePaddle/FastDeploy/tree/develop/examples/vision/detection/paddledetection/rk1126/picodet_detection](url)

[https://github.com/PaddlePaddle/PaddleDetection/blob/develop/configs/picodet/FULL_QUANTIZATION.md](url)

基本未改动config文件，只是规定了模型位置等关键信息。
不知道发生了什么错误导致一直报错。

报错信息

[code

[2022-11-21 09:22] yghstill commented on #1529
@pigpigfang 你的./model/存放的是导出的预测模型吗？是否含有model.pdmodel和model.pdiparams

[2022-11-22 01:31] Hyperpepe commented on #1529
有的，是导出的预测模型。不然会读不到模型的。

[2022-11-22 02:44] futureflsl opened #1531 "自动压缩ppyoloe训练过程中马上变成nan调整学习率无用"
降低学习率很多个级别都不行
python run.py --config_path configs/ppyoloe_s_qat_dis.yaml
-----------  Running Arguments -----------
 Distillation:
         alpha: 1.0
         loss: soft_label
 Global:
         Evaluation: True
         arch: PPYOLOE
         model_dir: ./ppyoloe_crn_s_300e_coco
         model_filename: model.pdmodel
         params_filename: model.pdiparams
         reader_config: configs/yolo_r

[2022-11-22 03:04] ceci3 commented on #1529
可以安装下最新的develop 的paddleslim试下，另外可以把你要压缩的pdmodel文件传上来吗？

[2022-11-22 03:10] yghstill commented on #1531
@futureflsl 看你的学习率比较小了，比较奇怪，可以尝试以下修改再试下：
1. 配置文件中use_pact设为False
2. 改为单卡训练
3. 确认下ppyoloe_crn_s_300e_coco这个模型是不包含nms的吗？导出时设置exclude_post_process=True了没？使用官方demo是否能直接跑通

[2022-11-22 04:57] futureflsl commented on #1531
我试试，官方demo是能直接跑通的

[2022-11-22 05:13] Hyperpepe commented on #1529
ok

[https://github.com/pigpigfang/605-1.git](url)
里面有个model.tar,就是训练完成后生成的所有文件了

[2022-11-22 07:20] LiquorPerfect opened #1539 "使用自动压缩工具prune_dis对模型进行减枝模型参数变大"
padddleslim使用的develop版本
paddle版本是paddle2.4rc0
自动化压缩使用的是PaddleSlim-develop/example/auto_compression/image_classification/run.py
配置文件是PaddleSlim-develop/example/auto_compression/image_classification/configs/MobileNetV3_large_x1_0/prune_dis.yaml

对分类模型的减枝，执行命令python run.py后，**模型参数大小变大了**。

原始模型参数：
![image](https://user-images.githubusercontent.com/36955510/203250784-258fbfaf-1d50-4f7e-8624-21041cae5b

[2022-11-22 07:42] jiaerwang0328 opened #1541 "采用官方提供的量化后模型，精度很低"
从这里下载的模型
![选区_159](https://user-images.githubusercontent.com/38750407/203253602-0ea75165-e5b4-41d7-8733-d58cf0f05196.jpg)
在post_training_quantization/pytorcho_series目录下执行 python eval.py --config=./configs/yolov7_ptq.yaml命令
配置文件为：
![选区_161](https://user-images.githubusercontent.com/38750407/203254262-77e76b5f-d804-4251-bf30-0fc414cc482a.jpg)

得到精度如下
![选区_160](https://user-images.githubusercontent.c

[2022-11-22 08:07] ceci3 commented on #1539
您好，可以把剪枝后的模型参数文件发我们看下嘛？

[2022-11-22 08:12] ceci3 commented on #1541
这个模型需要放到实际的推理环境下去测试精度，使用 暂时不支持直接使用eval.py去测试，可以使用https://github.com/PaddlePaddle/PaddleSlim/blob/develop/example/auto_compression/pytorch_yolo_series/paddle_inference_eval.py 这个脚本测试哈

[2022-11-22 08:12] yghstill commented on #1541
@jiaerwang0328 请直接使用https://github.com/PaddlePaddle/PaddleSlim/blob/develop/example/auto_compression/pytorch_yolo_series/paddle_inference_eval.py 脚本测试精度吧。
目前配置文件中onnx_format=True时默认导出的是全量化的模型，使用fake的测试脚本eval.py测试精度不准确，可以直接使用paddle Inference或者TRT脚本在真实预测库下测试精度。

[2022-11-22 08:14] ceci3 commented on #1529
导出模型的时候需要去掉后处理，自动压缩暂时不支持对有后处理的模型的压缩

[2022-11-22 08:16] Hyperpepe commented on #1529
好的我试试

[2022-11-22 08:38] jiaerwang0328 commented on #1541
感谢回复！！！，运行[这个](https://github.com/PaddlePaddle/PaddleSlim/blob/develop/example/auto_compression/pytorch_yolo_series/paddle_inference_eval.py)脚本，python paddle_inference_eval.py --model_path=output --image_file=images/000000570688.jpg --use_trt=True --precision=int8  报错：
环境：paddlepaddle=2.3.2,paddleslim==2.3.2,cuda 11.1
![选区_162](https://user-images.githubusercontent.com/38750407/203265405-ab58c74e-

[2022-11-22 09:39] ceci3 commented on #1541
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression/pytorch_yolo_series#4%E9%A2%84%E6%B5%8B%E9%83%A8%E7%BD%B2
可以根据预测部署流程来，这个报错是因为安装的不是带有trt的paddle 推理库

[2022-11-22 09:58] lucy3589 commented on #1516
yolov7_x or bigger yolov7_models,they don't fit either?

[2022-11-23 02:00] LiquorPerfect commented on #1539
![image](https://user-images.githubusercontent.com/36955510/203456042-709ee080-0221-4d63-a4b3-928b05eae266.png)
模型没用减枝，同时好像把权重也再模型pdmodel中

[2022-11-23 06:56] ceci3 commented on #1539
好的，我复现一下看看哈

[2022-11-23 07:41] ceci3 commented on #1539
你好，这个配置是非结构化稀疏的配置，mask矩阵也保存下来了，所以参数增加了一倍，这个我们修复下

[2022-11-23 08:45] ceci3 commented on #1539
修复pr：https://github.com/PaddlePaddle/PaddleSlim/pull/1548

[2022-11-24 06:27] #1539 closed, assigned to nobody

[2022-11-25 06:03] wuminjie12 opened #1554 "量化训练不生成calibration_file"
自动压缩量化训练后只生成onnx模型，没有生成calibration.cache

[2022-11-25 06:18] lilianjie111111 opened #1557 "yoloe是否支持自动压缩？对精度速度的影响如何？"

[2022-11-25 08:16] LiquorPerfect commented on #1539
还是没用修复好呀，一样的问题。
![image](https://user-images.githubusercontent.com/36955510/203932082-581033c2-e357-4296-863b-486ef81dfcd9.png)
上图左边是最新的develop，右边是我本地修改的。
![image](https://user-images.githubusercontent.com/36955510/203933210-f7b8b330-47e3-436a-bd91-a15cd9bab725.png)

[2022-11-25 09:38] ceci3 commented on #1554
develop版本的paddle下量化不会产出calibration.cache文件

[2022-11-25 09:43] ceci3 commented on #1557
支持，可以参考：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/example/auto_compression/detection#2benchmark

[2022-11-25 09:52] ceci3 commented on #1539
安装最新的paddleslim，或者2.4.0的slim试下

[2022-11-26 10:35] LiquorPerfect commented on #1130
你好，我也是一样的问题，我是在run的时候就报错。ppyoloe_l和ppyolo_s都会报一样的错误。麻烦复现排查一下。
paddle版本：paddle2.4rc0
paddleslim版本，PaddleSlim-develop
![image](https://user-images.githubusercontent.com/36955510/204084389-0ae5c951-30e8-4ba9-81d8-f219c120d95d.png)
![image](https://user-images.githubusercontent.com/36955510/204084401-8a756762-6fb3-4eb4-a52c-c6ad81684b84.png)

[2022-11-28 02:06] maiquanshen opened #1558 "ch_PP-OCRv3_rec_slim_infer int8量化问题"
python3.7 tools/save_quant_model.py --quant_model_path=./ch_PP-OCRv3_rec_slim_infer --quant_model_filename=inference.pdmodel --quant_params_filename=inference.pdiparams --int8_model_save_path=./ch_PP-OCRv3_rec_slim_infer/int8

--- Fused 0 subgraphs into layer_norm op.
--- fused 0 pairs of fc lstm patterns
--- fused 0 pairs of fc gru patterns
--- fused 0 pairs of concatenated multi_gru ops
--- fuse

[2022-11-28 08:27] liroda opened #1561 "请问，语音合成声学模型，能否paddleslim进行量化呢？模型fastspeech2"

[2022-11-28 08:42] alfheim1993 opened #1562 "自动压缩c++部署，trt_run不管用哪个run_mode速度都都一样？"

[2022-11-28 08:44] alfheim1993 commented on #1562
./build/trt_run --arch YOLOv7 --model_file ../yolov7_tiny_quant/model.pdmodel --params_file ../yolov7_tiny_quant/model.pdiparams --run_mode=trt_int8 --trt_min_subgraph_size 100

I1128 08:41:12.912881  3316 trt_run.cc:101] [trt_int8 bs-1 ] run avg time is 15.4254 ms

./build/trt_run --arch YOLOv7 --model_file ../yolov7_tiny_quant/model.pdmodel --params_file ../yolov7_tiny_quant/model.pdiparams --ru

[2022-11-28 10:39] Syunraii commented on #1288
@2050airobert
大佬你好！
       翻issue经常看到您的回复，所以斗胆请教您几个问题，希望不要介意。

是这样的，我最近在试着用paddlelite将tinypose部署在npu板子上的test，得知tinypose可能需要全量化才能进行下去，所以是否需要对tinypose的源数据集(coco+aic)进行训练才能进行全量化？ 但数据集貌似太大，自己训练成本可能过高，而且我看paddleDetection文档也没有提供数据集的下载地址，找过的一个aic的数据集结果对不上json所以无法进行训练；

或者是否可以直接使用文档提供好的.pdmodel和.pdiparams可以直接用paddleslim量化？大概的步骤应该怎么做呢？

如果您有看到这条消息，烦请您抽出一点时间指教两句，我将感激不尽。
BR

[2022-11-29 08:05] yghstill commented on #1562
@alfheim1993 trt_min_subgraph_size设置的太大了，设置成3就可以，不然会导致速度慢特别多。并且trt_fp32模式下，需要加载非量化的模型，否则算子融合等会有问题。

[2022-11-29 08:09] yghstill commented on #1561
@liroda 理论上是支持的，但fastspeech2模型目前还没尝试过量化。

[2022-11-29 08:16] yghstill commented on #1558
@maiquanshen 你是要转换成在MKLDNN上部署的量化模型吗？

[2022-11-29 08:20] maiquanshen commented on #1558
是的。检测模型ch_PP-OCRv3_det_slim_infer是可以成功转换的，识别模型就出现上面的问题了

[2022-11-29 08:20] maiquanshen commented on #1558
是的。检测模型ch_PP-OCRv3_det_slim_infer是可以成功转换的，识别模型就出现上面的问题了

[2022-11-29 09:54] alfheim1993 commented on #1562
感谢回复，我之所以设置成100的原因是设成3的时候模型推理会报错，错误如下
----------------------
Error Message Summary:
----------------------
InvalidArgumentError: The input [fill_constant_5.tmp_0] shape of trt subgraph is [1].it's not supported by trt so far
  [Hint: Expected shape.size() != 1UL, but received shape.size():1 == 1UL:1.] (at /paddle/paddle/fluid/inference/tensorrt/engine.h:141)

[2022-11-30 05:57] litao-zhx opened #1565 "YOLOv5s量化后转换会onnx报错"
在用paddleslim对YOLOv5s进行ACT压缩后，转换回ONNX时报错如下：
![image](https://user-images.githubusercontent.com/76981650/204718870-fbb00552-1486-49bd-8579-3737bdbdcb1e.png)
报错上看，是paddle2onnx不支持量化后的模型，是这样吗？

[2022-11-30 09:18] www7890 commented on #1565
我也遇到一樣的狀況，我用的是yolov7 我自己訓練的模型，轉回onnx時也遇到一樣的錯誤

[2022-11-30 10:20] liroda commented on #1561
请问这块建议使用哪种量化方式比较好呢？