[2020-01-06 09:00] chunyisong opened #26 "在aistudio上运行sa_nas_mobilenetv2出现错误"
运行时输出如下：
aistudio@jupyter-7623-23204:~/work/PaddleSlim/demo/nas$ python sa_nas_mobilenetv2.py --class_dim 10 --lr 0.01
Namespace(batch_size=256, class_dim=10, data='cifar10', is_server=True, lr=0.01, search_steps=100, use_gpu=True)
2020-01-06 16:57:17,903-INFO: range table: ([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [7, 5, 8, 6, 2, 5, 8, 6, 2, 5, 8, 6, 2, 5, 10,

[2020-01-08 02:30] ceci3 commented on #26
您好，请问下paddle版本是？ python是3.7吗？

[2020-01-08 03:26] ceci3 commented on #26
您好，是因为python3.7中， int、int32和int64都被当成是不同的类型导致的。可以把 /opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/layers/utils.py中的41行修改为 `if isinstance(value, dtype) or isinstance(value, np.int64) or isinstance(value, np.int32):` 暂时解决一下，后续会修复这个问题。

[2020-01-10 00:09] chunyisong commented on #26
好的，谢谢

[2020-01-10 00:09] #26 closed, assigned to ceci3

[2020-02-03 03:10] wanghaoshuang opened #57 "[DocumentTranslation]API-prune"
https://paddlepaddle.github.io/PaddleSlim/api/prune_api/

[2020-02-03 03:14] wanghaoshuang opened #58 "[DocumentTranslation]API-distillation"
https://paddlepaddle.github.io/PaddleSlim/api/single_distiller_api/

[2020-02-03 03:14] wanghaoshuang opened #59 "[DocumentTranslation]API-quantization"
https://paddlepaddle.github.io/PaddleSlim/api/quantization_api/

[2020-02-03 03:16] wanghaoshuang opened #60 "[DocumentTranslation]API-sanas"
https://paddlepaddle.github.io/PaddleSlim/api/nas_api/

[2020-02-03 03:17] wanghaoshuang opened #61 "[DocumentTranslation]tutorials-prune"

[2020-02-03 03:34] slf12 commented on #59
@slf12

[2020-02-03 07:42] baiyfbupt opened #62 "[DocumentTranslation]tutorials-distillation"

[2020-02-04 02:37] ceci3 opened #66 "[DocumentTranslation]tutorials-sanas"
https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/docs/tutorials/nas_demo.md

[2020-02-04 02:38] ceci3 opened #67 "[DocumentTranslation]search space"
https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/docs/search_space.md

[2020-02-04 02:53] slf12 opened #68 "[DocumentTranslation] tutorials-quantization"
https://paddlepaddle.github.io/PaddleSlim/tutorials/quant_post_demo/
https://paddlepaddle.github.io/PaddleSlim/tutorials/quant_aware_demo/
https://paddlepaddle.github.io/PaddleSlim/tutorials/quant_embedding_demo/

[2020-02-04 04:01] wanghaoshuang opened #71 "[DocumentTranslation]API-analysis"
https://paddlepaddle.github.io/PaddleSlim/api/analysis_api/

[2020-02-04 04:04] wanghaoshuang opened #72 "[DocumentTranslation]API-table_latency"
https://paddlepaddle.github.io/PaddleSlim/table_latency/

[2020-02-04 04:08] wanghaoshuang opened #73 "[DocumentTranslation]home page"
https://paddlepaddle.github.io/PaddleSlim/

[2020-02-04 04:08] wanghaoshuang opened #74 "[DocumentTranslation]model zoo"
https://paddlepaddle.github.io/PaddleSlim/model_zoo/

[2020-02-09 05:02] zhizunbao-y opened #95 "安装时错误"
使用从clone代码安装会报错：
[code]
使用pip安装不会报错，但运行代码会报上述错误

[2020-02-10 02:54] #71 closed, assigned to wanghaoshuang

[2020-02-10 02:54] #57 closed, assigned to wanghaoshuang

[2020-02-10 07:59] #62 closed, assigned to baiyfbupt

[2020-02-10 08:02] #68 closed, assigned to slf12

[2020-02-10 12:49] #59 closed, assigned to slf12

[2020-02-10 13:30] #61 closed, assigned to wanghaoshuang

[2020-02-10 14:33] #60 closed, assigned to ceci3

[2020-02-10 14:33] #66 closed, assigned to ceci3

[2020-02-10 14:33] #67 closed, assigned to ceci3

[2020-02-11 01:13] slf12 commented on #95
请安装最新版的paddle再试一下

[2020-02-11 03:17] #58 closed, assigned to baiyfbupt

[2020-02-11 08:06] #73 closed, assigned to baiyfbupt

[2020-02-11 12:39] zhizunbao-y commented on #95
@slf12 在annaconda环境里使用最新的paddlepaddle-gpu-1.6.3仍是这个错误

[2020-02-12 02:03] slf12 commented on #95
确认了下，需要安装paddle latest版本，可在  https://www.paddlepaddle.org.cn/install/doc/tables 里找到，PostTrainingQuantization 会在1.7版本里加入

[2020-02-12 14:52] #95 closed, assigned to nobody

[2020-02-12 15:10] zhizunbao-y opened #107 "如何理解敏感度裁切中的greedy_prune和普通的prune区别？"
1.如提问
2.下列代码中 ，#标出的部分有何意义？为什么要乘2？
[code]
3.下列代码中min_loss和max_loss初始值均为0，会导致while循环不执行
[code]

[2020-02-12 15:51] zhizunbao-y opened #108 "analysis中的model_size计算"
该计算中对于模型中bn层，除了scale和offset外，将mean和variance也统计为了参数量，后两者没有经过优化算法优化过，不是学习到的 ，是否应该算作参数量？

[2020-02-13 04:02] wanghaoshuang commented on #107
`greedy_prune`一次只会剪裁`topk`不敏感的卷积层，`topk`默认为1.
`prune`一次会剪裁所有指定的卷积层。

[2020-02-13 04:42] wanghaoshuang commented on #107
这里代码是在估算：剪掉当前卷积层多少channel才能使模型的整体FLOPs减少指定的比例。

step1： 先剪掉50%的channel
[code]

step 2: 剪掉50%channel后，FLOPs减少了多少？

[code]

step 3: FLOPs要减少10%， channel应该减少多少?

x/50% = target_pruned_flops / (base_flops - flops(pruned_program))
x = target_pruned_flops / (base_flops - flops(pruned_program))*2 #####所以有个2

[2020-02-13 04:45] wanghaoshuang commented on #107
这里确实有问题，非常感谢反馈。
另外，更推荐参考这个教程，计算完敏感度后，手动调用剪裁接口：
https://paddlepaddle.github.io/PaddleSlim/tutorials/image_classification_sensitivity_analysis_tutorial.html

[2020-02-13 04:49] zhizunbao-y commented on #107
感谢解答

[2020-02-13 04:49] #107 closed, assigned to nobody

[2020-02-13 04:50] wanghaoshuang commented on #108
直观上理解，在保存模型用作线上预测时，计算`model_size`需要包含所有需要保存在文件系统的变量。

mean和variance其实也是学习到的，只不过学习的方法是简单的统计。

[2020-02-13 09:41] #74 closed, assigned to baiyfbupt

[2020-02-17 17:48] zhizunbao-y opened #117 "加载通道裁剪后的模型，再进行蒸馏报错"
[code]
会报以下错误：
[code]
怀疑是exe.run(s_startup)这句代码覆盖了load_model ，但是optimizer又需要初始化，请问如何解决？

[2020-02-18 03:53] yeliang2258 opened #118 "安装问题"
安装不成功，使用pip安装成功后，出现以下问题：
![image](https://user-images.githubusercontent.com/30516196/74702482-20848c00-5245-11ea-8502-e1f27151ad08.png)
使用源码安装，出现以下问题：
![image](https://user-images.githubusercontent.com/30516196/74702526-3d20c400-5245-11ea-9bb5-07bd22648647.png)
另外，给的demo中，尝试运行了多个，结果都无法正常运行，主要是：
sensitive：无法运行，merge_sensitive()报错；
auto_prune：无法运行，报错信息如下
![image](https://user-images.githubuserconten

[2020-02-18 06:02] #108 closed, assigned to nobody

[2020-02-19 03:55] wanghaoshuang commented on #118
您好，PaddleSlim还没有正式发布，pip源上的安装包是比较老的版本。
用源码安装依赖Paddle1.7, Paddle1.7安装包会在近几天发布，之后我们才会正式发布PaddleSlim.

[2020-02-19 04:09] wanghaoshuang commented on #118
今天我们会拉个分支，以便用户在Paddle1.6环境下也能用PaddleSlim. 搞定后再回复您。多谢支持理解。

[2020-02-19 09:30] Cristhine commented on #118
我在paddle1.6使用遇到同样问题 麻烦搞定也回复我一下

[2020-02-19 10:32] wanghaoshuang commented on #118
您好，我们[revert](https://github.com/PaddlePaddle/PaddleSlim/pull/121)了依赖paddle1.7分支的代码(一些量化功能)，新建了个[release/0.1.0](https://github.com/PaddlePaddle/PaddleSlim/tree/release/0.1.0)分支，请clone该分支，并重新从源码进行安装。
@yeliang2258  @Cristhine

[2020-02-19 10:32] yeliang2258 commented on #118
谢谢回复！期待哦

[2020-02-19 10:47] Cristhine commented on #118
按照relase源码安装提示安装成功 依然报错 >>> import paddleslim

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: module 'paddleslim' has no attribute '__version__'

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'quant_post' from 'paddleslim.quant' (/home/vis/duyuting/anaconda3_1.6/lib/python3.7/site-packages/paddlesl

[2020-02-19 10:57] wanghaoshuang commented on #117
是的，你说的对。
我让负责正六点同事看一下。您稍等。

[2020-02-19 11:08] wanghaoshuang commented on #118
@Cristhine  请问您确定更新代码到release/0.1.0分支了么？
我这边并没有文件 paddleslim/quant/init.py， 而且在paddleslim/quant/__init__.py中也没有你log中的提示。

![image](https://user-images.githubusercontent.com/7534971/74828998-0a60f380-534b-11ea-80ae-ba7e06a5e770.png)

release/0.1.0分支下是没有quant_post方法的，用不了离线量化。

[2020-02-19 11:09] zhizunbao-y commented on #117
好！谢谢！辛苦了！

[2020-02-19 11:16] baiyfbupt commented on #117
hi @zhizunbao-y , load_model加载模型需要放在`exe.run(s_startup)`初始化之后做，这样不会覆盖掉训练好的参数

[2020-02-19 11:28] zhizunbao-y commented on #117
@baiyfbupt  按您所说的调整后仍会报错：
[code]
上出错误好像在说参数维度是16，但是梯度的维度是32，错误定位在下列load_model方法中的*标出的位置
[code]

[2020-02-19 11:43] Cristhine commented on #118
好的 那我等paddle1.7吧 感谢回复

[2020-02-19 11:51] baiyfbupt commented on #117
可以试试把蒸馏相关代码注释掉，下图红框处，是否可以正常运行呢？
![image](https://user-images.githubusercontent.com/28884066/74831902-22d40c80-5351-11ea-95f2-c69a557df5b6.png)

[2020-02-19 12:04] zhizunbao-y commented on #117
仍会报错 ，以下是报错内容：
[code]

[2020-02-19 12:32] zhizunbao-y commented on #117
在注释掉红框内内容的基础上，再去掉optimizer的有关代码，只运行forward的部分，代码可以运行了。那么问题是不是出在optimizer无法识别裁剪后的模型结构，还是按照代码中的模型定义进行了初始化

[2020-02-19 13:40] wanghaoshuang commented on #117
按以下修改试试？
[code]

[2020-02-19 14:02] zhizunbao-y commented on #117
仍会报错，
[code]
错误定位在了student model的第一层卷积:
[code]
报错中128是我的batch_size，16应该是通道数（我是用50%的prune_ratio,所以裁剪后的模型第一个卷积层输出通道为32*0.5=16），不知道为什么会有64这个数

[2020-02-20 01:32] baiyfbupt commented on #117
感觉是optimizer部分存在同名不同shape变量引起的，`# teacher model definition`是怎么写的呢？这里是否也定义了一个optimizer？

[2020-02-20 02:24] zhizunbao-y commented on #117
程序主体如下：
[code]

[2020-02-20 03:52] baiyfbupt commented on #117
看代码没有发现什么异常，需要再做下实验判断
1.在下面的基础上把teacher_program的定义注释掉，看是否可以正常运行

![image](https://user-images.githubusercontent.com/28884066/74899164-0f6b8480-53d7-11ea-923f-38a70cc18c80.png)

如果可以运行可以判断是student和teacher program冲突，如果不能则是student的问题，需要继续排查

2.如果方便可不可以上传一份可运行的代码，我这里也跑一下看看

[2020-02-20 06:13] zhizunbao-y commented on #117
去掉teacher_model的定义，并删去distillation的一系列操作，相当于直接加载裁剪后的模型继续训练，代码可以运行。https://send.firefox.com/download/1bdbe7bc73db4a43/#EcoHwc_DlV8BuX8N2tEfiQ
这是代码，请帮忙测试一下

[2020-02-20 14:29] wanghaoshuang commented on #95
我们在paddle1.7发布前，给paddleslim拉了个release/0.1.0分支，去掉了对依赖paddle1.7，但是损失了离线量化功能。
https://github.com/PaddlePaddle/PaddleSlim/issues/118#issuecomment-588151146

[2020-02-21 02:44] CheungBH commented on #95
是不是现在的PaddlePaddle 1.7还没发布，最高只有1.6.3。只有等到1.7发布了才行？因为我无论是pip还是conda，安装的最终都是1.6.3

[2020-02-21 02:50] jaffe-fly opened #133 "是否支出训练自己的数据集"
paddleslim是否支持训练自己的数据集，yolov3_mobilenet_v1_voc_prune下载的一堆权重文件怎么使用？是否有教程或者视频等

[2020-02-21 03:36] slf12 commented on #95
https://www.paddlepaddle.org.cn/install/doc/tables#%E5%A4%9A%E7%89%88%E6%9C%ACwhl%E5%8C%85%E5%88%97%E8%A1%A8-dev-11 可以在这里找到我们更新的最新安装包，这个安装包会跟着develop更新

[2020-02-21 04:44] wanghaoshuang commented on #133
PaddleSlim支持训练自己的数据，如果你计划对PaddleDetection检测库里的模型压缩的话，请参考PaddleDetection的自定义数据教程：https://github.com/PaddlePaddle/PaddleDetection/blob/master/docs/advanced_tutorials/READER.md#%E8%87%AA%E5%AE%9A%E4%B9%89%E6%95%B0%E6%8D%AE%E6%BA%90

[2020-02-21 04:47] wanghaoshuang commented on #133
你应该说的是这里设置的预训练模型吧：https://github.com/PaddlePaddle/PaddleDetection/blob/master/configs/yolov3_mobilenet_v1_voc.yml#L9
这个权重是检测模型的backbone网络的预训练模型，用于加速训练。

[2020-02-21 07:23] zhizunbao-y commented on #117
@baiyfbupt 请问有没有进展？

[2020-02-21 07:28] baiyfbupt commented on #117
@zhizunbao-y 还在调试中，麻烦再等等，下周一之前给您个答复吧~

[2020-02-21 07:29] zhizunbao-y commented on #117
@baiyfbupt  辛苦了！感谢！

[2020-02-21 08:23] jaffe-fly commented on #133
数据集整理好之后，怎么开始训练自己的数据呢？总得把权重文件导入模型吧怎么操作  没找到教程

[2020-02-21 09:27] wanghaoshuang commented on #133
@jaffe-fly

数据整理好后，请参考这个教程配置自定义的数据源：
https://github.com/PaddlePaddle/PaddleDetection/blob/master/docs/advanced_tutorials/READER.md#%E8%AE%AD%E7%BB%83%E9%85%8D%E7%BD%AE

你这里说的权重文件是指？

[2020-02-21 09:30] wanghaoshuang commented on #133
参考这个配置文件配置数据集：https://github.com/PaddlePaddle/PaddleDetection/blob/master/configs/yolov3_mobilenet_v1_voc.yml#L65-L71

[2020-02-21 10:12] jaffe-fly commented on #133
paddleslim的模型库下载的yolov3_mobilenet_v1_voc_prune的权重文件

[2020-02-21 10:36] wanghaoshuang commented on #133
如果是用自己的数据，这些权重文件就不需要了。这些权重文件是在voc数据上训练得到的。

[2020-02-21 11:04] jaffe-fly commented on #133
好的，明白了

[2020-02-21 11:04] #133 closed, assigned to nobody

[2020-02-23 13:23] baiyfbupt commented on #117
@zhizunbao-y 经过排查应该是`load_model`加载剪枝模型引起的错误，附件抽离出了这个bug的最小可复现环境，可以尝试一下
1. 当注释掉`load_model`代码时，可以正常跑通训练逻辑：
    <img width="1207" alt="not_load_params" src="https://user-images.githubusercontent.com/28884066/75112718-61cfce00-5681-11ea-9ed7-4100d82a74e1.png">

2. 当不注释掉`load_model`行时，无论是否使用蒸馏策略都会出现issue中的错误

      可以用以下命令去掉蒸馏策略，去掉之后相当于单独训练剪枝模型：
      `python distill.py --use_distill=False`

    报错信息最

[2020-02-23 13:51] zhizunbao-y commented on #117
@baiyfbupt  save和load过程中没有其他问题
保存下来的剪枝模型可以load后继续训练，程序如下：
[code]

[2020-02-23 16:14] baiyfbupt commented on #117
上面的代码合并在一个program就会出错，这是否符合预期呢
[code]
[code]

[2020-02-23 16:57] zhizunbao-y commented on #117
@baiyfbupt 我不知道为什么合一块就会报错，剪枝的模型的save是按照demo/prune/train.py里的例子做的，用到的是paddleslim.prune.prune_io里的save_model方法，同样load_model也是配套的方法，这里应该是没有问题的，因为可以load裁剪后的模型保存成inference model。值得注意的是，demo/prune/train.py里save的是val_program，这个program在裁剪时用到了Pruner.prune()，其中有个参数时only_graph=True，意为仅裁剪结构，不裁剪参数。实在不知道该怎么办了，裁剪后的模型进行蒸馏是行不通的吗

[2020-02-25 03:13] Cristhine opened #151 "name '_logger' is not defined"
使用在线量化训练模型，报错：
Traceback (most recent call last):
  File "train.py", line 734, in <module>
    main()
  File "train.py", line 730, in main
    train(args)
  File "train.py", line 339, in train
    test_prog, place, quant_config, scope=None, for_test=True)
  File "/home/vis/duyuting/anaconda3/lib/python3.7/site-packages/paddleslim-1.0.0-py3.7.egg/paddleslim/quant/quanter.py", line 132, in quant_awa

[2020-02-25 03:17] slf12 commented on #151
https://github.com/PaddlePaddle/PaddleSlim/blob/release/1.0.0/paddleslim/quant/quanter.py#L30 _logger有定义，另外，使用量化功能需要paddle1.7

[2020-02-25 03:19] Cristhine commented on #151
在线量化也必须是paddle1.7嘛？我看上一个issue给的paddleslim有现在量化aware功能

[2020-02-25 03:27] slf12 commented on #151
不好意思，网络比较慢，点错按钮了

在线量化功能是修改了一些输入参数，比如将量化的op设置为用户可设置的参数，paddle 1.7已可以使用.

您用的应该是paddleslim 0.1.0，我看了下确实没有定义，可以将https://github.com/PaddlePaddle/PaddleSlim/blob/release/1.0.0/paddleslim/quant/quanter.py#L30 这个定义加在quanter.py里

[2020-02-25 03:38] Cristhine commented on #151
出现新的错误 Traceback (most recent call last):
  File "train.py", line 734, in <module>
    main()
  File "train.py", line 730, in main
    train(args)
  File "train.py", line 339, in train
    test_prog, place, quant_config, scope=None, for_test=True)
  File "/home/vis/duyuting/anaconda3/lib/python3.7/site-packages/paddleslim-1.0.0-py3.7.egg/paddleslim/quant/quanter.py", line 151, in quant_aware
TypeE

[2020-02-25 03:47] slf12 commented on #151
https://github.com/PaddlePaddle/PaddleSlim/pull/152 使用apddle 1.6的话按照这个pr修改下吧

quantizable_op_type是paddle 1.7新增的功能，可以自定义量化的op，如果需要的化，建议将paddle升到1.7 https://pypi.org/project/paddlepaddle-gpu/ ，同时使用paddleslim 1.0.0

[2020-02-25 10:20] Cristhine commented on #151
官方paddleslim版本https://pypi.org/project/paddleslim/#files 好像有问题 用这个版本安装还是会报错quant_post不存在的问题

[2020-02-25 11:08] slf12 commented on #151
这个文件上传比较久了，今天的修改里面肯定是没有的，建议源码安装，clone paddleslim, 在release 0.1.0分支中运行python setup.py install安装

[2020-02-27 02:23] Cristhine commented on #151
询问一下paddleslim训练产生模型的问题：
代码如下：https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/quant_low_level_api/quantization_aware_training.py#L340
        save_checkpoint_path = os.path.join(model_save_dir,  model_name, str(pass_id))
        if not os.path.isdir(save_checkpoint_path):
            os.makedirs(save_checkpoint_path)
        save_persistable_nodes(exe, save_checkpoint_path, main_gra

[2020-02-27 02:50] slf12 commented on #151
https://github.com/PaddlePaddle/models/blob/develop/PaddleSlim/quant_low_level_api/quantization_aware_training.md#1-%E9%87%8F%E5%8C%96%E8%AE%AD%E7%BB%83low-level-apis%E4%BB%8B%E7%BB%8D . 麻烦看下低级api介绍吧，这里面解释了量化api做的事情

[2020-02-27 03:33] Cristhine commented on #151
@slf12 在线量化产生的float模型进行离线量化报错如下：请问问题是？
Traceback (most recent call last):
  File "post_training_quantization.py", line 63, in <module>
    ptq.save_quantized_model(args.save_model_path)
  File "/home/vis/yuanyuchen/anaconda2/lib/python2.7/site-packages/paddle/fluid/contrib/slim/quantization/post_training_quantization.py", line 216, in save_quantized_model
    params_filename="params")
  File "/hom

[2020-02-27 03:51] slf12 commented on #151
在线量化产生的float模型已经是量化后的模型了，weight是int8范围，类型是float，不需要再离线量化了。。。。。

[2020-02-27 04:12] Cristhine commented on #151
好吧我理解错误了 那在线量化产生的模型 可以再做trt int8量化嘛？trt int8量化是可以预测中加载的

[2020-02-27 04:14] slf12 commented on #151
trt int8量化也是离线量化，本质都是把weight和激活值量化成int8

[2020-02-27 04:19] Cristhine commented on #151
是这个样子没错 但是正常的float32模型转trt int8模型会产生掉点 如果是在线量化后的flaot模型 本身就是int8值的范围 再经过trt int8模型激活成真正的int8模型 这个过程总归是不怎么掉点的吧

[2020-02-27 04:29] slf12 commented on #151
你说的trt int8如果是这个
![image](https://user-images.githubusercontent.com/8036226/75412187-b367a980-595c-11ea-8da1-8f6d23d746e2.png)
那就是将量化后的数据再量化一次，如果想知道的是量化后的模型怎么使用trt加载预测来加速，可以咨询预测库的同学。

[2020-03-03 09:29] #72 closed, assigned to wanghaoshuang

[2020-03-04 08:05] zhizunbao-y commented on #117
直接将裁剪系数在模型定义时乘到卷积核的个数上，再加载裁剪后的模型就没问题了

[2020-03-04 08:05] #117 closed, assigned to wanghaoshuang, baiyfbupt

[2020-03-10 10:42] JensenHJS opened #174 "等大佬们先试水用起来"
等大佬们先试水用起来

[2020-03-10 10:42] #174 closed, assigned to nobody

[2020-03-11 11:41] AIpioneer opened #175 "剪枝例子报错"
![image](https://user-images.githubusercontent.com/50724968/76413196-f6e7fc00-63cf-11ea-8abe-a0eba7982a88.png)

[2020-03-11 12:20] wanghaoshuang commented on #175
请将[这一行](https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.4.0/slim/prune/eval_prune.py#L46)改为
[code]

[2020-03-12 01:48] wanghaoshuang commented on #175
如有问题，请重新打开该issue.

[2020-03-12 01:48] #175 closed, assigned to wanghaoshuang

[2020-03-14 04:16] aixier opened #177 "quant_post量化yolov3报错 KeyError: 'stage.3.7.0.conv.weights'"
CPU 8
RAM 32GB
GPU v100
显存 16GB
磁盘 100GB
环境配置
Python版本 python3.7
框架版本  PaddlePaddle 1.7.0
@slf12
aistudio@jupyter-115786-193843:~/post_training_quantization_withdata$ sh run_post_training_quanzation.sh
-------------------args----------------------
algo: KL
batch_nums: 20
batch_size: 3000
is_full_quantize: False
model_dir: ../work/PaddleDetection_1/yolov3_dark_freeze/mj_yolov3_darknet
model_filenam

[2020-03-14 13:56] slf12 commented on #177
可以检查下reader，一般是Reader没写对，一个batch都没跑会出现这种情况

[2020-03-15 05:56] aixier commented on #177
reader就是训练的时候的reader:

def custom_reader(images_lists, data_dir, input_size, mode):
    def reader():
        np.random.shuffle(images_lists)
        for line in images_lists:
            if mode == 'train' or mode == 'eval':
                ######################  以下可能是需要自定义修改的部分   ############################
                parts = line.split()
                image_path = parts[0]

[2020-03-15 05:58] aixier commented on #177
**reader就是训练用的reader** @slf12
[code]

[2020-03-15 06:12] aixier opened #178 "yolov3训练后量化 出错"
CPU8
RAM32GB
GPUv100
显存16GB
磁盘100GB
环境配置
Python版本python3.7
框架版本 PaddlePaddle 1.7.0
运行代码：
[code]

----------------------
Error Message Summary:
----------------------
InvalidArgumentError: Input(ImgSize) dim[0] and Input(X) dim[0] should be same.
  [Hint: Expected dim_imgsize[0] == dim_x[0], but received dim_imgsize[0]:4800 != dim_x[0]:16.] at (/paddle/paddle/fluid/operators/detection/yolo_box_op.c

[2020-03-15 07:38] slf12 commented on #177
最简单的验证方法是加载你要量化的模型，然后用这个Reader 定义dataloader, 然后run program，离线量化里做的事情也是拿数据跑前向收集中间的feature map来计算量化scale, 这个错误显示没有收集到中间的feature map

[2020-03-15 10:46] aixier commented on #177
改好了，谢谢

[2020-03-15 10:49] #178 closed, assigned to nobody

[2020-03-15 10:49] #177 closed, assigned to slf12

[2020-03-16 01:31] AIpioneer commented on #178
Hi, so what's the problem? Could you share with us？

[2020-03-24 07:03] wanghaoshuang opened #185 "How to make pruning support for SGD operator"
Please register SGD in this script: https://github.com/PaddlePaddle/PaddleSlim/blob/release/1.0.1/paddleslim/prune/prune_walker.py#L526

Add lines as below:

[code]

We will fix this issue by skipping default operators in the next version.

[2020-03-24 08:23] sucuicong opened #186 "yolov3剪枝训练时，优化器报错"
训练部分主要代码如下：
[code]

#########################################################
#####################报错信息如下：

[code]

[2020-03-24 08:24] AIpioneer opened #187 "PaddleSlim支持transformer模型吗？今后会支持吗"
谢谢！

[2020-03-24 08:34] wanghaoshuang commented on #186
你在执行`exe.run(start_program, scope=scope)`的时候，所有变量是初始化在`scope`实例中的, 然后你执行`loss = exe.run(train_program, feed=feeder.feed(data), fetch_list=train_fetch_list)`没有指定scope，则默认用的是fluid.global_scope()，其中并没有初始化变量，所以报错了。

建议：

将`scope = fluid.Scope()` 改为 `scope = fluid.global_scope()` 试试

Executor.run() API请参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/executor_cn/Executor_cn.html#run

[2020-03-24 08:38] wanghaoshuang commented on #187
PaddleSlim中的量化和蒸馏理论上是支持的transformer模型的，但是我们没有验证过效果。
PaddleSlim中的剪裁暂时不支持transformer， 后续会尝试探索并支持。
感谢您的关注，希望后续能进一步交流和提建议。

[2020-03-24 08:43] #186 closed, assigned to wanghaoshuang

[2020-03-27 12:32] AIpioneer opened #195 "蒸馏时将teacher的变量加入student的program，那保存训练断点时模型参数会否变大？"
如题。模型是transformer模型

[2020-03-30 07:34] wanghaoshuang commented on #195
保存训练断电时模型参数会变大。

如果不想保存teacher的变量的话：
在将teacher合并到student之前，可以先clone备份一下student program:
[code]
在保存断点时，指定save_params或save_persistables接口的main_porgram为student_bak即可。

[2020-03-30 07:39] wanghaoshuang opened #197 "How to reuse the result of pruning"

[2020-03-30 14:23] HaoLiuHust opened #199 "是否能支持设置某些层不量化？"
实测发现某些层量化后对精度的影响明显大于其他层，是否可以设置将这些层不量化只量化其他层？

[2020-03-31 02:03] slf12 commented on #199
![image](https://user-images.githubusercontent.com/8036226/77979250-b1678080-7336-11ea-8c6d-f977a7d215fd.png)
https://paddlepaddle.github.io/PaddleSlim/api_cn/quantization_api.html

[2020-03-31 03:56] HaoLiuHust commented on #199
这是设置不量化的层类型，我是指用层名 @slf12

[2020-03-31 03:57] HaoLiuHust commented on #199
比如有个卷积层测试下来不量化这层精度几乎不损失，而如果量化就掉几个点，能否设置这一层不量化

[2020-03-31 06:31] slf12 commented on #199
![image](https://user-images.githubusercontent.com/8036226/77994250-3ca73d00-735c-11ea-9aec-4e9bdbe2295c.png)

[2020-03-31 06:37] HaoLiuHust commented on #199
3q, 我试试看

[2020-04-01 06:33] dlkht opened #202 "transformer distilling出错"
我试了transformer的distill,train了两个batch之后提示如下错误：
Error: Tensor holds no memory. Call Tensor::mutable_data first.
  [Hint: holder_ should not be null.] at (/paddle/paddle/fluid/framework/tensor.cc:23)
  [operator < elementwise_div > error]

是内存原因吗？

[2020-04-02 02:33] A1exy opened #203 "mobilenetv2 deeplabv3+ pruning问题"
在最新的paddleslim库和paddleseg库上进行mobilenetv2 deeplabv3+的pruning，配置裁剪参数后报以下错误，请问是什么原因。
![image](https://user-images.githubusercontent.com/7035538/78204782-1a80fc80-74cd-11ea-8d02-cd7084c188c8.png)

Parameter[decoder/separable_conv1/pointwise/BatchNorm/beta] loaded sucessfully!
Parameter[decoder/separable_conv1/pointwise/BatchNorm/moving_mean] loaded sucessfully!
Parameter[decoder/separable_conv1/pointw

[2020-04-02 03:50] aixier opened #204 "用quant_post量化了一个yolov3_darknet的的模型，推理加载出错"
环境：
paddle1.7
出错信息：
PaddleCheckError: OP(LoadCombine) fail to open file ..\yolov3_darknet_quant_924\__params__, please check whether the mod
el file is complete or damaged. at [D:\1.6.1\paddle\paddle/fluid/operators/load_combine_op.h:46]

量化代码
`def quantize():
    val_reader = mjreader.custom_reader(images_lists, data_dir, input_size,mode)
    place = fluid.CUDAPlace(0)
    exe = fluid.Executor(pl

[2020-04-02 04:49] aixier commented on #204
量化前模型：链接: https://pan.baidu.com/s/1Fursj2ui6uxjL2fNlcoseg 提取码: xxsf
量化后模型：链接: https://pan.baidu.com/s/1zGtHT-v-BJNcBosU22HAMw 提取码: t437
模型加载方式：
` path = "../yolov3_darknet_quant_924/"
    [inference_program, feed_target_names, fetch_targets] = (fluid.io.load_inference_model(
        dirname=path, executor=exe, model_filename='__model__', params_filename='__params__'))`

[2020-04-02 07:25] itminner commented on #204
量化后的模型，保存的是散装的参数，加载时只需要指定dirname就可以了，不需要指定model_filename和params_filename。示例如下：
[inference_program, feed_target_names, fetch_targets] = fluid.io.load_inference_model( dirname=path, executor=exe)

如果指定了params_filename，程序会从dirname文件夹下找名字为params_filename的文件

[2020-04-02 08:51] wanghaoshuang commented on #202
不是内存的问题，是某个变量没有初始化，看着像是训练数据有问题。
麻烦您把所有log都贴出来？

[2020-04-02 08:54] wanghaoshuang commented on #203
log提示在scope中没找到要待裁剪的变量，有可能：
1. 带裁剪的参数的名称写错了;请参考这里确认下参数名称：https://github.com/PaddlePaddle/PaddleDetection/tree/release/0.2/slim/prune#3-%E7%A1%AE%E5%AE%9A%E5%BE%85%E5%88%86%E6%9E%90%E5%8F%82%E6%95%B0
2. scope设置的有问题

把您的脚本贴出来？

[2020-04-02 09:57] A1exy commented on #203
python -u ./slim/prune/train_prune.py --log_steps 10 --cfg configs/deeplabv3p_mobilenet-1-0_pet.yaml --use_gpu --use_mpio \
SLIM.PRUNE_PARAMS 'conv2_1_linear_weights, conv3_1_linear_weights, conv3_2_linear_weights, conv4_1_linear_weights, conv4_2_linear_weights, conv4_3_linear_weights, conv5_1_linear_weights, conv5_2_linear_weights, conv5_3_linear_weights, conv5_4_linear_weights, conv6_1_linear_we

[2020-04-02 10:01] A1exy commented on #203
裁剪的参数名称应该没什么问题。@wanghaoshuang
![image](https://user-images.githubusercontent.com/7035538/78235912-dfea8480-750b-11ea-99d9-2a1a5f586009.png)

[2020-04-03 02:42] dlkht commented on #202
好的，如下：

I0403 10:39:23.727172 11525 parallel_executor.cc:440] The Program will be executed on CUDA using ParallelExecutor, 3 cards are used, so 3 programs are executed in parallel.
W0403 10:39:26.841464 11525 fuse_optimizer_op_pass.cc:191] Find adam operators : 67, and 67 for dense gradients. To make the speed faster, those optimization are fused during training.
W0403 10:39:26.888103 11525 fuse_a

[2020-04-03 06:00] dlkht commented on #202
distill 部分代码是这样：

def train(args):
    # priority: ENV > args > config
    is_local = os.getenv("PADDLE_IS_LOCAL", "1")
    if is_local == '0':
        args.local = False
    logging.info(args)

    if args.device == 'CPU':
        TrainTaskConfig.use_gpu = False

    training_role = os.getenv("TRAINING_ROLE", "TRAINER")

    if training_role == "PSERVER" or (not TrainTaskConfig.use_gpu):

[2020-04-06 06:44] A1exy commented on #204
@itminner 我在xavier和2080ti下测试离线量化的MobileNet模型并没有什么加速效果啊，请问是什么原因

[2020-04-06 06:45] A1exy commented on #204
@itminner 请问你测试的离线量化后的模型有加速效果吗？

[2020-04-07 00:55] baiyfbupt commented on #202
看起来是定义好train_prog后没有对startup_prog做初始化，在定义蒸馏loss和optimizer后加一下exe.run(startup_prog)呢？

[2020-04-07 01:55] dlkht commented on #202
在train_loop()里面加了exe.run(startup_prog)的。

如果不用dist.merge()合并变量，有什么办法可以实现蒸馏？比如先运行teacher_program,得输出logits作为student_program的输入参数呢？可行吗？

[2020-04-07 02:24] dlkht opened #211 "模型量化后运行预测速度会提高吗？"
如题

[2020-04-07 05:14] slf12 commented on #204
可以看下这个文档
https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/FAQ/quantization_FAQ.md

![image](https://user-images.githubusercontent.com/8036226/78632463-a5993280-78d1-11ea-84c4-7976ba6e0ffd.png)

[2020-04-07 05:16] slf12 commented on #211
可以加速。

可以看下这个文档
https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/FAQ/quantization_FAQ.md

![image](https://user-images.githubusercontent.com/8036226/78632463-a5993280-78d1-11ea-84c4-7976ba6e0ffd.png)

[2020-04-07 10:57] A1exy commented on #204
@slf12  你们的文档我有一点问题，我是在GPU下使用，请问我现在用paddleslim离线量化的模型，可以直接开启TensorRT int8量化就可以加速吗？应该不可以吧，是不是还需要我走一遍TensorRT int8量化校准的流程，然后才能在GPU上用tensorRT int8加速？

[2020-04-07 11:05] slf12 commented on #204
不需要走一遍Tensorrt int8校准的流程，paddleslim离线量化和tensorrt int8校准原理是一样的。直接使用tensorrt预测即可

[2020-04-07 12:48] A1exy commented on #204
@slf12 好的，多谢

[2020-04-08 02:20] dlkht opened #214 "模型量化后，不支持fluid.ParallelExecutor吗？"
执行
quant_program = quant.quant_aware(train_prog, exe.place, for_test=False)
val_program = fluid.default_main_program().clone(for_test=True)
再训练quant_program，发觉不能用fluid.ParallelExecutor，提示
AttributeError: 'CompiledProgram' object has no attribute '_enable_dgc'

[2020-04-08 06:15] A1exy commented on #203
@wanghaoshuang 能回复下不，是现在deeplab v3+的裁剪还不支持吗？

[2020-04-08 06:20] wanghaoshuang commented on #203
把train_prune.py 的内容贴一下？看着是scope设置错了。是支持deeplabv3的。

[2020-04-08 06:27] A1exy commented on #203
https://github.com/PaddlePaddle/PaddleSeg/blob/release/v0.4.0/slim/prune/train_prune.py

@wanghaoshuang  用的就是你们paddleslim库的文件，就执行的命令修改了下。

执行命令见3L

[2020-04-08 06:36] wanghaoshuang commented on #203
[code]

SLIM.PRUNE_PARAMS中参数间以逗号分割，不能有空格。你去掉空格试试？

[2020-04-08 07:11] A1exy commented on #203
好的，多谢

[2020-04-08 07:11] #203 closed, assigned to wanghaoshuang

[2020-04-08 10:03] slf12 commented on #214
quant_program的类型是CompiledProgram， 可以用CompiledProgram.with_data_parallel来多卡并行。和ParallelExecutor是不一样的方式，但是功能都是实现多卡并行

[2020-04-10 06:21] JLei67 opened #217 "我在用slim剪枝时优化器报错怎么解决"
pruned_program, _, _ = pruner.prune(train_program, fluid.global_scope(),
        params=ratios.keys(),ratios=ratios.values(), place=place)

报错为：Error: Param and Velocity of MomentumOp should have the same dimension.
  [Hint: Expected param_dim == ctx->GetInputDim("Velocity"), but received param_dim:12544, 4096 != ctx->GetInputDim("Velocity"):24832, 4096.] at (/paddle/paddle/fluid/operators/optimiz

[2020-04-10 08:21] JLei67 commented on #217
InvalidArgumentError: Param and Moment1 input of AdamOp should have same dimension. But received Param dims: [12544, 4096], Moment1 dims: [24832, 4096].
  [Hint: Expected param_dims == ctx->GetInputDim("Moment1"), but received param_dims:12544, 4096 != ctx->GetInputDim("Moment1"):24832, 4096.] at (/paddle/paddle/fluid/operators/optimizers/adam_op.cc:113)
  [operator < adam > error]
我把momentum优化器改成

[2020-04-10 09:29] wanghaoshuang commented on #217
请问Paddle版本和PaddleSlim版本分别是？剪裁的什么模型？

[2020-04-10 09:32] JLei67 commented on #217
paddle是1.7.0 Slim是1.0.1   裁剪的VGG16

[2020-04-10 09:52] wanghaoshuang commented on #217
您好，您是不是对全连接层也剪裁了，目前PaddleSlim仅支持对卷积层进行剪裁。
我尝试了对以下参数剪裁：
[code]
结果没问题：
[code]

[2020-04-10 09:55] wanghaoshuang commented on #217
请试下只指定剪裁卷积层？如果还不行，把您的脚本内容贴出来我看下？

[2020-04-10 10:13] JLei67 commented on #217
[](url)

https://aistudio.baidu.com/aistudio/projectdetail/329668
这是我的项目，您看下能看到吗？

[2020-04-10 10:15] JLei67 commented on #217
我选取参数的时候限定了名字要带 covn和 weight，应该是只裁剪了卷积层

[2020-04-10 14:37] wanghaoshuang commented on #217
我将您项目中的剪裁调用代码改为如下，可以正确执行，应该是不能剪裁最后一层的卷积，因为会对FC层造成影响。请您先别剪裁最后一层卷积？我们继续优化下这个问题。
[code]

[2020-04-11 03:07] JLei67 commented on #217
好的，谢谢您

[2020-04-13 08:00] hp-cuiwb opened #218 "关于量化的问题"
文档中关于量化的配置：
weight_bits(int) - 参数量化bit数，默认8, 可选1-8，推荐设为8，因为量化后的数据类型是 int8 。
activation_bits(int) - 激活量化bit数，默认8，可选1-8，推荐设为8，因为量化后的数据类型是 int8 。
dtype(int8) - 量化后的参数类型，默认 int8 , 目前仅支持 int8 。
请问我如果把weight_bits(int) 设为7，把activation_bits(int)设为7，然后训练，模型的结果相当于7bit量化吗？

[2020-04-13 09:11] slf12 commented on #218
是的， 在量化时最大值是std::pow(2, bit_length - 1) - 1;
但是需要注意的是，weight_bits(int) 设为7，把activation_bits(int)设为7，只能测试低比特量化在精度损失上的效果，转化成预测库能加载的模型时，目前是仍会按照int8处理，所以在预测时和int8是一样的

[2020-04-13 09:31] hp-cuiwb commented on #218
您的思思是，数据前向推断是8bit的范围表示，实际值还是7bit的范围是吗？

[2020-04-13 09:44] slf12 commented on #218
数值范围是7bit，数据类型仍然是int8

[2020-04-13 10:52] hp-cuiwb commented on #218
好的，明白，感谢

[2020-04-13 10:52] #218 closed, assigned to slf12

[2020-04-14 08:15] songyuc opened #220 "请问一下，使用PaddleSlim进行蒸馏的话，teacher模型的选择有什么要求吗，是不是跟student“长得越像”越好？"
尊敬的开发者：
你好！
请问一下，使用PaddleSlim进行蒸馏的话，teacher模型的选择有什么要求吗，是不是跟student模型“长得越像”越好？
期待你的回复！

[2020-04-14 08:45] songyuc opened #221 "请问一下，对于COCO数据集任务的蒸馏是对模型整体进行蒸馏吗？"
尊敬的开发者：
你好！
请问一下，对于COCO数据集的任务来说，模型蒸馏是对模型整体都进行蒸馏吗，还是只对主干网络部分进行蒸馏？
我在飞桨的课程中看到了这样的训练结果，
![图片](https://user-images.githubusercontent.com/27288110/79204572-5c1b8b00-7e6f-11ea-8612-49b111d35e18.png)

期待你的回复！

[2020-04-14 08:48] songyuc commented on #220
这是飞桨的老师们在QQ群中的回复，大家可以看看，
![图片](https://user-images.githubusercontent.com/27288110/79204837-c03e4f00-7e6f-11ea-9558-3ff63bcda640.png)

[2020-04-14 09:08] baiyfbupt commented on #221
你好，COCO的蒸馏是对模型整体进行蒸馏的，也就是说同时对backbone和detection head进行蒸馏训练~

[2020-04-14 10:00] songyuc commented on #221
@baiyfbupt ，好的，谢谢你的回复！

[2020-04-14 10:00] #220 closed, assigned to nobody

[2020-04-14 10:04] songyuc opened #222 "请问一下，如果针对COCO数据集的目标检测任务，使用强化学习策略进行NAS搜索有什么推荐的配置吗？"
尊敬的开发者：
你好！
想请教一下，对于COCO数据集的目标检测任务，使用强化学习策略进行NAS搜索，有什么推荐的GPU配置吗？
我想知道我们现在的GPU服务器的配置是否适合这个任务，
期待你的回复！

[2020-04-14 10:20] songyuc opened #223 "请问一下，硬件延时表，PaddleSlim是会自动测量吗，还是需要我们给出呀？"
尊敬的开发者：
你好！
关于硬件延时表的话，PaddleSlim是会自动测量吗，还是需要我们给出呀？
期待你的回复！

[2020-04-14 10:21] songyuc commented on #221
@baiyfbupt ，还想请教你一下，这里这个COCO的任务，使用FSP蒸馏策略了吗？

[2020-04-14 11:43] baiyfbupt commented on #221
没有用FSP策略

[2020-04-15 03:01] ceci3 commented on #222
您好，对GPU配置没有什么要求，只要显存足够运行您搜索空间中的子模型就可以了。

[2020-04-15 03:03] ceci3 commented on #223
您好，paddleslim有提供读取硬件延时表的操作，不会自动测量。目前硬件延时表还是需要通过paddlelite在自己想要的硬件上测试得到。

[2020-04-15 06:28] songyuc commented on #223
@ceci3 ，好的，谢谢您的回复！

[2020-04-15 06:28] #223 closed, assigned to nobody

[2020-04-15 08:41] jaffe-fly opened #225 "slim裁剪，如何获取卷积层名字？"
问题一：
官网提供的很多教程都是 基于命令行形式的
但是slim中很多API参数都需要program的概念，我要如何获取这个参数？
比如使用 裁剪的时候，需要先获取卷积层的名字，应该什么方式获取？
模型训练完保存是这样的
![image](https://user-images.githubusercontent.com/49515380/79316896-92bcd880-7f37-11ea-9cc8-1513d5aa5c88.png)

问题二：
slim的API很多都是基于静态图的方法（根据参数来做的判断），在动态图上使用是否有连接教程？

[2020-04-15 09:27] wanghaoshuang commented on #225
您这里说的教程是指？

如果组网脚本中没有显式的生命program，则可以用fluid.default_main_program()获取默认的program

可以参考这个链接查看program中parameter的名称，根据命名确定卷积层的参数名称：https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Program_cn.html#all_parameters

[2020-04-15 09:30] wanghaoshuang commented on #225
slim的API很多都是基于静态图的方法（根据参数来做的判断），在动态图上使用是否有连接教程？

动态图的支持正在规划中，暂时还不支持。

[2020-04-15 09:30] #217 closed, assigned to wanghaoshuang

[2020-04-15 09:39] jaffe-fly commented on #225
比如我运行训练都是通过这一条命令来做的
!python PaddleSeg/pdseg/train.py  --cfg PaddleSeg/configs/hrnet_optic.yaml --use_gpu  --use_mpio --do_eval

最后自动保存的save_model下面的文件 怎么获取卷积名称来做slim裁剪
![image](https://user-images.githubusercontent.com/49515380/79322859-006d0280-7f40-11ea-8346-9ebab7bde68e.png)
训练完想做裁剪，这儿衔接不起来，不知道怎么操作

[2020-04-16 02:13] jaffe-fly commented on #225
可以参考这个回复[https://github.com/PaddlePaddle/PaddleSeg/issues/221](url)

[2020-04-16 02:13] #225 closed, assigned to nobody

[2020-04-16 07:49] dlkht commented on #214
用CompiledProgram.with_data_parallel 多卡训练，run部分代码如下
train_cp = train_prog.with_data_parallel(
                    loss_name=sum_cost,
                    build_strategy=build_strategy,
                    exec_strategy=exec_strategy)

                outs = train_exe.run(train_cp,
                    fetch_list=[sum_cost.name, token_num.name],
                    feed=feed_dict_list)

执行后出现如下错误提示，会

[2020-04-16 07:56] slf12 commented on #214
可以把代码贴的多一点吗？

[2020-04-16 08:56] dlkht commented on #214
好的，整理了一下，贴上

import argparse
import ast
import copy
import logging
import multiprocessing
import subprocess
import os
import six
import sys
import time
import numpy as np
import paddle.fluid as fluid
import base_reader
from config import *
import data_rader
from model import transformer
import dist_utils
import shutil
import quant.quanter as quant

def train_loop(exe,
               train_prog,

[2020-04-16 09:37] slf12 commented on #214
把下面的代码

[code]
移到while 循环外试试

[2020-04-16 14:52] wanghaoshuang commented on #222
@songyuc 不建议使用强化学习对检测任务进行搜索，因为COCO检测任务训练比较慢，而且强化学习又是比较好资源的算法，所以实际的可行性并不高。

建议有限考虑蒸馏，如果有模型压缩需求可以试一下剪裁和量化。

如果确实需要使用NAS提升模型精度，可以参考PaddleSlim中DARTS的示例，自己设计一个搜索空间，尝试搜索下。目前我们还没来得及在检测任务上尝试DARTS策略，后续我们会进行该实验。

期待您的持续关注。

[2020-04-18 05:34] dlkht commented on #214
移到while 循环外还是那样提示

[2020-04-18 06:13] slf12 commented on #214
paddle是什么版本？

[2020-04-18 07:06] dlkht commented on #214
1.7.0

[2020-04-22 09:06] dflmingle opened #231 "distilling报错"
忧伤死了，调了半天，最后报个这个
Error: Tensor holds no memory. Call Tensor::mutable_data first.
  [Hint: holder_ should not be null.] at (/paddle/paddle/fluid/framework/tensor.cc:23)
  [operator < lookup_table_v2 > error]
实在没头绪了，查issue似乎有别人也报过这个，希望官方注意下吧

[2020-04-23 02:35] dflmingle commented on #231
已解决，merge操作之中data_name_map应包含所有的输入项

[2020-04-23 02:59] dflmingle opened #233 "在使用蒸馏时，若teacher program里有包含BIGRU会报错"
在teacher program里
定义
    encoder_fwd_cell =  fluid.layers.GRUCell(hidden_size=128)
    encoder_fwd_output, fwd_state =  fluid.layers.rnn(
        cell=encoder_fwd_cell,
        inputs=emb_out,
        sequence_length=None,
        time_major=False,
        is_reverse=False)
    # 使用GRUCell构建反向RNN
    encoder_bwd_cell =  fluid.layers.GRUCell(hidden_size=128)
    encoder_bwd_output, bwd_state =  flu

[2020-04-23 04:00] baiyfbupt commented on #233
您好，感谢反馈。能否提供一段可完整复现问题的代码，帮助我们持续进行优化，谢谢

[2020-04-23 04:01] #231 closed, assigned to nobody

[2020-04-23 04:22] dflmingle commented on #233
代码较长，一些内容暂不方便公开，是否可以发邮箱

[2020-04-23 06:06] baiyfbupt commented on #233
可以，请发送到baiyifan02@baidu.com

[2020-04-23 16:28] zhizunbao-y opened #241 "为什么PaddleSlim模型量化时不量化卷积层的偏置？"
另外，对于激活值得量化，为什么一般采用滑动窗口平均得办法，而不是最简单得abs_max，有什么依据吗？

[2020-04-24 01:41] zhizunbao-y opened #242 "训练后量化权值使用的量化方法确切是什么？"
原文：`训练后量化的目标是求取量化比例因子，主要有两种方法：非饱和量化方法 ( No Saturation) 和饱和量化方法 (Saturation)。非饱和量化方法计算FP32类型Tensor中绝对值的最大值abs_max，将其映射为127，则量化比例因子等于abs_max/127。饱和量化方法使用KL散度计算一个合适的阈值T (0<T<mab_max)，将其映射为127，则量化比例因子等于T/127。一般而言，对于待量化op的权重Tensor，采用非饱和量化方法，对于待量化op的激活Tensor（包括输入和输出），采用饱和量化方法 。`
问题：
1.权值使用的量化方法算法原理里用的是abs_max，而api介绍里说的是channel_abs_max
2.另外对于激活层，使用KL散度计算出的T，算法原理里写的是0<T<mab_max, 其中mab_max是指什么？
3.训练后量化中，对于

[2020-04-24 02:38] slf12 commented on #241
关于量化偏置，量化偏置对精度或者速度没有明显帮助。

abs_max在预测部署时很慢，每次都需要找绝对值最大值，严重影响了预测速度，所以不推荐使用。

[2020-04-24 02:42] slf12 commented on #242
1、两种都支持，接口将更新为可以选择方式。
2、mab_max应该是指绝对值的最大值， 这里写错了。
3、激活使用kl散度，weight不使用

[2020-04-24 03:19] zhizunbao-y commented on #241
@slf12 模型在预测部署阶段，权值保持不变的，仅需计算一次；输入只有一个，且是不确定的，每次前向推测需要计算一次；而激活值有多个，且作为下一层结构的输入也是不断变化的，每次迭代需要计算多次，所以为了节省运算时间和计算资源，对于模型输入和权重，采用动态计算比例系数；而对于激活值采用静态策略计算。请问这样理解对吗？

[2020-04-24 04:06] slf12 commented on #241
是的，你理解的是对的。有一点是预测部署时，weight已经是int8了，不需要计算比例系数。

[2020-04-24 04:07] zhizunbao-y commented on #241
感谢解答！

[2020-04-24 04:07] #241 closed, assigned to slf12

[2020-04-26 02:11] baiyfbupt commented on #233
hi，仔细看了您的代码，带GRUCell结构的teacher蒸馏是PaddleSlim目前不支持的
原因是这样的，Paddle程序定义Program类似于一个Python函数，有block的概念，类似于Python作用域

在一般的Paddle程序里只有一个block作用域，也就是program.global_block()，但是在GRU这种Cell结构中，Cell部分作为一个单独的作用域，它的变量都不在global_block()内，导致merge过程从global_block取变量出错，如下这几行。
https://github.com/PaddlePaddle/PaddleSlim/blob/2dc89a6b46d7b18e4f310e98196e97559d67c0fb/paddleslim/dist/single_distiller.py#L65
https://github.c

[2020-04-26 02:21] dflmingle commented on #233
好的，我经debug发现了，grucell里有三个作用域，global block只涉及到第一个，但我尝试在这方面调了调，在其他方面又会报新的错，对paddlepaddle的底层还是没有你们那么了解，只是希望你们在以后的版本中有进一步的优化

---原始邮件---
发件人: "Bai Yifan"<notifications@github.com&gt;
发送时间: 2020年4月26日(星期日) 上午10:11
收件人: "PaddlePaddle/PaddleSlim"<PaddleSlim@noreply.github.com&gt;;
抄送: "dflmingle"<583025216@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/PaddleSlim] 在使用蒸馏时，若teache

[2020-04-28 10:04] 312shan opened #245 "官方文档的图片很多都加载不出来呀"
[参考这个页面](https://paddlepaddle.github.io/PaddleSlim/algo/algo.html)

![image](https://user-images.githubusercontent.com/12961274/80474887-a0804e00-897a-11ea-9549-e6b8f2be69f9.png)

[2020-04-29 09:35] ceci3 opened #248 "nas 对搜索到的模型的中间信息进行输出"
我尝试使用paddleslim平台运行https://github.com/PaddlePaddle/PaddleSlim/blob/release/1.0.1/docs/zh_cn/tutorials/image_classification_nas_quick_start.ipynb   网址下的例程并尝试将网络模型和参数输出，但是遇到了问题，在代码中并没有将全连接层以外的其他网络层定义出，我理解其他网络层的架构是使用：archs = sanas.next_archs()[0] 总体描述的，但是当我编写输出语句时，输出语句中fluid.io.save_inference_model(dirname=save_path, feeded_var_names=[data.name], target_vars=[predict], executor=exe)      其中target_var

[2020-04-29 09:49] ceci3 commented on #248
https://github.com/PaddlePaddle/PaddleSlim/blob/release/1.0.1/paddleslim/nas/search_space/mobilenetv2.py#L135  可以在
output = archs(data)
这一步的时候指定 return_block和end_points这两个个参数配合使用返回模型的中间信息。

[2020-05-19 04:12] wanghaoshuang opened #298 "How to append float32 operator to quantized graph"
[code]

Some API docs:

- program_guard: https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/program_guard_cn.html#program-guard
- Program: https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/fluid_cn/Program_cn.html#program
- save-inference-model: https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_inference_model_cn.html#save-inference-model
- IrGra

[2020-05-19 04:23] #298 closed, assigned to wanghaoshuang

[2020-05-22 12:09] JensenHJS opened #305 "报错cannot import name 'quant_aware'"
from paddleslim.quant import quant_aware, convert
ImportError: cannot import name 'quant_aware'
安装了paddleslim也报这个错，paddle是1.7版本slim是1.1.1。请问怎么解决

[2020-05-24 05:47] thunder95 commented on #305
遇到了同样的问题

[2020-05-24 05:50] thunder95 commented on #305
我把版本降低到了paddleslim-1.0.1就可以了

[2020-05-27 03:17] slf12 commented on #305
![image](https://user-images.githubusercontent.com/8036226/82974069-9ef28600-a00b-11ea-9340-a7209b60bed1.png)
请参考这个版本对应

[2020-05-28 12:48] JensenHJS opened #314 "在paddleDetection使用slim，训完之后测试没有map"
量化训练在voc数据集上进行，使用以下命令，边训练边测试没有map值，map值为空。感觉可能是预训练权重有问题，是下面这个预训练模型吗
python slim/quantization/train.py --not_quant_pattern yolo_output \
    --eval \
    -c ./configs/yolov3_mobilenet_v1_voc.yml \
    -o max_iters=30000 \
    save_dir=./output/yolov3_mobilenet_v1_voc_quantization \
    LearningRate.base_lr=0.0001 \
    LearningRate.schedulers="[!PiecewiseDecay {gamma: 0.1, milestones: [10000]}]" \

[2020-05-28 12:48] #305 closed, assigned to slf12

[2020-05-29 00:48] JensenHJS commented on #314
这个跟正常训练是同一个预训练模型

[2020-05-29 01:54] wanghaoshuang commented on #245
github提供的托管服务不太稳定，我们现在已经将文档迁移到了readthedocs:
https://paddleslim.readthedocs.io/zh_CN/latest/

[2020-05-29 06:16] JensenHJS commented on #178
你好我训练后量化也出现一些问题，是否是paddle版本太低？要升级到1.8以上吗

[2020-05-29 06:23] JensenHJS opened #316 "使用手册里的步骤进行量化训练出错"
paddle1.7.1
slim1.0.1
使用https://github.com/PaddlePaddle/PaddleDetection/tree/release/0.3/slim/quantization里面的命令行进行量化训练出错。命令如下
python slim/quantization/train.py --not_quant_pattern yolo_output \
    --eval \
    -c ./configs/yolov3_mobilenet_v1.yml \
    -o max_iters=30000 \
    save_dir=./output/yolov3_mobilenet_v1_coco_quantization \
    LearningRate.base_lr=0.0001 \
    LearningRate.schedulers="

[2020-05-29 06:25] #314 closed, assigned to nobody

[2020-05-29 08:35] JensenHJS commented on #211
如果想要量化后加速，在tx2这类嵌入式GPU上使用(CPU是arm的，带GPU），推荐哪种方式呢？paddle-lite还是paddle-tensorrt？

[2020-05-29 09:27] slf12 commented on #316
https://github.com/PaddlePaddle/PaddleDetection/issues/811 已解决，麻烦关闭issue

[2020-05-29 09:34] #316 closed, assigned to slf12

[2020-05-30 09:18] JensenHJS opened #317 "在GPU上量化后加速的问题"
文档里说在GPU上量化后加速,要使用paddle-tensorrt这个方式，但是paddle-tensorrt例子里面似乎只有一个moblinet的例子程序？

[2020-05-30 09:19] JensenHJS commented on #317
sample链接
https://paddle-inference-dist.bj.bcebos.com/tensorrt_test/paddle_inference_sample_v1.7.tar.gz

[2020-06-01 02:01] slf12 commented on #317
是的，更多的benckmark和教程文档正在整理中，预计这个月底上线。

[2020-06-01 05:02] lastrei opened #318 "paddleslim 知识蒸馏demo的问题"
在进行到查看Variables这一步后，进行合并蒸馏loss，这时候报错
: var depthwise_conv2d_11.tmp_0 not in this block
查看Variables发现 student的Variables里并没有depthwise_conv2d_11.tmp_0

通过观察发现 student模型中的depthwise_conv2d_24.tmp_0与teacher中的teacher_bn5c_branch2b.output.1.tmp_3的尺寸一致都是(-1, 512, 1, 1)

所以把demo中的合并蒸馏loss改成了
[code]

但是最后一步训练的时候又报这个错误
[code]

麻烦请看一下，执行是在aistudio平台,麻烦看一下谢谢

[2020-06-01 10:30] wanghaoshuang opened #321 "关于量化的一些使用问题"
1. 量化训练完成后保存的模型是否保存了量化参数？如果有，怎么提取量化参数（每层输入输出和权重）？
2. 量化的type 包含mul ,bn 中的mul 也会被量化吗？
3. model有多种save 方式，包括检查点中的best_model，__model__，对应的除了检查点中包含训练的tmp梯度，还有什么区别吗？
4. 修改默认量化位宽为7bit，进行 量化训练，对训练后的模型convert 成量化模型（包括float和int）,int模型的权重范围还是【-128,127】，这个要怎么修改？
5. 量化推断模型实际的数据流是量化后的int7数据还是float32的模型？
6. 量化模型在做推断时，是怎么处理add,concat，等这些没有参数的层的？ 」

[2020-06-01 11:42] dlkht opened #322 "关于quant_config 的'quantize_op_types':项"
'quantize_op_types':[]
是不是要把模型中所有的op_type都要填写上？
是不是模型没有的op_type不能写？

[2020-06-02 01:48] wanghaoshuang commented on #321
在调用[quant-aware](https://paddleslim.readthedocs.io/zh_CN/latest/api_cn/quantization_api.html#quant-aware)时，需要传入一个program，可以通过这个还没有量化的program拿到模型参数名称，量化前后模型参数名不会变。通过参数名再从scope中拿到参数的数值。方式如下：

[code]

另外，量化后的模型还有scale参数，scale参数的命名方式为参数名或激活变量名称加后缀‘.scale’，比如卷积参数“conv_1.weights”对应的scale变量名称就是‘conv_1.weights.scale’

[2020-06-02 01:50] wanghaoshuang commented on #321
不会，因为bn中的乘scale的操作是在batch norm operator内部实现的

[2020-06-02 01:52] wanghaoshuang commented on #321
检查点中包含恢复训练所用的所有信息，但是不包含网络。
save_infrence_model保存的模型会对网络进行剪裁，得到用于预测的最小子网络，并会同时保存网络结构和参数。

[2020-06-02 01:54] wanghaoshuang commented on #321
因为Paddle的预测库不支持int7的计算，所以最终的存储数值还是用int8存储的，如果一定要存成int7, 可以直接转成int7

[2020-06-02 01:56] wanghaoshuang commented on #321
Paddle的预测库PaddleLite只支持量化成int8的模型，在实际推断过程中，是使用int8计算的，部分没有量化的operator还是用float32数值阶段。

[2020-06-02 01:58] wanghaoshuang commented on #321
会将前续operator的输出转成float32，然后再经过add计算，concat就是对前续operator的结果直接concat

[2020-06-02 03:10] zyxcambridge commented on #321
# insert quantize op in train_prog, return type is CompiledProgram
    print("==========================================================")
    for param in train_prog.all_parameters():
        param_n = np.array(fluid.global_scope().find_var(param).get_tensor())
        print(param_n)
    train_prog_quant = quant_aware(train_prog, place, config, for_test=False)

    param_n = np.array(fluid.global

[2020-06-02 03:15] wanghaoshuang commented on #321
@zyxcambridge
Updated code in question 1:
[code]

[2020-06-02 03:22] aboutmei commented on #321
question4：因为Paddle的预测库不支持int7的计算，所以最终的存储数值还是用int8存储的
paddle的预测库不支持int7推断是paddlelite使用的量化公式是默认int8的原因吗？

如果一定要存成int7, 可以直接转成int7
是在convert的时候转吗？具体要怎么修改呢？

[2020-06-02 07:21] slf12 commented on #322
可参考这里设置https://paddleslim.readthedocs.io/zh_CN/latest/FAQ/quantization_FAQ.html#id2

[2020-06-02 08:35] aboutmei commented on #321
1 . quantization下的infer.py中，load 的weight 是int8的model 和dequan的scale跑的推断对吧？
2 . 对于一个卷积块来说我可不可以这样理解数据流向：输入 int8  weight int8 做conv2d，然后对conv2d的输出dequant成float，做bn和lrelu，再对输出做int8的量化作为下层的输入？
3 . 我在训练的时候train_aware 的config 为
'weight_quantize_type': 'channel_wise_abs_max',
        'activation_quantize_type': 'moving_average_abs_max',
        'quantize_op_types': ['depthwise_conv2d', 'mul', 'conv2d'],

[2020-06-02 10:03] qingqing01 commented on #321
int7当前只能用int8或float32的类型表示吧，值的范围可以是int7。  但int7的类型不支持，Python，Paddle都没有此类型。  能问下您为什么需要int7吗？

[2020-06-02 10:11] qingqing01 commented on #321
这个调用Paddle的预测，非PaddleLite或TensorRT时，只能加载fp32的weight和dequant的scale跑推断看下精度值。whl包安装的Paddle预测不支持加载INT8的模型。

推理过程你理解的没错，是这样。

训练得到的权重，之后会固定不变，这里直接保存成了目标bit的范围，没有保存scale，但weight的scale已经放到了反量化op的属性里了。

[2020-06-03 03:42] baiyfbupt commented on #318
: var depthwise_conv2d_11.tmp_0 not in this block
查看Variables发现 student的Variables里并没有depthwise_conv2d_11.tmp_0

你好，我这里测试aistudio demo是可以正常运行的，是否改动了代码呢？

[2020-06-03 08:39] AIpioneer opened #328 "裁剪分析敏感度，weights应该用正常训练的模型，而不是剪过之后的模型吧"
如题~

[2020-06-03 08:51] wanghaoshuang commented on #328
是的，应该使用训练好的且没有被剪裁过的weights.

[2020-06-04 07:50] #317 closed, assigned to nobody

[2020-06-04 10:11] dlkht opened #333 "保存量化模型时出现奇怪问题"
你好！我在paddle-1.7.2或1.8.1下用paddleslim压缩模型（transformer)，在保存量化模型时，有时可以通过，但经常退出并提示：
Aborted at 1591265021 (unix time) try "date -d @1591265021" if you are using GNU date
查百度发现这个问题叫普遍，其它框架下也有，到底什么原因呢？

[2020-06-04 10:19] dlkht commented on #333
详细一点：

2020-06-04 10:03:41,861-INFO: convert config {'quantize_op_types': ['conv2d', 'depthwise_conv2d', 'mul'], 'for_tensorrt': False, 'is_full_quantize': False, 'weight_bits': 8, 'dtype': 'int8', 'not_quant_pattern': ['skip_quant'], 'moving_rate': 0.9, 'activation_bits': 8, 'window_size': 10000, 'weight_quantize_type': 'abs_max', 'activation_quantize_type': 'moving_average_abs_max'}
W0604 10:03:

[2020-06-04 11:32] aboutmei commented on #321
slim/quantization/train.py  权重7bit  激活8bit 量化训练
2020-06-04 19:23:59,367-WARNING: recv endsignal from outq with errmsg[consumer[consumer-807-6] failed to map with error:[]]
请问这个是什么原因？

[2020-06-04 11:39] aboutmei commented on #321
yolov3_darknet_voc  量化训练时候的  window size 10000代表什么含义？
在量化训练的时候可以添加权重阶段吗？把浮点权重约束在自定义的范围内。leaky_relu_0.tmp_0.scale
elementwise_add_12.scale  concat_0.tmp_0.scale 就是训练后反量化的scale吗？

[2020-06-04 12:40] slf12 commented on #333
应该是量化后的模型结构有问题，可以给下压缩配置，slim版本，具体再看看

[2020-06-04 13:16] AIpioneer opened #334 "模型剪枝是否能够提高模型的速度？"
最近试验了模型剪枝，大小减低了20%，但是发现速度几乎没有变化，是合理的吗

[2020-06-04 13:27] JensenHJS commented on #334
剪枝肯定是可以加速的，量化才是不一定能加速。可能是你剪的层太少或者比例太低。我最近在实验剪枝中

[2020-06-04 13:34] wanghaoshuang commented on #334
是合理的，这和硬件对卷积计算的优化有关。
根据我们的经验：
- 在GPU上加速不明显，应该是CUDNN对特殊通道数量的卷积进行了优化，剪裁产出的通道数不一定是CUDNN需要的最优通道数。
- 在CPU上加速明显，应该是对卷积通道并行计算相关的优化较少
- 某些特殊的卷积对剪裁不敏感，比如MobileNetV2里的卷积

建议：
- 在剪裁的时候，可以控制下剩余的通道数，使其是4的倍数

[2020-06-04 13:36] wanghaoshuang commented on #334
这里有一些推理加速数据供您参考：https://paddleslim.readthedocs.io/zh_CN/latest/model_zoo.html#id4

[2020-06-05 01:54] JensenHJS commented on #203
同样的问题，原因在于剪裁参数太多，可能复制的时候就多加了空格

[2020-06-05 03:12] qingqing01 commented on #321
@justinmeibi  上面错误一般是reader出现了啥问题，不确定是不是多进程reader中一个进程挂了。 得详细的信息更好排查。

window size的含义：是在训练中统计激活的scale时，可以选取一个窗口大小(step大小)内数据，采用滑动平均等方式进行统计scale。

是权重采用自己定义的量化方式吗？

elementwise_add_12.scale concat_0.tmp_0.scale 就是训练后反量化的scale吗？

是量化需要的scale， 反量化也会用到此scale。

[2020-06-05 10:20] qingqing01 commented on #333
Aborted at 1591265021 (unix time) try "date -d @1591265021" if you are using GNU date

@dlkht  退出时模型是否已经保存了？

[2020-06-06 02:31] dlkht commented on #333
闪退时还不到保存那步，死在执行这句时：
val_program = quant.quant_aware(eval_program1, place, quant_config, scope=None, for_test=True)
到达framework.py如下得地方：
def _construct_from_desc(desc):
                p = Program()
        p.desc = desc      #<=======到这句就死掉
        p.blocks = [Block(p, i) for i in six.moves.range(p.desc.num_blocks())]
        p._sync_with_cpp()
        return p

原因好像是指向非法内存空间

[2020-06-08 02:02] eucommiaulmoides opened #337 "为什么文档里的图挂掉了，你们也是吗"
求助

[2020-06-08 05:55] lastrei commented on #318
改本地运行后没有出现这个问题.还有个问题请教一下，是否只要教师模型中的和student模型中的某一对Variables维度一致就可以直接组成l2_loss ？还需要考虑其他的问题么？谢谢！

[2020-06-08 15:09] qingqing01 opened #339 "如何分析敏感度信息"
Related to https://github.com/PaddlePaddle/PaddleDetection/issues/900

[2020-06-09 03:17] baiyfbupt commented on #318
没有其他限制，只要shape一致就可以加蒸馏loss，但是效果如何得看实验情况

[2020-06-09 03:17] wanghaoshuang commented on #337
请问是哪个文档，贴个链接？

[2020-06-09 04:57] lastrei commented on #318
感谢！是否考虑加入方放直接提取出shape一致的Variable，目前看demo中的示例都是直接观察，有点麻烦：），此外选取的时候是否有经验可以分享一下！谢谢！

[2020-06-09 11:46] baiyfbupt commented on #318
@lastrei 感谢建议，我们会考虑增加:)

经验是`l2_loss和soft_label_loss`可以选择最后fc输出得到logits，`fsp_loss`尽量选择CNN网络中间层的feature_map，这样在多数任务上往往是效果比较好的

[2020-06-10 02:18] AIpioneer opened #341 "从经过训练量化的模型产生预测模型（int8)出错"
想从经过训练量化的模型产生预测模型（int8),
实现程序是quant__freezy.py,我这边出错提示
Aborted at 1591755157 (unix time) try "date -d @1591755157" if you are using GNU date

[2020-06-10 02:54] itminner commented on #341
这个错误应该不影响量化模型产出，可以看看有没有infer model保存下来，测下精度确认下

[2020-06-10 03:33] dlkht commented on #341
只有两次保存模型成功，其余都在保存之前出错了

[2020-06-10 04:50] eucommiaulmoides commented on #337
是paddleslim的文档

https://paddlepaddle.github.io/PaddleSlim/algo/algo.html

在 2020-06-09 11:18:02，"whs" <notifications@github.com> 写道：

请问是哪个文档，贴个链接？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-10 09:49] dlkht commented on #341
用opt对生成的infer model优化，产生错误：
[I  6/10 17:46:28.205 ...ease_2.3/Paddle-Lite/lite/api/cxx_api.cc:245 Build] Load model from file.
terminate called after throwing an instance of 'std::invalid_argument'
  what():  unmatched type, store as -746832279, but want to get N6paddle4lite10TensorLiteE

[2020-06-10 12:01] slf12 commented on #341
@juncaipeng 能否看下这个量化模型转化到paddle-lite出错的问题？

[2020-06-11 03:09] juncaipeng commented on #341
@AIpioneer  这个模型有多个block，目前通用量化功能没法支持量化多个block的模型。

[2020-06-11 12:01] qingqing01 opened #343 "Optimize importing error information."
Related to https://github.com/PaddlePaddle/PaddleDetection/issues/925

[2020-06-11 12:10] slf12 commented on #333
看起来像是graph转到program有问题，麻烦再给下压缩配置，slim版本，paddle版本等详细信息

[2020-06-12 03:37] qingqing01 commented on #343
Also related to https://github.com/PaddlePaddle/PaddleDetection/issues/883

[2020-06-12 03:50] #343 closed, assigned to ceci3

[2020-06-12 06:35] ArtyZe opened #347 "opt在protobuf格式下生成的model和params能用protobuf库里的接口解析吗？和caffe是否相同？"
麻烦问下opt生成的和caffe的模型有啥区别，都能用protobuf工具解析吗？

[2020-06-12 07:18] step404 opened #348 "剪枝算法论文地址错误"
感谢开源。Opt Slim Pruner论文地址指向了Slim Pruner。

[2020-06-12 14:23] ceci3 commented on #348
收到，我们修复一下，感谢反馈~

[2020-06-15 01:03] #348 closed, assigned to wanghaoshuang

[2020-06-15 02:29] juncaipeng commented on #347
opt产出的protobuf格式模型，应该是可以使用protobuf库解析的。如果转换过程中有问题，可以到lite的qq群（696965088）咨询。

[2020-06-15 06:50] dlkht commented on #333
压缩配置：
quant_config = {
                # weight quantize type, default is 'channel_wise_abs_max'
                'weight_quantize_type': 'abs_max',
                # activation quantize type, default is 'moving_average_abs_max'
                'activation_quantize_type': 'moving_average_abs_max',
                # weight quantize bit num, default is 8
                'weight_bits': 8,

[2020-06-15 09:02] ArtyZe commented on #347
@juncaipeng 好的，感谢。但是我使用protobuf解析后发现如下问题：
![image](https://user-images.githubusercontent.com/32027268/84638166-32431b00-af29-11ea-9783-18aeed76cd3e.png)
我是参考lite里api_cc写的，先解析program，使用的是framework.proto生成的cc和头文件

--------------------------------------------------------------------------------------------------
今天下午我又试了一下，
1. 首先我使用paddleslim里的eval.py去测试是ok的，
![image](https://user-images.githubuserco

[2020-06-17 07:07] taoja12 opened #354 "关于paddleslim量化原理的问题"
在模型量化文档中(https://paddlepaddle.github.io/PaddleSlim/algo/algo.html)，训练后量化：
对于权重Tensor的量化操作采用非饱和量化方法(No Saturation)，对于输入采用饱和量化方法(Saturation)。
1、那权重和输入进行矩阵相乘后，反量化成float32的操作原理是什么？比如反量化的计算公式，反量化的尺度怎么计算的（因为权重和输入采用两种量化方式，所以反量化如何计算不太清楚）？

[2020-06-18 12:51] HaoLiuHust opened #356 "人脸识别这种类型的模型怎么量化"
看demo generator是要提供label信息，像这种多维度输出的模型label是什么呢

[2020-06-18 16:11] HaoLiuHust commented on #199
有个问题，这个参数在post_quant里能设置吗？

[2020-06-18 16:11] HaoLiuHust commented on #199
@slf12

[2020-06-19 01:09] #356 closed, assigned to nobody

[2020-06-19 08:38] HaoLiuHust opened #359 "训练后量化如何指定某些层不量化"
![image](https://user-images.githubusercontent.com/7233091/85114146-156d5700-b24b-11ea-9440-0a2bb1abd5bf.png)
API文档中有一个字典配置量化参数，里面有not_quant_pattern来指定一些pattern可以不量化，可是在quant_post中却并不是通过字典来配置量化参数的，请问quant_post中能指定哪些层不量化么

[2020-06-19 08:45] HaoLiuHust opened #360 "quant_post如何指定哪些层不量化"
![image](https://user-images.githubusercontent.com/7233091/85114146-156d5700-b24b-11ea-9440-0a2bb1abd5bf.png)
API文档中有一个字典配置量化参数，里面有not_quant_pattern来指定一些pattern可以不量化，可是在quant_post中却并不是通过字典来配置量化参数的，请问quant_post中能指定哪些层不量化么

[2020-06-19 08:45] HaoLiuHust opened #361 "quant_post如何指定哪些层不量化"
![image](https://user-images.githubusercontent.com/7233091/85114146-156d5700-b24b-11ea-9440-0a2bb1abd5bf.png)
API文档中有一个字典配置量化参数，里面有not_quant_pattern来指定一些pattern可以不量化，可是在quant_post中却并不是通过字典来配置量化参数的，请问quant_post中能指定哪些层不量化么

[2020-06-19 08:46] HaoLiuHust opened #362 "quant_post如何指定哪些层不量化"
![image](https://user-images.githubusercontent.com/7233091/85114146-156d5700-b24b-11ea-9440-0a2bb1abd5bf.png)
API文档中有一个字典配置量化参数，里面有not_quant_pattern来指定一些pattern可以不量化，可是在quant_post中却并不是通过字典来配置量化参数的，请问quant_post中能指定哪些层不量化么

[2020-06-19 08:50] #360 closed, assigned to nobody

[2020-06-19 08:51] #362 closed, assigned to nobody

[2020-06-19 08:53] #361 closed, assigned to nobody

[2020-06-22 02:33] HaoLiuHust opened #364 "量化后精度下降非常大"
量化了一个识别模型，精度下降了几十个点，如何调试问题出在哪一层？

[2020-06-23 14:05] chengxurensheng666 opened #366 "请问一下是版本不对吗"
![image](https://user-images.githubusercontent.com/48110081/85413335-47f5b780-b59d-11ea-811a-8234f8931343.png)
![image](https://user-images.githubusercontent.com/48110081/85413368-52b04c80-b59d-11ea-92e4-1bc7d88dd0f3.png)
问题1：我不管用什么slim的命令都要提示这个，padddlepaddle用的1.8版本，slim1.1.1 请问一下是版本不对吗
问题2：paddledetection里面内置了slim，请问还需要在pip install paddleslim吗
![image](https://user-images.githubusercontent.com/48

[2020-06-24 03:23] qingqing01 commented on #364
@HaoLiuHust  请问具体是什么模型？ 使用的是量化训练吗？ 如果是量化训练，可以适当调整下超参数(lr, epoch)等。

[2020-06-24 03:29] juncaipeng commented on #359
离线量化没有输入参数支持跳过op量化。

但是，如果在构建网络结构的时候，将不需要量化的op定义在name_scope("skip_quant")中，然后正常训练保存。对这个预测模型使用离线量化，还是可以支持跳过量化的。

[2020-06-24 03:37] HaoLiuHust commented on #359
多谢，可以在保存后修改网络结构将不需要定义的op放在name_scope("skip_quant")再重新保存不

[2020-06-24 03:39] HaoLiuHust commented on #364
是一个人脸识别模型，结构类似mobilenet, 是直接用quant_post量化的

[2020-06-24 03:58] juncaipeng commented on #364
识别模型精度一般下降不多的，主要可以采用：
* 增大校准数据集，校准数据集需要具有代表性，可以表示预测数据的分布
* 调整离线量化中量化的op，比如减少量化op类型
* 改用量化训练方法

[2020-06-24 03:59] juncaipeng commented on #359
嗯，好像是可以的，你修改模型结果，然后从新load权重，进行保存。你量化前先测试一下这个模型精度是否正确。

[2020-06-24 04:27] wanghaoshuang commented on #366
您好，这个错误应该使和paddleslim无关的，应该是你环境里的pandas和numpy版本不兼容导致的。
我在aistudio里把pandas卸载了就可以了。

类似的问题可以参考：https://stackoverflow.com/questions/40845304/runtimewarning-numpy-dtype-size-changed-may-indicate-binary-incompatibility

[2020-06-24 05:35] HaoLiuHust commented on #364
好的，我先试试量化训练

[2020-06-24 05:36] HaoLiuHust commented on #364
另外有没有工具可以逐层比对量化前后的每一层呢

[2020-06-24 05:37] HaoLiuHust commented on #359
好的，多谢

[2020-06-24 05:37] #359 closed, assigned to juncaipeng

[2020-06-24 08:37] chengxurensheng666 commented on #366
我将pandas卸载后可以运行了，但是我发现裁剪部分参数会出现报错如：bn_conv1_scale
![image](https://user-images.githubusercontent.com/48110081/85522778-ad4ab680-b638-11ea-93e3-6b877265c3fa.png)
![image](https://user-images.githubusercontent.com/48110081/85522837-bd629600-b638-11ea-98d8-999c93e57d56.png)
有些能够正常运行如conv1_weights
所有参数名是通过python prune.py -c ../../configs/faster_rcnn_r50_1x.yml --print_params命令得到的

[2020-06-24 08:59] wanghaoshuang commented on #366
PaddleSlim目前只能**直接**指定剪裁卷积层的参数。
在对卷积层进行剪裁时，会通过前向搜索或回溯对关联到的batch norm等层进行剪裁。
bn_conv1_scale应该是conv1 layer之后的batch norm， 在对conv1_weights进行剪裁时，会自动剪裁到bn_conv1_scale.

[2020-06-24 09:11] chengxurensheng666 commented on #366
懂了非常感谢 终于可以正常运行了

[2020-06-24 14:16] #366 closed, assigned to wanghaoshuang

[2020-06-26 03:23] HaoLiuHust commented on #364
用了量化重训练，精度拉回去挺多了，可能这个模型对参数比较敏感

[2020-06-27 08:26] skyliuhc opened #367 "PaddleSlim/docs/zh_cn/quick_start/nas_tutorial.md里写的代码有问题"
for step in range(3):
    archs = sanas.next_archs()[0]
    exe, train_program, eval_progarm, inputs, avg_cost, acc_top1, acc_top5 = build_program(archs)

test_program错写成了test_progarm
需要更正为exe, train_program, test_program, inputs, avg_cost, acc_top1, acc_top5 = build_program(archs)

[2020-06-28 01:17] HaoLiuHust opened #368 "quant_aware训练出来的权重不是在int8范围"
训练代码如下：
[code]

[2020-06-28 01:18] HaoLiuHust commented on #368
保存出来的参数打印出来看了下，发现卷积层的权重还是小数，并不是以float32形式保存的int8数据

[2020-06-29 02:16] HaoLiuHust commented on #368
知道了。。我保存方式有问题

[2020-06-29 02:16] #368 closed, assigned to nobody

[2020-06-29 03:28] itminner commented on #354
量化原理请参考 https://paddlepaddle.github.io/PaddleSlim/algo/algo.html#quantization-aware-training

[2020-06-29 06:20] HaoLiuHust commented on #364
弄错了。。精度没有拉回去，训练的时候没开量化。我以前用其他家的量化工具量化这个模型也出现过量化精度损失很多的情况，最后发现是只量化权重（不插入量化和反量化OP)时，损失很小，最后是他们修复了这个bug

[2020-06-29 06:45] HaoLiuHust commented on #364
有没有办法确定是否也是同样的原因

[2020-06-29 11:45] qingqing01 commented on #364
@HaoLiuHust

1.  PaddleSlim也支持只量化权重，参考接口： https://paddleslim.readthedocs.io/zh_CN/latest/api_cn/quantization_api.html#quant-post-dynamic

2. 人脸识别模型，量化训练损失"几十个点"，觉得不正常，评价指标是啥？ 能否详细描述下 量化训练的一些参数设置？

[2020-06-29 12:01] juncaipeng commented on #347
paddlelite只有arm cpu支持量化模型，opt转换中的valid_targets设置为arm。

[2020-06-29 12:14] itminner commented on #364
可能是feature值离群点导致的，可以试下加大权重衰减。只量化权重的话，就掩盖了feature值离群点问题，而且只量化权重恐怕不能在预测 速度上取得收益

[2020-06-29 12:45] HaoLiuHust commented on #364
@itminner 他们是修复了量化OP里面的bug, 最后使用的时候还是量化了Op的

[2020-06-29 12:48] HaoLiuHust commented on #364
1、 嗯，我也看到了这个接口，我想在PC上测试性能，这个接口保存的文件是不是只能在paddle-lite里跑？
2、评价指标是tpr-fpr。loss使用的是arc loss, 实现使用的是PaddleCV里的实现，量化训练参数基本使用的默认的config

[2020-06-29 13:23] xiteng1988 commented on #364
@HaoLiuHust 可以参考人脸识别模型的量化，在lfw上离线量化损失很小的，对于大的数据集，刚开始飞掉正常的很快就可以训回来，基于pact量化会好一些

[2020-06-29 14:13] HaoLiuHust commented on #364
@xiteng1988 pact量化是啥

[2020-06-29 14:13] HaoLiuHust commented on #364
有人脸识别模型的量化demo么 @xiteng1988

[2020-06-29 15:10] qingqing01 commented on #364
@HaoLiuHust

1. 只量化weight，在PC上测试是没有加速的，只能减少模型体积。
2.  quant_post(也就是校准量化)掉几十个点，量化训练掉多少点？

一些量化的可参考的信息：

<img width="1027" alt="图片" src="https://user-images.githubusercontent.com/7845005/86022107-7cb1b500-ba5c-11ea-86d4-da86b36cf54c.png">

这个图是Nvidia的资料，离线量化的一些在一些任务上没有这么大的损失(看entropy那栏，采用KL散度的方式)，你所采用的quant_post也是KL散度的方式。

量化训练，我们尝试过的模型，大部分损失0.x% - 2%(可以看Slim提供的benchmark)，但MobileNetv3训练就不稳定，使用abs-ma

[2020-06-29 15:23] qingqing01 opened #369 "Need a FAQ or doc to tell users how to not quant some layers in quant-aware training."
related to https://github.com/PaddlePaddle/PaddleSlim/issues/364#issuecomment-651183736

FAQ: https://paddleslim.readthedocs.io/zh_CN/latest/FAQ/quantization_FAQ.html#id2

[2020-06-30 01:13] HaoLiuHust commented on #364
嗯，多谢回复，我试试不量化一些层。“ 只量化weight，在PC上测试是没有加速的，只能减少模型体积。”，我只是测一下准确率，看看是不是只量化权重损失会正常些，这样就确认是量化OP引起的问题

[2020-07-02 09:23] wkw1542673895 opened #374 "运行slimfacenet报错"
运行代码：sh slim_train.sh
报错如下：
raceback (most recent call last):
  File "train_eval.py", line 28, in <module>
    from lfw_eval import parse_filelist, evaluation_10_fold
  File "/home/wkw/slim_dev/PaddleSlim/demo/slimfacenet/lfw_eval.py", line 26, in <module>
    from paddleslim import models
  File "/root/anaconda3/envs/slim/lib/python3.6/site-packages/paddleslim/__init__.py", line 17, in <module>

[2020-07-02 14:02] ceci3 commented on #374
你好，可以卸载掉安装的parl，之前的parl关于paddle的版本判断有问题

[2020-07-03 01:55] wkw1542673895 commented on #374
如果不安装parl，会出现另外一个错误，ImportError: cannot import name 'quant_post_static'

[2020-07-03 02:47] ceci3 commented on #374
如果是pip install 的paddleslim的话，把'quant_post_static' 这个接口改成 'quant_post' 这个接口，编包的时候好像没有合进去这个改动。

[2020-07-03 08:12] xiteng1988 commented on #374
@wkw1542673895 slimfacenet demo还有一些改动在编包之后cherry pick到1.1.1分支，建议直接拉paddleslim 1.1.1分支（pip install 的版本不包含cherry pick的改动），并使用与之对应的paddle 1.8版本

[2020-07-03 08:28] wkw1542673895 commented on #374
好的，谢谢，我试试

[2020-07-06 02:13] HaoLiuHust commented on #364
应该是这个模型结构或者参数分布导致的，我训练后量化了一个Resnet50模型（没有重训练），与issue中的模型训练数据是一样的，量化数据是一样的，Resnet50降得很少，1%以内。估计还是这个模型某些层的损失很大

[2020-07-07 01:54] #347 closed, assigned to juncaipeng

[2020-07-07 02:25] AIpioneer opened #375 "关于剪枝的咨询"
你们这里有个例子https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/api_cn/prune_api.rst，我不太明白，Pruner就是用于重训，减少权重中不重要的通道权值么？但是我还没有训练，我怎么知道哪个权重重不重要呢，这里要填个ratios剪切率，这样的我要怎么填呢？sensitivity
是重训后，计算每个卷积层敏感度，按说重训后不是去掉对应卷积层的一些通道的参数么，对比对应有些通道参数不重要的去掉么，这个计算每层的敏感度，作用是是什么？是说哪个敏感点，后面就裁剪多点？还有就是计算敏感度这里还有个pruned_ratios比例要填，不是应该是哪个不重要就去掉，这个我不去看权值，我怎么知道裁剪的比例呢？merge_sensitive
还有这个合并的时候，value 为剪裁比例， value 为精度损失

[2020-07-07 03:42] wanghaoshuang commented on #375
剪裁的一般流程是：
1. 在目标任务上训练好原始模型
2. 调用敏感度接口分析各层敏感度
3. 根据敏感度确定各层剪裁比例
4. 调用Pruner.prune，根据第3步确定的剪裁比例，对目标网络进行剪裁
5. 对剪裁后的网络进行重新训练

https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/api_cn/prune_api.rst
关于这个例子的一些问题：

-  剪裁前需要重训练么？
   - Pruner是用于重训剪裁后的模型么？ ** 答：Pruner不关心模型是否是训好的模型，Pruner.prune接口返回的模型不是重训的模型，用户需要手动对剪裁后的模型进行重训练。**
   - 在没有训练模型的前提下，怎么根据重要性填写ratios剪切率呢？ **答：需要使用敏感度（sensitivy）接口分析

[2020-07-07 09:01] HaoLiuHust commented on #364
@qingqing01 这个pact要在那个paddle版本用，我试了1.8.1和2.0.0.alpha，都不行，QuantizationTransformPass没有act_quantize_func这个参数

[2020-07-09 01:15] HaoLiuHust commented on #364
试了下MNN，rknn的量化，都出现了同样的现象，Resnet50（或通道砍半）都几乎没有损失，但这个mobilenetv2的改版却下降了非常多

[2020-07-09 01:21] HaoLiuHust commented on #364
![image](https://user-images.githubusercontent.com/7233091/86986168-99b95700-c1c5-11ea-88be-681e2ff86717.png)

[2020-07-09 04:44] wanghaoshuang commented on #364
目前只有develop分支支持，您可以从这里下载最新的Paddle安装包：
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.8/install/Tables.html#whl-dev

[2020-07-09 05:05] #339 closed, assigned to wanghaoshuang

[2020-07-09 05:10] ceci3 commented on #367
在 https://github.com/PaddlePaddle/PaddleSlim/pull/377 中进行修复，感谢反馈~

[2020-07-09 07:42] qingqing01 opened #379 "Distillation about YOLOv3."
related to https://github.com/PaddlePaddle/PaddleDetection/issues/1043

[2020-07-09 07:42] #379 closed, assigned to nobody

[2020-07-09 08:31] #367 closed, assigned to ceci3

[2020-07-10 02:01] DYJNG opened #380 "量化后的paddle模型转TensorRT模型的问题"
您好，我需要将quant_post量化后的模型转换为独立的trt模型，我尝试先转为onnx模型，再从onnx模型转为trt模型，但在转onnx模型是出现如下问题：
$x2paddle --framework=paddle2onnx --model=paddle_model/yolov3_quant_post_model/ --save_dir=paddle_quant_onnx_model
paddle.__version__ = 1.8.2
Translating PaddlePaddle to ONNX...

Total:481, Current:481 : fetch                             bs
There's 4 ops are not supported yet
=========== fake_quantize_range_abs_max =

[2020-07-10 08:35] ceci3 commented on #380
slim离线量化产出的模型可以直接用trt运行，可以参考https://github.com/PaddlePaddle/Paddle-Inference-Demo/blob/master/docs/optimize/paddle_trt.rst#int8%E9%87%8F%E5%8C%96%E9%A2%84%E6%B5%8B 这里的文档，目前trt只支持有校准数据的离线量化，不支持没有校准数据的离线量化

[2020-07-10 12:05] aboutmei opened #381 "关于yolo 的量化训练问题"
1.yolov3_darknet.yml  coco 数据集加载与训练模型训练yolo_v3，map 一直非常低，4卡batch8迭代20000步,map大概0.14。请问预训练模型是否有问题，或者我这边哪里操作有问题?

2.yolov4_coco 数据集量化训练
CUDA_VISIBLE_DEVICES=2 python slim/quantization/train.py  --eval -c ./configs/yolov4/yolov4_cspdarknet_voc.yml  -o max_iters=1000      save_dir=./output_v4  LearningRate.base_lr=0.0001      LearningRate.schedulers="[!PiecewiseDecay {gamma: 0.1, milestones: [10000]}]

[2020-07-10 12:53] heavengate commented on #381
1.  加载的预训练模型是全量的预训练还是backbone的预训练，如果没有修改默认配置的话是加载backbone预训练，yolov3训练收敛比较慢，coco数据集上全量训练完是50w iter，2w iter的时候精度应该还不高
2. 用的是哪个PaddleDetection分支和Paddle版本，我本地没有复现出这个问题

[2020-07-10 13:03] greatyang opened #382 "demo/auto_prune/train.py 执行报错ERROR: '>' not supported between instances of 'float' and 'method'"
[code]

环境如下：
paddleslim 1.0.1
paddlepaddle 1.7.2
python 3.7.4

[2020-07-12 01:35] Sejudyblues opened #383 "在paddleslim 图像分类模型知识蒸馏-快速开始 教程中 运行的问题？"
model = slim.models.__dict__['MobileNet']()
student_program = fluid.Program()
student_startup = fluid.Program()
with fluid.program_guard(student_program, student_startup):
    image = fluid.data(
        name='image', shape=[None] + [1, 28, 28], dtype='float32')
    label = fluid.data(name='label', shape=[None, 1], dtype='int64')
    out = model.net(input=image, class_dim=10)
    cost = fluid.laye

[2020-07-12 01:40] Sejudyblues commented on #318
麻烦问下 我运行这个demo到 model = models.__dict__['mobilenet']() 这句的时候 就提醒错误了  说没有models没有定义。

[2020-07-12 01:52] Sejudyblues commented on #383
自己已经解决了 查看了 paadleslim文件夹下的 models文件 发现他们模型都是分开的 并不是在models一个文件内
所以要将上述使用改为如下 model = slim.models.mobilenet.__dict__['MobileNet']() 即可。

[2020-07-13 03:35] cryoco commented on #380
您好，Paddle Inference预测库下个版本起也支持量化模型的TRT加速，目前可以参考[这里](https://www.paddlepaddle.org.cn/documentation/docs/zh/develop/advanced_guide/inference_deployment/inference/build_and_install_lib_cn.html)由develop版本编译预测库的方式使用该功能。编译后的使用方式可以参考上面ceci3发的文档

[2020-07-13 03:55] DYJNG commented on #380
@ceci3 @cryoco 感谢回复，其实我的本意是希望能够把量化后的paddle模型转化为独立的trt模型，脱离paddle框架，仅使用trt去做推理，但是目前我还没有想到实现的途径。我先尝试您们提供的建议测试下性能，再次感谢！

[2020-07-13 05:29] baiyfbupt commented on #383
您好，这里确实没有说清楚models的来源，感谢反馈。
这个教程仅供参考蒸馏的基本流程，如果想进一步了解可以参照https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/distillation 进行实验

[2020-07-15 01:09] Sejudyblues commented on #383
好的，非常感谢！现在正在看学习这个demo在。

[2020-07-15 13:25] itminner commented on #354
离线量化 原理可以参考 https://zdaiot.com/MLFrameworks/TensorRT/TensorRT%20INT8%E9%87%8F%E5%8C%96%E5%8E%9F%E7%90%86/

[2020-07-16 07:45] chenzaiping-dev opened #389 "支持Dataset方式的蒸馏训练"
RT。
目前的蒸馏使用的训练集和测试集reader，大部分是下载数据到本地后读取的，支持的训练集比较小；
如果可以支持Dataset方式训练蒸馏的话，对使用方可以自定义hdfs或afs等路径，不用关心数据拉取等细节，和普通的分布式训练更能保持一致；

[2020-07-17 07:22] ceci3 opened #391 "量化训练示例按照readme 跑不通"
https://github.com/PaddlePaddle/PaddleSlim/blob/develop/demo/quant/quant_aware/train.py
https://github.com/PaddlePaddle/PaddleSlim/blob/develop/demo/quant/quant_aware/README.md

[2020-07-17 07:22] heavengate commented on #381
yolov4训练精度对齐正在复现中，我们会在近期发布并支持slim进行模型压缩，目前直接压缩可能确实会有问题，我们跟进一下~

[2020-07-20 08:22] #391 closed, assigned to ceci3

[2020-07-22 11:11] wanghaoshuang commented on #389
请问，可以详细说明下Dataset是什么？我们对这个需求不是很明确。

[2020-07-22 14:15] Dabulv opened #394 "AttributeError: 'Teacher' object has no attribute '_manager'"
### 环境
paddlepaddle-gpu     1.8.1.post97
paddleslim           1.1.1

### 命令
CUDA_VISIBLE_DEVICES=0 python -u run_teacher1.py --use_cuda true --out_port 8080

### 报错信息
2020-07-22 22:11:36,723-WARNING: If you want to use training-aware and post-training quantization, please use Paddle >= 2.0.0 or develop version
python3.6.8/lib/python3.6/site-packages/paddle/fluid/executor.py:1093: UserWarning: Ther

[2020-07-22 14:22] #394 closed, assigned to nobody

[2020-07-22 14:23] Dabulv commented on #394
没注意看 OSError: [Errno 98] Address already in use

[2020-07-30 07:23] dlkht opened #397 "transformer 量化sample_generator如何设计"
你好！想用quant_post对transformer模型量化，但参数sample_generator不知如何设计，
能否提示下？

[2020-08-05 11:22] wanghaoshuang commented on #397
可以参考这个文档中对`sample_generator`的解释：
https://paddleslim.readthedocs.io/zh_CN/latest/api_cn/quantization_api.html#quant-post-static

[2020-08-06 09:36] wuhang2016 opened #410 "根据官方文档得到的量化模型，无法转化为“navie_buffer”格式"
RT，根据 [https://paddlepaddle.github.io/PaddleSlim/quick_start/quant_aware_tutorial.html](url) 的快速开始教程，训练得到的量化模型为非combine类型，在将模型转化为“navie_buffer”格式时，报如下错：
    [I  8/ 6 17: 3:57.814 ...se_2.6/2.6.1/Paddle-Lite/lite/api/opt.cc:381 CheckIfModelSupported]  Erro: This model is not supported, because 2 ops are not supported on 'arm'. These unsupported ops are: 'accuracy, cross_entropy2'

    求问如何解决?

[2020-08-07 01:49] wanghaoshuang commented on #410
多谢您的反馈。这个PR修复了文档中示例的问题：https://github.com/PaddlePaddle/PaddleSlim/pull/412

错误原因：
在保存PaddleLite所支持的预测模型时，是不能保存计算accuracy和loss的op的。在save_inference_model接口中，可以通过制定`target_vars`和`feeded_var_names`来剪裁得到一个没有`accuracy`,`loss`和`label`的子网络，正如上述PR中的修改。

[2020-08-07 05:17] #410 closed, assigned to nobody

[2020-08-17 10:39] JH95-ai opened #423 "您好，我想了解一下，PaddleSlim中的量化工具支持直接量化onnx模型么？"
如题。。。

[2020-08-17 10:57] dlkht commented on #341
请问现在支持多个block的量化了吗

[2020-08-18 02:01] baiyfbupt commented on #423
你好，暂不支持，可以用[X2Paddle](https://github.com/PaddlePaddle/X2Paddle)转为paddle后再量化

[2020-08-18 03:28] FrancisJ7 opened #424 "请问paddleslim下个版本能支持动态图吗？"
本人实在是不习惯静态图...

[2020-08-18 06:05] dlkht opened #426 "quant_ware()量化在执行到_sync_with_cpp()时崩溃"
/paddle/fluid/framework.py的函数_sync_with_cpp()，
作用是Synchronize Python instance to its binding C++ object instance.

[2020-08-18 10:04] JH95-ai commented on #423
好的，谢谢您的回复。

[2020-08-18 10:04] #423 closed, assigned to nobody

[2020-08-19 12:56] Dabulv opened #428 "Pantheon student memory leak"
环境

程序

[code]

运行之后内存一直上涨，达到 200GB 之后就被系统kill掉了。

[2020-08-20 04:04] wanghaoshuang commented on #426
请问可以贴出更过error log么？

[2020-08-20 06:02] AIpioneer commented on #424
在计划内，请问您是哪位，可以沟通一下(wechat/手机：I52IO5九86五8)

[2020-08-26 02:37] 1558513572 opened #432 "急急急！！求问在循环生成模型的程序中，怎么在生成下一个模型的时候把上一个模型删除，避免显存爆炸。类似tensorflow中的clear_session()函数，以及matlab中的clear功能的函数。"
大佬们，请问一下AI Studio运行SA-NAS程序报错GPU out of memory，该怎么解决呢？（前天还跑了1000代，今天跑20代就停了）
![GPU运行报错](https://user-images.githubusercontent.com/44279669/91248820-1dd09980-e788-11ea-81a5-d17162709131.PNG)

[2020-08-29 00:09] #432 closed, assigned to nobody

[2020-08-29 00:13] 1558513572 opened #434 "急急急！！求问在循环生成模型的程序中，怎么在生成下一个模型的时候把上一个模型删除，避免显存爆炸。类似tensorflow中的clear_session()函数，以及matlab中的clear功能的函数"

[2020-09-02 02:26] ceci3 commented on #434
你好，请问下可以贴下可复现代码嘛？我们跑示例没有办法复现出来显存爆炸的问题。

[2020-09-02 02:57] 1558513572 commented on #434
非常感谢，现在这个问题已经解决了，谢谢！

---原始邮件---
发件人: "ceci3"<notifications@github.com&gt;
发送时间: 2020年9月2日(周三) 上午10:26
收件人: "PaddlePaddle/PaddleSlim"<PaddleSlim@noreply.github.com&gt;;
抄送: "1558513572"<1558513572@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/PaddleSlim] 急急急！！求问在循环生成模型的程序中，怎么在生成下一个模型的时候把上一个模型删除，避免显存爆炸。类似tensorflow中的clear_session()函数，以及matlab中的clear功能的函数 (#434)

你好，请问下可以贴

[2020-09-03 08:29] thunder95 opened #437 "模型量化之后怎么加载int数据类型"
量化训练之后有float和int两种数类型的模型文件

float加载推理没有任何问题，但是int该怎么加载？
运行命令如下：
[code]

[2020-09-03 09:24] ZhijunLStudio opened #438 "模型量化"
在模型量化最后保存的时候，这块的输入和输出应该是什么呢，试了好多都报错
![微信图片_20200903172158](https://user-images.githubusercontent.com/60954978/92097159-587ea580-ee0a-11ea-8e31-bd3c22c3bb5e.png)
![微信图片_20200903172204](https://user-images.githubusercontent.com/60954978/92097167-5a486900-ee0a-11ea-84f1-9e2b0f419ab6.png)
![微信图片_20200903172207](https://user-images.githubusercontent.com/60954978/92097173-5c122c80-ee0a-11ea-842d-79f7eb9

[2020-09-03 10:45] baiyfbupt commented on #438
1. `.var()`接口需要传入一个variable name，建议check一下pred[-1]的类型，确保是string类型，或许应该是pred[-1].name？
2. 量化模型保存inference_model和普通模型保存inference_model没有区别，可以参照save_inference_model API文档https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_inference_model_cn.html#save-inference-model ,你这里的写法应该没有问题

[2020-09-03 10:55] baiyfbupt commented on #437
您好，量化后`convert()`接口导出的int模型不可用于paddle直接加载，因为paddle核心框架没有量化计算功能，如果需要使用量化模型部署可以结合您的场景选择Intel CPU、Nvidia TensorRT、PaddleLite进行Server CPU、Server GPU、端侧的预测部署，请参考文档 https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/FAQ/quantization_FAQ.md#2-%E9%87%8F%E5%8C%96%E8%AE%AD%E7%BB%83%E6%88%96%E8%80%85%E7%A6%BB%E7%BA%BF%E9%87%8F%E5%8C%96%E5%90%8E%E7%9A%84%E6%A8%A1%E5%9E%8B%E4%BD%BF%E7%94%A8flui

[2020-09-03 11:13] itminner commented on #438
请参考save_inference_model api文档，https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/io_cn/save_inference_model_cn.html#save-inference-model
量化模型导出和float模型导出没有区别。
如果pred本身是个变量，放到target_vars数组里即可

[2020-09-03 11:13] thunder95 commented on #437
@baiyfbupt 你好，感谢回复，我是想用tensorrt部署(pc和xavier)，用的paddledetection， 按照文档里的方式，我改了下代码支持int8的方式，最终没有任何检测结果，用float时是有检测结果的。
[code]

[2020-09-03 11:25] baiyfbupt commented on #437
这个是指原模型有结果？还是指量化后convert()导出的float32模型呢？

[2020-09-04 02:50] thunder95 commented on #437
@baiyfbupt  原模型和量化训练之后产生的float文件夹（也产生了int文件夹）， 都是有结果的

[2020-09-04 03:15] baiyfbupt commented on #437
1. 原模型预测 （FP32模型验证）
2. 量化后的float模型以TRT float模式预测 （模拟量化效果验证）
3. 量化后的float模型以TRT int模式预测（注意是**使用量化得到的float模型**而非int模型）（真实int8量化模型效果验证）

量化可以按这三条逐一验证，我理解您现在是`1，2`都没问题了，但是`3`预测没有结果对吗，如果确认`3`没有用错模型，可以贴下TRT预测用的代码我们看下~

[2020-09-04 03:36] thunder95 commented on #437
嗯 你说的没错
预测用的代码我仍然用的是paddledetection， 在上面只是加了支持trt_int8的少量代码

[src.zip](https://github.com/PaddlePaddle/PaddleSlim/files/5172522/src.zip)

@baiyfbupt

[2020-09-06 12:28] ZhijunLStudio opened #439 "模型部署问题"
我在模型部署的时候，他说我这个expand_as不能用，有其他可以把c x 1 x 1扩展为c x n x n的api吗
![微信图片_20200906202746](https://user-images.githubusercontent.com/60954978/92325731-76a10b80-f07f-11ea-8412-1d652e86bfaa.png)

[2020-09-07 02:44] baiyfbupt commented on #439
可以试下concat: https://www.paddlepaddle.org.cn/documentation/docs/zh/api_cn/layers_cn/concat_cn.html#concat
另外paddlelite近期增加了expand_as op的支持，可以在lite咨询下是否可用 https://github.com/PaddlePaddle/Paddle-Lite/pull/4047

[2020-09-07 02:58] qingqing01 opened #440 "Slimfacenet文档中没有提供预训练模型"
related to https://github.com/PaddlePaddle/PaddleDetection/issues/1364#issuecomment-687995392

[2020-09-08 02:02] qingqing01 commented on #440
已提交PR增加预训练模型 https://github.com/PaddlePaddle/PaddleSlim/pull/442/files

[2020-09-08 02:28] nihuizhidao commented on #440
多谢~

[2020-09-08 07:16] cryoco commented on #437
您好，麻烦提供下完整的log，我们看下TensorRT的优化阶段是否出了问题

[2020-09-08 09:08] nihuizhidao opened #444 "Slimface的train_eval.py的importer有问题"
python==3.6.10
paddlepaddle-gpu==1.8.2.post107
paddleslim==1.1.1

[slimfacenet的train_eval.py](https://github.com/PaddlePaddle/PaddleSlim/blob/develop/demo/slimfacenet/train_eval.py)第30行的quant_post_static导入出错：

paddlepaddle的gpu调用是正常的。

请问这个是什么原因呢？

[2020-09-08 10:58] nihuizhidao opened #445 "Slimfacenet的数据集及格式问题"
[casia的dataloader](https://github.com/PaddlePaddle/PaddleSlim/blob/release/1.1.1/demo/slimfacenet/dataloader/casia.py)中的数据集是否可以提供下？

是否是将原始数据集CASIA-WebFace做112X96的resize即可？

还有就是对于提供的预训练模型，inference的每张图片格式是什么样的呢？
是否按照如下操作？

[code]

[2020-09-08 12:42] nihuizhidao commented on #445
数据集是CASIA-WebFace中检测到的face crop algin成112X96大小，这个问题解决了。

inference的preprocess是不是就是上面提到的那样呢？

[2020-09-08 12:44] nihuizhidao commented on #444
我使用了developer版本的slimfacenet，所以有这个问题，1.1.1版本的里面是quant_post而不是quant_post_static，就不会有问题了。

[2020-09-08 12:44] #444 closed, assigned to nobody

[2020-09-09 00:56] thunder95 commented on #437
@cryoco 您好，我是使用aistudio进行量化的，没有发现哪里有log， 下面是我aistudio进行量化时的输出：

/home/aistudio/PaddleDetection/slim/quantization
env: CUDA_VISIBLE_DEVICES=0
WARNING: Do not have avx core. You may not build with AVX, but AVX is supported on local machine.
 You could build paddle WITH_AVX=ON to get better performance.
The original error is: No module named 'paddle.fluid.core_avx'
W0909 08:47:40.412988   181 init.cc

[2020-09-09 01:05] thunder95 commented on #437
@cryoco
之前貌似没报这个错failed to map with error:[target0 not in samples]]， 但刚刚为了给您演示的时候却报了， 有点奇怪

[2020-09-09 01:45] thunder95 commented on #437
@cryoco
翻看其他issue， 这个错误已解决，但是量化时出现了新的问题：

Traceback (most recent call last):
  File "train.py", line 317, in <module>
    main()
  File "train.py", line 241, in main
    outs = exe.run(compiled_train_prog, fetch_list=train_values)
  File "/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddle/fluid/executor.py", line 1082, in run
    six.reraise(*sys.exc_info())
  File "/opt/con

[2020-09-09 05:49] cryoco commented on #437
您好，您开始时是用TRT部署时结果不正确，所以想看下部署相关的log哈，就是您发的
[code]
这部分log再往上的内容。

现在您是又遇到量化训练的问题了么？这个可能需要 @baiyfbupt 再帮忙看下

[2020-09-09 11:33] xiteng1988 commented on #445
数据集可以提供的，我近期加上下载链接提个PR哈

[2020-09-10 03:05] WenmuZhou opened #448 "有动态图量化教程吗"

[2020-09-13 23:54] ZhijunLStudio opened #452 "模型量化文件数变少问题"
量化前的权重文件数是300个，量化之后是220个，以致于用量化之后权重的来预测，什么都预测不出来，我按着官方文档来的，但是不知道哪里出了问题
![微信图片_20200914075341](https://user-images.githubusercontent.com/60954978/93031691-75fc0c80-f65f-11ea-810c-da0a9333dd5a.png)
![2](https://user-images.githubusercontent.com/60954978/93031695-78f6fd00-f65f-11ea-81b1-5d616e586b80.png)

[2020-09-14 00:39] thunder95 commented on #437
@baiyfbupt 麻烦看下， 我运行的命令如下：!python train.py --not_quant_pattern yolo_output --eval -c ../../myconfigs/my_ppyolo_quant.yml -o max_iters=20000 LearningRate.base_lr=0.0001 LearningRate.schedulers="[!PiecewiseDecay {gamma: 0.1, milestones: [8000]}]" weights=/home/aistudio/PaddleDetection/output/my_ppyolo/model_final

使用的配置是这个：
[confg_quant.zip](https://github.com/PaddlePaddle/PaddleSlim/files/5215492/c

[2020-09-14 10:56] 18140663659 opened #453 "请问一下，在使用词嵌入量化时，报错"
----------------------
Error Message Summary:
----------------------
InvalidArgumentError: The Tensor in the lookup_table Op's Input Variable W(word_emb) is not initialized.
  [Hint: Expected t->IsInitialized() == true, but received t->IsInitialized():0 != true:1.] at (D:\1.8.4\paddle\paddle\fluid\framework\operator.cc:1289)
  [operator < lookup_table > error]

[2020-09-14 12:36] wanghaoshuang commented on #448
抱歉，PaddleSlim暂时不支持动态图量化功能。

[2020-09-14 12:38] wanghaoshuang commented on #453
麻烦您贴以下完整代码？或者先贴以下网络定义部分和训练部分的关键代码？

[2020-09-14 12:42] wanghaoshuang commented on #452
方便贴下网络定义代码么？在save_inference_model时，会根据target_vars对网络进行回溯剪枝，指定错误的target_vars有可能会导致您描述的现象。

[2020-09-14 12:55] 18140663659 commented on #453
我想可能是我自己使用的问题，对于paddle也是刚开始使用，我是想压缩也是paddle下面的一个项目lac的词嵌入，所以在它的nets的预测部分加入了量化的代码，具体如下：在感叹号的部分
# -*- coding: UTF-8 -*-
################################################################################
#
#   Copyright (c) 2020  Baidu, Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"
# you may not use this file except in compliance with the License.
# You may

[2020-09-14 12:58] 18140663659 commented on #453
我想可能是我使用的问题，我刚开始使用paddle，是想在paddle的另一个子项目lac下压缩其词嵌入，就在其中nets的测试代码部分加入了量化的代码，具体如下感叹号部分：
"""
本模块定义了模型的网络结构
"""

[code]

[2020-09-15 13:49] 18140663659 commented on #453
您好，请问知道是什么问题了吗？

[2020-09-16 00:32] itcastlizhijun commented on #452
主函数：
def train():
        logger.info("start train YOLOv3, train params:%s", str(train_parameters))
        logger.info("create place, use gpu:" + str(train_parameters['use_gpu']))
        logger.info("build network and program")

        scope = fluid.global_scope()
        train_program = fluid.Program()
        start_program = fluid.Program()
        test_program = fluid.Program()
        eval_

[2020-09-16 00:33] itcastlizhijun commented on #452
def train():
        logger.info("start train YOLOv3, train params:%s", str(train_parameters))
        logger.info("create place, use gpu:" + str(train_parameters['use_gpu']))
        logger.info("build network and program")

        scope = fluid.global_scope()
        train_program = fluid.Program()
        start_program = fluid.Program()
        test_program = fluid.Program()
        eval_progr

[2020-09-16 00:33] itcastlizhijun commented on #452
def train():
        scope = fluid.global_scope()
        train_program = fluid.Program()
        start_program = fluid.Program()
        test_program = fluid.Program()
        eval_program = fluid.Program()

        feeder, reader, loss, img = build_program_with_feeder(train_program, start_program, place)
        pred = build_program_with_feeder(test_program, start_program, istrain=False)

[2020-09-16 00:34] itcastlizhijun commented on #452
def train():
    logger.info("start train YOLOv3, train params:%s", str(train_parameters))
    logger.info("create place, use gpu:" + str(train_parameters['use_gpu']))
    logger.info("build network and program")

    scope = fluid.global_scope()
    train_program = fluid.Program()
    start_program = fluid.Program()
    test_program = fluid.Program()
    eval_program = fluid.Program()

    feeder

[2020-09-16 01:04] ZhijunLStudio commented on #452
def build_program_with_feeder(main_prog, startup_prog, place=None, istrain=True):

    max_box_num = train_parameters['max_box_num']
    ues_tiny = train_parameters['use_tiny']
    yolo_config = train_parameters['yolo_tiny_cfg'] if ues_tiny else train_parameters['yolo_cfg']
    with fluid.program_guard(main_prog, startup_prog):
        img = fluid.layers.data(name='img', shape=yolo_config['input_s

[2020-09-16 01:04] ZhijunLStudio commented on #452
def train():

    logger.info("start train YOLOv3, train params:%s", str(train_parameters))
    logger.info("create place, use gpu:" + str(train_parameters['use_gpu']))
    logger.info("build network and program")

    scope = fluid.global_scope()
    train_program = fluid.Program()
    start_program = fluid.Program()
    test_program = fluid.Program()
    eval_program = fluid.Program()

    feede

[2020-09-16 02:17] Youngon opened #459 "检测模型在线量化"
我在检测网络训练脚本train.py里加入了quant_aware函数，训练出现如下错误，请问是什么问题

![image](https://user-images.githubusercontent.com/7603531/93284737-dcbb2a80-f805-11ea-8662-0b8a8ae7031a.png)

[2020-09-16 03:40] wanghaoshuang commented on #452
hi，我看你代码里调用`save_inference_model`时指定的target_vars没问题。

1. 这里指的权重文件确定全是weight和bias么？会不会包含了优化器相关的一些中间变量？
2. 你能统计观察出量化后少了哪些权重文件么？

[2020-09-16 11:34] ceci3 commented on #459
https://github.com/PaddlePaddle/PaddleDetection/tree/release/0.3/slim/quantization#%E5%85%B3%E9%97%AD%E4%B8%80%E4%BA%9B%E8%AE%AD%E7%BB%83%E7%AD%96%E7%95%A5 可以把fuse_all_reduce设置成False试下

[2020-09-16 12:13] itcastlizhijun commented on #452
您好，第一张图是原本权重文件中有，但是量化之后没有；第二张图是量化之后有，原本权重文件没有
![1](https://user-images.githubusercontent.com/60954978/93335383-f46fce80-f858-11ea-94c4-b2be6df460b3.png)
![2](https://user-images.githubusercontent.com/60954978/93335402-fb96dc80-f858-11ea-9d05-1f0925696a60.png)

[2020-09-16 12:21] Youngon commented on #459
我已经改成False了， main函数如下：
def main():
    #####################################################################################
    quant_config = {
        # weight quantize type, default is 'channel_wise_abs_max'
        'weight_quantize_type': 'channel_wise_abs_max',
        # activation quantize type, default is 'moving_average_abs_max'
        'activation_quantize_type': 'moving_average_abs_max'

[2020-09-16 12:21] ZhijunLStudio commented on #452
您好，第一张图片是原本权重文件有，但是量化之后没有；第二张图片是量化之后有，但是原本的权重文件没有，麻烦您看一下
![1](https://user-images.githubusercontent.com/60954978/93335961-ba52fc80-f859-11ea-8bd8-893609a579ff.png)
![2](https://user-images.githubusercontent.com/60954978/93336290-26cdfb80-f85a-11ea-8a26-8cd96ced5153.png)

[2020-09-17 07:37] yeyupiaoling opened #462 "在量化训练中，训练正常，评估输出结果不正确，保存的模型也不正确"
- PaddlePaddle 1.8.4

代码 https://github.com/yeyupiaoling/PaddlePaddle-Classification/blob/ce5274cc23c60fcf5d9c8913bee4af7c5ec7f387/train.py#L137-L176
[code]

输出结果如下，可以看出来量化评估的准确率非常低，相当于没有训练
[code]

[2020-09-17 12:09] 18140663659 commented on #453
您好，我已经将文件导出成
![image](https://user-images.githubusercontent.com/28996606/93468487-a07cec80-f921-11ea-9c5f-5abbe5782fec.png)
但是在利用paddlelite转换成nb文件时候，报错：

E0917 20:06:23.073283 14540 opt_base.cc:445] Error: This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'dequantize_abs_max'.

[2020-09-18 06:34] yeyupiaoling commented on #462
把下面这行放在量化训练之前
[code]

[2020-09-18 06:34] #462 closed, assigned to nobody

[2020-09-18 07:33] ceci3 commented on #459
build_strategy.fuse_all_optimizer_ops = False
    build_strategy.fuse_elewise_add_act_ops = True
    build_strategy.fuse_all_reduce_ops = False
    build_strategy.sync_batch_norm = False
我看代码里没设置 fuse_all_reduce_ops=False

[2020-09-18 08:03] wanghaoshuang commented on #452
您好，这个现象是正常的。

1. 第一张图片里的权重是训练时优化器相关的变量，在预测时是不需要这些变量的。
2. 第二张图是做了量化之后引入的量化相关的变量，是正常的。

[2020-09-21 07:23] AIpioneer commented on #453
您好，目前paddle lite是支持该op的，请升级您的opt版本再试试看

[2020-09-22 02:41] Ultraopxt opened #465 "模型剪裁是否支持pytorch训练好的模型？"
模型剪裁功能是否支持pytorch训练好的模型？谢谢

[2020-09-23 11:04] AIpioneer commented on #465
您好！建议使用x2paddle，将模型转为paddle的格式，然后再使用Paddleslim进行剪裁

[2020-09-24 07:05] down-to-earth-WYL opened #466 "使用X2paddle将tf转paddle模型后，根据敏感度剪枝的问题"
我现在有一个tf转成paddle的模型，如果我想对该paddle模型模型压缩，然后进行finetune，请问应该用什么载入模型？
我现在使用的代码如下：
`
import numpy as np
import paddle.fluid as fluid
import paddleslim as slim
import paddle
import time
import cv2
import os

data_path = r'E:\paddleslim\ILSVRC2012_img_val'
model_path = r'E:\paddleslim\paddle_models\mobilenet_imagenet\inference_model'
labels_path = 'labels.npy'
labels = np.load(labels_path)
images = os.lis

[2020-09-25 01:50] 1558513572 opened #467 "蒸馏模型训练报错"
**用的paddleslim现成的蒸馏函数，训练的时候报错
[code]
源代码：
[code]

2. 定义student_program和teacher_program

[code]
4. 合并program (merge)并添加蒸馏loss
[code]
5. 模型训练
[code]

[2020-09-25 01:51] wanghaoshuang commented on #466
[code]
应该是x2paddle的问题，inference_model里没有label

[2020-09-25 01:54] down-to-earth-WYL commented on #466
@wanghaoshuang 那也就是说我经过X2paddle转化过来的模型是没有finetune的能力的，对吗？

[2020-09-25 02:10] jiangjiajun commented on #466
你好，X2Paddle转换模型时转换的都是各个框架保存好的部署模型，一般都只会包含推理时的前向计算。一般不建议用来继续训练，但如若有需求，可以在转换后的代码上修改，组成训练网络进行训练。

[2020-09-25 02:20] down-to-earth-WYL commented on #466
@jiangjiajun
那如果我现在有一个由tf转化后的paddle模型，相对其使用paddslim进行剪枝，剪枝同样也涉及到需要重新训练，那也用不了是吗？

[2020-09-25 02:32] AIpioneer commented on #465
#466 请参考该问题的回复

[2020-09-25 04:35] jiangjiajun commented on #466
对的，剪枝后模型需要重新训练。模型剪枝、模型在线量化训练均需要模型能够进行训练才能使用。X2Paddle转换的模型可以使用PaddleSlim的离线量化功能

[2020-09-26 02:25] CVdandelion opened #468 "请问一下，在进行模型裁剪时，需要先进性的敏感度分析的原则是什么？也就是说敏感度是怎么算出来的？"

[2020-09-27 02:44] baiyfbupt commented on #467
您好，问题出在merge操作时的`data_name_map`上，这里的映射的应该是variable name，而且应该是所有输入的映射，所以这里应该是:
[code]
这里改了就可以跑通了

[2020-09-27 02:57] 1558513572 commented on #467
对应的我的程序是不是应该改成data_name_map = {'image3': 'image', 'label3': 'label'}
&nbsp; &nbsp; &nbsp; 改完之后还是报错呢

[2020-09-27 02:59] baiyfbupt commented on #467
不是，variable name是data接口引号内指定的内容，是paddle底层访问variable的名称，而不是python层，你直接改成
data_name_map = {'data': 'data', 'label': 'label'} 就可以了

![image](https://user-images.githubusercontent.com/28884066/94354732-b5d7e080-00b0-11eb-8045-e92d0169912d.png)
![image](https://user-images.githubusercontent.com/28884066/94354730-ac4e7880-00b0-11eb-85b9-1052e016b03a.png)

[2020-09-27 03:05] 1558513572 commented on #467
按这个改完后，又出现下面这个新的错误了：

  "The following exception is not an EOF exception.")
Traceback (most recent call last):
  File "C:/Users/虹虹/Desktop/加油4/qinglianghua_python/copy999999999999999.py", line 134, in <module>
    acc1, loss_np = exe.run(student_program, feed=train_feeder.feed(data), fetch_list=[acc_top1.name, avg_cost.name])
  File "C:\Anaconda3\lib\site-packages\paddle\fluid\executor.py", line 7

[2020-09-27 03:09] baiyfbupt commented on #467
![image](https://user-images.githubusercontent.com/28884066/94354845-e0766900-00b1-11eb-8ffb-38551cb736d9.png)
看不到你回复的新的出错内容，麻烦直接在github页面内回复下吧

[2020-09-27 03:10] 1558513572 commented on #467
嗯嗯，好的

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSlim"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年9月27日(星期天) 中午11:09
收件人:&nbsp;"PaddlePaddle/PaddleSlim"<Paddl

[2020-09-27 03:18] baiyfbupt commented on #467
看报错信息是内存不足，同样的代码我这里是可以跑通的，应该是机器内存不够。尝试把batch_size调小到1试试，或者换一台大内存的机器，如果没有机器可以用aistudio资源 https://aistudio.baidu.com/aistudio/index。

[2020-09-27 03:20] 1558513572 commented on #467
好的呢，我试一下

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSlim"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年9月27日(星期天) 中午11:18
收件人:&nbsp;"PaddlePaddle/PaddleSlim"<Pa

[2020-09-27 05:16] yukavio commented on #468
在敏感度分析的过程中，会对网络模型中各个网络层独立的按照指定的稀疏比例进行裁剪，得出网络模型在各网络层不同的裁剪比例下精度损失的比例，损失的比例就是各网络层在不同稀疏度下的敏感度。
具体可以看一下：https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/algo/algo.md 里关于敏感度分析的部分。

[2020-09-28 02:05] #459 closed, assigned to nobody

[2020-09-28 02:05] Youngon commented on #459
success

[2020-09-28 02:09] Youngon opened #469 "检测模型量化误差"
我用的相同的数据集，相同的配置文件，分别训练了非量化版本以及量化版本，为什么测试mAP差别这么大？
（PaddleDetection/tools/train.py）非量化迭代30000次：
![image](https://user-images.githubusercontent.com/7603531/94383374-6eb22400-0172-11eb-8d39-e56c43706168.png)
（PaddleDetection/slin/quantization/train.py）量化迭代30000次：
![image](https://user-images.githubusercontent.com/7603531/94383384-783b8c00-0172-11eb-8bd5-2f3fa2a5f4a3.png)
差的不是一点半点

[2020-09-28 07:06] wanghaoshuang commented on #469
请问您是不是贴错图了？这两个图看起来是一样的。

[2020-09-28 07:09] Youngon commented on #469
是我贴错了  非量化训练见下图
![image](https://user-images.githubusercontent.com/7603531/94400985-81415300-019c-11eb-966d-dc377b63fc83.png)

[2020-09-28 09:55] down-to-earth-WYL opened #470 "PaddleSlim是否支持FP16量化"

[2020-09-29 21:40] liyy201912 opened #472 "SlimMobilenet accuracy"
I tried to reproduce the 80% top1 performance of SlimMobilenet(V5), but can only get around 72.3% top 1 accuracy. Would you release the pretrained model in the future?

[2020-10-09 07:02] xiteng1988 commented on #472
The 80% top1 performance is based on distillation. Even train from scratch without distillation,  72.3% is too low (it seems that your may overfit to the training data where there is a large gap between top 1 acc on training and validation). Can you reproduce the mobilenet_v3 baseline which is 75.2%?   Yes, sure. we will release the pretrained model in the future.

[2020-10-12 08:53] wanghaoshuang commented on #470
PaddleSlim支持FP16量化

[2020-10-14 11:30] yhhu99 opened #473 "预训练模型的量化压缩"
目前想要把PaddleClas中ResNet50_vd_ssld的预训练模型进行量化并评估，请问大致的方法思路是怎么样的呢？谢谢！

[2020-10-15 05:31] yhhu99 opened #474 "关于使用quant_post_static的版本问题"
电脑上装的是paddlepaddle1.8，所以根据github安装的提示安装了paddleslim1.1.1，但是按照快速开始里的离线静态量化教程：
![image](https://user-images.githubusercontent.com/69721135/96080780-70a61200-0eea-11eb-90ca-acd18eb6cc1a.png)
却是会报错paddleslim.quant里没有quant_post_static这个attribute：
![image](https://user-images.githubusercontent.com/69721135/96080892-b7940780-0eea-11eb-92bc-0f6dc057b0a8.png)
感觉可能是版本的问题，求大佬解答下正确的版本应该是啥，或者怎么在paddleslim1.1.1下

[2020-10-15 05:32] #473 closed, assigned to nobody

[2020-10-18 05:53] #474 closed, assigned to nobody

[2020-10-19 03:20] doge-ac-cn opened #476 "请问动态图怎么用paddleslim进行裁剪"
现在是可以通过转换为静态图，保存为推断模型，但是不知道怎么进行模型通道裁剪。
` out_dygraph, static_layer = TracedLayer.trace(DeepSortNet, inputs=[image])
    static_layer.save_inference_model('infer_model')
`
因为 pruner.prune裁剪时需要传入program，但是动态图训练时并没有用programe

[2020-10-19 05:02] baiyfbupt commented on #469
量化模型需要在训练好的FP32模型上进行finetune 训练，是这样训练的吗？

[2020-10-21 03:07] yhhu99 opened #477 "量化模型每一层的细节参数"
在已经成功量化并得到了inference模型文件（\__model__与__params\__），请问如果想要得到网络中每一层的量化参数（细节），需要怎么做呢？谢谢！

[2020-10-21 11:38] CVdandelion opened #478 "使用slim.quant.quant_post量化时出错"
对YOLOv3模型进行量化，将slim.quant.quant_post安排到了paddledetection中的得infer.py文件中，借助其exe与program
[code]
而且每次KeyError:后面的内容都会变化，请问是什么原因

[2020-10-21 11:45] CVdandelion commented on #478
这个是详细信息
[code]

[2020-10-23 04:00] zhudibo opened #479 "使用SlimFaceNet_C_x0_75()网络进行训练时出现错误InvalidArgumentError: Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [2, 3427] and the shape of Y = [4, 3427]. Received [2] in X is not equal to [4] in Y at i:0."
求大佬指点，在使用SlimFaceNet_C_x0_75()模型训练时出现InvalidArgumentError: Broadcast dimension mismatch. Operands could not be broadcast together with the shape of X = [2, 3427] and the shape of Y = [4, 3427]. Received [2] in X is not equal to [4] in Y at i:0.错误，感谢

[2020-10-23 05:34] doge-ac-cn opened #480 "直接贴的教程里的代码运行，结果报错InvalidArgumentError"
代码
`import paddle
import paddle.fluid as fluid
import paddleslim as slim

exe, train_program, val_program, inputs, outputs = slim.models.image_classification("MobileNet", [1, 28, 28], 10,
                                                                                    use_gpu=True)
place = fluid.CUDAPlace(0)
import paddle.dataset.mnist as reader

train_reader = paddle.fluid.io.batch(
    reader

[2020-10-23 09:19] zhudibo opened #481 "arc_margin_product（）函数中报错"
大佬我在运行SlimFaceNet_C_x0_75()网络时，在arc_margin_product（）中one_hot = fluid.one_hot(input=label, depth=out_dim)行报以下的错误
Python Call Stacks (More useful to users):
------------------------------------------
  File "/home/un/.local/lib/python3.7/site-packages/paddle/fluid/framework.py", line 2610, in append_op
    attrs=kwargs.get("attrs", None))
  File "/home/un/.local/lib/python3.7/site-packages/paddle/fl

[2020-10-26 02:35] zhudibo opened #482 "使用slimfacenet在训练模型遇到如下问题"
大佬我在使用slimfacenet训练模型时，网络的输出               x = fluid.layers.conv2d(
            x,
            num_filters=128,
            filter_size=1,
            stride=1,
            padding=0,
            groups=1,
            act=None,
            use_cudnn=True,
            param_attr=ParamAttr(
                name='linear_conv1x1_weights',
                initializer=MSRA(),
                regularizer

[2020-10-26 07:26] zhudibo-unwulian opened #483 "无法成功提交pr"
在提交pr时遇到一下问题：
Username for 'https://github.com': zhudibo-unwulian
Password for 'https://zhudibo-unwulian@github.com':
remote: Permission to PaddlePaddle/PaddleSlim.git denied to zhudibo-unwulian.
fatal: unable to access 'https://github.com/PaddlePaddle/PaddleSlim/': The requested URL returned error: 403

[2020-10-26 08:32] baiyfbupt commented on #477
您好，您可以安装[netron](https://github.com/lutzroeder/netron)后将__model__用其打开，可以看到模型的可视化结构和详细参数

[2020-10-26 08:37] baiyfbupt commented on #478
请问您用的Paddle版本是？我们查一下问题

[2020-10-26 08:44] baiyfbupt commented on #483
看起来是网络连接问题，可以再试下`git clone https://github.com/PaddlePaddle/PaddleSlim `，如果还是一样的建议先解决本地的网络问题

[2020-10-26 08:47] wanghaoshuang commented on #476
您好，感谢反馈。

PaddleSlim暂时还不支持PaddlePaddle动态图, 当前我们正在高优开发支持动态图，预计11月底会完成相关开发。

[2020-10-26 08:55] wanghaoshuang commented on #483
另附Paddle相关项目提交PR的流程，请参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/1.4/advanced_usage/development/contribute_to_paddle/index_cn.html

[2020-10-26 08:58] wanghaoshuang commented on #480
麻烦您贴一下PaddlePaddle的版本和PaddleSlim的版本？

[2020-10-26 09:52] xiteng1988 commented on #481
你使用的paddle和slim版本分别是哪个版本呢？

[2020-10-26 09:54] xiteng1988 commented on #479
你使用的数据集是从slimfacenet demo提供的链接下载的吗？还是你自己下载的数据集？

[2020-10-26 09:56] xiteng1988 commented on #482
请参见issue 479和481的回复

[2020-10-26 09:57] zhudibo-unwulian commented on #481
问题我已经找到了，slimfacenet中使用的arc_margin_product函数在计算损失时也就是slimfacenet.py中第337行的one_hot = fluid.one_hot(input=label, depth=out_dim)存在bug，官网这部分有问题，应该改为one_hot = fluid.layers.one_hot(input=label, depth=out_dim)，

[2020-10-26 11:57] yhhu99 commented on #477
好的，十分感谢回答！

[2020-10-26 11:59] CVdandelion commented on #478
1.8.4

[2020-10-27 03:04] doge-ac-cn commented on #480
![image](https://user-images.githubusercontent.com/22387890/97252140-3ae71e80-1844-11eb-8076-2534c3436946.png)

[2020-10-27 07:38] wanghaoshuang commented on #480
您的问题已在https://github.com/PaddlePaddle/PaddleSlim/commit/8ba34d787f21bab62716941492ffbf6e4238f669#diff-4325d04c12b19f2a133f8674953c32f4683cddd0af8e2708509d411ac7073a83 中修复，请您安装PaddleSlim develop试一下吧。

后续我们会尽快发布稳定的修复版本。

[2020-10-27 11:56] yhhu99 commented on #477
您好，之前按照您的方法成功得到了模型结构信息，那有没有方法可以得到每一层的参数值呢？（比如权重参数，量化参数的具体数值）

[2020-10-27 13:54] baiyfbupt commented on #478
这种情况一般是reader没写对，导致离线量化没有正常跑前向过程，没有收集到中间的激活值，可以再check一下reader是否正确

[2020-10-27 14:06] baiyfbupt commented on #477
可以在获取到各层参数的名称param_name之后通过以下代码这样获取：
[code]

[2020-10-27 14:58] yhhu99 commented on #477
感谢回答，这个API我在paddle的文档中有看到过，但是现在的问题在于要怎么从inference模型文件（model和params）获取各层的参数名呢？谢谢🙏

[2020-10-27 15:20] yhhu99 commented on #477
已经找到办法啦，感谢帮助！！

[2020-10-27 15:20] #477 closed, assigned to nobody

[2020-10-30 06:58] aboutmei opened #489 "iou_loss loss 为nan"
INFO: iter: 0, lr: 0.000010, 'loss_xy': '1.828222', 'loss_wh': '5.254690', 'loss_obj': '130.993652', 'loss_cls': '30.401878', 'loss_iou': 'nan', 'loss': 'nan', time: 0.000, eta: 0:00:00

paddlepaddle 1.8.4，paddleslim 1.1.0  yolov3_darknet_voc_diouloss配置，LR 1e-1 - 1e-6都试过，使用 iou_loss ,dioulossyolo, diouloss ciou_term: False, diouloss ciou_term: True, iou loss 均为nan ,偶尔第一个迭代不为nan，检查代码和配置均没发现问题，请问是什么

[2020-10-30 13:23] aboutmei commented on #489
请问是否有人遇到同样的问题?
导致问题的原因？
应该如何解决？

[2020-11-01 09:22] aboutmei commented on #489
请问有人回答这个问题吗?

[2020-11-01 10:39] aboutmei commented on #489
该配置下，直接浮点训练没有问题，量化训练无论是从头开始训练，还是加载训练好的浮点模型量化训练，都是直接loss_iou为nan
量化配置如下：
    config = {
        'weight_quantize_type': 'channel_wise_abs_max',
        'activation_quantize_type': 'moving_average_abs_max',
        'quantize_op_types': ['conv2d',  'mul', 'elementwise_add'],
        'not_quant_pattern': not_quant_pattern,
--not_quant_pattern 为空

[2020-11-02 02:46] yghstill commented on #489
@justinmeibi 指定`--not_quant_pattern yolo_output` 看训练是否正常呢？

[2020-11-02 02:53] zhudibo opened #491 "使用slimface训练好的模型在移动端部署进行预测，使用predictor=createpaddlepredictor<mobileconfig>(config)无法加载模型"
大佬，请求指导，使用slimface训练好模型，在移动端部署模型进行预测，函数如下：
mobileconfig config；
std::shared_ptr<paddlepredictor>predictor:
config.set_model_from_file(model_file);
predictor=createpaddlepredictor<mobileconfig>(config)无法加载slimface模型。

[2020-11-02 03:15] qingqing01 commented on #489
related to https://github.com/PaddlePaddle/PaddleDetection/issues/1628

[2020-11-02 04:22] qingqing01 commented on #491
给下具体的错误信息吧。另外请问model_file是什么格式？

[2020-11-02 04:30] zhudibo commented on #491
模型是.nb格式，按照paddle-site里面的c++api实例在进行部署slimfacenet网络的，之前部署mobileface的模型都已经成功，错误显示如下：
/work/inference_lite_lib.android.armv7/1$ adb shell 'cd /data/local/sm && export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/data/local/sm &&  ./mobile_classify'
parameter:  model_file, image_path and label_file are necessary
parameter:  topk, input_width,  input_height, are optional
Segmentation fault

[2020-11-02 05:42] aboutmei commented on #489
之前也怀疑是不是把yolo_loss,或者detection 部分也插入了量化节点，做过尝试，还是为nan

[2020-11-02 06:46] CVdandelion opened #494 "离线量化slim.quant.quant_post的问题"
我用paddledetection将模型训练后进行量化，结果出现了这个问题，请问以下是什么原因
以下是报错：
[code]
具体执行的程序是：其中##之间为调用op的内容

[code]

[2020-11-02 06:58] baiyfbupt commented on #489
如果用yolov3_mobilenet结构呢，这个结构验证过是可以较好的进行量化的，请参考https://github.com/PaddlePaddle/PaddleDetection/tree/master/slim#yolov3-on-coco-2 ？可能是darknet结构对量化比较敏感，请先不要使用，我们再定位一下问题

[2020-11-02 07:09] zhudibo commented on #491
模型格式是. nb，按照paddle-site里面的c++api实例在移动端部署slimface net网络，之前部署mobileface的模型都已经成功，现在部署slimfacenet加载模型未成功，报的错误只有segmen tation fault，附件也有图片，谢大佬

---原始邮件---
发件人: "qingqing01"<notifications@github.com&gt;
发送时间: 2020年11月2日(周一) 中午12:23
收件人: "PaddlePaddle/PaddleSlim"<PaddleSlim@noreply.github.com&gt;;
抄送: "zhudibo"<1020286694@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/PaddleSlim

[2020-11-02 07:13] baiyfbupt commented on #494
看报错信息是reader错误引起的问题
[code]
这里调用的train_reader是否一次返回的是一个batch的数据？如果是，改成`batch_generator=train_reader`试试

[2020-11-02 07:17] zhuguiqian opened #495 "AttributeError: module 'paddleslim.quant' has no attribute 'quant_post_static'"
跑静态离线量化的实例代码：https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/quick_start/quant_post_static_tutorial.md
会报 module 'paddleslim.quant' has no attribute 'quant_post_static'的错误
paddle version:1.8.5
paddlesslim version:1.1.1

[2020-11-02 07:19] CVdandelion commented on #494
是过，也不行
出现这个错误，好像是没有这个参数
Traceback (most recent call last):
  File "tools/train.py", line 377, in <module>
    main()
  File "tools/train.py", line 275, in main
    batch_nums=10)
TypeError: quant_post() got an unexpected keyword argument 'batch_generator'

[2020-11-02 07:31] CVdandelion commented on #494
刚才把版本升级到了1.1.1 能找到batch_generator了，但是依旧报错

/home/w/anaconda3/envs/vgg/lib/python3.6/site-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return a

[2020-11-02 07:35] CVdandelion commented on #494
@baiyfbupt

[2020-11-02 08:13] aboutmei commented on #489
mobilenet v1 :voc
INFO: iter: 0, lr: 0.002000, 'loss_xy': '4.297863', 'loss_wh': '3.359149', 'loss_obj': '6862.832031', 'loss_cls': '27.458761', 'loss_iou': 'nan', 'loss': 'nan', time: 0.004, eta: 0:01:24
mobilenet v3 :coco
INFO: iter: 0, lr: 0.002000, 'loss_xy': '10.744431', 'loss_wh': '14.427622', 'loss_obj': '6154.750977', 'loss_cls': '284.704651', 'loss_iou': 'nan', 'loss': 'nan', time: 0.002,

[2020-11-02 08:28] aboutmei commented on #489
觉得还是我这里有问题，但是代码我都比对过，还进行了还原。浮点直接训练是没问题的，你感觉是哪里出的问题?

[2020-11-02 09:39] qingqing01 commented on #495
@zhuguiqian 感谢反馈，quant_post_static接口在>=1.1.2版本以上才有。

[2020-11-02 09:45] zhuguiqian commented on #495
好的，多谢回复

那 https://github.com/PaddlePaddle/PaddleSlim 这里的文档是不是要更新下，没有看到有支持1.1.2版本的paddle
![微信截图_20201102174430](https://user-images.githubusercontent.com/7693110/97853444-1652e100-1d33-11eb-9b38-362c6ff4c7b1.png)

[2020-11-03 01:18] #476 closed, assigned to wanghaoshuang

[2020-11-03 02:23] May52 opened #497 "使用ppyolo训练自己的voc格式数据集，出现loss较大，精度也比其它算法低"
使用ppyolo训练自己的单类 voc格式数据集，数据集含有小目标较多，只修改了ppyolovoc.yml文件的部分参数：
max_iters: 8000
num_classes: 1
LearningRate:
  #base_lr: 0.00333
  base_lr: 0.001
  schedulers:
  - !PiecewiseDecay
    gamma: 0.1
    milestones:
    - 3000
    - 5000
  - !LinearWarmup
    start_factor: 0.
    steps: 1000
其中base_lr: 0.00333也试过，部分训练结果如下：
![image](https://user-images.githubusercontent.com/52195642/97938909-9c1b6e80-1dbd

[2020-11-03 02:43] #497 closed, assigned to nobody

[2020-11-03 02:53] aboutmei commented on #489
查到问题原因了。        'quantize_op_types': ['conv2d', 'depthwise_conv2d', 'mul', 'elementwise_add'],
elementwise_add 为quantize op 。应该是loss中的elementwise_add 也被量化了，导致iou_loss 为nan。
请问如何能skip  use_fine_grained_loss的自定义loss

[2020-11-03 03:05] baiyfbupt commented on #489
https://github.com/PaddlePaddle/PaddleDetection/blob/bc453fb20086b9466fa052fe08e67b5b7b1fee4a/ppdet/modeling/anchor_heads/yolo_head.py#L352 可以参考这个写法，在https://github.com/PaddlePaddle/PaddleDetection/blob/8551de92b9c5bd355f1981dc984850fd69caab39/ppdet/modeling/architectures/yolo.py#L108 之上添加一个scope并命名，然后在量化时指定not_quant_pattern为前面命名的

[2020-11-03 08:30] qingqing01 commented on #495
@zhuguiqian 您可以安装 1.2.0 https://github.com/PaddlePaddle/PaddleSlim/releases 。文档我们更新下。

[2020-11-03 08:32] zhuguiqian commented on #495
OK，多谢

[2020-11-03 08:32] #495 closed, assigned to baiyfbupt

[2020-11-03 08:47] baiyfbupt commented on #494
这个报错还是reader引起的错误https://github.com/PaddlePaddle/Paddle/blob/09fd2b2aab0d1dfd90c0dbe1d6489958994d6f34/python/paddle/fluid/reader.py#L135-L143
抱歉上面说错了，你定义的train_loader是一个batch_generator类型的reader，  改成`batch_generator=train_loader`呢

[2020-11-03 09:32] zhuguiqian opened #499 "PaddleSlim是否支持多标签网络的量化和以及逐层量化"
请教一下，PaddleSlim是否支持多标签网络的量化（例如人脸关键点网络），我这边试了一下报下图的错误，不确定是不支持多标签网络，还是其他错误。
环境：
paddlepaddle:1.8.5
paddleslim:1.1.1
![image](https://user-images.githubusercontent.com/7693110/97967619-6e075000-1df8-11eb-9c67-c5f124bbf972.png)
另外，aistudio上跑的slim例子，跑出来的量化结果是逐通道量化的（如下图），想问一下是否有选项可以选择逐层量化？
![image](https://user-images.githubusercontent.com/7693110/97968970-55983500-1dfa-11eb-8405-b1ab8e3d978f.png)

最后今天

[2020-11-03 13:22] CVdandelion commented on #494
@baiyfbupt
好像还是不对，依旧会报错
[code]

[2020-11-04 05:41] zhudibo-unwulian commented on #491
模型是.nb格式，按照paddle-lite里面的c++api实例在进行部署slimfacenet网络的，之前部署mobileface的模型都已经成功，错误显示如下：
/work/inference_lite_lib.android.armv7/1$ adb shell 'cd /data/local/sm && export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/data/local/sm && ./mobile_classify'
parameter: model_file, image_path and label_file are necessary
parameter: topk, input_width, input_height, are optional
Segmentation fault
加载模型的函数如下：
  config.set_mo

[2020-11-04 09:14] AIpioneer commented on #491
根据用户反馈，后来将预测库改为with_extra之后，可以跑通。 这里需要paddle lite改进报错信息，给用户更好的提示。

[2020-11-04 09:16] zhudibo commented on #491
这个问题就是我已经改的，感谢大佬

---原始邮件---
发件人: "AIpioneer"<notifications@github.com&gt;
发送时间: 2020年11月4日(周三) 下午5:14
收件人: "PaddlePaddle/PaddleSlim"<PaddleSlim@noreply.github.com&gt;;
抄送: "zhudibo"<1020286694@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题: Re: [PaddlePaddle/PaddleSlim] 使用slimface训练好的模型在移动端部署进行预测，使用predictor=createpaddlepredictor<mobileconfig&gt;(config)无法加载模型 (#491)

根据用户反馈，后来将预测库改为with_e

[2020-11-05 02:45] junjun210 opened #500 "get_ratios_by_loss()函数怎么依据敏感度信息和损失阈值确定最佳的剪裁率？"
get_ratios_by_loss()函数根据敏感度信息，在满足精度损失阈值的情况下，确定最大的剪裁率。怎么确定的呢？换句话说，不同层之间的精度损失是什么样的关系，累加吗，然后总和小于损失阈值？

[2020-11-05 06:24] baiyfbupt commented on #499
您好，您的问题看了一下：
1. PaddleSlim支持多标签网络量化，使用离线量化时注意传入的reader是否正确，可以先测试下迭代出来的数据对不对
2. 把量化的config，从`'weight_quantize_type': 'channel_wise_abs_max',`改为`'weight_quantize_type': 'abs_max'`就可以了
3. pip install建议使用清华源，参考首页文档：https://github.com/PaddlePaddle/PaddleSlim#%E5%AE%89%E8%A3%85

[2020-11-06 03:07] zhuguiqian commented on #499
多谢，试了一下是可以的。

另外有个问题，用slim量化后，一定要使用paddlelite来做推理吗？

[2020-11-06 08:55] baiyfbupt commented on #499
根据设备决定预测引擎，您的推理硬件设备是？

[2020-11-06 10:19] lastrei opened #501 "facenet using pre_train_model and load_vars error"
pretrained_model_path="work/models/quant_model_SlimFaceNet_B_x0_75"

# SlimFaceNet_B_x0_75 paddleslim/models/

def network(image, train_base_model=False):
    base_model = SlimFaceNet_B_x0_75(class_dim=1).net(image)
    base_model.stop_gradient = not train_base_model
    base_model_program = fluid.default_main_program().clone()
    return base_model_program

def load_pretrained_params(exe, program

[2020-11-06 10:19] lastrei opened #502 "loadvar error with facenet pre_train_model"
pretrained_model_path="work/models/quant_model_SlimFaceNet_B_x0_75"

# SlimFaceNet_B_x0_75 paddleslim/models/

def network(image, train_base_model=False):

     base_model = SlimFaceNet_B_x0_75(class_dim=1).net(image)
     base_model.stop_gradient = not train_base_model
     base_model_program = fluid.default_main_program().clone()
     return base_model_program

def load_pretrained_params(exe, pr

[2020-11-06 11:08] #501 closed, assigned to nobody

[2020-11-08 03:18] biubiuyi opened #503 "module 'paddleslim.models' has no attribute 'MobileNet'"
paddlepaddle 1.7  paddleslim 1.2.0

[code]

报错如下：
···
Traceback (most recent call last):
  File "/Users/casfive-public/projects/NERCheck/zhengliu/test.py", line 5, in <module>
    model = slim.models.MobileNet()
AttributeError: module 'paddleslim.models' has no attribute 'MobileNet'
[code]

[2020-11-08 03:19] biubiuyi opened #504 "module 'paddleslim.models' has no attribute 'MobileNet'"
paddlepaddle 1.7  paddleslim 1.2.0

[code]

报错如下：
···
Traceback (most recent call last):
  File "/Users/casfive-public/projects/NERCheck/zhengliu/test.py", line 5, in <module>
    model = slim.models.MobileNet()
AttributeError: module 'paddleslim.models' has no attribute 'MobileNet'
[code]

[2020-11-08 03:20] biubiuyi commented on #504
github 教程代码

[2020-11-08 08:14] aboutmei commented on #489
已解决，谢谢了

[2020-11-08 08:14] #489 closed, assigned to yghstill, baiyfbupt

[2020-11-09 01:43] zhuguiqian commented on #499
现在在x86的linux的系统上跑，评估一下量化效果。后面会跑在arm linux上。

[2020-11-10 06:08] baiyfbupt commented on #504
我这里测试了是可以的
![Uploading image.png…]()

[2020-11-10 06:10] baiyfbupt commented on #504
我这里测试了是可以的
![image](https://user-images.githubusercontent.com/28884066/98634627-9c3be100-235e-11eb-8532-120c021660ce.png)

slim安装的方式对吗，`pip uninstall paddleslim`之后`pip install paddleslim==1.2.0 -i https://pypi.tuna.tsinghua.edu.cn/simple
`试试呢

[2020-11-10 06:12] baiyfbupt commented on #503
同 https://github.com/PaddlePaddle/PaddleSlim/issues/504

[2020-11-10 06:13] #503 closed, assigned to nobody

[2020-11-10 06:14] baiyfbupt commented on #499
x86cpu可以参考这个教程https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/mkldnn_quant/
arm必须要用paddlelite

[2020-11-10 06:18] baiyfbupt commented on #494
依然是reader的错误，train_loader是非iterable形式的，可以改写成iterable的，或者用python generator

[2020-11-10 08:45] zhuguiqian commented on #499
Ok,多谢,使用paddle-inference也可以推理slim量化后的.

请教另外一个问题:
通过读取模型的参数看到,float32模型和量化后的int8模型的参数
Float32:
Weight=-0.02324475
Bias=0.4343462
Int8:
Weight=-127
Bias=0.4343462
Scale=75.051513671875
请教一下这个Weight是如何从-0.02324475计算到-127的?

[2020-11-11 09:18] Heuchler7 opened #508 "模型蒸馏通过merge来对teacher_program重命名时出现变量不在当前block内的问题"
[code]
上述为完整的报错信息，代码如图

[2020-11-11 09:22] Heuchler7 commented on #508
[code]

没找到我po的图，就直接上代码吧，执行到上述最后一句报错

[2020-11-12 06:29] Heuchler7 commented on #508
我后面打印出来所有teacher_program.global_block()内的transpose变量，确实是有transpose_4.tmp_0,那为什么还会报错呢？

[2020-11-12 07:35] baiyfbupt commented on #508
teacher模型是否存在控制流代码https://www.paddlepaddle.org.cn/documentation/docs/zh/api_guides/low_level/layers/control_flow.html#ifelse ,导致模型存在多个block呢？

[2020-11-13 02:08] Heuchler7 commented on #508
是的，看了下内部一共三个block,所以全局所有变量数大于global_block内变量数。
对了，我使用的是对应1.7paddle版本的1.0.1的paddleSlim。
后来我决定自己根据官方mergeAPI写一个自己的merge，但碰到了一个program下不同block内报这个错：
Traceback (most recent call last):
  File "D:\Program Files\JetBrains\PyCharm Community Edition 2020.2.1\plugins\python-ce\helpers\pydev\pydevd.py", line 1448, in _exec
    pydev_imports.execfile(file, globals, locals)  # execute the script
  File "D:\Pr

[2020-11-13 02:21] baiyfbupt commented on #508
您好，目前slim蒸馏还不支持这种多block模型

[2020-11-13 02:24] Heuchler7 commented on #508
谢谢回复，那我想问下如果我自己重构merge支持了多block，后面实际训练还是会出现问题是么？
在2020年11月13日 10:22，Bai Yifan 写道：

您好，目前slim蒸馏还不支持这种多block模型

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-13 02:26] baiyfbupt commented on #508
主要是merge的问题，可以试一下，也欢迎贡献代码~

[2020-11-13 02:32] Heuchler7 commented on #508
我尝试了下，但报出了新的错误，打眼一看好像是不同block内变量重名的问题，目前还在调试，想问下一个unique-name-guard下的peogram内不同block间有没有可能变量重名，如果有的话有解决方案吗？

在2020年11月13日 10:26，Bai Yifan 写道：

主要是merge的问题，可以试一下，也欢迎贡献代码~

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-13 02:42] baiyfbupt commented on #508
一个unique-name-guard应该不会有同名变量

[2020-11-13 02:44] Heuchler7 commented on #508
emmm，那我再仔细看看是什么原因。对了，能顺便问您一个关于slim下剪枝prune方法debug中的问题吗？还是需要我在issue上先更新？

在2020年11月13日 10:42，Bai Yifan 写道：

一个unique-name-guard应该不会有同名变量

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-13 02:57] Heuchler7 commented on #508
place = fluid.CUDAPlace(0) if USE_CUDA else fluid.CPUPlace()
exe = fluid.Executor(place)
startup_program.random_seed = 1
scope=fluid.global_scope()
exe.run(startup_program)
exe.run(startup_program,scope=scope)
prune=Pruner()
a = train_program.global_block().vars
for item in a.keys():
    if '_out' in item:
        print(item)
for param in train_program.global_block().all_parameters():
    if "weig

[2020-11-13 08:02] Heuchler7 opened #511 "急：：在paddleSlim1.0.1版本下面重构distill.py内的merge方法以适应多block模型遇到问题"
如题：出于原本的paddleSlim不支持多block模型蒸馏原因，故决定重构merge以支持多block模型，现进度为：
所有的teacher模型内vars以被加上新前缀添加到对应block内，但在最后增加teacher内op入student中报错如下：
[code]
改写后的算子加入代码如下：
[code]

[2020-11-13 08:18] Heuchler7 commented on #508
余留问题转新一个issue内描述

[2020-11-13 08:18] #508 closed, assigned to baiyfbupt

[2020-11-13 09:08] baiyfbupt commented on #511
student_program不一定有多个block，可能是这里索引出问题了

[2020-11-13 09:19] Heuchler7 commented on #511
刚仔细看了下，我的student是teacher的简化版，两个的block数相同，甚至block内算子在未做merge前也相同

[2020-11-13 14:27] Heuchler7 commented on #511
后来更正出来是block内算子中从global_block中承接的input变量未被重命名，修复后代码如下：
    for i in range(teacher_program.num_blocks):
        for op in teacher_program.block(i).ops:
            if op.type != 'feed' and op.type != 'fetch':
                inputs = {}
                outputs = {}
                attrs = {}
                for input_name in op.input_names:
                    for in_var_name in op.input(input_name

[2020-11-13 15:01] YukSing12 opened #513 "module 'paddle' has no attribute 'static'"
按照[教程](https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/tutorials/image_classification_sensitivity_analysis_tutorial.md)运行，报错：
[code]

[2020-11-14 06:34] xiteng1988 commented on #502
最近有些高优的事情，回头我提供个AI studio的demo哈

[2020-11-14 12:23] wanghaoshuang commented on #500
我们在计算一组剪裁率时，假设不同层的精度损失是相互独立的，并不是累加，而是每一层的损失都是设置的损失阈值。
这里的损失阈值只是用来辅助寻找一组合适的满足FLOPs限制的剪裁率，和模型最终的精度损失无关。

[2020-11-14 12:25] wanghaoshuang commented on #513
请问您使用的PaddlePaddle的版本是多少，PaddleSlim的版本是多少？
如果用的PaddleSlim develop分支，需要将PaddlePaddle升级到2.0 rc版本

[2020-11-14 12:25] wanghaoshuang commented on #513
请问您用的PaddlePaddle版本是多少？

[2020-11-14 12:56] YukSing12 commented on #513
您好，我用的版本为paddlepaddle-gpu 1.8.4.post97

[2020-11-16 02:50] baiyfbupt commented on #511
`((input_size + 2 * padding - (dilation * (filter_size - 1) + 1)) / stride + 1)` 一般卷积层out shape是这样计算的
看报错信息filter_size尺寸为256，这个显然有问题，可以check下op的attr是否匹配有错误的

[2020-11-16 04:57] wanghaoshuang commented on #513
建议您使用PaddleSlim v1.2.0分支下的教程：https://github.com/PaddlePaddle/PaddleSlim/blob/v1.2.0/docs/zh_cn/tutorials/image_classification_sensitivity_analysis_tutorial.md

develop分支下的教程正在适配paddle2.0 API

[2020-11-16 08:48] lastrei commented on #502
感谢！期待

[2020-11-17 04:05] Heuchler7 commented on #511
好的，我去追溯看看，谢谢您

在2020年11月16日 10:51，Bai Yifan 写道：

((input_size + 2 * padding - (dilation * (filter_size - 1) + 1)) / stride + 1) 一般卷积层shape是这样计算的
看报错信息input_size是一个负值，filter_size尺寸为256，这个显然有问题，可以check下op的attr是否匹配有错误的

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-11-18 02:08] zhouyuxixixi opened #515 "PaddleSlim静态离线量化模型大小不变，推理速度下降"
请问一个问题，为什么我使用paddleslim进行模型(模型使用resnet18_vd)的静态离线量化quntpost，模型大小一点都没改变，这是正常现象？而且我试了推理速度，量化后的还变慢了、

## 对训练的模型进行静态离线量化
## 不能使用CPU进行离线量化，否则内存溢出被kill
!cd /home/aistudio/work/PaddleSlim-release-1.1.1/demo/quant/quant_post \
&& python quant_post.py --model_path /home/aistudio/work/PaddleClas-master/inference/ResNet18_vd \
                        --save_path /home/aistudio/work/PaddleSlim-release-1.1.1/m

[2020-11-18 04:52] YukSing12 commented on #513
v1.2.0会报错误(https://github.com/PaddlePaddle/PaddleSlim/issues/480)

[2020-11-18 07:20] zhouyuxixixi opened #517 "能不能出一个paddleclas得到的模型如何使用paddleslim里面float到int的readme，就像paddledetection一样"
官方文档关于qunt的介绍实在是搞不懂，希望能够出一个与paddleclas配合使用readme，就像paddledetection一样的

[2020-11-19 02:23] zhouyuxixixi opened #518 "图像分类INT8量化模型在CPU上的部署和预测，转化产出的量化模型为DNNL优化后的INT8模型，下载的save_quant_model.py，报没有Quant2Int8MkldnnPass错误"
https://github.com/PaddlePaddle/PaddleSlim/tree/release/1.1.2/demo/mkldnn_quant
![image](https://user-images.githubusercontent.com/65207014/99612799-3da6ef00-2a51-11eb-9364-30217018f467.png)
![image](https://user-images.githubusercontent.com/65207014/99612830-59aa9080-2a51-11eb-975a-e5481f52380b.png)
在AISTUDIO上运行，paddlepaddle已卸载安装多个版本，多个版本都没有找到Quant2Int8MkldnnPass

[2020-11-19 02:58] zhouyuxixixi commented on #518
我通过将整个paddle给git下载，然后在paddle里面运行py文件，完成了生成操作，出现了很多文件，
![image](https://user-images.githubusercontent.com/65207014/99615329-30d8ca00-2a56-11eb-8129-655ea3bc4013.png)
这些文件又该如何使用

[2020-11-19 03:02] zhouyuxixixi commented on #518
之前的模型都是model和params，这个怎么这么多东西，希望给说明一下怎么把这么多文件给再转化为model和params，这样方便使用，我就是想直接利用C++接口读取模型，进行部署

[2020-11-19 07:02] liuxi1007 opened #519 "PaddleSlim的使用"
您好，请问有适用于paddle 2.0-rc版本程序的paddleslim包吗？正常pip install paddleslim 安装的包是否可以用于paddle 2.0-rc 编写的网络？

[2020-11-20 00:20] zhouyuxixixi commented on #519
你得下载1.2.0版本的slim才能适用2.0.0rc

[2020-11-20 03:06] liuxi1007 commented on #519
谢谢

[2020-11-20 03:06] #519 closed, assigned to nobody

[2020-11-22 06:49] maoyun95 opened #522 "分类任务蒸馏训练完成后如何保存预测模型"
蒸馏后模型保存的api是什么

[2020-11-23 06:22] #522 closed, assigned to nobody

[2020-11-26 12:40] YukSing12 opened #525 "idx_selector 在通道较少时出错"
PaddleSlim/paddleslim/prune/idx_selector.py line 60:
[code]

当网络某一层通道较少时，会出现pruned_num = 0，从而导致 pruned_idx = [] 而引发错误
是否需要增加一个判断，令pruned_idx 至少为1呢？

[2020-12-03 01:46] wanghaoshuang commented on #525
感谢反馈，我们后续修复下这个问题。

[2020-12-03 08:24] zhuguiqian opened #532 "卷积层通道剪裁报错"
在使用slim.prune进行剪裁时会报错，模型可以正常推理。
errror信息如下：
[12-03 16:06:43 MainThread @logger.py:224] Argv: paddle_pruning.py
/home/zgq/anaconda3/envs/paddle/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
FLOPs: 37047296.0
2020-12-03 16:06:44,036-INFO: pruning: x2

[2020-12-04 02:40] qingqing01 commented on #532
@zhuguiqian 您是x2paddle转换过来的模型，再使用PaddleSlim的裁剪吗？

[2020-12-07 09:11] baiyfbupt commented on #515
您好，这两个问题与Paddle量化的特点有关，即量化后保存的是一个**以float32格式保存的，但数值范围在int8的模型**，所以会有体积不下降，速度没提高的效果。
实际发挥量化的效果需要用到预测引擎（PaddleLite, Paddle-TensorRT等），可以关注下https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/quant/deploy/TensorRT , 和PaddleLite REPO的教程

[2020-12-08 07:51] Gaondong opened #534 "请教两个剪枝的问题"
1、现在paddleslim开放了四种剪枝算法，是否有各个算法的对比，最好是目标检测模型的，现在最优的剪枝算法还是sensitive 这种吗？
2、pruner使用bn scaler 或者FPGM，是不是没有复现原文中稀疏化训练的过程？ 使用这两种算法后面是否还进行逐层尝试敏感度分析loss损失？

[2020-12-09 05:49] Gaondong commented on #534
@yukavio @wanghaoshuang

[2020-12-11 02:59] cjt222 opened #539 "请问下，对mobilenet v2剪枝时如何处理short机制，是有规则约束了吗？"
请问下，对mobilenet v2剪枝时如何处理short机制，是有规则约束了吗？

[2020-12-14 13:06] neptune4year opened #544 "PaddleOCR识别模型8.6ms是哪个模型"
看到PaddleOCR的评测时耗是8.6ms，想确定下是哪个模型？
然后用意见benchmark并不能跑通PaddleOCR发布的模型，请问有什么其他方法可以评测PaddleOCR模型的时耗么

[2020-12-18 02:41] stefan252423 opened #557 "运行setup.py报错：“No module named 'paddle.jit”"
已安装paddlepaddle—gpu 2.0.0a0版本，控制台运行命令：python setup.py install，报错信息为“No module named 'paddle.jit”，是什么原因？
<img width="508" alt="微信截图_20201218104041" src="https://user-images.githubusercontent.com/68883664/102567955-82d84280-411d-11eb-8653-c5e7de5b8365.png">

[2020-12-24 06:35] gyr-kdgc opened #569 "请问一下dygraph_flops(model, input_shape, only_conv=False, detail=False)中的model参数传入的是什么？"
我现在有训练好的*.pdmodel,         *.pdopt,      *.pdparams三个文件，如何使用dygraph_flops计算模型的flops

[2020-12-24 07:12] musketeera opened #570 "运行官网图像分类模型知识蒸馏教程报错"
我安装的是paddlepaddle2.0版本，我将下面网站教程中的代码输入进去https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/quick_start/distillation_tutorial.md
然后报错AssertionError: In PaddlePaddle 2.x, we turn on dynamic graph mode by default, and 'data()' is only supported in static graph mode. So if you want to use this api, please call 'paddle.enable_static()' before this api to enter static graph mode.
请问这种怎么解决

[2020-12-24 08:51] musketeera opened #571 "图像分类模型知识蒸馏"
在定义student_program和teacher_program的代码中，teacher_model没有定义，怎么解决

[2020-12-28 02:52] sadknight0001 opened #575 "在线量化后转换问题"
您好，
使用paddleseg中deeplabv3+mobilenetv2模型，量化训练成功，模型保存成功，但进过转换工具后模型大小没有变化，速度也基本一致，看转换日志中大部分的卷积层量化都被跳过了。
现在支持mobilenetv2模型量化吗？

[2020-12-29 08:43] baiyfbupt commented on #570
您好，报错来源于Paddle2.0版本默认使用动态图，
可以在教程代码最前面加一行`paddle.enable_static()`，或者先使用Paddle1.8版本，后续我们会修复这个问题

[2020-12-29 08:45] yukavio commented on #569
通过model参数传入在动态图下定义的网络模型，即继承paddle.nn.Layer的一个类。

[2020-12-29 08:52] baiyfbupt commented on #571
![image](https://user-images.githubusercontent.com/28884066/103271826-3d0d5b00-49f6-11eb-9379-561163f0b9da.png)
把这一行改成teacher_model就可以了，后续我们会修复下文档

[2020-12-29 08:55] baiyfbupt commented on #575
您使用的转换工具是哪个，是paddle-lite的工具吗？ https://paddle-lite.readthedocs.io/zh/latest/user_guides/model_quantization.html#paddle-lite

[2020-12-29 09:04] baiyfbupt commented on #557
您好，由于历史原因2.0.0a0版本的Paddle不能满足需要，请使用2.0rc版本的paddle重新安装试下

[2020-12-30 03:54] sadknight0001 commented on #575
转换工具用的是release版的2.6.3
不过这个不能压缩的情况好像是因为需要代码问题
但现在又有新问题了，运行lite的demo显示结果不一致，自己的模型在服务器和前端结果也有差别

[2020-12-31 03:42] wanghaoshuang commented on #539
会自动根据short分支回溯到相关的卷积，并调整其shape.

[2020-12-31 03:52] bobo0810 opened #577 "文档错别字"
PaddleSlim/docs/zh_cn/api_cn/prune_api.rst
“卷基”应改为“卷积”

[2021-01-06 07:32] yukavio commented on #577
已修复

[2021-01-06 07:32] #577 closed, assigned to nobody

[2021-01-08 07:00] wsy1991 opened #594 "humanseg模型量化问题"
Humanseg里的模型量化后(offline)，体积并未减小

[2021-01-18 08:30] juncaipeng opened #601 "mkldnn_quant demo文档和编译问题"
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/mkldnn_quant/

![image](https://user-images.githubusercontent.com/52520497/104889645-760f6e80-59a9-11eb-81da-c4f48da449df.png)
run.sh 并没有接收输入参数

https://github.com/PaddlePaddle/PaddleSlim/blob/develop/demo/mkldnn_quant/cmake/FindFluid.cmake#L131
![image](https://user-images.githubusercontent.com/52520497/104890355-6e9c9500-59aa-11eb-81f9

[2021-01-18 14:39] zzchust opened #603 "paddleslim版本问题"
最近在做ppyolo检测模型的训练量化， 遇到了一些问题，需要确认一下：

1. paddledetection master（https://github.com/PaddlePaddle/PaddleDetection/tree/master） 分支应该是paddle静态图最新的版本， 支持paddle1.8.5
2.paddle1.1.1和paddledetection master部分接口是冲突的
， paddledetection master 对应的paddleslim最新分支应该是1.3.0？
3. 是否有paddleslim 1.3.0的whl包呢
4. python2.7 paddle1.8.5通过python setup.py install 安装paddleslim-develop分支遇到以下问题
![image](https://user-images.github

[2021-01-18 14:44] wanghaoshuang commented on #603
1. PaddleDetection master分支的静态图应该是和PaddleSlim1.2.0对应的
2. 1.2.0之后直接到2.0了，2.0预计在2月5日发布，主要内容是支持动态图。
3. 这个错误需要升级到python3.7或以上版本

[2021-01-20 07:47] Salary-only-17k opened #605 "ImportError: cannot import name 'dygraph_flops' from 'paddleslim.analysis'"
你好，这是我的环境
paddlepaddle          2.0.0rc1
paddleslim               1.2.0
然后在执行PaddleSlim/demo/dygraph/pruning/train.py文件时候，报错：
ImportError: cannot import name 'dygraph_flops' from 'paddleslim.analysis'

请问是我上面装的两个大哥的版本问题吗？

[2021-01-21 11:03] maoxiaoming86 opened #609 "opt转2.0识别模型失败"
opt转en_number_mobile_v2.0_rec_infer会显示‘rnn'不支持
 Error: This model is not supported, because 1 ops are not supported on 'arm'. These unsupported ops are: 'rnn'.
如果转量化后的识别模型，会多报错一个op不支持
Error: This model is not supported, because 2 ops are not supported on 'arm'. These unsupported ops are: 'fake_channel_wise_quantize_dequantize_abs_max, rnn'

[2021-01-21 11:56] maoxiaoming86 commented on #609
发现最新的develop分支已支持，但是编译出错

In file included from /home/maoxiaoming/code/Paddle-Lite/lite/model_parser/base/io.cc:15:0:
/home/maoxiaoming/code/Paddle-Lite/lite/model_parser/base/io.h:89:17: 错误：‘is_trivially_copyable’不是‘std’的成员
                 std::is_trivially_copyable<T>::value>::type>
                 ^
/home/maoxiaoming/code/Paddle-Lite/lite/model_parser/base/io.h:89:17: 错误：‘is_trivially_copyabl

[2021-01-25 05:08] shenhao2954988368 opened #619 "paddleslim官方给的那个mobilenetv1剪枝的例子，敏感度计算那一部分运行报错"
该链接中分析mobilenetv1的卷积通道敏感度的例子无法运行成功
https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/tutorials/image_classification_sensitivity_analysis_tutorial.md

sens_0 = slim.prune.sensitivity(
        val_program,
        place,
        params,
        test,
        sensitivities_file="sensitivities_0.data",
        pruned_ratios=[0.1, 0.2])
print(sens_0)
上述代码段运行出错，报错如下：

ValueError: (Inval

[2021-01-27 01:30] wanghaoshuang commented on #619
请问您用的哪个版本的PaddleSlim?

[2021-01-27 01:47] wanghaoshuang commented on #619
您好，已定位到您提出的问题。
最近PaddleSlim develop有个一个更新，develop分支的教程没有及时更新。
我们马上提PR修复这个问题。

[2021-01-27 01:57] wanghaoshuang commented on #605
paddleslim2.0.0分支才开始支持动态图flops计算

[2021-01-27 02:19] AIpioneer commented on #609
您好！Paddle Lite对Paddle2.0的支持会在2.8版本实现支持，预计在2.5发版，其中包括rnn op。敬请关注。 另外对于量化op的支持我们也会迭代开发，但是会晚一些时间。如果可以的话我们也可以私下再多沟通（v信：ifyoucare）

[2021-01-27 02:41] wanghaoshuang commented on #609
这个报错是因为：
PaddleLite暂时不支持channel wise 量化

[2021-01-27 03:41] shenhao2954988368 commented on #619
应该是最新版本的，1.2.0，我直接用pip安装的，然后我用的paddlepaddle是 20.0.0

在 2021-01-27 09:30:27，"whs" <notifications@github.com> 写道：

请问您用的哪个版本的PaddleSlim?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-01-28 01:28] lidanqing-vv commented on #601
我问一下是用mkldnn.so.0的包还是dnnl.so.1的包

[2021-02-01 02:34] wanghaoshuang commented on #594
PaddleSlim量化产出的模型还是以float32格式存储的（数值范围再int8范围内），需要用PaddleLite或PaddleInference的工具进行转换。
https://paddle-lite.readthedocs.io/zh/latest/user_guides/quant_aware.html#paddle-lite

[2021-02-25 04:17] wanghaoshuang opened #674 "Out of bounds when pruning conv2d with small channel number"
如果卷积层的参数为[2, 3, 3, 3], 剪枝比例为0.9， 则剪枝后为[0, 3, 3, 3], 需要修正为[1, 3, 3, 3]:

[code]
以上修正会加入PaddleSlim v2.1.0版本，预计在三月中下旬发版。

在PaddleSlim v2.1.0发版之前，用户可以通过以下方法跳过输出filters数较少的卷积层：
[code]

[2021-02-25 10:10] Huihuihh opened #676 "使用离线量化paddlex的模型出错"
针对paddlex的工业质检yolov3模型导出，然后利用paddleslim进行离线量化
paddleslim版本1.1.1

执行下面的命令
[code]
报错信息
[code]

[2021-02-26 03:38] wanghaoshuang commented on #676
## 如果你完全参考[示例](https://github.com/PaddlePaddle/PaddleSlim/tree/release/2.0.0/demo/quant/quant_post)的话：

这个应该是数据格式的问题。

在``demo``文件夹下创建``data``文件夹，将``ImageNet``数据集解压在``data``文件夹下，解压后``data/ILSVRC2012``文件夹下应包含以下文件：
- ``'train'``文件夹，训练图片
- ``'train_list.txt'``文件
- ``'val'``文件夹，验证图片
- ``'val_list.txt'``文件

其中，``'train_list.txt'`` 文件中每行为一个样本，格式为：

[code]
image_path为相对路径。label为数值类型的类别，而你给的是'Annotations/

[2021-02-26 05:49] Huihuihh commented on #676
我按照AIStudio上面的yolov3的例子改了下测试，也是有问题
`../../reader_cv2.py`
[code]
`quant_post.py`
[code]

`train_list.txt`
[code]

执行命令：
[code]
报错信息：
[code]

[2021-03-01 02:29] wanghaoshuang commented on #676
从`val_reader`读取到的数据不应该包括『batch_size』, 你可以把`img = img[np.newaxis, :]`这一句去掉试一下。

[2021-03-01 02:34] Huihuihh commented on #676
去掉后还是同样的报错

[2021-03-04 02:23] Reatris opened #681 "裁剪好模型后导出报错，我该怎么改？"
PaddleDetection是2.0版本
项目是在平台上运行的
使用PaddleDetection训练好yolov3_mobilenet_v3模型后进行模型裁剪
裁剪完评估完成后导出报错
这是我执行的脚本
`
!python slim/prune/export_model.py \
-c configs/yolov3_mobilenet_v3.yml \
--pruned_params "yolo_block.0.0.0.conv.weights,yolo_block.0.0.1.conv.weights,yolo_block.0.1.0.conv.weights,yolo_block.0.1.1.conv.weights,yolo_block.0.2.conv.weights,yolo_block.0.tip.conv.weights,yolo_block.1.0.0.conv.wei

[2021-03-08 07:09] zhucheng725 opened #682 "paddleslim的doc中的图片链接出错"
在https://paddlepaddle.github.io/PaddleSlim/algo/algo/ 中 相关的算法图片链接报错,根据html的链接中,发现图片原链接地址已经被删除,更改了新的路径,如旧的路径为:
[code]

中的src地址需要更改为
[code]
依次类推.
希望维护人员可以修改下图片的引用.

[2021-03-10 13:28] Entromorgan opened #685 "直接运行教程中通道裁剪代码报错"
软件版本：
Python 3.6.2
PaddlePaddle (gpu) 2.0.1
PaddleSlim 2.0.0

文档地址：
https://github.com/PaddlePaddle/PaddleSlim/blob/release/2.0.0/docs/zh_cn/quick_start/static/pruning_tutorial.md

代码：
[code]

核心错误信息：
[code]

完整错误信息：
[code]

[2021-03-12 12:04] yike725 commented on #685
遇到了相同的问题

InvalidArgumentError: The start row index must be less than the end row index.But received the start index = 0, the end index = 0.
      [Hint: Expected begin_idx < end_idx, but received begin_idx:0 >= end_idx:0.] (at /paddle/paddle/fluid/framework/tensor.cc:120)
      [operator < depthwise_conv2d_grad > error]

[2021-03-14 08:43] guotongjian opened #688 "基于paddledetection的剪裁"
使用paddletection训练好的模型，使用剪裁时发现如下：
2021-03-14 16:35:02,283-INFO: sensitive - param: res2c_branch2c_weights; ratios: 0.6
2021-03-14 16:35:02,343-INFO: pruning: res2c_branch2c_weights
2021-03-14 16:35:12,415 - INFO - Test iter 0
2021-03-14 16:35:14,065 - INFO - Test finish iter 19
2021-03-14 16:35:14,065 - INFO - Total number of images: 19, inference time: 10.222864249571384 fps.
loading annotations i

[2021-03-15 01:13] V5peng commented on #688
请问您有解决吗 我也遇到了这个问题

[2021-03-15 03:35] wanghaoshuang commented on #682
收到，多谢反馈。

[2021-03-15 03:38] wanghaoshuang commented on #688
辛苦贴一下完整的脚本内容，已经PaddleDetection相关的配置文件，注意删除敏感信息。
另外，请补充下PaddlePaddle、PaddleSlim和PaddleDetection的版本号。

[2021-03-15 03:42] wanghaoshuang commented on #681
是指AIStudio么？另外，PaddleSlim的版本是？

[2021-03-15 03:43] #674 closed, assigned to nobody

[2021-03-15 03:48] Reatris commented on #681
@wanghaoshuang 是在AIstudio上运行的，用的是PaddleDetection里面的PaddleSlim

[2021-03-15 03:51] Reatris commented on #681
@wanghaoshuang PaddleSlim版本是2.0.0

[2021-03-15 04:48] guotongjian commented on #688
PaddePaddle2.0.0的，PaddleSlim直接在aistudio上pip install的应该是最新的，PaddeDetetion是2.0-release版本的。
configs文件：
[code]
[code]
[code]
这个问题是在按ratios从0.1到0.9做敏感度分析时出现的，在整个分析过程中，剪裁别的层或者在别的ratio下有时候是正常的没有问题，显示的测试图片数量也是147，只是在有的层和有的ratio下会出现这种情况。
[code]
在第一个问题的基础上继续执行官方教程，计算敏感度后进行prune，又出现如上的报错，请问是不是不支持dcn的剪裁，我看官方有给过res50vd-dcn的剪裁过的.tar权重文件，请问那个是只剪裁了yolo层吗。

[2021-03-15 04:49] guotongjian commented on #688
@wanghaoshuang 感谢大佬回答，不胜感激

[2021-03-15 08:13] V5peng commented on #688
我跟楼主用的.yml是一样的，不过我是在模型量化的时候遇到的这个问题，剪裁训练没有遇到问题
python   3.6.13
paddlepaddle-gpu    1.8.4.post107
paddleslim          1.2.0
paddleDetection   release/2.0-beta

执行命令：python slim/quantization/train.py     --eval     -c ./configs/yolov3_r34_dcn.yml     -o max_iters=30000     save_dir=./output/yolov3     LearningRate.base_lr=0.0001     LearningRate.schedulers="[!PiecewiseDecay {gamma: 0.1, milestones: [

[2021-03-15 08:16] #688 closed, assigned to nobody

[2021-03-15 08:23] wanghaoshuang commented on #685
@Entromorgan @yike725

你可以用以下命令在python libs目录下找到pruner.py文件:
[code]
然后，根据https://github.com/PaddlePaddle/PaddleSlim/pull/689 中的修复更新下本地的pruner.py文件，即可解决上述问题。

多谢您的反馈。

[2021-03-15 08:35] wanghaoshuang commented on #688
@guotongjian 您好，我在跟进这个问题，请问这个issue为什么被closed了？是问题已经解决了么？

[2021-03-15 08:41] guotongjian commented on #688
不好意思，看您没回复，我在paddledetection上也提了这个issue，我就关了一个

[2021-03-15 08:47] wanghaoshuang commented on #688
@guotongjian 方便把paddledetection上issue链接贴过来么？我也看下这个问题。

[2021-03-15 08:49] guotongjian commented on #688
https://github.com/PaddlePaddle/PaddleDetection/issues/2345

[2021-03-15 08:51] wanghaoshuang commented on #681
你好，我这边复现了你的问题，正在排查原因。

[2021-03-15 09:24] wanghaoshuang commented on #681
请您参考： https://github.com/PaddlePaddle/PaddleDetection/pull/2350 修改下slim/prune/export_model.py

[2021-03-16 02:33] WuLayman opened #690 "执行A2C例子中出现的问题"
![2021-03-16 10-31-19 的屏幕截图](https://user-images.githubusercontent.com/38377756/111247489-07662e80-8643-11eb-8d5d-3cdc3f304b29.png)

[2021-03-17 05:33] qingqing01 commented on #690
@WuLayman 您在那里看到的这个A2C例子？

[2021-03-17 05:37] qingqing01 commented on #544
@neptune4year 具体问题可以在PaddleOCR的repo 提issue再问下。

[2021-03-17 05:39] qingqing01 commented on #534
@Gaondong

在分类模型中对比过这些剪枝方法，最好的是FPGM。 在检测YOLOv3上，采用先进行敏感度分析、再进行FPGM裁剪有实际的例子，在COCO/VOC数据上验证过，加速还不错，可以参考 https://github.com/PaddlePaddle/PaddleDetection/blob/release/2.0-rc/slim/prune/README.md

[2021-03-17 10:39] WuLayman commented on #690
我用的是例程，然后遇到了这个问题，跑不通。

[2021-03-17 11:43] qingqing01 commented on #690
@WuLayman 能发个例程的链接吗？

[2021-03-17 12:02] WuLayman commented on #690
https://aistudio.baidu.com/aistudio/projectdetail/645039

[2021-03-17 13:08] Entromorgan commented on #685
好的，修正后已经能正常输出结果了，谢谢。

[2021-03-17 13:08] #685 closed, assigned to wanghaoshuang

[2021-03-17 13:39] Gaondong commented on #534
pruner使用bn scaler 或者FPGM，是不是没有复现原文中稀疏化训练的过程？(在论文中这两种算法都有关于稀疏化训练的描述)
在代码中没有找到这个部分。

[2021-03-18 02:11] wanghaoshuang commented on #534
是的，PaddleSlim暂时没有实现稀疏化训练。

[2021-03-18 02:19] wanghaoshuang commented on #690
建议您升级下PARL的版本。
这个问题最好去 PARL repo 提个issue： https://github.com/PaddlePaddle/PARL/issues
PaddleSlim的同学对PARL不太熟悉。

[2021-03-18 02:41] WuLayman commented on #690
好的，非常感谢

[2021-03-22 09:05] yangy996 opened #694 "slimfacenet训练报错"
PaddlePaddle版本：2.0.1
数据集：CASIA和LFW

报错如下：
Traceback (most recent call last):
  File "train_eval.py", line 389, in <module>
    main()
  File "train_eval.py", line 335, in main
    train(exe, train_program, train_out, test_program, test_out, args)
  File "train_eval.py", line 127, in train
    loss, acc, global_lr = exe.run(compiled_prog,
  File "/home/su/PycharmProjects/SlimFaceNet/venv/lib/python

[2021-03-22 09:09] yangy996 commented on #481
厉害了，尝试了下，完美解决

[2021-03-23 01:29] yangy996 commented on #694
将one_hot = fluid.one_hot(input=label, depth=out_dim)改成one_hot = fluid.layers.one_hot(input=label, depth=out_dim)就好了，不过又遇到新的问题，报错如下：
Traceback (most recent call last):
  File "train_eval.py", line 390, in <module>
    main()
  File "train_eval.py", line 336, in main
    train(exe, train_program, train_out, test_program, test_out, args)
  File "train_eval.py", line 141, in train
    temp_ave = test(

[2021-03-31 07:01] songyuc commented on #222
谢谢各位老师的解答！

[2021-03-31 07:01] #222 closed, assigned to nobody

[2021-04-01 05:03] songyuc opened #703 "请问一下，粒子群算法的项目还有在开源吗？"
尊敬的开发者，你好，
请问一下，粒子群算法的项目还有在开源吗？

期待你的回复！

[2021-04-03 02:38] PQ-girl opened #706 "在aistudio上运行paddleslim中的demo/prune时出行错误ModuleNotFoundError: No module named 'models'"
import models时出现下面错误
ModuleNotFoundError: No module named 'models'

[2021-04-04 01:57] zhengzhe97 opened #707 "把ResNet里的网络层替换成Super系列后，精度低"
把conv和batchnorm替换成SuperConv2D，SuperBatchNorm2D。完整训练替换后网络，不改变任何参数，在相同训练配置的情况下，Top-1只能到 10%。替换前的网络训练几个epoch就能到达10%。

[2021-04-04 01:57] zhengzhe97 commented on #707
请问一下，这个可能是由什么原因导致的

[2021-04-06 10:41] GZHUZhao opened #709 "裁剪问题：PaddleDetection模型"
执行命令：（jupyter notebook）
!python slim/prune/prune.py
-c ./configs/ssd/ssd_mobilenet_v1_voc.yml
--pruned_params "conv1_weights"
--pruned_ratios="0.2"

报错：
C:\Users\Administrator.conda\envs\paddle_gpu_2\lib\site-packages\paddle\fluid\layers\math_op_patch.py:298: UserWarning: C:\Users\Administrator.conda\envs\paddle_gpu_2\lib\site-packages\paddle\fluid\layers\detection.py:1751
The behavior of expressi

[2021-04-08 00:52] wanghaoshuang commented on #709
您好，检测模型中某些卷积层不支持剪裁，我们会在PaddleSlim2.1版本中自动跳过不支持剪裁的卷积层。
PaddleSlim2.1版本预计在5月下旬发版。
PaddleSlim develop分支预计在4月中旬支持跳过不支持的卷积层。

[2021-04-08 00:54] wanghaoshuang commented on #707
请问您用的是OFA功能么？PaddleSlim版本号是？

[2021-04-08 00:55] wanghaoshuang commented on #706
请问，您所用AIStudio教程的链接是？

[2021-04-08 00:56] wanghaoshuang commented on #703
您好，PaddleSlim中并没有粒子群算法相关的开源内容。

[2021-04-08 02:26] ceci3 commented on #707
@zhengzhe97 请问下是怎么用的这两个API？superconv superbn的通道数和kernelsize和之前的conv bn一样嘛？

[2021-04-08 03:15] 18298405861 commented on #706
https://aistudio.baidu.com/aistudio/projectoverview我在这里面创建运行的项目，在本地运行合适，上传到aistudio之后运行时出现上面错误

[2021-04-08 04:14] songyuc commented on #703
好的，谢谢您的回复。

[2021-04-08 04:14] #703 closed, assigned to nobody

[2021-04-08 10:37] zhengzhe97 commented on #707
@wanghaoshuang 是的，版本是2.0.0

[2021-04-08 10:42] zhengzhe97 commented on #707
@ceci3 superconv superbn的通道数和kernelsize和之前的conv bn是匹配的，下面是其中一个例子：
修改前：
[code]
修改后：
[code]

[2021-04-08 10:43] zhengzhe97 commented on #707
是直接把 conv和 bn直接修改成SuperConv2D 和 SuperBatchNorm2D

[2021-04-08 10:47] zhengzhe97 commented on #707
项目“Demo”共享链接(有效期三天)：https://aistudio.baidu.com/studio/project/partial/verify/1751525/1557c181c9e44c82895261842e3759ba

[2021-04-08 12:58] PQ-girl commented on #706
我用的就是Aistudio平台上自己创建的项目，上传了paddleslim程序包，运行demo中的prune时出现错误

[2021-04-08 15:32] ceci3 commented on #707
@zhengzhe97 你好，我简单验证了一下这个示例，如果super op不设置config的话，相同输入和参数的情况下superconv+superbn的输出和conv+bn 的输出是完全一致的，是不是用super op训练的时候设置了什么特殊的config？

[2021-04-08 15:33] ceci3 commented on #707
这是示例代码：

[code]

[2021-04-09 01:15] zhengzhe97 commented on #707
@ceci3 开始测试的时候用过config，精度比较差。后来把所有层的config都去掉了，精度还是低。感觉应该不是config的问题

[2021-04-09 02:50] ceci3 commented on #707
请问下是厂内用户嘛？方便发我一个可以复现训练精度差的demo吗？上面那个demo看起来不是能直接训练的

[2021-04-09 03:08] zhengzhe97 commented on #707
@ceci3 场外同学，重新生成了项目链接，里面有前后的精度差。可以直接训练https://aistudio.baidu.com/studio/project/partial/verify/1751525/b134c6a0b06f4bd6884e28f22acc4ccf
修改后：
<img width="770" alt="1" src="https://user-images.githubusercontent.com/26462054/114122902-d0bec380-9923-11eb-90b3-f890b6ca1e1f.png">
修改前：
<img width="771" alt="2" src="https://user-images.githubusercontent.com/26462054/114122914-d5837780-9923-11eb-9480-51e7b

[2021-04-09 03:09] zhengzhe97 commented on #707
时间原因，我只训练了几轮，差距已经很大了

[2021-04-09 07:13] ceci3 commented on #707
好，我看一下

[2021-04-09 13:58] zhengzhe97 commented on #707
你好，请问一下，可能是什么原因导致的

[2021-04-09 15:18] ceci3 commented on #707
你模型定义的原因，layer需要用 nn.sequential包装一下，不然可能优化不到相应参数。你的demo里super layer是没有用nn.sequential包装的，普通conv是用了nn.sequential包装的

[2021-04-10 03:19] zhengzhe97 commented on #707
感谢，确实是这个问题。讲道理来说无论是否使用nn.sequential包装，参数都应该是可以优化才对。这个是paddle设计成这样的吗

[2021-04-16 14:00] AlinLaw opened #716 "RoBERTa模型压缩"
请教一下，我用paddleslim中的bert模型dynabert方法压缩案例，改了一个roberta模型的压缩，导出了dynamic_model和static_model。

当把dynamic_model测试程序时，如果导出模型的width_mult 为1.0时，可以顺利测试，测试的结果正确率为0.9000左右。如下：
/home/richard/anaconda2/envs/paddlenlp/lib/python3.6/site-packages/paddle/fluid/dygraph/layers.py:1263: UserWarning: Skip loading for classifier.weight. classifier.weight receives a shape [768, 2], but the expected shape is [768, 217].

[2021-04-17 10:38] AlinLaw opened #717 "BERT模型压缩"
在BERT模型压缩的案例中，export_model.py有这样一段代码：
best_config = utils.dynabert_config(ofa_model, args.width_mult)
ofa_model.export(
        origin_model,
        best_config,
        input_shapes=[[1, args.max_seq_length], [1, args.max_seq_length]],
        input_dtypes=['int64', 'int64'])

在读取模型时，是不是要考虑读取best_config？

使用了ofa后，需要在读模型时加上OFA(model)吗？

在PaddleSlime源码ofa.py中的def _export_sub_model_config(self, ori

[2021-04-19 02:42] ceci3 commented on #716
看起来是子网络的参数导出成功了，但是加载这个参数的模型还是原始大小的模型，导致参数加载失败，测试结果不正确。要加载动态图子网络的话需要改一下原始网络定义里每层的shape。加载static_model的话，直接用paddle.jit.load 这个接口加载这个模型直接进行预测。

[2021-04-19 02:44] ceci3 commented on #717
嗯嗯，best_config其实是跟子网络搜索相关的一个返回，但是bert压缩里暂时没有用到子网络搜索，返回值就也没有添加best_config作为返回值。
def _export_sub_model_config(self, origin_model, config, input_shapes, input_dtypes):这个方法是用来导出子模型参数的

[2021-04-20 03:32] MissPenguin opened #719 "离线量化文本识别crnn模型报错"
**模型来自PaddleOCR**：https://github.com/PaddlePaddle/PaddleOCR#pp-ocr-20-series-model-listupdate-on-dec-15
**运行命令**：python tools/quant.py -c configs/rec/ch_ppocr_v2.0/rec_chinese_lite_train_v2.0.yml
**quant.py的主要代码：**
[code]
**报错信息：**
![image](https://user-images.githubusercontent.com/25809855/115332814-2d936700-a1cb-11eb-84f1-5cdf76be7a82.png)
多次运行报错信息会变，再贴一个：
![image](https://user-images.githubuser

[2021-04-20 03:34] MissPenguin commented on #719
**paddle版本：**
paddlepaddle-gpu    2.0.0.post90
paddleslim          2.0.0

[2021-04-20 08:12] wanghaoshuang opened #721 "Pruning models in PaddleClas dynamic graph"
安装PaddleSlim develop分支，或PaddleSlim2.1版本（预计5月20日前发布）。

在PaddleClas路径下执行以下命令，验证PaddleClas中所有模型的剪裁效果（仅计算FLOPs, 不重训模型）：
[code]
以上命令生成测试结果在文件`PaddleClas/test_result`中。

PaddleClas/tools/prune.py代码如下：
[code]

[2021-04-20 08:19] wanghaoshuang commented on #721
## supported models in PaddleClas

- [x] ShuffleNetV2_x0_33
- [x] ShuffleNetV2_x2_0
- [x] ShuffleNetV2_x1_5
- [x] ShuffleNetV2_x0_25
- [x] ShuffleNetV2_swish
- [x] ShuffleNetV2_x1_0
- [x] ShuffleNetV2_x0_5
- [x] ResNet50_Mixup
- [x] ResNet50_GridMask
- [x] ResNet50_Cutmix
- [x] ResNet50_Baseline
- [x] ResNet50_HideAndSeek
- [x] ResNet50_AutoAugment
- [x] ResNet50_RandAugment
- [x] ResNet50_Cutout

[2021-04-20 10:38] XGZhang11 commented on #719
传入quant_post_static()的sample_generator参数用于构建dataloader：

[code]

可以将quant.py的对应代码修改为：
[code]

[2021-04-20 12:02] xry644854073 opened #724 "SSD-MobileNet_v1量化动转静导出模型时出错"
![image](https://user-images.githubusercontent.com/56854540/115392268-f3e64e80-a212-11eb-9f59-fcede4d15124.png)
ValueError:
        We don't support to define layer with parameters in the function decorated by `@declarative`.
        Because that will re-defined parameters every time when you run the function.
        But we found parameter(conv2d_47.tmp_0.scale_0) was created in the decorated fun

[2021-04-20 13:15] #724 closed, assigned to nobody

[2021-04-21 10:01] wanghaoshuang commented on #721
GhostNet结构如下：

<img width="291" alt="image" src="https://user-images.githubusercontent.com/7534971/115535740-a11c9d80-a2cb-11eb-8e55-9fc56d7549bc.png">

[2021-04-29 02:59] monkeycc opened #730 "FasterRCNN+ResNet能不能进行量化的"
PaddleX训练出来的模型

FasterRCNN+ResNet v50
---------------
__params__
__model__
model.yml
---------------

这种应该用哪些命令来进行量化的操作  谢谢

[2021-05-06 03:10] 670133189 opened #731 "直接贴官方教程导致【InvalidArgumentError】"
直接贴官方教程（https://paddleslim.readthedocs.io/zh_CN/latest/quick_start/static/nas_tutorial.html）导致以下错误：

[code]

环境：
MacOS-10.15.7
paddlepaddle-2.0.2
paddleslim-2.0.0

[2021-05-07 07:12] HotCoCoC opened #732 "量化后的模型如何利用paddle本身加载并预测结果呢？"
目前我已经执行以下指令完成INT8量化：
paddleslim.quant.quant_post_static(
        executor=exe,
        model_dir='./',
        model_filename='fp32_inference_model.pdmodel',
        params_filename='fp32_inference_model.pdiparams',
        quantize_model_path='./quant_post_static_model2',
        sample_generator=paddle.dataset.mnist.test(),
        batch_nums=10)
我接下来想载入这个模型、参数，去验证是否量化成功，查看量化的权重有啥不同之类的，不知道如何去进行。

[2021-05-11 02:02] wanghaoshuang commented on #732
量化后的模型只能用PaddleInference或PaddleLite进行部署推理：
PaddleInference: https://paddleinference.paddlepaddle.org.cn/product_introduction/summary.html
PaddleLite: https://paddlelite.paddlepaddle.org.cn/introduction/tech_highlights.html

[2021-05-12 07:59] simplify23 commented on #732
你好，想问一下。我使用PPSlim来对模型进行压缩，由于PPSlim量化完并不直接减少模型体积，需要用Lite转换。Lite转换的模型格式变为.nb或model+params。但是由于某些要求，希望格式仍为inference的.pdmodel和.pdiparams，这一块有什么转换的方法吗

[2021-05-12 08:34] wanghaoshuang commented on #732
可以将Lite转换逻辑集成到你的预测代码里，每次启动服务加载模型前读取.pdmodel和.pdiparams并做一次转换。

[2021-05-12 08:35] dengxinlong opened #736 "有没有关于如何使用paddle-rt，也就是在paddle中使用TensorRT的完整文档？？"
其实就是在jetson xavier nx上使用paddle-trt的文档，包括 需不需要量化，怎么量化，量化之后怎么评估的问题？？
我不是想部署，而是仅仅做评估，看看量化之后模型的帧率？？

[2021-05-12 09:57] wanghaoshuang commented on #736
请参考：https://paddleinference.paddlepaddle.org.cn/optimize/paddle_trt.html#paddle-tensorrt

[2021-05-12 11:11] simplify23 commented on #732
可以提供转换的代码地址吗？lite没有专门这一块的说明

[2021-05-13 03:12] dengxinlong commented on #736
问一下，安装了paddlepaddle，是不是还得安装paddle-inference

[2021-05-13 07:28] #736 closed, assigned to nobody

[2021-05-17 01:48] Durianner opened #739 "敏感度分析训练时报错"
paddlepaddle-gpu 2.0.0.post100
paddleslim 2.0.0
想对一个目标检测模型剪枝，执行完敏感度分析后，在分析训练时报错
  File "deploy/slim/prune/sensitivity_anal.py", line 146, in <module>
    main(config, device, logger, vdl_writer)
  File "deploy/slim/prune/sensitivity_anal.py", line 141, in main
    eval_class, pre_best_model_dict, logger, vdl_writer)
  File "deploy/slim/prune/../../../tools/program.py", line 214, in train
    optim

[2021-05-20 06:52] wanghaoshuang opened #765 "Pruning models in PaddleDetection"
PaddlePaddle v2.1.0
[PaddleDetection v2.1.0](https://github.com/PaddlePaddle/PaddleDetection/tree/develop)
PaddleSlim v2.1.0

剪枝功能支持动态图模型列表如下：

| 模型             | 是否已支持 |
| :--------------:| :-----: |
| YOLOv3          |  Yes    |
| PPYOLO/PPYOLOv2 |  Yes    |
| FCOS            |  Yse    |
| TTFNet          |  Yes    |
| SSD             |  Yes    |
| BlazeFace       |  Yes    |
| SOLOv2          |

[2021-05-20 07:29] ZEROICEWANG opened #767 "模型静态量化时出错"
我在对模型进行静态量化时，程序报错
### 报错信息如下
    2021-05-20 15:02:44,389-INFO: Load model and set data loader ...
    2021-05-20 15:02:47,652-INFO: Collect quantized variable names ...
    2021-05-20 15:02:47,692-INFO: Preparation stage ...
    2021-05-20 15:02:54,276-INFO: Run batch: 0
    2021-05-20 15:02:54,277-INFO: Finish preparation stage, all batch:1
    2021-05-20 15:02:54,348-INFO: Sampling stage ...

[2021-05-20 12:27] tt8000 opened #773 "教程有问题"
裁剪了模型，优化器不支持啊， 难道需要重新在定义优化器么，教程没说。

下面按照教程运行的报错结果，换了优化器一样，更新下教程吧！！！太难了。

![1](https://user-images.githubusercontent.com/73922533/118978332-c6272d80-b9a9-11eb-93af-8469366dd6e0.png)
![2](https://user-images.githubusercontent.com/73922533/118978345-c9bab480-b9a9-11eb-8714-7251756cdae5.png)

[2021-05-20 12:55] tt8000 commented on #773
而且不止这里，其他地方也有

[2021-05-20 20:36] Darshcg opened #774 "Models Supported for OFA"
Which are the Models supported(or implemented) for OFA in this Repo?

Thanks,
Darshan

[2021-05-23 18:33] Darshcg opened #775 "Regarding OFA Implementation for Other Networks and Object Detection"
Hi,

I have explored about Once For All Network for MobileNetv1. I felt it very interesting and want to work on Implementing it for Other Networks and for Object Detection tasks. Can anyone please guide me with the same, how do I proceed if I want to Implement this for Other Networks and Object Detection Task?

Looking forward to hearing from you

Best Regards,
Darshan C G,

[2021-05-24 02:16] wanghaoshuang opened #776 "Pruning models in PaddleSeg"
PaddlePaddle v2.1.0
[PaddleSeg v2.1.0](https://github.com/PaddlePaddle/PaddleSeg/releases/tag/v2.1.0)
PaddleSlim v2.1.0

剪枝功能支持动态图模型列表如下：

- ANN
- BiSeNet
- DANet
- DecoupledSegNet
- Deeplabv3
- DNLNet
- FastSCNN
- FCN
- GCNet
- HarDnet
- OCRNet
- PSPNet
- UNet
- UNet3+

[2021-05-25 10:41] wanghaoshuang commented on #773
多谢反馈，理论上是支持Momentum的，我们排查下原因。

[2021-05-26 02:06] juncaipeng commented on #767
@ZEROICEWANG  从log看不出来具体问题，请问使用哪个版本的paddleslim和paddlepaddle？同时请提供一下复现单侧。

[2021-05-26 02:33] ZEROICEWANG commented on #767
已经排查到问题出现的原因，在进行卷及操作时，若是out_channel为1，则会出现这个问题，大于1则不会出现这个问题，希望你们能够尽快修复这个bug

[2021-05-26 02:36] ceci3 commented on #774
Thanks for your attention~ BERT series of models supported in this repo now。

[2021-05-26 02:49] ceci3 commented on #775
We are trying to implement Once For All in another network, like yolo in Object Detection。
The basic way to implement this way to other network is :
1. Have a pre-trained model first.
2. Convert the pre-trained model to supermodel, by using Convert, supernet in paddleslim.nas.ofa.convert_super, like: https://github.com/PaddlePaddle/PaddleSlim/blob/develop/demo/ofa/bert/run_glue_ofa.py#L387
3. Pre-

[2021-05-26 05:48] minghaoBD commented on #773
你好，谢谢提出的问题。目前已经更新了教程，即需要在finetune之前重新初始化optimizer并调用model.prepare，
这么做是因为动态图的剪裁时，并没有遍历到optimizer中的velocity参数，导致velocity形状没有发生改变而报错。所以简单来说，可以直接初始化一个新的optimizer（也符合finetune的流程）；更加易用性的解决方案我们正在评估。

[2021-05-26 07:54] ZEROICEWANG commented on #767
paddlepaddle-gpu 2.0.2.post100
paddleslim 2.0.0

[2021-05-26 08:05] ceci3 opened #781 "OFA-BERT示例用2.1.0 paddleslim压缩会导致不同宽度的子模型的精度相同"
OFA-BERT示例用2.1.0 paddleslim压缩会导致不同宽度的子模型的精度相同

[2021-05-26 08:07] ceci3 commented on #781
2.1.0的paddleslim选择子模型的判断条件有误，修复PR：
https://github.com/PaddlePaddle/PaddleSlim/pull/777

可以安装develop版本paddleslim解决此问题，安装develop 版本的paddleslim的方式：
git clone https://github.com/PaddlePaddle/PaddleSlim
git checkout develop
python setup.py build && python setup.py install

[2021-05-26 08:59] Darshcg commented on #775
Thank you very much @ceci3 and @wanghaoshuang for your kind reply.

I have got a clearer idea of the implementation.

I want to apply OFA Technique for Object Detection Networks like Yolo, Retinanet, and other Networks for Face Detection like Retinaface.
Having said that I was having a doubt regarding converting the ordinary Network to Supernet.

The figure below is a Basic Object Detection Pipeli

[2021-05-27 07:29] ceci3 commented on #775
Haha, we are also trying to find which method will be better for the series of Yolo. We tried to convert the backbone-only or backbone+neck or neck-only to Supernet, but there is no comprehensive conclusion yet.  Do you have any ideas about this? We will keep trying in the near future.  We can discuss the ofa+detection together~
I think that convert all the parts should be feasible because superne

[2021-05-27 07:29] ceci3 commented on #775
@Darshcg We also trying to find which method will be better for the series of Yolo. We tried to convert the backbone-only or backbone+neck or neck-only to Supernet, but there is no comprehensive conclusion yet. Do you have any ideas about this? We will keep trying in the near future. We can discuss the ofa+detection together~
I think that convert all the parts should be feasible because supernet t

[2021-06-02 12:15] XGZhang11 opened #785 "量化模型以int8格式存储并加载"
需求描述：
需要将量化模型通过网络下发私有化现场，所以希望在存储时减小模型体积，以int8格式存储并下发，paddleinference部署时直接加载int8模型并转为fp32格式，用于tensorrt推理。

模型和环境：
ppyolo_r18   paddle-develop   paddleslim2.0  paddledetection2.0

问题描述：
1. 模型离线量化后，将数据类型强制转为int8后存储，未考虑量化scale，加载此模型后，精度会降低为0。
2. 如果将模型量化后分别存储scale与int8范围内的权重，加载模型后需要进行反量化操作。

[2021-06-03 09:16] lgf821793883 opened #786 "请问，必须是paddle的模型才可以用paddleslim吗"

[2021-06-04 02:13] xbzd315 commented on #570
It doesn't seem to be resolved yet
Duplicate of #

[2021-06-04 03:03] minghaoBD commented on #773
我们已经在动态图的剪裁代码中，加入了剪裁optimizer相关参数的逻辑。具体pull request：https://github.com/PaddlePaddle/PaddleSlim/pull/784 。
详细使用请参照更新后的教程：https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/quick_start/dygraph/dygraph_pruning_tutorial.md 。

[2021-06-04 03:05] #773 closed, assigned to wanghaoshuang, minghaoBD

[2021-06-08 09:11] swithmn1 opened #790 "paddleslim训练得到的模型转onnx模型，出现问题。还是不允许这样转换呢？"
paddleslim :2.1.0
paddlepaddle-gpu :2.0.2
通过slim训练得到的模型，导出为inference model
利用paddle2onnx 脚本转换报错如下：
![image](https://user-images.githubusercontent.com/32815600/121158132-b4d09300-c87c-11eb-9ae2-829e00dfc231.png)

[2021-06-08 10:24] minghaoBD opened #791 "结构化剪裁中，pruner.prune中的idx = self.idx_selector(_collection, scores, ratios) 报错 KeyError。"
原因：当某些参数的loss过大时，paddleslim.prune.sensitive.get_ratios_by_loss(sensitivities, loss)方法会忽略该参数。造成ratios长度减少。
![image](https://user-images.githubusercontent.com/79566150/121170210-78eefb00-c887-11eb-8415-294d18f08c2e.png)

[2021-06-09 00:41] yeyupiaoling opened #793 "L1NormFilterPruner没有opt参数"
- PaddlePaddle 2.1.0
 - PaddleSlime 2.1.0
 -  [参考文档](https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/quick_start/dygraph/dygraph_pruning_tutorial.md)

`L1NormFilterPruner`没有`opt`参数，但是文档说要加上`opt=optimizer`参数，怎么加？
[code]

[2021-06-09 02:48] Zeref996 commented on #790
你好，slim量化后的模型不支持paddle2onnx转换。slim裁剪后的模型是可以支持的。关于paddle2onnx详情可见repo：
https://github.com/PaddlePaddle/Paddle2ONNX

[2021-06-09 02:51] swithmn1 commented on #790
好的，多谢

[2021-06-09 07:10] minghaoBD commented on #793
谢谢对于PaddleSlim的关注 : )

这个因为是2.1发版后的问题修复，所以代码还在develop分支：https://github.com/PaddlePaddle/PaddleSlim/blob/develop/paddleslim/dygraph/prune/l1norm_pruner.py#L14 。我们会在月底时候将该补丁正式发布在2.1.1。

[2021-06-09 07:33] yeyupiaoling commented on #793
哦哦，好的。

[2021-06-09 07:33] #793 closed, assigned to minghaoBD

[2021-06-09 11:41] minghaoBD commented on #791
Issue has been solved and PR merged into the develop branch.

[2021-06-09 11:41] #791 closed, assigned to minghaoBD

[2021-06-10 02:22] wings0820 opened #796 "量化paddleocr 自带的识别模型报错"
报错如下
Traceback (most recent call last):
Exception in thread Thread-1:
  File "tools/quan.py", line 50, in <module>
Traceback (most recent call last):
  File "/home/jianguosun/.conda/envs/ppocr/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    main(config, device, logger, vdl_writer)
  File "tools/quan.py", line 37, in main
    paddleslim.quant.quant_post_static(
  File "/home/jianguos

[2021-06-10 02:38] wanghaoshuang opened #797 "修改develop分支版本号"
1、slim需要修改develop分支编出包的版本号为0.0.0，目前是1.0.0，容易引起歧义；
2、提供包的commit查看函数，例如paddle中的paddle.version.commit()，这样用户使用develop分支自行编译的包安装后也可查看到具体的commit号，方便复现；

[2021-06-10 02:38] wanghaoshuang commented on #786
是的，必须是paddle模型。

[2021-06-16 03:05] yezechen opened #804 "知识蒸馏demo遇到问题"
运行图像分类模型知识蒸馏的demo时遇到报错：

Traceback (most recent call last):
  File "distiller.py", line 71, in <module>
    acc1, acc5, loss_np = exe.run(student_program, feed=data, fetch_list=[acc_top1.name, acc_top5.name, loss.name])
  File "/home/server1604-1/anaconda3/envs/yzc/lib/python3.6/site-packages/paddle/fluid/executor.py", line 1110, in run
    six.reraise(*sys.exc_info())
  File "/home/server1604-1/a

[2021-06-17 02:26] ceci3 commented on #804
你好，可以发一下demo链接吗？看起来是输出logits维度和label维度不匹配

[2021-06-17 05:13] XGZhang11 commented on #796
您好，目前离线量化只支持静态图模型，一般需要静态图模式下的dataloader，另外需要注意reader所提供数据应该与inference model的输入对应。reader的写法可以参照https://github.com/PaddlePaddle/PaddleSlim/blob/release/2.1.0/demo/imagenet_reader.py 与 https://github.com/PaddlePaddle/PaddleSlim/issues/719 .
对于多输入的模型，可以参考：
[code]
并将batch_generator指定为
[code]

[2021-06-21 12:38] LiuChiachi opened #811 "quant_post可支持传dataloader吗"
`paddleslim.quant.quant_post`目前还不支持传入`paddle.io.DataLoader`，会支持吗，感谢！

[2021-06-22 02:50] wanghaoshuang commented on #811
`quant_post`是Post training quantiztion, 在PaddleSlim中，动态图的`quant_post`是先将目标model转为静态图，然后再调用静态图的`quant_post`接口，而`paddle.io.DataLoader`是动态图API，所以不支持。

PaddleSlim正在开发动态图直接`quant_post`的接口，会支持传入`paddle.io.DataLoader`。会随Paddle2.2版本发布。

[2021-06-22 03:17] LiuChiachi commented on #811
感谢回复:)
我先用静态图接口实验~

[2021-06-22 03:34] XGZhang11 commented on #785
可以采用https://github.com/PaddlePaddle/Paddle/blob/develop/python/paddle/fluid/contrib/slim/quantization/post_training_quantization.py#L1064 将模型权重保存为int8格式，并将权重的scale保存为该op的属性。 在推理端加载时，在load_combine这个op中将模型权重再转换为fp32，然后使用scale将权重反量化。

[2021-06-23 06:26] suntao2015005848 opened #814 "paddlehub输出的基于ernie自定义数据的序列标注模型支持压缩吗？"
paddlepaddle-gpu=1.8.5.post97
paddlehub=1.8.2
paddlehub的ernie=1.2.0

[2021-06-24 10:50] XGZhang11 commented on #767
您好，bug已经修复，https://github.com/PaddlePaddle/Paddle/pull/33753

[2021-06-24 10:50] #767 closed, assigned to wanghaoshuang, juncaipeng

[2021-06-24 11:33] wanghaoshuang commented on #814
支持，可以尝试使用离线量化。
Int8量化后的模型12层ERNIE模型使用PaddleInference部署，batch size=40, 在T4上加速约20%.
模型大小下降约75%

[2021-06-29 06:23] suntao2015005848 commented on #814
请问有相关的demo吗?离线量化对Paddle版本有具体要求吗？

[2021-06-29 07:45] suntao2015005848 commented on #814
如何可以的话请针对paddlehub的ernie的序列标注出一个demo,非常感谢。

[2021-06-30 02:11] jiamingming-004 opened #829 "slim裁剪 敏感度分析"
paddlepaddle 2.1版本
slim 2.0.0 版本
paddlex
 yolov3在敏感度分析之后在裁剪使出现 如下问题;
<ipython-input-6-7cefec87ea6f> in <module>
      2 import paddlex as pdx
      3 model = pdx.load_model('output_dan_rats/yolov3_darknet53/best_model')
----> 4 pdx.slim.visualize(model, 'yolov3.sensi.data', save_dir='./')
/opt/conda/envs/python35-paddle120-env/lib/python3.7/site-packages/paddlex/cv/models/slim/visualize.py in visu

[2021-06-30 09:27] zsffuture opened #831 "您好，paddledetection的yolov3_darknet可以量化为8位共GPU调用的模型吗？我看给的例子都是基于mobileNet的量化？"
跪求解答啊，新手不知道怎么量化yolov3_darknet

[2021-07-02 06:13] XGZhang11 commented on #831
paddledetection的模型支持量化，文档如下：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.1/configs/slim   。指定yolov3_darknet的配置文件即可。

[2021-07-08 11:36] wanghaoshuang commented on #829
报错的代码是PaddleX中统计参数大小的代码，
辛苦 @jiangjiajun 帮忙看下这个问题？

[2021-07-09 03:03] will-jl944 commented on #829
Hi，你当前使用的PaddleX版本仅支持到paddle1.8和paddle2.0，paddleslim仅支持到1.2.0。降低paddle和paddleslim至相应的版本即可。

此外我们也发布了全面支持动态图的[PaddleX 2.0.0rc3](https://github.com/PaddlePaddle/PaddleX/tree/develop/dygraph)，支持最新版本的paddle和paddleslim，增加了更多的模型，简化了API接口。后续我们将主要开发和维护2.0版本的PaddleX。你可以通过`$ pip install paddlex==2.0.0rc3`安装体验。

[2021-07-19 09:54] OleNet opened #854 "请问 NAS-BERT 会集成吗？"
你好， 我看到了现在 paddleslim集承了 dynabert 和 OFA，那么 NAS-BERT 会集成进来吗？ https://arxiv.org/pdf/2105.14444.pdf

[2021-07-20 02:50] wanghaoshuang commented on #854
感谢建议。
我们正在寻求更好的BERT压缩方案，但是还没评估NAS-BERT这个方法，后续我们会关注该方法，等有结论了再跟您同步计划。
另外，我们选择压缩策略时，还要考虑推理库的支持情况，有些优化方法可能会和TensorRT的优化（比如op fusion）有冲突。

再次感谢。

[2021-07-23 03:18] luoqishuai commented on #854
@wanghaoshuang
请问一般评价一个压缩方案,你们是依据什么呢?
论文中他们给出的指标?还是clue上的分数.
还是复现完,然后看看实际的分数.

[2021-07-23 12:41] 670133189 opened #860 "网络搜索的current tokens的含义？"
请教网络搜索的current tokens的含义？比如搜索**ResNetSpace**

[2021-07-26 03:53] RainFrost1 opened #861 "新版PaddleClas模型定义，使用pact量化报错"
![图片](https://user-images.githubusercontent.com/11568925/126930810-cd1db56b-a48b-4bc5-b81a-b24757881890.png)
按照[这个教程](https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/dygraph/quant)将mobinetv3改成新版PaddleClas的[定义](https://github.com/PaddlePaddle/PaddleClas/blob/release/2.2/ppcls/arch/backbone/legendary_models/mobilenet_v3.py)，就报如图所示错误

[2021-07-26 04:56] ceci3 commented on #860
current tokens 对应的是 不同层的conv的通道数在当前层搜索空间里的index，具体每个idx对应的是哪个conv可以看这里：https://github.com/PaddlePaddle/PaddleSlim/blob/develop/paddleslim/nas/search_space/resnet_block.py#L74

[2021-07-28 03:40] Lanme commented on #790
请问你用paddleslim 是采用的剪枝还是量化？训练后的模型有变小么？我感觉我剪枝训练之后模型小了参数大了总体没有改变。

[2021-08-03 03:01] XGZhang11 commented on #861
paddle版本需要和paddleslim版本对应，均使用较新develop版本时没有报错

[2021-08-04 02:26] LiquorPerfect commented on #796
您好，AttributeError: '_DataLoaderIterMultiProcess' object has no attribute '_shutdown'这个报错问题，您解决了嘛，我按照上述方法还是不行。

[2021-08-05 05:05] Disciple7 opened #866 "PaddleSlim使用model_size函数返回0"
您好！我正在使用paddleslim的analysis api完成一个对模型文件进行分析的任务，遇到了一些问题。
我目前手头没有数据集和模型，仅有以下保存好的模型文件：client_model_infer.pdiparams、client_model_infer.pdiparams.info、client_model_infer.pdmodel。经测试，它们可以用paddle.static.load_inference_model读取。

我使用了paddleslim.analysis下的flops和model_size函数进行返回，其中flops能够返回一个正常的值，但model_size返回了0。请问这是什么问题？

以下是我的代码：

[code]

[2021-08-05 06:00] Disciple7 commented on #866
补充一下：源码中all_parameters()返回了一个空list，然后我看到用的应该是paddle.fluid.block的定义，其中all_parameters()调用了iter_parameters，后者判断一个item是否为Parameter类型来返回。但是新的Paddle版本貌似不再使用Parameter类型了，而且也即将抛弃paddle.fluid模块。

[2021-08-05 07:33] LiquorPerfect opened #867 "静态离线量化，推理耗时不降反升。"
量化前模型推理速度：Avg Time: 0.03840347912000573
量化后模型推理速度：Avg Time: 0.06539143562316894
模型为paddleocr的det_r50_vd_db模型，每次测试数据集相同，500张。
为什么呢？

[2021-08-06 11:15] STUSER001 opened #869 "训练出来的模型 导出后怎么 用于其他程序？"

[2021-08-06 11:25] #869 closed, assigned to nobody

[2021-08-09 02:54] XGZhang11 commented on #867
您好，可以提供下环境以及测试代码吗

[2021-08-09 13:36] wanghaoshuang commented on #866
感谢反馈。
这里的接口调用的paddle.fluid.block确实是比较旧的版本，但理论上还是向前兼容的。结果为0不确定是这个block的问题。
你可以用以下方法，看下是不是parameter的shape有异常。
[code]

[2021-08-09 13:40] wanghaoshuang commented on #867
@LiquorPerfect
如果是GPU部署的话，需要打开TRT开关。如果是CPU的话，需要参考这个教程进行部署：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/mkldnn_quant/

[2021-08-09 14:09] wanghaoshuang commented on #866
使用load_inference_model加载的program中，Parameter全变成了Variables, 因此无法正确计算model size. 建议在save_inference_model之前计算model size.

[2021-08-11 01:16] kismit opened #872 "MobilenetV2 量化 save_quantized_model报错"
网络：

[code]

========================================================》
报错信息：

[code]

麻烦帮忙看下该问题，急！

[2021-08-11 13:13] youngstu opened #875 "yolov5检测模型离线静态量化失败"
[code]

[2021-08-12 00:31] wanghaoshuang commented on #875
这个错误看起看和量化没关系。
你确定量化时用的input data的shape和原模型兼容吗？
建议您先在不用量化的情况下，保证推理可以正常执行。

[2021-08-12 00:36] wanghaoshuang commented on #872
请问您用的PaddleSlim和PaddlePaddle版本分别是？

[2021-08-12 00:40] kismit commented on #872
PaddleSlim和PaddlePaddle版本都是2.1.1

[2021-08-12 02:58] youngstu commented on #875
1、input_data shape和原模型shape是一致的，都是3*320*320
2、在不用量化的情况下，推理是正常的

[2021-08-12 03:23] youngstu commented on #875
把quant_post_static() batch_size=1，batch_num 调大（保证有足够的图片输入）方法就解决了

[2021-08-12 04:13] #875 closed, assigned to nobody

[2021-08-12 05:13] youngstu opened #876 "yolov5轻量backbone结构模型静态离线量化后耗时不降"
下面是845处理器测试结果：
[code]

下面是麒麟990处理器测速结果：
[code]

[2021-08-12 05:15] youngstu commented on #876
模型大小大概只降低了一半：
![image](https://user-images.githubusercontent.com/26452514/129141830-bc88169c-1a4b-475b-88bc-96e3632fde42.png)

[2021-08-12 05:22] youngstu commented on #876
![image](https://user-images.githubusercontent.com/26452514/129142398-6269d073-da36-469f-ad72-7dd95129561f.png)

模型大小也只降低了一半

[2021-08-13 03:26] XGZhang11 commented on #876
此模型backbone是mbv3，量化后在lite上推理时速度提升较小

[2021-08-18 02:25] LiquorPerfect commented on #867
@XGZhang11 @wanghaoshuang 之前推理的时候没有使用trt加速，现在开了trt、fp16推理，速度略微提升。
目前还有一个问题：int8量化的模型，目前trt推理都是使用的fp16，能否设置为int8精度进行推理？我没有找到怎么设置。

[2021-08-18 02:31] wanghaoshuang commented on #867
可以参考这个文档：https://paddleinference.paddlepaddle.org.cn/optimize/paddle_trt.html

通过设置```precision_mode```开启int8计算：
[code]

[2021-08-19 06:09] #480 closed, assigned to wanghaoshuang

[2021-08-23 15:07] mzxhzhp opened #883 "有没有ssd_mobilenet_v1的全量化训练脚本demo可以参考一下？"
目标检测的 ssd_mobilenet_v1 模型，有没有全量化训练的脚本demo可以参考一下？
目前我在官方教程文档中，只看到有图像分类的PaddleSlim全量化训练demo，ssd_mobilenet_v1 的不知道应该怎么做。

[2021-08-26 01:03] Zhang-O commented on #739
我也报错了，命令是：
python -u /data/zhangyl/PaddleOCR_v2.1/deploy/slim/prune/sensitivity_anal.py -c rec_chinese_lite_train_v2.0_origin.yml -o Global.pretrained_model=rec_CRNN_2.1/best_accuracy Global.save_model_dir=rec_CRNN_2.1/prune_model

错误是：
[2021/08/26 08:40:06] root INFO: metric['acc']: 0.38350265017667845
2021-08-26 08:40:06,508-INFO: pruned param: conv2_se_1_weights; 0.7; loss=0.13456267131821575
2

[2021-08-27 06:47] XGZhang11 commented on #883
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.2/configs/slim  可以参考这个demo

[2021-08-27 07:21] mzxhzhp commented on #883
上面的链接我之前就试过了，不是全量化的，导致最终使用 opt 工具将 ssd_mobilenet_v1 转成PaddleLite格式 rknpu 的模型时报错。

[2021-08-30 11:28] LiquorPerfect commented on #867
使用trt int8推理，速度是不如fp16的。

[2021-08-30 11:28] #867 closed, assigned to wanghaoshuang

[2021-08-30 12:55] LiquorPerfect opened #887 "离线量化PaddleDetection模型库的yolov3报错"
paddle版本：paddlepaddle-gpu          2.1.1.post101
paddleslim版本：paddleslim                2.1.1
paddledetection版本：            release v2.2.0
CUDA版本：10.1
cudnn版本：7.6.5

**写在前面：**
1、paddleocr模型已经可以离线量化，静态sample_generator也已经自己实现。
2、在测试对paddledetection模型进行量化时出现报错。
目前已经尝试量化的模型有：yolov3_darknet53_270e_coco.yml、yolov3_darknet53_270e_voc.yml、yolov3_r50vd_dcn_270e_coco.yml，均出现一样的报错，模型参数直接模型库下载，在export_model为i

[2021-08-31 05:07] XGZhang11 commented on #887
请使用paddledetection的静态图模型导出inference model以及静态图下的dataloader：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.2/static 。目前因为dataloader的原因，需要使用paddledetection静态图模型导出的inference model。目前动态图的离线量化功能正在开发。

[2021-08-31 07:01] LiquorPerfect commented on #887
@XGZhang11 目前离线量化支持双输入或者多输入模型的量化嘛

[2021-09-01 02:04] wanghaoshuang opened #889 "Device memory used by PACT quantization"
## 结论

### 未复现PaddleOCR动态图PACT量化显存异常问题

Paddle develop + PaddleOCR2.2 + PaddleSlim develop： 正常
Paddle develop + PaddleOCR2.2 + PaddleSlim 2.1.1（release/2.1.0）： 正常
Paddle2.1.2 + PaddleOCR2.2 + PaddleSlim 2.1.1（release/2.1.0）： 正常

## 关于PaddleOCR量化版本的说明

在PaddleOCR dygraph分支下的quant.py为动态图量化： https://github.com/PaddlePaddle/PaddleOCR/blob/dygraph/deploy/slim/quantization/quant.py
在PaddleOCR develop分支下

[2021-09-01 08:27] XGZhang11 commented on #887
目前是支持多输入的模型的

[2021-09-01 09:34] bueredgirll opened #890 "量化模型时出错AttributeError: module 'paddle' has no attribute 'batch'"
使用PaddleSlim量化模型，输出eval指令显示AttributeError: module 'paddle' has no attribute 'batch'，应该怎么修改，求指点

[2021-09-01 09:36] bueredgirll commented on #890
paddle和paddleSlim都是2.1.2

[2021-09-02 08:57] XGZhang11 commented on #890
你好，请确认下paddle版本，可以将环境信息和具体报错粘贴在issue中。

[2021-09-08 07:34] jxncyym opened #891 "'L1NormFilterPruner' object has no attribute 'prun_var'"
net = mobilenet_v1(pretrained=False)
pruner = L1NormFilterPruner(net, [1, 3, 224, 224])
 plan = pruner.prun_var("conv2d_26.w_0", [0])

[2021-09-09 03:53] #601 closed, assigned to lidanqing-vv

[2021-09-10 03:28] #887 closed, assigned to nobody

[2021-09-26 02:56] yezechen opened #899 "训练模型剪枝时出错，出现数组越界错误"
debug发现是在
    def _visit_and_search(self, var, axis, transforms):
        self._visit(var, axis)
        pre_ops = var.inputs()
        for op in pre_ops:
这段代码循环到一个op，内容是{Out=['learning_rate']} = fill_constant(inputs={ShapeTensor=[], ShapeTensorList=[], ValueTensor=[]}, dtype = 5, force_cpu = False, op_device = , op_namescope = /, op_role = 16, op_role_var = [], place_type = -1, shape = [1], str_v

[2021-09-26 02:59] yezechen opened #900 "对测试模型进行剪枝，剪枝完成之后将获得的program进行测试，报错"
InvalidArgumentError: The number of input's channels should be equal to filter's channels * groups for Op(Conv). But received: the input's channels is 256, the input's shape is [32, 256, 125, 4]; the filter's channels is 1, the filter's shape is [256, 1, 3, 3]; the groups is 205, the data_format is NCHW. The error may come from wrong data_format setting.
      [Hint: Expected input_channels == fil

[2021-10-04 11:49] ZEROICEWANG commented on #767
在paddle2.0+paddleslim2.0与paddle2.1+paddleslim2.1上都做了测试，还是存在该问题

[2021-10-09 06:39] scott-mao commented on #694
请问此问题解决了吗？我也遇到这个问题，还有fluid.one_hot，您在哪个地方修改的，没找到这个地方，我训练slimface也出现和你一样的错误

[2021-10-09 06:40] scott-mao commented on #694
我的paddlepaddle 2.1.3版本

[2021-10-13 03:18] tianchiguaixia opened #906 "paddleslim如何压缩ernie-tiny"
![2D7AB4F321E58CD5D511589B23C6B0F4](https://user-images.githubusercontent.com/29837553/137061304-e47544db-140c-4b72-b95c-2bf1c0f99e94.jpg)
使用paddleslim对ernie-tiny压缩的，说可以达到1ms。这个有案例脚本？

[2021-10-13 08:09] tianchiguaixia opened #907 "RuntimeError: propeller 0.2 requires paddle 1.7+, got 2.1.0"
https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/ofa/ernie#ofa%E5%8E%8B%E7%BC%A9ernie%E6%A8%A1%E5%9E%8B

环境：paddlepaddle==2.1

运行代码总是报错，难道2.1版本不是高于1.7？？？

[2021-10-13 09:04] tianchiguaixia commented on #907
就是这个案例demo总是跑不通，升级paddle，paddleslim又会产生新的错误，按照文档给的环境也无法跑通。如果大佬跑通了，求告知下最新配置和环境。

[2021-10-13 09:06] ceci3 commented on #907
请问下具体是报什么错，paddlepaddle==2.1是可以的

[2021-10-13 09:07] ceci3 commented on #906
可以快速试下int8离线量化~ 参考：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/quant/quant_post 这个文档~

[2021-10-13 09:12] tianchiguaixia commented on #907
![image](https://user-images.githubusercontent.com/29837553/137103700-08caee7d-d939-45cb-abb7-e38f61381e5c.png)

[2021-10-13 09:14] ceci3 commented on #907
这一行改成 from ernie_supernet.optimization import LinearDecay试下~ 这里应该改了目录但是代码里没改~

[2021-10-13 09:25] tianchiguaixia commented on #907
改了，还是不可以的
![image](https://user-images.githubusercontent.com/29837553/137106081-935fda79-bb1a-46e4-b928-7677afdc6a35.png)

[2021-10-13 09:28] tianchiguaixia commented on #906
收到，谢谢大佬

[2021-10-13 12:57] ceci3 commented on #907
你好，demo的代码适配了一下最新的ernie 代码，可以先参考这个pr 修改~ https://github.com/PaddlePaddle/PaddleSlim/pull/908

[2021-10-14 01:36] tianchiguaixia commented on #907
还是不行，可否告知下paddle-ernie,paddlepadle,paddleslim,propeller等的版本号。

[2021-10-14 02:44] tianchiguaixia commented on #907
propeller 老是和flask冲突，全是环境问题。

[2021-10-14 09:30] tianchiguaixia commented on #907
非常感谢啊，谢谢你啊，解决大问题了

[2021-10-14 09:30] #907 closed, assigned to ceci3

[2021-10-17 09:24] jackie8310 opened #909 "离线量化问题："
paddleDetection导出模型离线量化报错：
![image](https://user-images.githubusercontent.com/63913709/137620820-7d5fb77c-998b-4230-b738-a754390aa1b1.png)
好像是加载校准数据时出错了，使用如下方式加载的：
import paddle.fluid as fluid
from paddleslim.quant import quant_post_static
from ppdet.core.workspace import load_config, merge_config, create
from ppdet.data.reader import create_reader
from ppdet.utils.cli import ArgsParser
from ppdet

[2021-10-26 10:17] huangwan-jiayi opened #911 "Paddleseg 导出预测量化模型时报错。AttributeError: 'NoneType' object has no attribute 'state_dict'"
paddlpaddle版本：paddlepaddle-gpu的nightly build版本
![image](https://user-images.githubusercontent.com/71338215/138858742-f264d451-4e88-4cd5-96b4-fa2c6bf83ac0.png)

报错：
![image](https://user-images.githubusercontent.com/71338215/138858770-4971b85f-db6f-4399-bdcf-8107dcc98abd.png)

[2021-10-26 10:17] huangwan-jiayi commented on #911
另外   我测试量化模型的时候 python slim/quant/qat_val.py 报一样的错

[2021-10-26 10:50] wanghaoshuang commented on #909
可以参考离线量化教程：https://paddleslim.readthedocs.io/zh_CN/latest/quick_start/dygraph/dygraph_quant_post_tutorial.html

[2021-10-28 08:02] BraveLii opened #912 "剪枝demo数据预处理未添加"
https://github.com/PaddlePaddle/PaddleSlim/blob/b9e5730bf3f35fee2b08102ff23db1dbafe0d2d0/demo/prune/eval.py#L37

对于mnist的数据，需要增加均值方差的预处理：
        transform = T.Compose([T.Transpose(), T.Normalize([127.5], [127.5])])
        val_dataset = paddle.vision.datasets.MNIST(mode='test', transform=transform)

[2021-10-28 11:49] XGZhang11 commented on #911
https://github.com/PaddlePaddle/Paddle/issues/36705

[2021-11-02 03:24] kismit opened #914 "Paddle2.1 动态图Embedding层怎么量化，急！"
需要对Transformer进行量化，可以量化中间层，但是不知道怎么量化Embedding层，Embedding层和其他层一起量化应该怎么配置

[2021-11-04 07:23] EricHuiK opened #915 "slim剪裁识别模型错误输出：？"
eval model:: 100%|?????????????????????????????????????????????????????????????????????????????????????????????| 160/160 [01:02<00:00,  2.57it/s]
[2021/11/04 07:12:04] root INFO: metric['acc']: 0.0
eval model:: 100%|?????????????????????????????????????????????????????????????????????????????????????????????| 160/160 [01:00<00:00,  2.66it/s]
[2021/11/04 07:13:04] root INFO: metric['acc']: 0.0
Trac

[2021-11-21 02:29] gaorui999 opened #923 "在AIstudio多卡中，安装了Paddleslim在计算Flops的时候"
`os.system("cd PaddleDetection-release-2.3 && pip install paddleslim -i https://mirror.baidu.com/pypi/simple")`

训练时候在计算Flops的时候却显示：

`[11/21 10:15:40] ppdet.engine WARNING: Unable to calculate flops, please install paddleslim, for example: `pip install paddleslim``

[2021-11-22 11:00] Water2style opened #926 "跟着教程做量化训练(静态图)，推理时报错，说reshape2的输入（label）没有初始化"
教程里的量化训练能正常运行，最后能够保存静态图成功.
但是推理模型的时候报错

代码段1（教程里的代码，不报错）：
“with paddle.static.program_guard(train_program, startup):
    #data
    image = paddle.static.data(
        name='image', shape=[None, 1, 28, 28], dtype='float32')

    #Bug exists here: label is not initialized 推理的时候说label没有初始化
    label = paddle.static.data(name='label', shape=[None, 1], dtype='int64')
    gt = paddle.reshape(label, [-1,

[2021-11-24 09:50] wanghaoshuang commented on #912
多谢反馈

[2021-11-24 09:52] wanghaoshuang commented on #915
感谢反馈，剪裁模块的敏感度分析需要在训好的模型上做。
我们会完善下log提示信息。

[2021-11-24 09:56] wanghaoshuang commented on #923
这种安装方式应该是不能及时将paddleslim module load到当前进程吧？你在当前脚本里设置一下PYTHONPATH?

[2021-11-24 09:59] wanghaoshuang commented on #926
方便贴出保存模型的语句么？
可能是保存模型的时候指定错『输入』与『输出』变量了，导致保存的模型中包含loss和label，而推理模型中是不用label的。

[2021-11-24 10:04] Water2style commented on #926
你好,保存模型的语句是直接复制官方教程的:

quant_infer_program = slim.quant.convert(val_quant_program, exe.place)
target_vars = [quant_infer_program.global_block().var(outputs[-1])]

paddle.static.save_inference_model(
        path_prefix='./quant_infer_model',
        feed_vars=[image], #输入,只存了image
        fetch_vars=target_vars, #输出
        executor=exe,
        program=quant_infer_program)

推理部分:
[inference_progr

[2021-11-24 11:01] Water2style commented on #785
您好,请问用这个方法是否可以得到具体的 压缩后的模型大小?(因为写论文需要压缩后的size数据). 还要其他方法能得到压缩后的模型具体大小吗

[2021-11-25 04:10] wanghaoshuang commented on #926
抱歉，官方的这一行代码不是很严谨。这里target_vars预期的是模型的最后一个变量。但是如果模型最后一个变量是loss或其它依赖label的变量，则保存的推理模型就会依赖label。

建议根据实际情况指定target_vars，比如在[示例](https://github.com/PaddlePaddle/PaddleSlim/blob/develop/demo/quant/quant_aware/train.py)中，模型定义代码如下：

https://github.com/PaddlePaddle/PaddleSlim/blob/v2.2.0/demo/quant/quant_aware/train.py#L125-L134
[code]

在save_inference_model时，可以将target_vars指定为不依赖label的`out`, 如下：
https://g

[2021-11-25 06:49] ceci3 commented on #914
请问是量化训练吗？Embedding层量化的话应该只需要量化weight就可以了，我看下需要怎么配置。。

[2021-11-25 06:51] kismit commented on #914
是量化训练，量化整个transformer模型包括embedding部分

[2021-11-25 06:52] ceci3 commented on #914
好的，可能需要修改paddle代码，我稍微晚点发出来具体的修改~

[2021-11-25 08:50] ceci3 commented on #914
1. 按照这样在quant layer中添加embedding的quant： https://github.com/ceci3/Paddle/commit/15641f9cf925f8358d0a764319f9b93432fcb6c1
2. 配置量化参数的时候把 Embedding添加到 quantizable_layer_type中，https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/dygraph/quant#%E9%85%8D%E7%BD%AE%E9%87%8F%E5%8C%96%E5%8F%82%E6%95%B0
这样就可以对embedding进行量化了。

[2021-11-25 09:19] kismit commented on #914
好的，我试下，这个提交在正式分支上有发布吗？或者有没有发布计划

[2021-11-25 09:24] Water2style commented on #926
谢谢！ 原来问题是在这里，后来我把保存模型的target_vars改成了 [out] 就可以推了. 输出是对应的10类结果.
之前的问题，是因为program里，out之后还有cost和acc这些依赖label的变量，但是保存的时候没有存label，所以造成了这个BUG哈

[2021-11-25 09:35] ceci3 commented on #914
暂时还没有在正式分支上发布，我们需要内部讨论下发布计划

[2021-11-25 09:56] wanghaoshuang commented on #926
如有问题可以重启该issue。

[2021-11-25 09:56] #926 closed, assigned to wanghaoshuang

[2021-11-26 01:27] kismit commented on #914
请教一下，按照上面的修改在quant_layers.py添加QuantizedEmbedding的实现，但是哪里调用这个module呢？是不是还需要修改调用解析的地方

[2021-11-26 01:47] kismit commented on #914
上面那个问题我在./fluid/contrib/slim/quantization/imperative/qat.py +375中找到答案了，感谢！

[2021-11-26 02:52] chccc1994 opened #934 "PaddleOCR 识别模型裁剪和量化问题"
### 裁剪：
[code]
+ 裁剪错误日志

[code]

### 量化
[code]

+ 量化错误日志
[code]

PaddlePaddle版本 : paddlepaddle-gpu 2.2.0.post110
PaddleSlim版本: 2.2.0、 2.0.0 拉取PaddleSlim ,执行 python setup.py install 安装版本 以上3个版本都测试

这个问题怎么解决？？

[2021-11-26 06:26] kismit commented on #914
按照这样在quant layer中添加embedding的quant： ceci3/Paddle@15641f9
应该修改成下面这样吧：

class QuantizedEmbedding(layers.Layer):
    def __init__(self,
                 layer,
                 weight_bits=8,
                 activation_bits=8,
                 moving_rate=0.9,
                 weight_quantize_type='abs_max',
                 activation_quantize_type='abs_max',
                 weight_pre_layer=None,

[2021-11-26 06:27] kismit commented on #914
按照这样在quant layer中添加embedding的quant： ceci3/Paddle@15641f9
应该修改成下面这样吧：
`class QuantizedEmbedding(layers.Layer):
    def __init__(self,
                 layer,
                 weight_bits=8,
                 activation_bits=8,
                 moving_rate=0.9,
                 weight_quantize_type='abs_max',
                 activation_quantize_type='abs_max',
                 weight_pre_layer=None,

[2021-11-28 13:06] #923 closed, assigned to nobody

[2021-11-29 10:33] wanghaoshuang commented on #934
感谢反馈，我们正在尝试修复该问题。如有进度，会及时同步。

[2021-11-29 15:47] Water2style commented on #900
同样， 输入的channel是256，他不等于 filter的channel*groups for OP，也是就 256 ！= 1*205
请问解决了吗？

[2021-11-30 08:40] wanghaoshuang opened #937 "量化模型格式解释"
## 问题1

fake_quant_xxx算子的InScale和OutScale，在计算下一个节点的输入Scale的时候，应该取InScale还是OutScale除((1 << (bit_length - 1)) - 1)

## 问题2

![image](https://user-images.githubusercontent.com/7534971/144013578-eb0205ee-95dd-441c-92de-2efab28ad24a.png)
上面这张图里面的各种fake算子，是否有些是废弃掉的？

[2021-11-30 08:52] wanghaoshuang commented on #937
## 问题1

答：**都可以**；因为InScale和OutScale是Inplace的Accumulator, 它们指向的是同一个变量，如下图所示：
<img width="1024" alt="image" src="https://user-images.githubusercontent.com/7534971/144015289-288ab353-adb6-46e7-8c5f-4a76c42fac6c.png">

在Paddle framework的Pass中，是取的`InScale `, 代码可参考：
https://github.com/PaddlePaddle/Paddle/blob/v2.2.1/paddle/fluid/framework/ir/quant_conv2d_dequant_fuse_pass.cc#L347-L359

[2021-11-30 08:58] wanghaoshuang commented on #937
## 问题2

答：现阶段，这些op都有用，只是用在不同的场景；比如动态图和静态图用的op就不太一样。下边我贴出了 @juncaipeng 整理的当前量化模型格式，其中可以看出各个quant op用在什么场景。

[2021-11-30 08:59] wanghaoshuang commented on #937
author: @juncaipeng

# Paddle2.2 量化模型格式

PaddleSlim产出量化模型功能，是通过多种量化方法，获取、保存OP的量化信息，得到伪量化模型。

**伪量化模型 = 原始模型 + 量化信息 **

产出的伪量化模型，支持在Paddle中直接测试精度，此时不是执行Int8 Kernel，只是模拟了计算Int8 Kernel。

产出的伪量化模型，支持在预测端PaddleInference和PaddleLite中预测部署，此时是执行Int8 Kernel。

# 背景知识

从量化角度来看，OP分为：

* 模拟量化OP，有权重可以进行量化训练调整，比如conv2d, con2d_transpose, depthwise_conv2d, matmul, mul
* 非模拟量化OP，没有权重可以进行量化训练调整，比如pool2d、concat等常规OP

[2021-11-30 09:20] yingshengBD opened #938 "flatten_contiguous_range op is unsupported in PTQ"
<img width="1389" alt="图片" src="https://user-images.githubusercontent.com/74164525/144019187-75971938-9a22-4999-a3ef-b1086ea62623.png">
mbv1离线量化报错如上图
模型：paddle新版mbv1模型，新增了算子flatten_contiguous_range
<img width="412" alt="图片" src="https://user-images.githubusercontent.com/74164525/144019428-e351f526-60c6-4342-aaca-33cbd4760ca9.png">
版本：paddle和slim版本均为11月29日最新develop

[2021-11-30 11:25] LiLiLiam opened #940 "model_dir下的文件应该放什么文件"
`model_dir = './pd_model'`
`quant_post_static(executor=exe,
                  model_dir=model_dir,
                  model_filename=model_filename,
                  params_filename=params_filename,
                  quantize_model_path=save_model_path,
                  sample_generator=sample_generator,
                  batch_size=batch_size,
                  batch_nums=batch_nums,

[2021-11-30 12:09] yingshengBD commented on #938
delete the Xshape in flatten_contiguous_range ，will make it work

[2021-11-30 12:09] #938 closed, assigned to wanghaoshuang, yghstill

[2021-11-30 14:34] wanghaoshuang commented on #900
@yezechen 建议升级到最新的PaddleSlim.

看报错应该是剪裁的时候没有处理好grouped conv2d，在最新的PaddleSlim中做了修复。

[2021-11-30 14:41] wanghaoshuang commented on #900
@Water2style 针对您的问题：

![image](https://user-images.githubusercontent.com/7534971/144068121-3049a21f-4b71-4339-bcf4-3e5df318b5ee.png)

应该是您参考的教程和PaddleSlim版本不匹配导致的。

如果用PaddleSlim2.2.0，建议参考这个教程：https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/tutorials/pruning/static/image_classification_sensitivity_analysis_tutorial.md#82-剪裁测试网络

其中，**只剪裁测试网络后，是不能进行测试的**，剪裁完训练网络后才能测试。因为Paddle的网络结

[2021-12-01 03:10] zzjjay opened #941 "【LatencyPredictor】读取opt转换生成的pb模型，其中卷积的weight、output形状信息有误"
使用关闭了内存复用的opt工具将inference模型转换为protobuf格式的模型，可以读取到模型的拓扑结构和各层op的参数信息、输入输出形状，用于延时预估，但在Ubuntu环境下，偶发卷积的weight、output的channels对应不上，如下所示：

读取的conv信息：
conv2d in=(1, 32, 56, 56) weight=(24, 32, 1, 1) out=(1, 72, 56, 56)

但同样的inference模型放到mac环境下进行protobuf格式转换却没有发生类似的错误，初步判断是ubuntu环境下的opt工具本身的问题。

[2021-12-07 08:14] kismit opened #944 "Transformer 动态图PTQ量化报错"
paddle版本： 2.2.0
paddleslim版本：2.2.0

代码：
[code]

报错:
[code]

[2021-12-08 06:33] wanghaoshuang commented on #944
您好，已经复现该问题。正在排查错误原因。

[2021-12-08 06:56] wanghaoshuang commented on #944
您好，

[code]
在以上两句调用之间需要加一行校准操作：https://github.com/PaddlePaddle/PaddleSlim/blob/develop/demo/dygraph/post_quant/ptq.py#L129

加校准操作，就是过一些测试数据，来计算统计激活的threshold。如果没有这个操作，则threshold为空，就触发了您在日志中看到的报错。

相关文档：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/dygraph/post_quant#校准模型

[2021-12-08 07:00] kismit commented on #944
好的，我这边试一下。

[2021-12-09 07:09] gaorui999 opened #945 "非结构化训练加载GMPUnstructuredPruner报错，使用的2.2.1版本"
![image](https://user-images.githubusercontent.com/77316774/145350219-258d1b64-e4cb-4ea9-a720-cc3326aeb33c.png)

[2021-12-09 07:25] kismit commented on #944
按照上面操作加了数据训练，可以保存模型，但是使用 paddle_lite_opt转换的时候会报下面的错，请问这个是配置问题或者算子不支持问题？
[code]
报错信息：
[code]

[2021-12-09 07:52] wanghaoshuang commented on #944
这是算子不支持。
不加量化可以在Paddle-Lite正常部署么？

[2021-12-09 07:55] kismit commented on #944
不量化是可以推理的，但是模型太大了，需要通过压缩减少以下内存的占用，希望能够同时达到加速推理的效果。

[2021-12-09 14:29] gaorui999 opened #946 "希望尽快能把develop版本的发布一下，目前训练非结构化稀疏配路径太难了~~~"

[2021-12-10 07:34] minghaoBD commented on #945
您好，谢谢尝试非结构化稀疏功能～

我在本地运行：
`pip install paddleslim==2.2.1`
`python`
`from paddleslim import GMPUnstructuredPruner`
是没有问题的。
![image](https://user-images.githubusercontent.com/79566150/145535241-349deba3-3aa5-4e8f-8646-537052bbe78f.png)

请问您的paddleslim是否按照上述步骤安装成功呢？

[2021-12-10 07:44] minghaoBD commented on #946
安装develop版本的paddleslim：
[code]

但是，develop版本下非结构化稀疏功能与2.2.1无异，而且都不应该有【配置路径】的步骤。

[2021-12-10 08:03] gaorui999 commented on #946
2.2.1会出现报错，我的指令是这样的，他的报错在图上
`%cd paddle-detection1125/`
`!pip install -r requirements.txt -i https://mirror.baidu.com/pypi/simple  `
`!pip install paddleslim==2.2.1 -i https://pypi.tuna.tsinghua.edu.cn/simple  `
`!python3.7 -m paddle.distributed.launch --log_dir=log_test --gpus 0 tools/train.py -c configs/picodet/pruner/picodet_m_320_coco_pruner.yml --slim_config configs/slim/prune/picodet_m_unstr

[2021-12-10 08:13] minghaoBD commented on #946
多谢反馈～
这个小功能没有合入2.2.1，麻烦安装下develop版本 : )
我同步合入这个小功能到2.2分支，完成后我在这里回复。

[2021-12-10 08:46] gaorui999 commented on #946
感谢百度大大的回复，万分感谢，折磨了两天了

[2021-12-10 11:59] gaorui999 commented on #946
@minghaoBD 可以冒昧的问一下，大概什么时间能完成呢

[2021-12-10 11:59] #945 closed, assigned to nobody

[2021-12-13 01:42] minghaoBD commented on #946
我和发版同学沟通了下，他们建议还是使用develop版本～

这么做是考虑到local_sparsity是一个新的【小功能】，不是对于之前功能的bug修复，不建议合入release/2.2分支。所以需要麻烦您按照上述指令，安装develop版本paddleslim了。

[2021-12-13 03:05] gaorui999 commented on #946
难过~~

[2021-12-13 08:37] gaorui999 commented on #946
请问下我有没有办法自己做一个发版呢？

[2021-12-13 08:49] minghaoBD commented on #946
这个可能比较麻烦。我建议还是安装develop版本的paddleslim。
看你在使用jupyter运行命令，猜测你可能遇到了一些安装develop版本的问题，我大概搜了一些相关教程供参考：
1. 执行git clone 获取paddleslim：https://blog.csdn.net/weixin_43695915/article/details/86471264
2. 运行setup.py 文件：https://blog.csdn.net/DoReAGON/article/details/100122750
3. 如果你可以直接打开命令行终端，所有命令都可以在终端中按照这个教程执行：https://blog.csdn.net/Lianyudedouzi/article/details/109715011

[2021-12-14 13:46] WEIZHIHONG720 opened #948 "可以对yolov5进行压缩和量化吗？"
可以对yolov5进行压缩和量化吗？

[2021-12-15 01:53] sc0ttms opened #949 "uniform剪枝要如何操作?"
直接获取所有卷积操作的变量名称API应该参考哪个？
uniform 剪枝是步骤是指 获得了所有卷积变量名称后每个变量剪枝相同比例吗？

[2021-12-15 01:58] sc0ttms opened #950 "AIDigest 无此公众号"
AIDigest 无此公众号

[2021-12-15 08:16] weishengying opened #951 "使用不同shape的校准数据量化模型，产生报错"
假设一个由单个conv组成的简单模型，conv的输入是动态的【1，3，None，None】，使用quant_post_static量化，这个api的校准数据迭代器sample_generator产生不同shape的校准数据，量化过程中报错：
源码：

     import paddle
     from paddle.nn import Conv2D
     from paddle.nn.initializer import Assign
     import paddleslim

     # 定义一个简单只有conv op的模型,其中weight_attr定义为全1数据
    class conv_model(paddle.nn.Layer):
        def __init__(self):
            super(conv_model, self)._

[2021-12-15 09:54] sc0ttms opened #952 "QAT量化后执行eval()报错如下"
ValueError: (InvalidArgument) Tensor holds the wrong type, it holds ::paddle::platform::float16, but desires to be float.
  [Hint: Expected valid == true, but received valid:0 != true:1.] (at /paddle/paddle/fluid/framework/tensor_impl.h:33)
  [operator < fake_quantize_dequantize_moving_average_abs_max > error]

[2021-12-16 09:51] Water2style commented on #732
哥,你的意思是用PaddleLITE把 离线量化后的FP32模型先给转成INT8(暂时达到缩小体积的目的), 然后要推理的时候,再把INT8的这个模型,转成FP32拿来推理是吗~?

[2021-12-16 09:58] wanghaoshuang commented on #732
可以用pickle load并修改.pdiparams文件到Int8数值格式，在预测时再用pickle load修改成fp32格式。
@Water2style
paddle.save接口保存模型时，用的是pickle， 请参考：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/save_cn.html#canshu

[2021-12-16 10:19] Water2style commented on #732
感谢!

[2021-12-16 10:19] Water2style commented on #732
感谢

[2021-12-17 09:14] wanghaoshuang commented on #934
以上问题均在PaddleOCR dygraph分支修复：https://github.com/PaddlePaddle/PaddleOCR/tree/dygraph

[2021-12-17 09:18] wanghaoshuang commented on #934
## 剪裁错误

  File "deploy/slim/prune/sensitivity_anal.py", line 147, in <module>
    main(config, device, logger, vdl_writer)
  File "deploy/slim/prune/sensitivity_anal.py", line 77, in main
    flops = paddle.flops(model, [1, 3, 640, 640])

该问题主要原始是在sensitivity_anal.py文件中调用paddle.flops时，传入了错误的shape, [1, 3, 640, 640], 该shape不兼容OCR rcnn识别模型。

fix之后：https://github.com/PaddlePaddle/PaddleOCR/blob/dygra

[2021-12-20 09:18] zzjjay commented on #941
在mac(intel)环境下，也遇到类似的错误，conv中权重形状和输出形状对应不上，如下所示：

读取的conv信息：
conv2d in=(1, 2496, 7, 7) weight=(704, 2496, 1, 1) out=(1, 2560, 7, 7) pad=0 stride=1 group=1 dilation=1 quant=None bit_length=None   latency=19.393

经实测发现，该conv正确的weight形状应为（2560，2496，1，1），说明out形状是正确的.

该问题带来的风险：
1. 在提取延时表的数据作为预测器训练集时，如果通过weight去读取该conv的输入、输出通道，会产生错误数据，影响预测器训练如下所示：
conv2d in=(1, 960, 7, 7) weight=(384, 960, 1, 1) out=(1

[2021-12-21 03:46] yghstill commented on #948
@weizh588 如果有yolov5的Paddle的组网训练代码，可以进行量化训练。如果只有Inference model，可以进行离线量化：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/quant/quant_post

[2021-12-21 03:51] yghstill commented on #951
需要看下exe.run执行fp32 model是否也支持动态宽高输入

[2021-12-21 03:56] yghstill commented on #952
@sc0ttms 量化训练哪个模型？PaddlePaddle版本是多少

[2021-12-22 09:37] fxwfzsxyq opened #959 "EC-DARTS: Inducing Equalized and Consistent Optimization into DARTS"
这篇文章啥时候开源

[2021-12-22 19:47] Water2style commented on #732
老哥，直接用pickle.load是会报错的.代码如下：

params_path = './quant_post_static_model/qpt.pdiparams'
with open(params_path,'rb') as file:
    model = pickle.load(file)
print(model)

报错：
_pickle.UnpicklingError: invalid load key, '\x00'.

后来解决了：
先直接用 paddle.load(prefix_path)，把dict给读上.
然后再paddle.save
才能用pickle.load来读取这个权重文件.....
就很奇怪，网上下载的pdiparams无法直接pickle.load.  只能load自己save的.....

[2021-12-23 12:17] sc0ttms commented on #952
@yghstill
PaddlePaddle 2.2.1 设置未train()模式是正常的
模型是复现的DCCRN语音增强网络，encoder(CNN)+RNN(LSTM)+decoder(CNN)的结构

[2021-12-27 02:29] huilin16 opened #962 "请问如何在动态图中离线量化"
动态图离线量化教程
https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/quick_start/dygraph/dygraph_quant_post_tutorial.md
中的代码似乎是静态图代码吧

paddle.enable_static()
place = paddle.CPUPlace()
exe = paddle.static.Executor(place)
paddleslim.quant.quant_post_static(
        executor=exe,
        model_dir='./',
        model_filename='fp32_inference_model.pdmodel',
        params_filename='fp32_infer

[2021-12-28 03:28] yghstill commented on #962
@huilin16 请参考：https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/dygraph/post_quant

[2021-12-29 22:08] Water2style commented on #732
#用paddle.load读取量化后模型.
model = paddle.load("./quant_post_static_model/qpt")

#定义函数，把weights转为INT8保存
def model_fp32_to_int8(model):
    for weight_name in model:
        if "weights" in weight_name:
            weight_data_fp32 = model[weight_name]
            weight_data_int8 = weight_data_fp32.astype('int8')
            model[weight_name] = weight_data_int8
     return model

#拿到INT8格式的模型
Int8_for

[2021-12-31 08:03] Water2style commented on #732
补充说明:

原版的，可以推理的.pdiparams模型，称为模型1.
Paddle.load起来，再用paddle.save后的模型，(中间没有任何改动，loadl后就save)称为模型2.

问题所在：

用python的open和read()搭配，读出两个模型的二进制文件.
输出后发现两个模型的内容不同，并且使用 len()函数，发现len(模型1）比len(模型2）小，len（模型2）长了3000多.
2.load_inference_model出错主要在 反序列化参数这一步.即 deserialize_persistables(program, params_bytes, exe).

3.更详细的错误报告：

"""
File "/home/xieyunyao/miniconda3/envs/PP22/lib/python3.8/site-packages/paddle/sta

[2021-12-31 10:13] Water2style commented on #785
同样的需求...老哥解决了吗

[2021-12-31 11:02] Water2style opened #966 "需求：静态量化后的FP32格式模型存为INT8(缩小体积），推理时再从INT8转为FP32推理."
需求：静态量化后的FP32格式模型存为INT8(缩小体积），推理时再从INT8转为FP32推理.

目前做法：
step1. 用paddle.load,从.pdiparams和.pdmodel读取到模型的state_dict
step2. 修改 被量化的权重，把weights的数据格式改成int8. data.astype(np.int8). 并赋值给state_dict.
step3. 用paddle.save或者pickle.dump保存模型. 在这里可以观察到 体积缩小约4倍的小模型.
step4. 和第二步同理. 把INT8转为FP32并储存.

问题所在：
1.FP32-INT8-FP32， 最后这个FP32模型无法使用 load_inference_model进行读取.

后经过排查：

1.问题不是出在数据转换过程和量化过程.

2.拿原版的，官网下载的inference模型

[2022-01-04 02:47] wanghaoshuang commented on #949
对于静态图：

[code]

对于动态图, 请参考：https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/nn/Layer_cn.html#parameters

是的

[2022-01-04 02:47] yghstill commented on #966
@Water2style 请使用paddleslim.quant_post_dynamic接口，只量化权重，推理时会再转为FP32推理。

[2022-01-04 02:49] wanghaoshuang commented on #959
多谢建议，我们会关注下该文章，但是近期应该不会复现。

[2022-01-04 03:14] fxwfzsxyq commented on #959
这篇文章至少从论文贴出效果来说改进是很大的，所以想试试，因为论文中没给出搜索出来的架构，但是提到会在paddleslim开源，所以就问下，期待尽快开源

[2022-01-04 07:21] Water2style commented on #966
谢谢.
但是我需要做 静态的量化.   动态量化推理的时候转FP32,那推理的时候并不是INT8呀.

[2022-01-04 11:53] yghstill commented on #952
@sc0ttms 这个问题在现有的模型中并未出现过，有代码链接吗？我复现并修复下这个问题。

[2022-01-17 20:56] Water2style commented on #966
已解决.

[2022-01-25 10:49] Water2style commented on #532
我用 load_inference_model 了一个paddle模型
剪枝也会出这个错.

[2022-01-25 11:51] Water2style opened #970 "剪枝敏感度分析报错."
需求: 对 存在本地的训练好的模型进行剪枝.

过程：
1.首先跟着文档做了一套流程，可以完成剪枝.
https://paddleslim-readthedocs-io.translate.goog/zh_CN/latest/tutorials/pruning/static/image_classification_sensitivity_analysis_tutorial.html?_x_tr_sl=zh-CN&_x_tr_tl=en&_x_tr_hl=zh-CN&_x_tr_pto=nui,op,sc

2.由于这个文档的模型，是要在脚本中训练的，所以我先把文档里的模型训练后，用 save_inference_model 保存在本地（train_program和val_program都保存了，出同样的错误）.

3. 后来用 load_inference_model,（此模型能通过te

[2022-02-02 19:07] Water2style opened #972 "静态图下,训练/预训练re-train, 相关问题."
新年快乐！
你好，目前有如下几个问题想请教一下.

由于在static模式下，有时候会通过re-train在剪枝后用来恢复acc. (剪枝教程里就re-train了)
目前有下面几个问题想要请教一下.

教程里是拿MNIST训了一下，但我要做的是ImageNet数据集，从新训练几乎不可能.
官网上找的预训练模型，变量名字和 slim.models 里的模型网络对不上,无法通过 paddle.static.set_program_state来把预训练模型给加入program.
目前像教程中那种 static风格来组建模型网络的资料也挺少.....

所以,
结合现状，后续会多多个分类模型做剪枝和量化，是否建议转动态图~? 大不了不去实现 那两个只支持静态图的剪枝算法.

谢谢!

[2022-02-03 09:29] #970 closed, assigned to nobody

[2022-02-06 16:44] Water2style opened #973 "在ImageNet上做剪枝的敏感性分析...有必要把5万张val跑完吗"
Hello
今天发现做剪枝的敏感性分析，如果我一个模型可能对20个conv做剪枝
我发现在敏感性分析的时候,可能就会跑 20次 eval.....
请问有必要跑完吗？ 谢谢！

[2022-02-08 02:18] wanghaoshuang commented on #973
没有必要跑完。
可以将测试集数据分成多份，然后观察下每份测试数据产出的敏感性分析结果是否相近。

[2022-02-08 04:49] sc0ttms commented on #952
最近身体不适，后续恢复后整理一下复现代码

[2022-02-08 04:49] #952 closed, assigned to nobody

[2022-02-08 07:04] Water2style commented on #973
好的谢谢！

[2022-02-08 07:04] #973 closed, assigned to nobody

[2022-02-12 21:31] #972 closed, assigned to nobody

[2022-02-12 21:32] #966 closed, assigned to nobody

[2022-02-13 14:34] Water2style opened #975 "PaddleSlim/demo/imagenet_reader.py， 有bug."
你好，
我在使用 https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/dygraph/quant 时，发现使用的PaddleSlim/demo/imagenet_reader.py有问题.

1.#210和#217使用的data_path， 并不是 DATA_DIR/train 和 DATA_DIR/val.  读取图片时报错.

2. 为什么 dygraph/quant和dygraph/pruning 两个demo中，使用的数据集方式不同？
quant用的是io.Dataloader，然后自己写的训练函数； 然而pruning用的是DatasetFolder搭配高层API的model.fit

为什么用了两种不同的方式来加载数据集呢？
两种方式有什么区别呢？之前看到好像 model.fit(dataset)的方式，会比

[2022-02-14 14:28] ChrisMengxl opened #976 "ResNeXt101_vd_32x4d 参考PaddleClas 模板剪枝报错。"
ResNeXt101_vd_32x4d 剪枝报错。 其中，版本：
PaddleSlim 2.1.1
PaddleClas 2.2
PaddlePadddle 2.1.2

2022-02-14 22:20:16,608-INFO: change groups from 32 to 22 for res5c_branch2b_weights.
Traceback (most recent call last):
  File "tools/train.py", line 31, in <module>
    engine = Engine(config, mode="train")
  File "/home/aistudio/PaddleClas/ppcls/engine/engine.py", line 194, in __init__
    self.pruner = get_pr

[2022-02-23 09:38] nick-zoo opened #999 "关于darts教程中的使用实例，没有构建cell"
您好，我想研究下基于paddle怎么复现darts，但是这个[链接](https://github.com/PaddlePaddle/PaddleSlim/blob/release/2.0.0/docs/zh_cn/api_cn/dygraph/nas/darts.rst#%E5%8F%AF%E5%BE%AE%E5%88%86%E6%A8%A1%E5%9E%8B%E6%9E%B6%E6%9E%84%E6%90%9C%E7%B4%A2darts)下的使用实例没有构建cell块吧，整个网络只有stem层和分类层。

[2022-02-26 11:24] ChrisMengxl commented on #721
https://github.com/PaddlePaddle/PaddleSlim/issues/976   ResNeXt101_vd_32x4d 参考PaddleClas 模板剪枝报错

请大牛看看是怎么回事。十分感谢。

[2022-02-27 14:04] imzongjian opened #1001 "paddleslim进行量化和压缩是否对百度edgeboard硬件平台有提升？"
目前没有这方面的教程或者说明。我想通过量化来提高原有的paddledetection模型在edgeboard上的表现，不知能否使用paddleslim

[2022-02-28 09:14] llt-Nancy opened #1002 "paddleslim官方文档版本配置与实际不符"
官方文档是paddleslim=2.1.0与paddlex=2.1.0,但实际却有冲突
![image](https://user-images.githubusercontent.com/80373122/155956195-9e5fc803-e23f-4408-8c01-add3a96b2659.png)

[2022-02-28 17:39] Water2style commented on #470
shuang哥，在哪里整FP16量化啊..没找到呢..目前只会用PTQ量化成INT16

[2022-03-03 07:37] vicwer opened #1003 "默认batch_size是16不太好吧"
https://github.com/PaddlePaddle/PaddleSlim/blob/66168f6b957146fe46fd6d45dff7f4d1985e59ab/paddleslim/quant/quanter.py#L315

默认batch_size的话，很多模型转换过来调用`slim.quant.quant_post_static()`会报错`InvalidArgumentError: The 'shape' in ReshapeOp is invalid. The input tensor X'size must be equal to the capacity of 'shape'. But received X's shape`，感觉默认是1比较好。

[2022-03-06 10:22] yghstill commented on #1003
@vicwer 感谢反馈，这个我们修正下。

[2022-03-07 02:32] ChrisMengxl commented on #976
个人配置文件问题。Sorry。

[2022-03-07 02:32] #976 closed, assigned to nobody

[2022-03-07 03:11] vicwer opened #1007 "关于使用slim做paddle模型的conv+bn合并"
如果对于一个paddle模型，只想做conv+BN合并，不想做量化，该调用什么接口呢，现在看合并是在quant_opst_static调用的

[2022-03-07 05:34] #1003 closed, assigned to nobody

[2022-03-08 02:52] yghstill commented on #1007
@vicwer 目前没有发布此功能，可以参考下这个实现：https://github.com/PaddlePaddle/PaddleSlim/pull/692/commits/b93bce9174468209ee9c65f729910c9575d0756e

[2022-03-08 16:26] Water2style opened #1008 "使用预测模型进行量化训练中的问题"
我在参考 “使用预测模型进行量化训练示例” 这一篇中遇到一些问题，想请教一下.
ref: https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/quant/quant_aware_with_infermodel

1.教程中是带有蒸馏功能的，我想问可以对动态图jit.save后的预测模型，在静态图中QAT训练吗？（也就是不要蒸馏部分）

2.教程中有一个参数：distill_node_name_list，后面跟着大量的蒸馏节点，如果只做自蒸馏，不同的模型下，我想问这个蒸馏节点该怎么选呢？ 好像没有相关的资料说明该如何选择这些节点.

谢谢！

[2022-03-09 11:02] 2050airobert opened #1013 "Quantization of paddleslim question!!!"
hi，
    为什么我pip install paddleslim后有fluid\contrib\slim\quantization 这一组目录，但是我从repo上git clone下来的最新几个版本都没有这组目录哪怕一个子目录？
     请问下为什么这两套代码不同步呢？还是我找的方式不对，请教下，多谢

BR

[2022-03-10 02:04] 2050airobert commented on #1013
补充下:     我想能够修改paddleslim代码，希望还能为开源做点贡献。不知道如何解决无法从repo上git下来fluid\contrib\slim\quantization这部分代码进行修改的问题呢？

[2022-03-14 12:54] zhiyuan1i opened #1016 "请教一下 nas 有关模型 fc层输出的问题"
您好， 我想使用paddleslim的nas功能为自己的研究搜索一个轻量级的深度哈希网络，希望模型可以输出指定长度的哈希编码，即需要用到模型最后一个fc层的输出，并且我想通过程序设置指定输出向量的长度。

我认真研读了 https://github.com/PaddlePaddle/PaddleSlim/blob/develop/demo/nas/sanas_darts_space.py 的代码，包括https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/nas 还有 https://paddleslim.readthedocs.io/zh_CN/latest/api_cn/static/nas/search_space.html?highlight=output_size#id3 ，https://github.com/P

[2022-03-14 14:05] zhiyuan1i commented on #1016
[code]
样例代码中还有在这里设置fc层的，与上面output_size 造成了迷惑，可以麻烦帮忙解答吗。感谢！

[2022-03-14 16:31] #1008 closed, assigned to nobody

[2022-03-15 05:03] RachelXu7 commented on #1016
output_size是输出feature map的大小，跟fc无关。如果你想生成128位的二进制编码，可以将fc层输出设置为128。可以联想一下classification任务，args.class_dim=128即可。

[2022-03-15 15:23] zhiyuan1i commented on #1016
谢谢！

[2022-03-15 15:23] #1016 closed, assigned to nobody

[2022-03-17 02:14] TANSHOUTAO opened #1017 "剪枝与量化问题"
使用paddledetection里的static静态图对预训练模型ssd_mobilenet_voc进行剪枝后是否能用static里的量化工具进行量化，还是需要离线量化

[2022-03-17 02:16] TANSHOUTAO opened #1018 "小白的剪枝问题"
敏感度分析完后，怎么确定剪枝的层和剪枝率，因为介绍用python绘制的话该怎么做，那个网页404了

[2022-03-30 02:31] liyuyuan6969 opened #1025 "from work import reader错误"
在论坛上也问了下！

问题链接：https://aistudio.baidu.com/paddle/forum/topic/show/994140

这个项目的ISSURE怎么像在都没人回了？论坛也没人回，xdm有其他的量化工具推荐吗？

[2022-03-30 02:34] liyuyuan6969 commented on #950
确实，没搜到

[2022-03-30 11:08] marsbzp opened #1027 "在线量化得到模型如何转换为paddle-trt支持的模型呢"
![image](https://user-images.githubusercontent.com/20138766/160821128-9f178c8c-3633-4b01-9d35-afd911b4b849.png)
直接使用这个模型进行推理结果异常

[2022-04-01 00:39] marsbzp commented on #937
你好，问下动态图QAT产出的量化模型，paddle-tensorrt无法正常推理，有没有工具进行转换呢转成下图这种形式
![image](https://user-images.githubusercontent.com/20138766/161172423-b118cb7b-8bad-4c16-ac7f-f1b7e3bb58f6.png)

[2022-04-01 02:04] wanghaoshuang commented on #937
@marsbzp 请问在用Paddle-TensorRT推理时，具体报什么错误呢？
理论上，动态图产出的量化模型，也是可以用Paddle-TenorRT推理的。
@yghstill

[2022-04-01 12:16] bbilixzc commented on #1018
您好，可以请教一下您是怎么进行敏感度分析的吗？
是否参考的这个文档：
https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/static/slim/sensitive

[2022-04-02 00:07] TANSHOUTAO commented on #1018
是的，我参考的就是这个文档，我用的是2.1的版本，现在有一个新的问题一直没有办法解决，就是用这种办法分析敏感度时，对于ssd_mobilenet_voc模型的dw卷积层没有办法分析，会出现报错的情况，其他层却没有，可以正常分析并且进行剪枝，请问是什么问题，有没有什么解决办法，或者在静态图里面有没有分析敏感度的方式，感谢回复！！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSlim"

[2022-04-02 01:35] bbilixzc commented on #1018
感谢回复！

但是我使用2.1版本的Paddle Detection去跑敏感度分析的脚本，还是有报这个错误：ImportError: cannot import name 'create_reader' from 'ppdet.data.reader'；不知道您是否有遇到过？
![1648862177(1)](https://user-images.githubusercontent.com/40461420/161360136-82641057-9b4e-4705-9f9d-5e283d8eb998.png)

对于dw层不能进行分析：我的看法是depth wise卷积层应该不能进行剪枝吧，因为在深度卷积中，卷积核个数必须要与输入特征图的通道数一致。

欢迎交流！

[2022-04-02 01:47] TANSHOUTAO commented on #1018
你的问题我曾经好像也遇到过，这应该是环境问题，百度的环境一直会有些bug，建议把pip的安装方式和在paddledetection中的setup两种ppdet安装方式都试一下，或者只能重装环境

我的问题的话，那么是不是对于将DW层完全封装好的脚本模型，就没有办法对特征提取主干网络mobilenet的DW层进行分析剪枝了，只能对其他的卷积层进行剪枝，这样的话剪枝效果感觉不太行

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "PaddlePaddle/PaddleSlim"

[2022-04-02 03:25] dhbhf opened #1030 "如何对已训练好的静态模型进行剪枝？"
我现在有一个已经训练好的静态模型，其是使用PaddlePaddle2.1.2训练的，现在想对这个训练好的模型进行剪裁，看相关文档都是从模型训练开始的，但我模型已经训练好了。所以目前不知道使用什么API将模型导入进去以及是否还需要设置model.prepare参数？请帮忙解答下，如何操作可以将已经训练导出的静态模型进行剪枝

[2022-04-02 06:19] xingyueye opened #1031 "EfficientNet / RegNet等模型的量化效果"
hi～请问下你们有没有在model_zoo上批量测试过当前大部分模型的量化效果，想了解下在EfficientNet / RegNet / MobileNetV3 等模型上的量化表现如何

[2022-04-06 12:24] yghstill commented on #1027
@marsbzp 执行的是trt_int8模式吗？量化后的精度eval正常吗？

[2022-04-06 12:53] 2050airobert opened #1034 "SLIM 量化新pose模型失败！"
Hi，
     1 请问是否有最新的关于调用cmd命令或者相关py文件的slim使用说明文档或者网页链接？
      2 比如要int8量化一个新的模型tinypose 如何调用paddle slim工具实现呢？
      3 最新的可用版本是哪个？ 具体使用甚至包括编译说明step by step 可以分享下链接吗？
      4 PADDLE SLIM 离线量化跟paddle lite里面提供的opt 带量化选项的功能是不是一致，可以不用slim而直接用opt，离线uint8量化的结果也是一样的吗？
 BR

[2022-04-07 13:35] 2050airobert commented on #1034
Hi,
     Any body here?

[2022-04-08 03:23] wanghaoshuang opened #1037 "模型结构化剪枝说明"
在PaddlePaddle中，变量分为两种，可训练的Parameters和中间变量（即各层的输出，也叫做feature map）。
剪枝操作只会对Parameters进行剪裁，比如将conv_weight_0从shape[32, 3, 5, 5]剪裁成shape[16, 3, 5, 5];
在对Program剪枝之后，program中的Parameters的shape会改变，中间变量的shape暂时不会变化。在运行剪枝后的program时，中间变量会在infer_shape操作中，根据parameter的变化进行调整。

以上，验证剪枝后模型是否变化，需要对比剪枝前后Parameters的shape变化，方法如下：
https://www.paddlepaddle.org.cn/documentation/docs/zh/api/paddle/static/Program_cn.html#

[2022-04-12 07:08] yghstill commented on #1031
@xingyueye 没有批量测过，后续有计划会完善模型量化model zoo。

[2022-04-13 04:28] Johnzhjw opened #1046 "SANAS source code"
How to obtain the source code of SANAS?

[2022-04-15 08:56] smallhaozigithub commented on #1030
同问。

[2022-04-17 14:47] Johnzhjw commented on #1046
在PaddleSlim找到了

[2022-04-17 14:47] #1046 closed, assigned to nobody

[2022-04-18 15:56] Dora1483 opened #1050 "Yolofastest模型怎么利用paddleslim做模型压缩呢？"
我是一个新手。 我想请教一下前辈们， 必须是基于paddle框架训练的模型才能用paddleslim吗？

像yolofastest的模型能利用paddleslim做模型压缩吗？

如果可以的话， 应该怎么做呢？

[2022-04-18 17:14] Dora1483 opened #1052 "TypeError: quant_post_static() got an unexpected keyword argument 'data_loader'"
有人知道这个问题是什么引起的吗？

[2022-04-19 07:55] yghstill commented on #1052
@Dora1483 更新PaddlePaddle到2.2.2试下呢？

[2022-04-19 14:01] Dora1483 commented on #1052
嗨， 老师， 您好。 我已经更新了paddlepaddle的版本。 还是报错了。我现在还疑惑的是，paddleslim支持yolofastest模型做模型压缩吗？ 或者我可以将yolofastest模型转为paddlelite模型后再做paddleslim吗？   感谢您百忙之中为我解答疑惑， 不胜感激！！![68](https://user-images.githubusercontent.com/42514584/164021172-25202ad8-fcc6-4473-ba0c-8c137e2b8caa.png)

[2022-04-19 14:03] Dora1483 commented on #1052
嗨， 老师， 您好。 我已经更新了paddlepaddle的版本。 还是报错了。我现在还疑惑的是，paddleslim支持yolofastest模型做模型压缩吗？ 或者我可以将yolofastest模型转为paddlelite模型后再做paddleslim吗？ 感谢您百忙之中为我解答疑惑， 不胜感激！！

[2022-04-20 07:05] fash120 opened #1059 "paddle slim快速开始 » 静态图 » 量化训练教程报错"
跑 paddle slim官方给出的例程的时候，在保存量化后的模型的时候报错，错误如下
![QQ截图20220420150421](https://user-images.githubusercontent.com/97490092/164170232-f66e15d5-d758-4474-a7d9-aec4177472d6.jpg)
：

[2022-04-20 10:33] yghstill commented on #1059
@fash120 感谢反馈，我们看下

[2022-04-20 14:26] Dora1483 opened #1060 "Exception: 'feed_targets' does not have inputs variable"
运行静态离线量化示例报上述错误。

有大佬指导一下吗？

[2022-04-20 16:03] Dora1483 commented on #515
您好， 我想问一下， 我用paddleslim静态离线量化模型， 碰到这个问题： Exception: 'feed_targets' does not have inputs variable。 请问有朋友知道这是什么原因引起的吗？

[2022-04-22 03:04] yghstill commented on #1059
@fash120 你使用的PaddleSlim版本是多少，你的报错问题无法复现，请参考最新教程再试下呢？https://github.com/PaddlePaddle/PaddleSlim/blob/develop/docs/zh_cn/quick_start/static/quant_aware_tutorial.md

[2022-04-22 03:09] yghstill commented on #1052
@Dora1483
1. yolofastest模型可以通过x2paddle工具转到paddle，然后使用离线量化接口就可以完成量化，然后再使用Paddle Lite转成nb模型，就可以直接在Paddle lite上部署了。
2. 看你报错data_loader这个功能应该很早就支持了的，编译安装PaddleSlim develop版本，安装develop最新Paddle再试下吧：https://www.paddlepaddle.org.cn/install/quick?docurl=/documentation/docs/zh/develop/install/pip/linux-pip.html

[2022-04-22 03:18] Dora1483 commented on #1052
@yghstill
老师， 您好！
1. 因为我的出发点是想基于paddleslim， 针对yolofastest的模型做一些模型压缩方面的实验， 看看压缩后的精度和速度有什么具体的表现。 所以目前我是将yolofastest转成paddlelite模型，即.pdmodel文件， 参考的做法是静态离线量化。
2. 我解决data_loader的问题， 是把导入模块的路径改了一下，然后就不会报错data_loader了。
3. 基于静态离线量化的模型压缩， 目前是只想复现一下当模型是MobileNet时， 能不能把整套流程打通。 所以， 目前卡在了一个地方。 就是运行quant_post.py时， 会报错：Exception: 'feed_targets' does not have inputs variable。 还没有解决掉。

如果您有好的方法， 可以交流一下吗？
感谢您的宝贵时间与

[2022-04-22 11:40] yghstill commented on #1052
@Dora1483 推荐你使用下自动压缩的目标检测demo，https://github.com/PaddlePaddle/PaddleSlim/tree/develop/demo/auto-compression/configs/PaddleDet  ，先看下文档。
yolofastest的输入应该只有一个image吧，只需要修改代码中的feed，只保留image，https://github.com/PaddlePaddle/PaddleSlim/blob/develop/demo/auto-compression/demo_coco.py#L69-L71
先加载coco数据集，把eval的流程跑通，然后就可以跑下code free的量化+蒸馏。如果有使用细节上的问题，欢迎继续交流。
建议先跑自动压缩的demo，关于离线量化的demo我们测试了没有问题，再确认下Paddle和Paddl

[2022-04-22 11:44] yghstill commented on #1060
在 #1052 一起回复~

[2022-04-22 11:45] yghstill commented on #1050
统一在 #1052 里交流~

[2022-04-22 11:48] yghstill commented on #1034
@2050airobert 请参考PaddleDetection中的demo进行量化训练：https://github.com/PaddlePaddle/PaddleDetection/tree/release/2.4/configs/slim
可以参考quant/picodet_s_416_lcnet_quant.yml 修改后跑tinypose的量化训练
paddle lite里面提供的opt只能量化weight，对模型预测没有加速，需要使用PaddleSlim来做量化

[2022-04-22 12:00] yghstill commented on #1052
@Dora1483 转到paddle的模型可以打包发下，我这边也同步调试下~